.about-page {
    margin-bottom: 28px;

    .benefits {
        padding-bottom: 217px;
    }

    .reviews {
        margin-top: -137px;
        padding-top: 0;
        padding-bottom: $grid-gutter-width-2;
    }

    .company-details {
        padding-top: 29px;
    }
}