.about-intro {
    margin-bottom: $grid-gutter-width-2;

    &:first-child {
        padding-top: 0;
    }

    &__title {
        @include font(30px, 35px, 700);
        letter-spacing: 0.01em;
    }

    &__text {
        @include font($font-size-html, 24px);
        color: $gray-8;
    }

    &__img-placeholder {
        margin-top: $grid-gutter-width;
    }

    img {
        display: block;
    }

    @include media-breakpoint-up(md) {
        &__img-placeholder {
            margin-top: -5px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__content {
            max-width: 650px;
        }

        &__title {
            @include font(56px, 72px);
        }

        &__text {
            @include font($font-size-lg, 32px);

            p {
                margin-bottom: 1.78em;
            }
        }
    }
}