.account {
    margin-bottom: 29px;

    &__form {
        display: none;

        &.active {
            display: block;
        }

        .button {
            max-width: 330px;
        }

        .account-form__title {
            display: none;
        }
    }

    &__switch {
        margin-top: 30px;
        margin-bottom: 30px;

        &-label {
            color: $base-color;
            font-weight: 500;
            margin-top: 17px;
            margin-bottom: 17px;
        }
    }

    &__help {
        margin-top: 46px;
    }

    &__tags {
        margin-bottom: 32px;
    }

    &__header {
        margin-bottom: 29px;

        .account__tags {
            margin-bottom: 0;
        }

        &-select {
            margin-top: 12px;
        }
    }

    &__subscription {
        margin-bottom: 32px;

        &-title {
            margin-bottom: $gutter;
        }
    }

    &__contacts {
        max-width: 456px;
    }

    @include media-breakpoint-up(sm) {
        &__tags {
            margin-bottom: 19px;
        }

        &__header {
            display: flex;
            margin-bottom: 23px;

            &-select {
                max-width: 288px;
                margin-top: 0;
                margin-left: auto;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__menu {
            max-width: 744px;
        }

        &__header {
            &-select {
                flex: 0 0 288px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: 34px;
        margin-bottom: 44px;

        &__form {
            display: block;

            .account-form__title {
                display: block;
            }
        }

        &__switch {
            display: none;
        }

        &__help {
            margin-top: 80px;
        }

        &__subscription {
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            margin-bottom: $gutter;

            &-title {
                margin-right: 26px;
            }
        }
    }
}