.article {
    &__header {
        margin-bottom: 18px;
    }

    &__meta {
        &-item {
            @include margin-bottom(6px);
        }

        &-label,
        &-data {
            display: inline;
        }

        &-label {
            margin-right: 4px;
        }
    }

    &__author {
        display: flex;
        align-items: center;
        margin-top: 18px;

        &-avatar {
            width: 48px;
            flex: 0 0 48px;
            margin-right: 10px;
        }

        &-img {
            display: block;
            @include size(48px);
            @include rounded;
        }

        &-date {
            color: $gray-15;
            margin-top: 6px;
        }
    }

    &__index {
        background-color: rgba($green, .5);
        border-radius: $border-radius;
        padding: $grid-gutter-width-2 $gutter;
        margin-bottom: 22px;

        &-title {
            font-weight: 700;
        }

        ul {
            > li {
                @include margin-bottom($gutter-2);

                &:before {
                    background-color: $link-color;
                }

                > a {
                    border-bottom: 1px dashed rgba($link-color, .3);

                    @include hover-focus {
                        border-bottom-color: rgba($link-hover-color, .3);
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__author {
            flex-direction: row-reverse;
            margin-top: 0;

            &-avatar {
                margin-left: 10px;
                margin-right: 0;
            }

            &-info {
                text-align: right;
            }
        }

        &__index {
            padding: 26px $grid-gutter-width 35px;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}