.banner {
    $slick-arrow-bg: rgba($white, .8);
    $slick-arrow-bg-hover: $white;
    $slick-arrow-color: $yellow-7;
    $slick-dot-color: $yellow-7;

    .slick-dots {
        li {
            button {
                &:before {
                    border: 1px solid rgba($slick-dot-color, .4);
                    background-color: rgba($slick-dot-color, 0);
                }

                @include hover-focus {
                    &:before {
                        border-color: $slick-dot-color;
                        background-color: $slick-dot-color;
                    }
                }
            }
            &.slick-active {
                button {
                    &:before {
                        border-color: $slick-dot-color;
                        background-color: $slick-dot-color;
                    }
                }
            }
        }
    }

    img {
        width: 100%;
    }

    @include media-breakpoint-down(sm) {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    @include media-breakpoint-up(md) {
        .slick-slide {
            border-radius: 4px;
            overflow: hidden;
        }

        .slick-arrow {
            background-color: $slick-arrow-bg;
            color: $slick-arrow-color;
            border: 0;

            &:before {
                line-height: 40px;
            }

            @include hover-focus {
                background-color: $slick-arrow-bg-hover;
                color: $slick-arrow-color;
            }
        }

        .slick-prev {
            left: $gutter;
        }

        .slick-next {
            right: $gutter;
        }

        .slick-dots {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 8px;
        }
    }
}