.benefits {
    &__list-xl {
        &-item {
            margin-bottom: 49px;
        }
    }

    &__list-lg {
        &-item {
            margin-bottom: $gutter;
        }
    }

    &__list-sm {
        margin-top: 23px;
        margin-bottom: -24px;

        &-item {
            margin-bottom: 38px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__list-sm {
            margin-top: 32px;
            margin-bottom: -30px;
        }
    }
}