.board {
    &__header {
        //border-bottom: 1px solid $gray-3;
        padding-bottom: 22px;

        &-result {
            margin-bottom: 17px;
        }

        &-button {
            display: block;
        }
    }

    .board__list {
        .board__item {
            &:last-child {
                border-bottom-width: 0;
            }
        }
    }


    &__form {
        margin-bottom: 71px;

        &-title {
            margin-bottom: 29px;
        }
    }

    &__dropzone {
        display: inline-flex;
        flex-wrap: wrap;
        margin-top: $gutter;

        .dz-preview {
            .dz-progress {
                display: none;
            }

            .dz-remove {
                color: $secondary;
                margin-top: 4px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__dropzone {
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-result {
                margin-bottom: 0;
            }

            &-button {
                display: inline-block;
                padding-left: 26px;
                padding-right: 26px;
            }
        }

        &__list {
            margin-bottom: 60px;

            .board__item {
                &:last-child {
                    border-bottom-width: 1px;
                }
            }
        }

        &__form {
            margin-bottom: 144px;
        }
    }
}