.brand {
    &__all-brands {
        margin-bottom: 23px;
    }

    &__intro {
        border-radius: $border-radius;
        @include shadow();
        padding: $gutter $gutter 23px;
        margin-bottom: 32px;

        &-logo {
            margin-top: 23px;
            margin-bottom: 37px;
        }

        &-img {
            display: block;
            margin: 0 auto;
        }
    }

    &-desc {
        margin-bottom: 20px;
        &.collapsed {
            max-height: 80px;
            overflow: hidden;
        }
    }

    &__history {
        margin-bottom: 50px;

        &-title {
            margin-bottom: 22px;
        }

        &-item {
            @include margin-bottom(23px);

            &:nth-child(n+5) {
                .brand__history.collapsed & {
                    display: none;
                }

                .brand__history.open & {
                    display: block;
                }
            }
        }

        &-year {
            font-weight: 500;
            margin-bottom: 8px;
        }

        &-text {
            margin-left: 0;
        }

        &-more {
            margin-top: 19px;
        }
    }

    &__entries {
        padding-top: 19px;
        padding-bottom: 32px;

        &-section {
            padding-top: 17px;
            padding-bottom: $gutter;
        }
    }

    .slick-dots {
        margin-top: 20px;
    }

    &__categories {
        padding-bottom: 5px;
    }

    @include media-breakpoint-up(md) {
        &__history {
            &-item {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 30px;

                &:nth-child(n+5) {
                    .brand__history.open & {
                        display: flex;
                    }
                }
            }

            &-year {
                max-width: 104px;
                flex: 0 0 104px;
                padding-right: $gutter;
                margin-bottom: 0;
            }

            &-text {
                max-width: calc(100% - 104px);
                flex: 0 0 calc(100% - 104px);
            }

            &-more {
                margin-top: 33px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__intro {
            display: flex;
            padding: 30px 66px 38px 24px;
            margin-bottom: 43px;

            &-logo {
                margin-top: 6px;
                margin-right: 57px;
                margin-bottom: 0;
                max-width: 231px;
                flex: 0 0 231px;
            }

            &-content {
                flex: 1;
            }

            p {
                @include margin-bottom(39px);
            }
        }

        &__history {
            &-title {
                margin-bottom: 32px;
            }
        }

        &__entries {
            padding-top: 42px;
        }

        .section__header {
            margin-bottom: 37px;
        }

        .section__slider {
            .slick-arrow {
                top: -50px;
            }
        }

        .slick-dots {
            margin-top: 28px;
        }

        &__categories {
            padding-bottom: 0;
        }

        &__categories + &__catalog {
            margin-top: -15px;
        }

        &__catalog {
            padding-bottom: 56px;
        }
    }
}