.brands {
    &__section {
        padding-top: 20px;
        padding-bottom: 20px;

        &:first-child {
            padding-top: 0;
        }

        &-description {
            margin-bottom: 45px;
        }
    }

    .section__swiper {
        .swiper-next,
        .swiper-prev {
            top: -30px;
        }
    }

    &__filter {
        margin-bottom: 6px;

        &-col {
            margin-bottom: 24px;
        }
    }

    @include media-breakpoint-up(sm) {
        &__filter {
            margin-bottom: 12px;

            &-col {
                max-width: none;
                flex: initial;
            }
        }

        &__select {
            max-width: 264px;
            flex: 0 0 264px;
        }

        &__button {
            width: 216px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            padding-top: 28px;
            padding-bottom: 28px;

            &-description {
                margin-bottom: 30px;
            }
        }
    }
}