.catalog-menu {
    &__form-col {
        margin-bottom: 24px;
    }

    &__list-col {
        margin-bottom: -12px;
    }

    &__item {
        margin-bottom: 12px;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: 30px;

        &__form-col {
            margin-bottom: 0;
        }

        &__list-col {
            margin-bottom: -21px;
        }

        &__item {
            margin-bottom: 21px;
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__list-col {
            display: flex;
            align-items: center;
        }
    }

    @include media-breakpoint-up(xl) {
        &__form-col {
            max-width: 248px;
        }

        &__list-col {
            flex: 1;
            max-width: none;
        }
    }
}