.certificates {

    @include media-breakpoint-down(md) {
        &__slider {
            margin-left: -8px;
            margin-right: -8px;

            &:before {
                left: -24px;
            }

            &:after {
                right: -24px;
            }
        }

        .col {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
}