.comments {
    &__title {
        margin-bottom: $grid-gutter-width-2;
    }

    &__form {
        padding: $grid-gutter-width-2 $gutter $grid-gutter-width-2;
    }

    &__list {
        margin-top: $gutter;
        margin-bottom: $gutter;
        border-top: 1px solid $gray;
    }

    &__item {
        padding-top: 14px;
        padding-bottom: $gutter;
        border-bottom: 1px solid $gray;
    }

    @include media-breakpoint-up(md) {
        &__form {
            padding: $grid-gutter-width $grid-gutter-width-2 28px;
        }

        .form__submit {
            .button {
                min-width: 160px;
            }
        }

        &__list {
            margin-top: $grid-gutter-width-2;
            margin-bottom: $grid-gutter-width-2;
        }

        &__item {
            padding-top: 22px;
            padding-bottom: $grid-gutter-width-2;
        }
    }
}