.company-details {
    &__body {
        background-color: $white;
        border-radius: $border-radius;
        @include shadow();
        padding: 40px $gutter 52px;
        overflow: hidden;
    }

    &__header {
        margin-bottom: $grid-gutter-width-2;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__file {
        &-icon {
            margin-right: 8px;
            top: -1px;
        }
    }

    &__info {
        margin-bottom: 20px;

        &-data {
            margin: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__body {
            padding-left: $grid-gutter-width-2;
            padding-right: $grid-gutter-width-2;
        }

        &__header {
            margin-bottom: 0;
        }

        &__info {
            &-data {
                padding-left: 0 !important;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__body {
            padding-left: $grid-gutter-width;
            padding-right: $grid-gutter-width;
        }
    }
}