.contacts {
    &__section {
        padding-top: 22px;
    }

    &__title {
        margin-bottom: 24px;
    }

    &__info {
        margin-bottom: 28px;

        &-title {
            margin-bottom: 8px;
            font-size: 700;
        }

        &-text {
            @include em-line-height($font-size-base, 24px);
        }
    }

    &__message {
        margin-bottom: $grid-gutter-width-2;
        padding: $gutter-2 $gutter 14px;
        @include em-line-height($font-size-lg, $line-height-xl);
        font-weight: 700;
    }

    &__map {
        height: 340px;
        margin-bottom: 27px;
    }

    &__offices {
        &-item {
            margin-bottom: $grid-gutter-width;
        }
    }

    @include media-breakpoint-up(md) {
        margin-bottom: 40px;

        &__anchors {
            margin-top: -7px;
        }

        &__section {
            padding-top: 41px;
        }

        &__title {
            margin-bottom: 33px;
        }

        &__info {
            margin-bottom: 36px;
        }

        &__map {
            height: 514px;
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;
        }

        .pickup {
            border-bottom: 1px solid $gray-3;
            padding-bottom: 40px;
        }
    }

    @media (min-width: 1610px) {
        &__map {
            border-radius: $border-radius;
        }
    }
}