.discount-offer {
    background-color: $secondary;
    color: $white;
    padding-top: 9px;
    padding-bottom: 10px;
    margin-top: -21px;
    margin-bottom: 8px;
    position: relative;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 49px;
    }

    &__title {
        @include font($font-size-base, $line-height-base, 500);
        color: inherit;
        margin-bottom: 0;
    }

    &__button {
        padding-left: $gutter;
        padding-right: $gutter;
        margin-left: 12px;
    }

    &__close {
        color: rgba($white, .6);
        position: absolute;
        top: 50%;
        right: 14px;
        transform: translateY(-50%);
        font-size: 16px;
        @include size(20px);
    }

    @include media-breakpoint-up(md) {
        padding-top: 8px;
        padding-bottom: 7px;
        margin-bottom: 24px;

        &__container {
            padding-left: 60px;
            padding-right: 60px;
        }

        &__title {
            @include font(18px, 21px);
        }

        &__button {
            min-width: 130px;
            margin-left: 36px;
        }

        &__close {
            right: 24px;
            font-size: 20px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-top: -32px;
    }
}