.entries {
    &__list {
        margin-bottom: -$gutter;

        .entries__item {
            margin-bottom: $gutter;
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            margin-bottom: -24px;

            .entries__item {
                margin-bottom: 24px;
            }
        }
    }
}