.faq {
    &__section {
    }

    &__title {
        margin-bottom: 26px;

        a {
            color: inherit;

            @include hover-focus {
                color: $primary;
            }
        }
    }

    &__item {
        border-bottom: 1px solid $gray-3;
        margin-bottom: 0;

        &:first-child {
            border-top: 1px solid $gray-3;
        }

        &-header {
            padding: 19px 40px 21px 8px;
        }

        &-caret {
            font-size: 24px;
        }

        &-question {
            @include font($font-size-base, 16px);
            margin: 0;
        }

        &-answer {
            padding: 2px 34px 24px 8px;
            margin: 0;

            &.text-block {
                ol {
                    list-style-position: inside;
                    padding-left: 0;
                }

                ul,
                ol,
                p {
                    @include margin-bottom(1.571em);
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        &_mobile-compact {
            border: 1px solid $gray-3;
            border-radius: $border-radius;
            overflow: hidden;
        }

        &_mobile-compact & {
            &__section {
                border-top: 1px solid $gray-3;
                padding: 11px 20px 17px;

                &:first-child {
                    border-top-width: 0;
                    padding-top: 20px;
                }
            }

            &__title {
                margin-bottom: 0;
                @include font($font-size-base, 16px, 400);
            }

            &__list {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            @include margin-bottom(80px);
        }

        &__title {
            margin-top: 6px;
            margin-bottom: 35px;
        }

        &__item {
            &-header {
                padding: $gutter 56px 18px $gutter;
            }
    
            &-question {
                @include font($font-size-html, 21px);
            }

            &-answer {
                padding: 6px 34px 32px $gutter;
            }
        }
    }
}