.gallery {
    &__item {
        position: relative;
        display: block;
        margin-bottom: $gutter;
    }

    &__img {
        display: block;
        width: 100%;
        margin-bottom: 0;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        line-height: 36px;
        background-color: $white;
        @include rounded;
        @include size(36px);
    }

    @include media-breakpoint-up(lg) {
        &__item {
            margin-bottom: 24px;
        }

        &__icon {
            font-size: 24px;
            line-height: 54px;
            @include size(54px);
        }
    }
}