.help {
    background-color: $gray-11;
    border-radius: $border-radius;
    padding: 24px 24px 39px;

    &__title {
        text-align: center;
        margin-bottom: 32px;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 35px;
        border-top: 1px solid $gray-3;

        &-icon {
            color: $primary;
            font-size: 32px;
            @include size(32px);
            margin-right: 32px;
        }

        &-content {
            flex: 1;
            max-width: 160px;
        }

        &-title {
            @include em-line-height($font-size-base, 16px);
            margin-bottom: 7px;
        }

        &-text {
            @include font($font-size-html, 19px, 500);
            margin: 0;
        }

        &-phone {
            @include font(18px, 21px, 700);
        }

        &:first-child {
            border-top: 0;
            padding-top: 0;
        }

        &:last-child {
            padding-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        padding-bottom: 32px;

        &__title {
            margin-bottom: 22px;
        }

        &__list {
            display: flex;
            align-items: flex-start;
        }

        &__item {
            margin-bottom: 0;
            flex: 0 0 50%;
            max-width: 50%;
            padding-top: 35px;
            padding-bottom: 40px;
            border-top: 0;
            border-left: 1px solid $gray-3;

            &-icon {
                font-size: 48px;
                @include size(48px);
                margin-right: 25px;
            }

            &-content {
                max-width: 175px;
            }

            &-phone {
                @include font(20px, 23px);
                display: block;
                margin-top: -2px;
            }

            &:first-child {
                border-left: 0;
                padding-top: 36px;
            }

            &:last-child {
                padding-bottom: 40px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
    }
}