.info-block {
    &__section {
        margin-bottom: 42px;

        &:last-child {
            margin-bottom: 16px;
        }
    }

    &__title {
        margin-bottom: 27px;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: 12px;
    }

    &__banner {
        margin-bottom: 38px;
    }

    &__features {
        margin-bottom: 51px;
    }

    &__search-form {
        margin-bottom: 32px;
    }

    &__faq {
        margin-bottom: 48px;
    }

    &__pagination {
        margin-top: 40px;
    }

    @include media-breakpoint-up(sm) {
        &__item {
            margin-bottom: 16px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            margin-bottom: 20px;
        }

        &__banner {
            margin-bottom: 28px;
        }

        &__features {
            margin-bottom: 57px;
        }

        &__search-form {
            margin-bottom: 62px;
        }

        &__faq {
            margin-bottom: 0;
        }

        &__pagination {
            margin-top: 57px;
        }
    }

    @include media-breakpoint-up(xl) {
        &__section {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: -20px;
            }
        }

        &__item {
            max-width: 20%;
            flex: 0 0 20%;
        }
    }
}