.menu {
    &__section {
        @include margin-bottom(42px, 16px);
    }

    &__title {
        margin-bottom: 27px;
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: 12px;
    }

    @include media-breakpoint-up(sm) {
        &__item {
            margin-bottom: 16px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__item {
            margin-bottom: 20px;
        }
    }

    @include media-breakpoint-up(xl) {
        &__section {
            @include margin-bottom(30px, -20px);
        }

        &__list {
            &[data-items="5"] {
                .menu__item {
                    max-width: 20%;
                    flex: 0 0 20%;
                }
            }
        }
    }
}