.news {
    &__list {
        margin-bottom: -33px;

        .news__item {
            margin-bottom: 66px;
            position: relative;
            &:after {
            	position: absolute;
            	bottom: -30px;
            	left: 12px;
            	height: 1px;
            	width: calc(100% - 24px);
            	display: block;
            	content: '';
            	border-bottom: 1px solid $gray-2;
            }
        }
    }
}