.offers {
    padding-top: 28px;
    padding-bottom: 31px;

    &__nav {
        border-bottom: 1px solid rgba($primary, .1);
        padding-bottom: 15px;
        margin-top: -8px;
        margin-bottom: 18px;
    }

    &__section {
        &:not(:last-child) {
            margin-bottom: 29px;
        }
    }

    .slick-dots {
        margin-top: 24px;
    }

    @include media-breakpoint-up(md) {
        padding-top: 29px;
        padding-bottom: 43px;

        &__nav {
            padding-bottom: 36px;
            margin-bottom: 19px;
        }

        &__title {
            margin-bottom: 25px;
        }

        &__section {
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }

        .slick-arrow {
            top: -57px;
        }

        .slick-next {
            right: 12px;
        }

        .slick-prev {
            right: 68px;
        }
    }
}