.reviews {
    &__body {
        background-color: $white;
        border-radius: $border-radius;
        @include shadow();
        padding-top: 48px;
        overflow: hidden;
    }

    &__title {
        text-align: center;
        margin-bottom: 19px;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 0;
        border-top-width: 0;
    }

    &__more {
        background-color: rgba($green-5, .5);
        text-align: center;
        padding: 36px 24px 39px;
    }

    @include media-breakpoint-up(md) {
        &__item {
            padding-top: 46px;
            padding-bottom: 41px;
        }
    }

    @include media-breakpoint-up(lg) {
    }
}