.section {
    padding-top: 30px;
    padding-bottom: 30px;

    &__header {
        margin-bottom: 27px;
    }

    &__tabs-list {
        &,
        &:last-child {
            margin-bottom: -14px;
        }
    }

    .slick-arrow {
        top: -83px;
        left: auto;
        right: 0;
        margin-top: 0;
    }

    .slick-prev {
        right: 56px;
    }

    &__slider {
        position: relative;

        &:before,
        &:after {
            background-color: $white;
            width: 30px;
            position: absolute;
            top: 0;
            bottom: 0;
            content: '';
            z-index: 10;
        }

        &:before {
            left: -22px;
        }

        &:after {
            right: -23px;
        }

        .slick-list {
            padding: 20px 20px 160px;
            margin: -20px -20px -160px;
        }

        .slick-arrow {
            top: -63px;
            right: 12px;
        }

        .slick-prev {
            right: 68px;
        }
    }

    .tabs__tab &__slider .slick-list {
        padding: 0;
        margin: 0;
    }

    .tabs__tab.active &__slider .slick-list {
        padding: 20px 20px 160px;
        margin: -20px -20px -160px;
    }

    &__swiper {
        position: relative;

        .swiper-container {
            padding: 30px 40px 0;
            margin: -30px -40px 0;

            &:before,
            &:after {
                background-color: $white;
                width: 17px;
                position: absolute;
                top: 0;
                bottom: 0;
                content: '';
                z-index: 10;
            }

            &:before {
                left: 0;
            }

            &:after {
                right: 0;
            }
        }

        .swiper-slide {
            height: auto;
        }

        .swiper-pagination {
            position: relative;
            margin-top: 28px;
            bottom: 0;
        }

        .swiper-pagination-bullet {
            background-color: rgba($primary, .2);
        }

        .swiper-pagination-bullet-active {
            background-color: $primary;
        }

        .swiper-next,
        .swiper-prev {
            top: -53px;
            position: absolute;
            cursor: pointer;
            transition: all 0.25s;
            outline: none;
            @include size(40px);
            @include rounded();
            text-align: center;
            font-size: 0;
            border: 1px solid $gray-3;
            color: $gray-5;

            &:before {
                font-size: 20px;
                line-height: 38px;
                display: block;
            }

            @include hover-focus {
                border-color: $primary;
                background-color: $primary;
                color: $white;
            }
        }

        .swiper-next {
            right: 0;
        }

        .swiper-prev {
            right: 56px;
        }

        .swiper-button-disabled {
            border-color: $gray;
            color: $gray;

            @include hover-focus {
                border-color: $gray;
                background-color: rgba($gray, 0);
                color: $gray;
            }
        }
    }

    &_light-green {
        background-color: $green;

        .section__slider {
            &:before,
            &:after {
                background-color: $green;
            }
        }

        .slick-arrow {
            border-color: $primary;
            color: $primary;

            &.slick-disabled {
                border-color: rgba($primary, .4);
                color: rgba($primary, .4);

                @include hover-focus {
                    border-color: rgba($primary, .4);
                    color: rgba($primary, .4);
                }
            }

            @include hover-focus {
                color: $white;
            }
        }

        .slick-dots {
            li {
                button {
                    &:before {
                        border: 1px solid rgba($primary, .4);
                        background-color: rgba($primary, 0);
                    }

                    @include hover-focus {
                        &:before {
                            border-color: $primary;
                            background-color: $primary;
                        }
                    }
                }
                &.slick-active {
                    button {
                        &:before {
                            border-color: $primary;
                            background-color: $primary;
                        }
                    }
                }
            }
        }

        .section__swiper {
            .swiper-container {
                &:before,
                &:after {
                    background-color: $green;
                }
            }
        }
    }

    &_compact {
        padding-top: 13px;
    }

    @include media-breakpoint-down(md) {
        .swiper-next,
        .swiper-prev {
            display: none;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 56px;
        padding-bottom: 40px;

        &__header {
            margin-bottom: 47px;
            padding-right: 112px;
        }

        &__tabs-list {
            margin-right: $gutter;

            &,
            &:last-child {
                margin-bottom: -16px;
            }
        }

        &_compact {
            padding-top: 33px;
        }
    }
}