.staff {
    &__title {
        text-align: center;
        margin-bottom: 33px;
    }

    &__item {
        width: 250px;
        margin-bottom: 48px;
    }

    @include media-breakpoint-up(md) {
    }

    @include media-breakpoint-up(lg) {
    }
}