.subscription {
    background-color: $gray;
    padding-top: 22px;
    padding-bottom: 2px;

    &:last-child {
        margin-bottom: -28px;
    }

    &__title {
        @include font($font-size-h2, 35px);
        text-align: center;
    }

    .form__group {
        margin-bottom: 20px;
    }

    .form__control {
        text-align: center;
        border-color: $white;
        background-color: $white;
        height: 46px;
        font-size: rem(16px);
        line-height: 42px;
        padding: 0 20px 2px;
    }

    .button {
        height: 46px;
        line-height: 42px;
        font-size: rem(16px);
    }

    @include media-breakpoint-up(md) {
        &__title {
            text-align: left;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-top: 22px;
        padding-bottom: 22px;

        &__title {
            margin-bottom: 0;
        }

        .form__group {
            margin-bottom: 0;
        }

        .form__control {
            text-align: left;
            height: 56px;
            line-height: 52px;
            padding-top: 2px;
            padding-bottom: 0;
        }

        .button {
            height: 56px;
            line-height: 52px;
            padding-bottom: 2px;
            font-size: rem(20px);
        }
    }
}