.useful {
    &__list {
        border: 1px solid $green;
        border-radius: $border-radius;
        overflow: hidden;
    }

    &__link {
        border-top: 1px solid $green;
        display: flex;
        align-items: center;
        @include font($font-size-html, 19px);
        padding: 11px $gutter 12px;

        &:first-child {
            border-top: 0;
        }

        &-icon {
            font-size: 24px;
            margin-right: 12px;
        }
    }

    @include media-breakpoint-up(sm) {
        &__list {
            border: 0;
            overflow: visible;
        }

        .slick-list {
            border: 1px solid $green;
            border-radius: $border-radius;
        }

        &__link {
            border-left: 1px solid $green;
            border-top: 0;
            justify-content: center;
            padding-top: 22px;
            padding-bottom: 24px;

            &:first-child {
                border-left: 0;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .reviews + & {
            padding-top: 20px;
        }
    }
}