<div class="{% if class %}{{ class }}{% endif %} menu">
  {% for section in menu %}
    <div class="menu__section">
      {% if section.title %}
        <h3 class="menu__title">{{ section.title }}</h3>
      {% endif %}
      <ul class="menu__list row row_sm">
        {% for item in section.list %}
          <li class="menu__item col-xs-12 col-sm-6 col-md-4">
            <a href="{{ item.link }}" class="menu-card">
              <i class="menu-card__icon icon-{{ item.icon }}"></i>
              <h6 class="menu-card__title">{{ item.title }}</h6>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>