{% if alphaname %}
  <div class="{% if class %}{{ class }}{% endif %} alpha-index" {% if images == true %}data-element="brands-index-content"{% endif %}>
    {% for letter in alphaname %}
      <div class="{% if class %}{{ class }}{% endif %} alpha-index__section">
        <h3 class="alpha-index__title">{{ letter.name }}</h3>
        <ul class="alpha-index__list">
          {% for brand in letter.list %}
            <li class="alpha-index__item">
              <a href="brand.html" class="alpha-index__link">
                {% if images == true %}
                  <span class="alpha-index__img-placeholder">
                    <img src="/temp/brands/sm.png" alt="Логотип {{ brand }}" class="alpha-index__img">
                  </span>
                {% endif %}
                <span class="alpha-index__name">
                  {{ brand }}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% else %}
  <div class="{% if class %}{{ class }}{% endif %} alpha-index" {% if images == true %}data-element="brands-index-content"{% endif %}>
    {% for letter in brands.alpha|slice(0, 7) %}
      <div class="{% if class %}{{ class }}{% endif %} alpha-index__section">
        <h3 class="alpha-index__title">{{ letter.name }}</h3>
        <ul class="alpha-index__list">
          {% for brand in letter.list %}
            <li class="alpha-index__item">
              <a href="brand.html" class="alpha-index__link">
                {% if images == true %}
                  <span class="alpha-index__img-placeholder">
                    <img src="/temp/brands/sm.png" alt="Логотип {{ brand }}" class="alpha-index__img">
                  </span>
                {% endif %}
                <span class="alpha-index__name">
                  {{ brand }}
                </span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
{% endif %}