<div class="alpha-slider hidden-md-up" data-component="alpha-slider">
  <div class="alpha-slider__item slick-slide">
    <ul class="alpha-list">
      {% for letter in brands.alpha|slice(0, 14) %}
        <li class="alpha-list__item">
          <a href="#" class="letter {% if letter.class %}letter_{{ letter.class }}{% endif %}" data-element="letter">{{ letter.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="alpha-slider__item slick-slide">
    <ul class="alpha-list">
      {% for letter in brands.alpha|slice(14) %}
        <li class="alpha-list__item">
          <a href="#" class="letter {% if letter.class %}letter_{{ letter.class }}{% endif %}" data-element="letter">{{ letter.name }}</a>
        </li>
        {% if  loop.index % 15 == 0 %}
        </ul>
      </div>
      <div class="alpha-slider__item slick-slide">
        <ul class="alpha-list">
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
