{% if alphaname %}
	<ul class="{% if class %}{{ class }}{% endif %} alpha-list">
	  {% for letter in alphaname %}
	    <li class="alpha-list__item">
	      {% if letter.disabled %}
	        <span class="letter disabled {% if letter.class %}letter_{{ letter.class }}{% endif %}">{{ letter.name }}</span>
	        {% else %}
	        <a href="#" class="letter {% if letter.class %}letter_{{ letter.class }}{% endif %}" data-element="letter"{% if letter.data %} data-letter={{ letter.data }}{% endif %}>{{ letter.name }}</a>
	      {% endif %}
	    </li>
	  {% endfor %}
	</ul>
{% else %}
	<ul class="{% if class %}{{ class }}{% endif %} alpha-list">
	  {% for letter in brands.alpha %}
	    <li class="alpha-list__item">
	      {% if letter.disabled %}
	        <span class="letter disabled {% if letter.class %}letter_{{ letter.class }}{% endif %}">{{ letter.name }}</span>
	        {% else %}
	        <a href="#" class="letter {% if letter.class %}letter_{{ letter.class }}{% endif %}" data-element="letter"{% if letter.data %} data-letter={{ letter.data }}{% endif %}>{{ letter.name }}</a>
	      {% endif %}
	    </li>
	  {% endfor %}
	</ul>
{% endif %}