<div class="{% if class %}{{ class }}{% endif %} alpha-index-slider" data-component="alpha-index-slider">
  {% for letter in brands.alpha|slice(0, 7) %}
    <div class="{% if class %}{{ class }}{% endif %} alpha-index-slider__section slick-slide">
      <h3 class="alpha-index-slider__title">{{ letter.name }}</h3>
      <ul class="alpha-index-slider__list">
        {% for brand in letter.list %}
          <li class="alpha-index-slider__item">
            <a href="brand.html">{{ brand }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>
