<div class="aside__nav aside-nav hidden-md-down">
  {% for section in info.nav %}
    <div class="aside-nav__section panel active" data-component="panel">
      <div class="aside-nav__header panel__header" data-element="panel-toggle">
        <h4 class="aside-nav__title panel__title">{{ section.title }}</h4>
        <i class="panel__header-icon icon-chevron-down"></i>
      </div>
      <div class="aside-nav__content pannel__content" data-element="panel-content">
        <ul class="aside-nav__list">
          {% for item in section.list %}
            <li class="aside-nav__item"><a href="{% if item.link %}{{item.link}}{% else %}#{% endif %}" class="aside-nav__link{% if item.title == pageTitle %} active {% endif %}">{{ item.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>