<div class="aside__nav aside-nav hidden-md-down">
  <div class="aside-nav__section panel active">
    <div class="aside-nav__header panel__header">
      <h4 class="aside-nav__title panel__title">Юлия Воробъева</h4>
      <a href="#" class="aside-nav__exit icon-exit link-inherit" title="Выйти"></a>
    </div>
    <div class="aside-nav__content pannel__content">
      <div class="aside-nav__stats">
        <dl class="aside-nav__stats-item secondary">
          <dt class="aside-nav__stats-name">3100</dt>
          <dd class="aside-nav__stats-text">бонусов</dd>
        </dl>
        <div class="aside-nav__stats-divider">/</div>
        <dl class="aside-nav__stats-item">
          <dt class="aside-nav__stats-name">310</dt>
          <dd class="aside-nav__stats-text">рублей</dd>
        </dl>
      </div>
    </div>
  </div>

  {% for section in account.nav %}
    <div class="aside-nav__section panel active">
      <div class="aside-nav__header panel__header">
        <h4 class="aside-nav__title panel__title">{{ section.title }}</h4>
      </div>
      <div class="aside-nav__content pannel__content">
        <ul class="aside-nav__list">
          {% for item in section.list %}
            <li class="aside-nav__item">
              <a href="{% if item.link %}{{item.link}}{% else %}#{% endif %}" class="aside-nav__link {% if item.title == pageTitle %} active {% endif %}">
                {% if item.badge %}<span class="aside-nav__badge">{{item.badge}}</span>{% endif %}
                {{ item.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endfor %}
</div>