<div class="aside__nav aside-nav hidden-md-down">
  <div class="aside-nav__section">
    <ul class="aside-nav__list">
      {% for item in aside.text %}
        <li class="aside-nav__item"><a href="#" class="aside-nav__link {% if loop.first %} active {% endif %}">{{ item }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>