<div class="benefits__list-lg row row_md">
  {% for benefit in benefits.large %}
    <div class="benefits__list-lg-item col-xs-12 col-sm-6 col-lg-3">
      <div class="benefit-lg">
        <i class="benefit-lg__icon icon-{{ benefit.icon }}"></i>
        <span class="benefit-lg__text">{{ benefit.name }}</span>
      </div>
    </div>
  {% endfor %}
</div>

<div class="benefits__list-sm row">
  {% for benefit in benefits.small %}
    <div class="benefits__list-sm-item col-xs-6 col-sm-4 col-lg-2">
      <div class="benefit">
        <i class="benefit__icon icon-{{ benefit.icon }}"></i>
        <span class="benefit__text">{{ benefit.name }}</span>
      </div>
    </div>
  {% endfor %}
</div>