<div class="benefits__list-xl row">
  {% for benefit in benefits.xl %}
    <div class="benefits__list-xl-item col-xs-12 col-sm-6 col-lg-3">
      <div class="benefit-xl">
        <i class="benefit-xl__icon icon-{{ benefit.icon }}"></i>
        <h5 class="benefit-xl__title">{{ benefit.name }}</h5>
        <div class="benefit-xl__text" title="{{ benefit.name }}">{{ benefit.text }}</div>
      </div>
    </div>
  {% endfor %}
</div>