<div class="section__slider board__slider row row_sm" data-component="board-slider">
  {% for i in 0..1 %}
    {% for ad in board.slider %}
      <div class="board__item col slick-slide">
        <a href="" class="board-card">
          <div class="board-card__img-placeholder">
            <img src="temp/board/{{ ad.image }}" alt="" class="board-card__img">
          </div>
          <div class="board-card__content">
            <h5 class="board-card__title">{{ ad.title }}</h5>
            <p class="board-card__text">{{ ad.text }}</p>
            <div class="board-card__location">{{ ad.location }}</div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% endfor %}
</div>