<div class="board__list">
  {% for ad in board.list %}
    <div class="board__item advertisment">
      <div class="advertisment__img-placeholder" data-component="image-slider">
        {% for i in 1..3 %}
          <div class="slick-slide">
            <img src="temp/board/list/{{ ad.image }}" alt="" class="advertisment__img">
          </div>
        {% endfor %}
      </div>
      <div class="advertisment__content">
        <h5 class="advertisment__title">{{ ad.title }}</h5>
        <p class="advertisment__text">{{ ad.text }}</p>
      </div>
      <div class="advertisment__details">
        {% for detail in ad.details %}
          <dl class="advertisment__details-item">
            <dt class="advertisment__details-name">{{ detail.name }}:</dt>
            <dd class="advertisment__details-value">{{ detail.value }}</dd>
          </dl>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>