<div class="section__swiper brands__swiper" {% if swiper %} data-component="{{ swiper }}"{% else %}data-component="brands-swiper"{% endif %}>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for i in 0..35 %}
        <div class="swiper-slide">
          <a href="" class="brand__item brand-card">
            <img src="temp/brands/{{ loop.index }}.png" alt="" class="brand-card__img">
          </a>
        </div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-next"></div>
  <div class="swiper-prev"></div>
</div>