<div class="cart__list-header hidden-md-down">
  <div class="cart-item">
    <div class="cart-item__content">
      <div class="cart-item__col-title">
        <span class="cart__list-label">Наименование</span>
      </div>
      <div class="cart-item__col-price">
        <span class="cart__list-label">Цена</span>
      </div>
      <div class="cart-item__col-amount">
        <span class="cart__list-label">Количество</span>
      </div>
      <div class="cart-item__col-sum">
        <span class="cart__list-label">Стоимость</span>
      </div>
      <div class="cart-item__col-action"></div>
    </div>
  </div>
</div>
<div class="cart__list">
  {% for item in cart.items %}
    <div class="cart__item cart-item">
      <a href="catalog-item.html" class="cart-item__img-placeholder">
        <img src="temp/cart/{{ item.image }}" alt="" class="cart-item__img">
      </a>
      <div class="cart-item__content">
        <div class="cart-item__col-title">
          <h6 class="cart-item__title"><a href="catalog-item.html" class="link-inherit">{{ item.name }}</a></h6>
        </div>
        <div class="cart-item__col-price">
          <div class="cart-item__price">
            <div class="cart-item__price-value text-md {% if item.priceOld %}secondary{% endif %}">{{ item.price }}</div>
            <div class="cart-item__price-old price-old">{{ item.priceOld }}</div>
          </div>
          {% if item.discount %}
            <div class="cart-item__discount discount text-lg">{{ item.discount }}</div>
          {% endif %}
        </div>
        <div class="cart-item__col-amount">
          <div class="cart-item__amount-form amount-form" data-component="amount-form">
            <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
            <input type="text" class="amount-form__input form__control" value="{{ item.amount }}" data-element="amount-input" data-min="0">
            <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
          </div>
        </div>
        <div class="cart-item__col-sum">
          <div class="cart-item__sum text-md">{{ item.sum }}</div>
        </div>
        <div class="cart-item__col-action">
          <a href="#" class="cart-item__control icon-delete" title="Удалить из корзины"></a>
          <a href="#" class="cart-item__control icon-favourite" title="Добавить в избранное"></a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>