<div class="cart-preview__list-header hidden-md-down">
  <div class="cart-preview-item">
    <div class="cart-preview-item__col-title">
      <span class="cart-preview__list-label">Наименование</span>
    </div>
    <div class="cart-preview-item__col-price">
      <span class="cart-preview__list-label">Цена</span>
    </div>
    <div class="cart-preview-item__col-points">
      <span class="cart-preview__list-label">Баллы</span>
    </div>
    <div class="cart-preview-item__col-amount">
      <span class="cart-preview__list-label">Количество</span>
    </div>
    <div class="cart-preview-item__col-sum">
      <span class="cart-preview__list-label">Стоимость</span>
    </div>
  </div>
</div>
<div class="cart-preview__list">
  {% for item in cart.items %}
    <div class="cart-preview__item cart-preview-item">
      <a href="catalog-item.html" class="cart-preview-item__img-placeholder">
        <img src="temp/cart/{{ item.image }}" alt="" class="cart-preview-item__img">
      </a>
      <div class="cart-preview-item__col-title">
        <h6 class="cart-preview-item__title">
          <a href="catalog-item.html" class="link-inherit">{{ item.name }}</a>
          <br>
          <span class="text-sm">Арт. 536140/536100</span>
        </h6>
      </div>
      <div class="cart-preview-item__col-price" title="Цена">
        <div class="cart-preview-item__price-old price-old">{{ item.priceOld }}</div>
        <div class="cart-preview-item__price {% if item.priceOld %}secondary{% endif %}">{{ item.price }}</div>
      </div>
      <div class="cart-preview-item__col-points" title="Баллы">
        <div class="cart-preview-item__points points">{{ item.points }}</div>
      </div>
      <div class="cart-preview-item__col-amount" title="Кол-во">{{ item.amount}} шт.</div>
      <div class="cart-preview-item__col-sum" title="Стоимость">
        <div class="cart-preview-item__sum text-md">{{ item.sum }}</div>
      </div>
    </div>
  {% endfor %}
</div>