<div class="cart-popup">
  <div class="cart-popup__list" data-perfect-scrollbar>
    {% for item in cart.popup %}
      <div class="cart-popup__item" data-element="cart-popup-item">
        <a href="catalog-item.html" class="cart-popup__img-placeholder">
          <img src="temp/cart/popup/{{ item.image }}" alt="" class='cart-popup__img'>
        </a>
        <div class="cart-popup__content">
          <div class="cart-popup__title"><a href="catalog-item.html" class="link-inherit">{{ item.name }}</a></div>
          <div class="cart-popup__details">
            <span class="cart-popup__weight text-sm">{{ item.weight }}</span>
            <span class="cart-popup__price text-md">{{ item.price }} ₽</span>
            <div class="cart-popup__amount-form amount-form" data-component="amount-form">
              <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
              <input type="text" class="amount-form__input form__control" value="{{ item.amount }}" data-element="amount-input" data-min="0">
              <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
            </div>
            <button class="cart-popup__delete icon-close-2" title="Удалить из корзины" data-element="cart-popup-delete-item"></button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="cart-popup__action">
    <span class="cart-popup__total text-xl">15 012 ₽</span>
    <a href="cart.html" class="button button_secondary">Оформить заказ</a>
  </div>
</div>