<div class="categories__list">
  {% for category in catalog.categories %}
    <div class="categories__section category">
      <div class="row">
        <div class="col-xs-12 col-lg-3">
          <a href="catalog.html" class="category__header link-secondary-inherit">
            <i class="category__header-icon icon-{{ category.icon }}"></i>
            <h4 class="category__header-title text-md">{{ category.title }}</h4>
          </a>
        </div>
        {% for section in category.list %}
          <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="category__section">
              <h5 class="category__section-title"><a href="catalog-section.html">{{ section.title }}</a></h5>
              <ul class="category__list">
                {% for item in section.items %}
                  <li class="category__list-item"><a href="catalog-section.html">{{ item }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>