<div class="catalog__sorting sorting">
  <div class="sorting__number">83 товара</div>

  <div class="sorting__item">
    <div class="sorting__label">Сортировать по:</div>
    <div class="sorting__select">
      <select data-element="select-sm">
        <option>цене</option>
        <option>названию: &laquo;от А до Я&raquo;</option>
      </select>
    </div>
  </div>

  <div class="sorting__control">
    <label class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control__input" name="sale-items-only" value="1">
      <span class="custom-control__indicator"></span>
      Только товары со скидкой
    </label>
  </div>
</div>

<div class="catalog__view-type view-type hidden-md-down">
  <div class="view-type__label">Вид отображения:</div>
  <ul class="view-type__list">
    <li class="view-type__item">
      <a href="catalog-section.html" class="view-type__link icon-cells {% if viewType == 'cells' %}active{% endif %}" title="Показать в виде таблицы"></a>
    </li>
    <li class="view-type__item">
      <a href="catalog-section-list.html" class="view-type__link icon-list {% if viewType == 'list' %}active{% endif %}" title="Показать в виде списка"></a>
    </li>
  </ul>
</div>

<button class="catalog__filters-toggle button button_secondary" data-font-size="md" data-element="catalog-filters-trigger"><i class="button__icon icon-filter-list"></i>Фильтр</button>
