<div class="aside-menu hidden-md-down">
  <ul class="aside-menu__list">
    {% for item in catalog.asideMenu %}
      <li class="aside-menu__item">
        <a href="catalog-section.html" class="aside-menu__link">{{ item.name }} {% if item.list %} <i class="aside-menu__icon icon-chevron-right"></i> {% endif %}</a>
        {% if item.list %}
        <ul class="aside-menu__submenu aside-submenu">
          {% for link in item.list %}
            <li class="aside-submenu__item"><a href="" class="aside-submenu__link">{{ link }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>