{% if type == 'default' %}
<div class="catalog__list row row_md" data-component="catalog-list" data-slice-md="3" data-slice-lg="3" data-slice-xl="4">
{% else %}
<div class="catalog__list row row_compact" data-type="compact" data-component="catalog-list" data-slice-md="3" data-slice-lg="3" data-slice-xl="4">
{% endif %}
{% if not slice %}
  {% set slice = 4 %}
{% endif %}

  {% for i in 1..slice %}
    {% for product in catalog.items %}
      <div class="catalog__item col-xs-12 col-sm-6 col-md-4 col-xl-3">
        <div class="item" data-element="item">
          <div class="item__header" data-element="item-header">
            <div class="item__actions_list">
              <div class="item__actions_list-action" data-action="percent">10%</div>
              <br>
              <div class="item__actions_list-action" data-action="{{ product.action}}"></div>
            </div>
            <button class="item__fav icon-favourite" title="В избранное" data-element="item-fav" {% if loop.index is odd %}data-state="fav"{% endif %}></button>
            <div class="item__img-placeholder">
              <a href="catalog-item.html"><img src="temp/catalog/items/1.png" alt="{{ product.name}}" class="item__img"></a>
              <a href="#quick-view-modal" class="item__quick-view button button_secondary" data-size="xs" data-element="product-modal-trigger">Быстрый просмотр</a>
              <span class="item__badge button button_secondary button_rounded" data-size="sm" data-font-size="lg">5,4 <small>кг</small></span>
            </div>
            <div class="item__rating-stars rating-stars" data-rate="{{ product.rating }}">
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
            </div>
            <h6 class="item__title" data-element="item-title"><a href="catalog-item.html" class="link-base" title="{{ product.title }}">{{ product.title }}</a></h6>

            {% if product.pack %}
              <div class="item__packs item-packs">
                <div class="item-packs__list">
                  {% for pack in product.pack %}
                    <a href="#" class="item-packs__item item-pack {% if pack.active %}active{% endif %}">
                      {{ pack.title }}
                    </a>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>

          <div class="item__offers item-offers">
            <div class="item-offers__list" data-items="{{ maxItems }}">
              {% for offer in product.offers %}
                <div class="item-offers__item item-offer {% if offer.note %}muted{% endif %}">
                  <div class="item-offer__title">{{ offer.title }}</div>
                  {% if offer.note %}
                    <a href="#subscribe-form" class="item-offer__note link-inherit link-underline" data-element="modal-trigger">{{ offer.note }}</a>
                  {% endif %}
                  <div class="item-offer__price">
                    {% if offer.priceOld %}
                      <div class="item-offer__price-old price-old">{{ offer.priceOld }}</div>
                    {% endif %}
                    <div class="item-offer__price-value {% if offer.priceOld %}secondary{% endif %}">{{ offer.price }}</div>
                  </div>
                  {% if offer.note %}
                    <button class="item-offer__order-icon icon-delivery" title="Заказать"></button>
                    {% else %}
                    <button class="item-offer__order-icon icon-shopping-cart-2" title="Заказать"></button>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

            {# if product.offers|length > maxItems #}
              <div class="item-offers__more">
                <a href="#" class="item-offers__more-link link-secondary"><i class="item-offers__more-icon icon-reorder"></i>Показать все предложения</a>
              </div>
            {# endif #}
          </div>

          {% if footer == 'true' %}
            <div class="item__footer">
              <div class="item__amount-form amount-form" data-component="amount-form">
                <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                <input type="text" class="amount-form__input form__control" value="1" data-element="amount-input" data-min="0">
                <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
              </div>

              <button class="item__footer-button button button_secondary" data-size="xs">Купить</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}

  {% if type != 'default' %}
  <div class="catalog__banner">
    <img src="temp/catalog/banner.png" alt="Mobile Banner" class="hidden-md-up">
    <img src="temp/catalog/banner.png" alt="Desktop Banner" class="hidden-sm-down">
  </div>
  {% endif %}
</div>