<div class="catalog__sorting sorting">
  <div class="sorting__select">
    <select data-element="select-sm">
      <option>цене</option>
      <option>названию: &laquo;от А до Я&raquo;</option>
    </select>
  </div>
</div>

<div class="catalog__paginator">
  {% if pagination == 'true' %}
    <div class="catalog__pagination pagination">
      {% include '_pagination-list.twig' %}
    </div>
  {% endif %}

  <div class="catalog__page-items sorting">
    <div class="sorting__label">Показать по:</div>
    <div class="pagination">
      <ul class="pagination__list">
        {% for number in [10, 20, 50] %}
          <li class="pagination__item">
            <a href="#" class="pagination__link {% if loop.index == 2 %} active {% endif %}">{{ number }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<button class="catalog__filters-toggle button button_secondary" data-font-size="md" data-element="catalog-filters-trigger"><i class="button__icon icon-filter-list"></i>Фильтр</button>
