<div class="catalog-sections__list row row_sm">
  {% if popular == 'true' %}
    {% for item in catalog.sections|slice(2,5) %}
      <div class="catalog-sections__item col-xs-6 col-sm-4 col-md-3">
        <a href="catalog-section.html" class="catalog-card">
          <img src="temp/catalog/sections/{{ item.image }}" alt="{{ item.name }}" class="catalog-card__img">
          <h6 class="catalog-card__title">{{ item.name }}</h6>
          <p class="catalog-card__text">{{ item.info }}</p>
        </a>
      </div>
    {% endfor %}
  {% else %}
  {% for item in catalog.sections %}
    <div class="catalog-sections__item col-xs-6 col-sm-4 col-md-3">
      <a href="catalog-section.html" class="catalog-card">
        <img src="temp/catalog/sections/{{ item.image }}" alt="{{ item.name }}" class="catalog-card__img">
        <h6 class="catalog-card__title">{{ item.name }}</h6>
        <p class="catalog-card__text">{{ item.info }}</p>
      </a>
    </div>
  {% endfor %}
  {% endif %}
</div>