<div class="catalog-menu__list row row_xs" data-component="catalog-menu">
{% for item in catalog.menu %}
    <div class="catalog-menu__item col-xs-12 col-sm-6 col-xl-3">
        <div class="catalog-menu-card" data-element="catalog-menu-card">
            <button class="catalog-menu-card__close icon-close-2" title="Закрыть" data-element="catalog-menu-card-close"></button>
            <div class="catalog-menu-card__header">
                <a href="catalog.html" class="catalog-menu-card__icon icon-{{ item.icon }}"></a>
                <div class="catalog-menu-card__content">
                    <h5 class="catalog-menu-card__title"><a href="">{{ item.name }}</a></h5>
                    <p class="catalog-menu-card__text">{{ item.products }}</p>
                </div>
            </div>
            <div class="catalog-menu-card__list-wrapper" data-perfect-scrollbar>
                <ul class="catalog-menu-card__list">
                    {% for link in item.list %}
                        <li class="catalog-menu-card__list-item"><a href="catalog.html" class="catalog-menu-card__list-link link-inherit">{{ link }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endfor %}
</div>