<div class="catalog__list row row_md">
  {% for i in 1..3 %}
    {% for product in catalog.itemsMini %}
      <div class="catalog__item col-xs-12 col-sm-6">
        <div class="item-mini">
          <button class="item-mini__fav icon-favourite" title="В избранное" data-element="item-fav" {% if loop.index is odd %}data-state="fav"{% endif %}></button>
          <a href="catalog-item.html" class="item-mini__img-placeholder">
            <img src="temp/catalog/items/1.png" alt="{{ product.name}}" class="item-mini__img"></a>
          </a>
          <div class="item-mini__content">
            <div class="item-mini__rating-stars rating-stars" data-rate="{{ product.rating }}">
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
            </div>
            <h6 class="item-mini__title"><a href="catalog-item.html" class="link-base">{{ product.title }}</a></h6>
            <div class="item-mini__info">{{ product.weight }}</div>
            <div class="item-mini__price text-lg">{{ product.price }}</div>
            <div class="item-mini__footer">
              <div class="item-mini__amount-form amount-form" data-component="amount-form">
                <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                <input type="text" class="amount-form__input form__control" value="1" data-element="amount-input" data-min="0">
                <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
              </div>
              <button class="item-mini__footer-button button button_secondary" data-size="xs">Купить</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>