<div class="section__slider certificates__slider row row_md" data-component="certificates-slider" data-gallery="true">
  {% for i in 0..1 %}
    {% for i in 0..5 %}
      {% set loop = loop.index %}
      <div class="certificates__item col slick-slide">
        <a href="temp/certs/{{ loop }}.png" class="certificate">
          <img src="temp/certs/{{ loop }}.png" alt="" class="certificate__img">
          <div class="certificate__link"><i class="certificate__link-icon icon-search"></i>Посмотреть</div>
        </a>
      </div>
    {% endfor %}
  {% endfor %}
</div>