<div class="cookies-popup" data-component="cookies-popup">
	<div class="cookies-popup__container">
	    <i class="cookies-popup__icon icon-croquettes"></i>
	    <div class="cookies-popup__content">Мы используем файлы cookie, чтобы улучшить работу сайта и&nbsp;обеспечить удобство его использования. Продолжая пользоваться сайтом, вы соглашаетесь с&nbsp;использованием файлов cookie.</div>
	    <button class="cookies-popup__close icon-close" data-element="cookies-popup-close"></button>
	</div>
</div>