<div class="discount-offer" data-component="discount-offer">
  <div class="discount-offer__container container">
    <h2 class="discount-offer__title">Получите скидку 3% на первую покупку</h2>
    <a href="#modal-news-subscribe" class="discount-offer__button button button_outline_white" data-size="xs" data-element="modal-trigger">Получить</a>
    <button class="discount-offer__close icon-close" title="Закрыть" data-element="discount-offer-close"></button>
  </div>
</div>