<div class="section__slider entries__slider row row_md" data-component="entries-slider">
  {% for entry in videoReviews.list %}
    <div class="entrys__item col slick-slide">
      {% if video == 'true' %}
        <a href="https://www.youtube.com/watch?v=7kupsW0QvsE" class="entry" data-element="video-trigger">
        {% else %}
        <a href="" class="entry">
      {% endif %}
        <div class="entry__img-placeholder">
          <img src="temp/reviews/{{ entry.image }}" alt="" class="entry__img">
          {% if video == 'true' %}
            <i class="entry__play-button icon-youtube-button"></i>
          {% endif %}
        </div>
        <div class="entry__content">
          <h5 class="entry__title">{{ entry.title }}</h5>
        </div>
      </a>
    </div>
  {% endfor %}
</div>