<div class="entries__list row row_md {% if class %} class {% endif %}">
    {% for entry in info.articles %}
      <div class="entries__item col-xs-12 col-sm-6 col-md-4">
        {% if video == 'true' %}
        <a href="https://www.youtube.com/watch?v=7kupsW0QvsE" class="entry" data-element="video-trigger">
        {% else %}
        <a href="" class="entry">
        {% endif %}
          <div class="entry__img-placeholder">
            <img src="temp/articles/{{ entry.image }}" alt="" class="entry__img">
            {% if video == 'true' %}
              <i class="entry__play-button icon-youtube-button"></i>
            {% endif %}
          </div>
          <div class="entry__content">
            <h5 class="entry__title">{{ entry.title }}</h5>
            <p class="entry__date">
              <i class="entry__date_icon icon-event-available"></i> {{ entry.date }}
            </p>
            <p class="entry__text">
              {{ entry.text }}
            </p>
          </div>
        </a>
      </div>
    {% endfor %}
</div>