{% for section in info.faq|slice(0,items) %}
  <div class="faq__section">
    <h3 class="faq__title"><a href="info-faq-2.html">{{ section.title }}</a></h3>
    <div class="faq__list" data-component="accordion">
      {% for item in section.list %}
        <dl class="faq__item panel" data-element="accordion-item">
          <dt class="faq__item-header panel__header" data-element="accordion-toggle">
            <div class="faq__item-question panel__title h4">{{ item.question }}</div>
            <i class="faq__item-caret panel__header-icon icon-chevron-down"></i>
          </dt>
          <dd class="faq__item-answer panel__content text-block" data-element="accordion-content">
            <ol>
              <li>В правом верхнем углу сайта нажмите на кнопку «Регистрация»</li>
              <li>Заполните обязательные поля</li>
              <li>Завершите регистрацию, нажав кнопку «Зарегистрироваться»</li>
            </ol>

            <p>При желании Вы можете указать Ваш пол, дату рождения, подписаться на Email рассылки об Акциях и секретных распродажах</p>
          </dd>
        </dl>
      {% endfor %}
    </div>
  </div>
{% endfor %}