<div class="filters__content" data-component="filters">
  <div class="filters__header">
    <h2 class="filters__title">Фильтр</h2>
    <button class="filters__close icon-close-2" title="Закрыть" data-element="filters-close"></button>
  </div>

  <div class="filters__action">
    <button class="button button_outline_secondary button_block hidden-lg-up" data-font-size="md">Сбросить</button>
    <button class="button button_secondary button_block hidden-md-down" data-font-size="md">Сбросить</button>
  </div>

  <div class="filters__list">
    <div class="filter active" data-component="filter">
      <h6 class="filter__title" data-element="filter-toggle">Цена</h6>
      <div class="filter__content" data-element="filter-content">
        <div class="filter__slider" data-component="range-slider">
          <div class="filter__slider-controls">
            <input type="text" maxlength="6" value="1000" class="form__control" data-element="range-slider-from">
            &mdash;
            <input type="text" maxlength="6" value="5000" class="form__control" data-element="range-slider-to">
          </div>
          <div class="range-slider">
            <input type="text" value="" data-element="range-slider-input" data-step="500" data-min="500" data-max="9000" data-from="1000" data-to="5000">
          </div>
        </div>
      </div>
    </div>
    
    <div class="filter active" data-component="filter">
      <h6 class="filter__title" data-element="filter-toggle">Цена</h6>
      <div class="filter__content" data-element="filter-content">
        <div class="filter__slider" data-component="range-slider">
          <div class="filter__slider-controls">
            <input type="text" maxlength="6" value="900" class="form__control" data-element="range-slider-from">
            &mdash;
            <input type="text" maxlength="6" value="1600" class="form__control" data-element="range-slider-to">
          </div>
          <div class="range-slider">
            <input type="text" value="" data-element="range-slider-input" data-step="300" data-min="300" data-max="3000" data-from="900" data-to="1600">
          </div>
        </div>
      </div>
    </div>
    
    
    
    {% for filter in filters %}
    {% set parentLoop = loop.index %}
      <div class="filter {% if filter.status != 'closed' %} active {% else %} closed {% endif %}" data-component="filter">
        <h6 class="filter__title" data-element="filter-toggle">{{ filter.name }}</h6>
        <div class="filter__content" data-element="filter-content">
          <ul class="filter__list">
            {% for item in filter.items %}
              <li class="filter__item">
                <label class="custom-control custom-checkbox" data-size="xs">
                  <input type="checkbox" class="custom-control__input" name="filter-{{ parentLoop }}" value="{{ loop.index }}" {% if loop.index in filter %} checked {% endif %}>
                  <span class="custom-control__indicator"></span>
                  {{ item }}
                </label>
              </li>
            {% endfor %}
          </ul>
          {% if parentLoop == 1 %}
            <div class="filter__more">
              <a href="#" class="link-secondary">Показать все</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="filters__action">
    <button class="button button_secondary button_block hidden-lg-up" data-font-size="md">Применить</button>
    <button class="button button_outline_secondary button_block hidden-lg-up" data-font-size="md">Сбросить</button>
    <button class="button button_secondary button_block hidden-md-down" data-font-size="md">Сбросить</button>
  </div>
</div>