<footer class="footer" data-component="footer">
  <div class="footer__bar">
    <div class="container">
      <div class="row row_md row-lg-center">
        <div class="footer__bar-contacts col-xs-12 col-sm-5 col-lg-5 col-xl-6">
          <div class="footer__phones">
            <div class="footer__phone">
              <a href="tel:+74955009100" class="footer__phone-number">+7 (495) 500-9-100</a>
              <span class="footer__phone-note">Пн-Вс: 09:00 — 22:00</span>
            </div>

            <div class="footer__phone">
              <a href="tel:88005509888" class="footer__phone-number">8 (800) 550-9-888</a>
              <span class="footer__phone-note">Бесплатный номер</span>
            </div>
          </div>

          <div class="footer__contacts">
            <a href="mailto:director@magizoo.ru" class="footer__contacts-item"><i class="footer__contacts-icon icon-mail"></i>Написать директору</a>
          </div>
        </div>
        <div class="footer__bar-apps col-xs-12 col-sm-7 col-xl-4">
          <div class="footer__apps">
            <a href="#" class="footer__apps-item">
              <img src="/assets/i/google-play-badge.svg" alt="Доступно в Google Play" class="footer__apps-img">
            </a>
            <a href="#" class="footer__apps-item">
              <img src="/assets/i/app-store-badge.svg" alt="Загрузите в App Store" class="footer__apps-img">
            </a>
          </div>
        </div>
        <div class="footer__bar-social col-xs-12 col-sm-7 col-lg-3 col-xl-2">
          <ul class="footer__social social">
            {% for item in social %}
            <li class="social__item"><a href="" class="social__link icon-{{ item.icon }}" title="{{ item.name }}"></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer__body">
    <div class="container">
      <div class="footer__nav row row_md" data-component="footer-nav">
        {% for section in footerNav %}
        <div class="col-xs-12 col-lg-3">
          <div class="footer__nav-section" data-element="footer-nav-item">
            <h5 class="footer__nav-title" data-element="footer-nav-toogle">{{ section.title }}</h5>
            <ul class="footer__nav-list" data-element="footer-nav-list">
              {% for item in section.list %}
              <li class="footer__nav-item"><a href="" class="footer__nav-link">{{ item }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {% if loop.last %}
          <div class="footer__addresses">
            <p>115419, г. Москва, ул. Шаболовка, д.34, стр.3.</p>
            <p>300034, г. Тула, ул. Первомайская, д.35</p>
            <p>248001, г. Калуга, ул. Плеханова, д.48/8, стр.1</p>
          </div>
          <form action="#" class="footer__pay-form form pay-form">
            <div class="form__group">
              <label class="form__label">Оплата по номеру заказа:</label>
              <input type="text" class="form__control form__control_white" placeholder="Номер заказа" tabindex="10">
              <input type="submit" class="button button_secondary" value="Оплатить" tabindex="20">
            </div>
          </form>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="row row_md">
        <div class="footer__bottom-col col-xs-12 col-sm-6 col-lg-6">
          <p>2002-2019 © MAGIZOO.ru - центральный интернет-магазин корма, препаратов и аксессуаров для животных. Доставка по всей России!</p>
        </div>
        <div class="footer__bottom-col col-xs-12 col-sm-6 col-lg-3">
          <p>
            <a href="#">Политика конфиденциальности</a><br>
            <a href="#">Пользовательское соглашение</a>
          </p>
        </div>
        <div class="footer__bottom-col col-xs-12 col-sm-6 col-lg-3">
          <div class="footer__payment-methods payment-methods">
            <div class="payment-methods__label">Принимаем к оплате</div>
            <ul class="payment-methods__list">
              {% for item in ['visa', 'mastercard', 'maestro', 'mir'] %}
                <li class="payment-methods__item">
                  <img src="/assets/i/payment-methods/{{ item }}.png" alt="{{ item }}" class="payment-methods__img">
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- /.footer -->

