<div class="gallery row row_md" data-gallery="true">
  {% for item in 1..6 %}
    <div class="gallery__item col-xs-6 col-sm-4">
      <a href="temp/gallery/{{ loop.index }}.jpg" class="gallery__link">
        <img src="temp/gallery/{{ loop.index }}.jpg" alt="" class="gallery__img">
        <i class="gallery__icon icon-search" title="Увеличить"></i>
      </a>
    </div>
  {% endfor %}
</div>