<header class="header" data-component="header">
  <div class="header__bar hidden-xl-up">
    <div class="header__bar-container container">
      <div class="header__logo">
        <a href="index.html" class="header__logo-link"><img src="assets/i/logo-magizoo.png" alt="Magizoo" class="header__logo-img"></a>
      </div>

      <div class="header__triggers">
        <button class="header__trigger icon-search" title="Поиск" data-element="header-search-trigger"></button>
        <a href="#call-form" class="header__trigger icon-phone" title="Обратный звонок" data-element="modal-trigger"></a>
        <a href="#cart-modal" class="header__trigger icon-shopping-cart" title="Корзина" data-element="cart-modal-trigger"></a>
        <button class="header__trigger menu-toggle" title="Меню" data-element="header-menu-trigger">
          <span class="menu-toggle__top"></span>
          <span class="menu-toggle__middle"></span>
          <span class="menu-toggle__bottom"></span>
        </button>
      </div>

      <div class="header__search hidden-lg-up" data-component="header-search-form">
        <form action="#" class="header__search-form form search-form">
          <div class="form__group">
            <input type="text" class="search-form__control form__control form__control_white" placeholder="Поиск по каталогу" data-element="header-search-form-input">
            <button type="submit" class="search-form__submit icon-search" title="Найти" data-element="header-search-form-submit"></button>
            <button type="submit" class="search-form__close icon-close-2" title="Закрыть" data-element="header-search-form-close"></button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="header__content" data-element="header-menu-content">
    <div class="header__top">
      <div class="container">
        <div class="header__top-row row">
          <div class="header__location col-xs-12">
            <button class="header__location-toggle button-default" data-template="location-template" data-element="popover-trigger" data-tippy-trigger="click" data-tippy-placement="bottom-start" data-tippy-maxWidth="288">
              <i class="header__location-icon icon-geo"></i><span class="header__location-text" data-element="location-name">Москва и Подмосковье</span>
            </button>
            <div style="display: none;">
              <div id="location-template">
                <div class="location">
                  <h6 class="location__title">Выберите регион для уточнения информации о доставке</h6>
                  <p class="location__name" data-element="location-name">Москва и МО</p>
                  <div class="location__footer">
                    <button class="location__button button button_accept" data-size="xs">Да, верно</button>
                    <a href="#modal-location" class="location__link link-secondary" data-element="modal-trigger">Выбрать другой</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="header__menu col-xs-12">
            <ul class="header__menu-list">
              {% for item in headerMenu %}
              <li class="header__menu-item">
                <a href="{% if item.link %}{{item.link}}{% else %}#{% endif %}" class="header__menu-link">{{ item.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="header__nav col-xs-12">
            {% include '_header-nav.twig' %}
          </div>
        </div>
      </div>
    </div>

    <div class="header__body">
      <div class="container">
        <div class="row row-xl-center">
          <div class="header__logo col hidden-lg-down">
            <a href="index.html" class="header__logo-link">
              <img src="assets/i/logo-magizoo.png" alt="Magizoo" class="header__logo-img">
              <span class="header__logo-text">ЦЕНТРАЛЬНЫЙ ИНТЕРНЕТ-ЗООМАГАЗИН МОСКВЫ И МОСКОВСКОЙ ОБЛАСТИ</span>
            </a>
          </div>
          <div class="header__search col hidden-lg-down">
            <form action="#" class="header__search-form form search-form">
              <div class="form__group">
                <input type="text" class="search-form__control form__control form__control_white" placeholder="Поиск по каталогу">
                <button type="submit" class="search-form__submit icon-search" title="Найти"></button>
              </div>
            </form>
          </div>
          <div class="header__contacts col">
            <div class="header__contacts-section">
              <div class="header__working-hours">Пн-Вс: 09:00 — 22:00</div>
              <a href="#call-form" class="header__contacts-control" data-element="modal-trigger"><i class="header__contacts-icon icon-phone"></i>Обратный звонок</a>
              <a href="mailto:director@magizoo.ru" class="header__contacts-control hidden-xl-up"><i class="header__contacts-icon icon-mail"></i>Написать директору</a>
            </div>
            <div class="header__contacts-section">
              <a href="tel:+74955009100" class="header__phone">+7 (495) 500-9-100</a>
              <a href="tel:88005509888" class="header__phone">8 (800) 550-9-888</a>
            </div>
          </div>
          <div class="header__social col hidden-lg-up">
            <ul class="social">
              {% for item in social %}
              <li class="social__item"><a href="" class="social__link icon-{{ item.icon }}" title="{{ item.name }}"></a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include '_nav.twig' %}

  {% include '_header-fixed.twig' %}
</header>