<ul class="header__nav-list">
  <li class="header__nav-item">
    {% if logged %}
      <a href="account.html" class="header__nav-link text-truncated"><i class="header__nav-icon icon-user"></i>Константин Константинович</a>
      {% else %}
      {% if newUser %}
        <a href="#modal-login-new" class="header__nav-link" data-element="modal-trigger"><i class="header__nav-icon icon-user"></i>Вход</a>
        {% else %}
        <a href="#modal-login" class="header__nav-link" data-element="modal-trigger"><i class="header__nav-icon icon-user"></i>Вход</a>
      {% endif %}
    {% endif %}
  </li>
  <li class="header__nav-item header__nav-item_order">
    <a href="#repeat-order-form" class="header__nav-link" data-element="modal-trigger"><i class="header__nav-icon icon-repeat"></i>Повтор заказа</a>
  </li>
  <li class="header__nav-item header__nav-item_sm">
    <a href="" class="header__nav-link"><i class="header__nav-icon icon-favourite"></i><span>0</span></a>
  </li>
  <li class="header__nav-item header__nav-item_sm">
    <a href="#cart-modal" class="header__nav-link" data-element="cart-modal-trigger"><i class="header__nav-icon icon-shopping-cart"></i><span>3</span></a>
  </li>
</ul>
