<div class="header__fixed hidden-lg-down" data-component="header-fixed">
  <div class="container">
    <div class="row row-xl-center">
      <div class="header__nav-col col" data-element="nav-col">
        <button class="header__catalog-toggle catalog-toggle button button_default" data-size="sm" data-element="catalog-fixed-toggle">
          <span class="catalog-toggle__icon menu-toggle">
            <span class="menu-toggle__top"></span>
            <span class="menu-toggle__middle"></span>
            <span class="menu-toggle__bottom"></span>
          </span>
          Каталог
        </button>
      </div>
      <div class="header__logo col">
        <a href="index.html" class="header__logo-link"><img src="assets/i/logo-magizoo.png" alt="Magizoo" class="header__logo-img"></a>
      </div>
      <div class="header__contacts col">
        <div class="header__contacts-section">
          <a href="tel:88005509888" class="header__phone">8 (800) 550-9-888</a>
        </div>
      </div>
      <div class="header__search col">
        <form action="#" class="header__search-form form search-form">
          <div class="form__group">
            <input type="text" class="search-form__control form__control form__control_white" placeholder="Поиск по каталогу">
            <button type="submit" class="search-form__submit icon-search" title="Найти"></button>
          </div>
        </form>
      </div>
      <div class="header__nav col">
        {% include '_header-nav.twig' %}
      </div>
    </div>
  </div>
</div>
