<div class="menu">
  {% for section in menu if section.title != 'Вопросы и ответы' %}
    <div class="menu__section">
      {% if section.title %}
        <h3 class="menu__title">{{ section.title }}</h3>
      {% endif %}
      <ul class="menu__list row row_sm" data-items="{{items}}">
        {% for item in section.list %}
          <li class="menu__item col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <a href="#" class="menu-card">
              <i class="menu-card__icon icon-{{ item.icon }}"></i>
              <h6 class="menu-card__title">{{ item.title }}</h6>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>