<form id="modal-notification" action="#" class="modal modal_sm modal_notification mfp-hide zoom-anim-dialog">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Способ оповещения</h3>
      <p>Укажите удобный для вас способ оповещения, для того, чтобы подтвердить заказ.</p>
    </div>
    <div class="form__group">
      <button class="button button_secondary button_block" data-size="lg">СМС - уведомление</button>
    </div>
    <div class="form__group">
      <button class="button button_secondary button_block" data-size="lg">Звонок опрератора</button>
    </div>
  </div>
</form>