<div id="in-cart-modal" class="modal modal_in-cart mfp-hide">
  <div class="modal__content">
    <div class="in-cart">
      <div class="in-cart__product">
        <div class="in-cart__img-placeholder">
          <img src="temp/cart/in-cart.jpg" alt="" class="in-cart__img">
        </div>

        <div class="in-cart__product-info">
          <div class="in-cart__label">В корзину добавлено</div>
          <h4 class="in-cart__title">Сухой корм ORIJEN CAT &amp; KITTEN 85/15 для кошек и котят всех пород (3 кг)</h4>

          <div class="in-cart__order row row_md">
            <div class="in-cart__prices col">
              <div class="in-cart__price">1 870 ₽</div>
            </div>

            <div class="in-cart__amount col">
              <div class="in-cart__amount-form amount-form" data-component="amount-form">
                <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                <input type="text" class="amount-form__input form__control" value="5" data-element="amount-input" data-min="0">
                <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
              </div>
            </div>

            <div class="in-cart__total col">
              <div class="in-cart__total-label">итого</div>
              <div class="in-cart__total-sum">14 230 ₽</div>
            </div>
          </div>

          <div class="in-cart__action row row_md">
            <div class="in-cart__action-col col-xs-12 col-sm-6">
              <a href="#" class="button button_outline_primary button_block" data-size="lg" data-element="modal-close">Продолжить покупки</a>
            </div>

            <div class="in-cart__action-col col-xs-12 col-sm-6">
              <a href="order-form.html" class="button button_secondary button_block" data-size="lg">Оформить заказ</a>
            </div>
          </div>

        </div>
      </div>

      <div class="in-cart__content">
        Extra content
      </div>
    </div>
  </div>
</div>
