<div id="quick-view-modal" class="modal modal_product mfp-hide zoom-anim-dialog">
  <div class="modal__content">
    <div class="product">
      <h2 class="product__title h1">Сухой корм ORIJEN CAT & KITTEN 85/15 для кошек и котят всех пород</h2>
        <div class="product__main row row_md">
          <div class="product__header col-xs-12">
            <div class="product__header-bottom">
              <div class="product__brand"><span class="hidden-sm-down">Все товары бренда</span> <a href="brand.html" class="product__brand-link">ORIJEN</a></div>
              <div class="product__code">ID: 1827423</div>
            </div>
          </div>

          <div class="product__media col-xs-12">
            <div class="product__media-slider product-slider" data-component="product-slider" data-gallery="true" data-zoom-parent>
              {% for item in product.offers.food.media %}
                <div class="product-slider__item slick-slide">
                  {% if item.type == 'video' %}
                    <a href="{{ item.link }}" data-type="iframe">
                      <img src="temp/catalog/product/slider/lg/{{item.imageLg}}" alt="">
                      <i class="product-slider__play icon-youtube-button" title="Посмотреть видео"></i>
                    </a>
                    {% else %}
                    <a href="temp/catalog/product/slider/lg/{{item.imageLg}}">
                      <img src="temp/catalog/product/slider/lg/{{item.imageLg}}" data-zoom="temp/catalog/product/slider/lg/{{item.imageLg}}" alt="" data-zoom-img>
                    </a>
                  {% endif %}
                </div>
              {% endfor %}
            </div>

            <div class="product__media-slider-nav product-slider-nav" data-component="product-slider-nav">
              {% for item in product.offers.food.media %}
                <div class="product-slider-nav__item slick-slide">
                  <div class="product-slider-nav__card">
                    <img src="temp/catalog/product/slider/sm/{{item.image}}" alt="">
                    {% if item.type == 'video' %}
                      <i class="product-slider-nav__play icon-youtube-button"></i>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="product__content col-xs-12">
            <div class="product__zoom-pane" data-zoom-pane></div>
            <div class="product__offers">
              <h6 class="product__offers-title">Варианты фасовки (выберите удобный для вас вес)</h6>

              <div class="product__offers-tabs tabs tabs_pills" data-component="tabs">
                <ul class="tabs__list row row_sm" role="tablist">
                  {% for item in product.offers.food.nav|slice(0,4) %}
                    <li class="tabs__item {% if item.class %} col-xs-12 {% else %} col-xs-6 col-sm-3 {% endif %}" role="tab">
                      <a href="#offers-{{ item.id }}" class="tabs__link {% if loop.first %}active{% endif %}" role="tab">
                      {% if item.class %}
                        {{ item.name }}
                      {% else %}
                        <span class="tabs__link-text">{{ item.name }}</span>
                        {% if item.info %} <span class="tabs__link-info">{{ item.info }}</span> {% endif %}
                      {% endif %}
                      </a>
                    </li>
                  {% endfor %}
                </ul>

                <div class="tabs__content">
                  {% for item in product.offers.food.nav|slice(0,4) %}
                    <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="offers-{{ item.id }}">
                      <h6 class="product__offers-title">Предложения для выбраного веса</h6>

                      <div class="product__offers-header product-offer row row_sm">
                        <div class="product-offer__col product-offer__col_name col">Наименования</div>
                        <div class="product-offer__col product-offer__col_price col">Цена за 1 шт.</div>
                        <div class="product-offer__col product-offer__col_order col"></div>
                      </div>

                      <div class="product__offers-list">
                        {% for offer in product.offers.food.list %}
                          <div class="product__offers-item">
                            <div class="product-offer {% if offer.outofstock %} product-offer_muted {% endif %} row row_sm row-xs-top row-md-center">
                              <div class="product-offer__col product-offer__col_name col">
                                <h5 class="product-offer__title">{{ offer.title }}</h5>
                                {% if offer.instock %}
                                  <span class="product-offer__instock">в наличии</span>
                                {% endif %}
                              </div>
                              <div class="product-offer__col product-offer__col_price col">
                                <div class="product-offer__price {% if offer.priceClass %} product-offer__price_{{ offer.priceClass }} {% endif %} {% if offer.oldPrice %} secondary {% endif %}">
                                  {{ offer.price }}
                                </div>
                                {% if offer.saleStyle == 'default' %}
                                  <div class="product-offer__price-old price-old">
                                    {{ offer.oldPrice }}
                                  </div>
                                {% endif %}
                              </div>
                              {% if offer.outofstock %}
                                <div class="product-offer__col product-offer__col_preorder col-xs-12">
                                  <a href="#subscribe-form" class="link-secondary" data-element="modal-trigger">{{ offer.preorder }}</a>
                                </div>
                                {% else %}
                                <div class="product-offer__col product-offer__col_order col">
                                  <div class="product-offer__amount hidden-sm-down">
                                    <div class="product-offer__amount-form amount-form" data-component="amount-form">
                                      <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                                      <input type="text" class="amount-form__input form__control" value="{{ offer.amount }}" data-element="amount-input" data-min="0">
                                      <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
                                    </div>
                                    <span class="product-offer__points points">{{ offer.points }}</span>
                                  </div>
                                  <button class="product-offer__button icon icon-shopping-cart" title="В корзину"></button>
                                </div>
                              {% endif %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="product__footer" data-element="product-footer">
              <div class="product__checkout product-checkout product-checkout_inline">
                <div class="product-checkout__main">
                  <div class="product-checkout__header">
                    <dl class="product-checkout__weight">
                      <dt class="product-checkout__label">Общий вес</dt>
                      <dd class="product-checkout__value text-lg">9 кг</dd>
                    </dl>
                    <div class="product-checkout__total">
                      <span class="product-checkout__price text-lg">9 350<span class="pennies">,00 ₽</span></span>
                      <span class="product-checkout__price-old price-old">12 350,00 ₽</span>
                    </div>
                    <div class="product-checkout__points points">+ 90 баллов</div>
                  </div>
                  <div class="product-checkout__action">
                    <a href="#cart-success-modal" class="button button_secondary button_block" data-size="lg" data-element="modal-trigger">Добавить в корзину</a>
                    <a href="#" class="button button_link button_link_secondary button_block " data-size="lg">Купить в 1 клик</a>
                  </div>
                </div>
              </div>

              <div class="product__more"><a href="catalog-item.html" class="secondary">Узнать больше</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
