<form id="modal-login-new" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-validate="parsley" data-form="login-new">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Осталось совсем немного</h3>
      <p>Укажите ваши контактные данные для того, чтобы мы учитывали их при оформлении</p>
    </div>
    <div class="form__group">
      <input type="email" class="form__control form__control_default" placeholder="Ваш email" required>
    </div>
    <div class="form__group">
      <input type="text" class="form__control form__control_default" placeholder="Ваше имя" required>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Войти">
    </div>
  </div>
</form>