<form id="modal-news-subscribe" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-validate="parsley" data-form="subscribe">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Подписка на новости</h3>
      <p>Подписавшись на новости, вы получите на свой E-mail промокод, дающий <strong>3% скидку</strong> на первый заказ</p>
    </div>
    <div class="form__group">
      <input type="email" class="form__control form__control_default" placeholder="Ваш Email" required>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Подписаться">
    </div>
  </div>
</form>