<div id="cart-success-modal" class="modal modal_sm mfp-hide zoom-anim-dialog">
  <div class="modal__content">
    <div class="success-message">
      <i class="success-message__icon icon-check"></i>
      <div class="success-message__title">Товар добавлен в корзину!</div>
    </div>
  </div>
</div>
