<div id="modal-location" class="modal modal_lg mfp-hide zoom-anim-dialog">
	<div class="modal__content">
    <div class="locations">
      <p class="locations__title h4">Выберите город</p>
      <form action="#" class="locations__form form">
        <div class="form__group">
          <input type="text" class="locations__control form__control form__control_default" placeholder="Название города">
          <input type="submit" class="locations__button button button_secondary" value="Это мой город" data-size="sm">
        </div>
      </form>
      <div class="locations__content" data-perfect-scrollbar>
        <ul class="locations__list">
          {% for location in locations.main %}
            <li class="locations__item">
              <strong><a data-href="{{ loop.index }}" class="locations__link" data-element="location-item">{{ location }}</a></strong>
            </li>
          {% endfor %}
        </ul>
        <ul class="locations__list">
          {% for location in locations.list %}
            <li class="locations__item">
              <a data-href="{{ loop.index }}" class="locations__link" data-element="location-item">{{ location }}</a>
            </li>
          {% endfor %}
        </ul>
    </div>
	</div>
</div>
