<form id="repeat-order-form" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-form="repeat-order" data-validate="parsley">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Повторить заказ</h3>
    </div>
    <div class="form__group">
      <input type="text" class="form__control form__control_default" placeholder="Телефон" data-element="phone-mask" required>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Повторить">
    </div>
  </div>
</form>
