<form id="modal-login-with-password" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-validate="parsley" data-form="login-with-password">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Вход по паролю</h3>
      <p>Если вы являетесь зарегистрированнным пользователем, введите свой адрес электронной почты или номер телефона и пароль.</p>
    </div>
    <div class="form__group">
      <input type="text" class="form__control form__control_default" placeholder="Введите e-mail / номер телефона" required>
    </div>
    <div class="form__group">
      <input type="password" class="form__control form__control_default" placeholder="Введите пароль" required>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Войти">
    </div>
    <div class="form__links text-sm">
      <a href="#modal-login" class="form__links-item link-secondary" data-element="modal-trigger">Вход на сайт по SMS</a>
      <a href="#" class="form__links-item link-secondary">Забыли пароль?</a>
    </div>
  </div>
</form>