<div id="subscribe-success-modal" class="modal modal_xs mfp-hide zoom-anim-dialog">
  <div class="modal__content">
    <div class="success-message">
      <i class="success-message__icon icon-check" data-size="32"></i>
      <div class="success-message__title">Спасибо!</div>
      <div class="success-message__text">Мы отправим письмо вам на&nbsp;почту, как только товар появиться в&nbsp;наличии.</div>
    </div>
  </div>
</div>
