<div id="share-modal" class="modal modal_sm mfp-hide zoom-anim-dialog">
  <div class="modal__content">
    <div class="modal__header">
      <h3 class="modal__title">Поделиться</h3>
    </div>
    <div class="share">
      <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
      <script src="https://yastatic.net/share2/share.js"></script>
      <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter,lj"></div>
    </div>
  </div>
</div>

