<form id="modal-login" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-validate="parsley" data-form="login">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Вход или регистрация</h3>
    </div>
    <div class="form__group">
      <div class="form__message"></div>
      <input type="text" class="form__control form__control_default" placeholder="Ваш номер телефона" data-element="phone-mask" name="phone" required>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Получить код">
    </div>
    <div class="form__links text-sm">
      <a href="#modal-login-with-password" class="form__links-item link-secondary" data-element="modal-trigger">Вход на сайт по паролю</a>
    </div>
  </div>
</form>