<form id="subscribe-modal" action="#" class="modal modal_calendar mfp-hide zoom-anim-dialog">
  <div class="modal__content form product-subscribe">
    <div class="modal__header">
      <h3 class="modal__title text-left">Подписаться на товар</h3>
    </div>
    <div class="product-subscribe__selection">
      {% for choice in product.subscribeModal.selection %}
        <div class="product-subscribe__choice">
          <label class="custom-control custom-checkbox" data-size="lg">
            <input type="checkbox" class="custom-control__input" name="product-choice-{{ loop.index }}" value="1" tabindex="{{ loop.index }}0">
            <span class="custom-control__indicator"></span>
            <span class="product-subscribe__choice-name">{{ choice }}</span>
            <span class="product-subscribe__choice-amount amount-form" data-component="amount-form">
              <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
              <input type="text" class="amount-form__input form__control" value="1" data-element="amount-input" data-min="1">
              <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
            </span>
          </label>
        </div>
      {% endfor %}
    </div>

    <div class="product-subscribe__footer">
      <div class="product-subscribe__datepicker" data-element="subscribe-datepicker">
        <input type="hidden" data-element="subscribe-datepicker-input">
        <div class="product-subscribe__calendar calendar" data-element="subscribe-datepicker-calendar"></div>
      </div>
      <div class="product-subscribe__footer-content">
        <div class="product-subscribe__footer-title text-lg">Вы подписались на товар <span data-element="subscribe-datepicker-result">с 13го апреля (пятница)</span></div>
        <div class="product-subscribe__options">
          {% for option in product.subscribeModal.options %}
            <div class="product-subscribe__option">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control__input" name="product-option" value="{{ loop.index }}" tabindex="{{ loop.index }}00" {% if loop.first %} checked {% endif %}>
                <span class="custom-control__indicator"></span>
                {{ option }}
              </label>
            </div>
          {% endfor %}
        </div>
        <div class="product-subscribe__submit">
          <input type="submit" class="button button_secondary button_block" data-size="lg" value="Сохранить">
        </div>
      </div>
    </div>
  </div>
</form>
