<form id="modal-price-change" action="#" class="modal modal_sm modal_notification mfp-hide zoom-anim-dialog">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Мы оповестим вас</h3>
      <p>Если на Сухой корм ORIJEN CAT &amp; KITTEN 85/15 для кошек и котят всех пород снизится цена.</p>
      <p>Список товаров, которые вы отслеживаете можно посмотреть по ссылке.</p>
    </div>
    <div class="form__group">
      <button class="button button_secondary button_block" data-size="lg">Отслеживание товаров</button>
    </div>
  </div>
</form>