<form id="subscribe-form" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-validate="parsley" data-form="subscribe">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Сообщить о поступлении товара</h3>
    </div>
    <div class="form__group">
      <input type="text" class="form__control form__control_default" placeholder="Ваше имя">
    </div>
    <div class="form__group">
      <div class="input-group has-required" data-icon-pos="right">
        <input type="email" class="form__control form__control_default" placeholder="Ваш Email" required>
        <span class="input-group__icon">*</span>
      </div>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Сообщить о поступлении" data-element="modal-toggle">
    </div>
  </div>
</form>