<div id="pickup-point-modal" class="modal modal_sm mfp-hide zoom-anim-dialog">
  <div class="modal__content">
    <div class="pickup-point">
      <header class="pickup-point__header">
        <img src="/temp/delivery/boxberry-lg.png" alt="Логотип Boxberry" class="pickup-point__logo">
        <div class="pickup-point__header-content">
          <h4 class="pickup-point__title">Boxberry</h4>
          <p>ул. Островского, 38</p>
        </div>
      </header>
      <dl class="pickup-point__info">
        <dt class="pickup-point__info-title">Время работы:</dt>
        <dd class="pickup-point__info-text">
          <p>
            Пн-Пт: 10:00 — 20:00<br>
            Сб, Вс: 10:00 — 18:00
          </p>
          <p>Пункт выдачи заказов расположен в офисе U-LAN в здании жилого дома.</p>
        </dd>

        <dt class="pickup-point__info-title">Транспорт:</dt>
        <dd class="pickup-point__info-text">
          <p>
            Автобус №849, 723, 726, 722, 31.<br>
            Маршрутное такси № 47к, 942, 1206, 1225к
          </p>
          <p>Остановка Некрасовка. Войти через отдельный вход, на цокольном этаже расположен пункт выдачи заказов. Ориентир - вывеска U-LAN</p>
        </dd>
      </dl>
      <footer class="pickup-point__footer">
        <button class="pickup-point__button button button_outline_secondary" data-element="modal-close" data-size="lg">Закрыть</button>
      </footer>
    </div>
  </div>
</div>