<form id="call-form" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-form="call-back" data-validate="parsley">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Есть вопросы?</h3>
      <p>Оставьте телефон, мы вам перезвоним</p>
    </div>
    <div class="form__group">
      <div class="form__message"></div>
      <input type="text" class="form__control form__control_default" placeholder="Телефон" data-element="phone-mask" required>
    </div>
    <div class="form__group">
      <input type="text" class="form__control form__control_default" placeholder="Ваше имя">
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Перезвоните мне">
      <button type="button" class="button button_outline_default button_block"><i class="button__icon icon-mail-outline"></i>Обратная связь</button>
    </div>
  </div>
</form>
