<form id="modal-login-code" action="#" class="modal modal_xs mfp-hide zoom-anim-dialog" data-validate="parsley" data-form="login-code">
  <div class="modal__content form">
    <div class="modal__header">
      <h3 class="modal__title">Введите код</h3>
      <p>Мы отправили код на <span data-element="phone-number">+7 987 654 33 22</span></p>
      <p><a href="#modal-login" class="link-secondary" data-element="modal-trigger">Изменить</a></p>
    </div>
    <div class="form__code" data-component="form-code">
      <div class="row">
        <div class="col-xs-3">
          <input type="text" class="form__control form__control_default" data-type="code" maxlength="1" id="first-number" required>
        </div>
        <div class="col-xs-3">
          <input type="text" class="form__control form__control_default" data-type="code" maxlength="1" required>
        </div>
        <div class="col-xs-3">
          <input type="text" class="form__control form__control_default" data-type="code" maxlength="1" required>
        </div>
        <div class="col-xs-3">
          <input type="text" class="form__control form__control_default" data-type="code" maxlength="1" required>
        </div>
      </div>
    </div>
    <div class="form__links text-sm">
      <a href="#" class="form__links-item link-secondary">Получить новый код</a>
    </div>
    <div class="form__submit">
      <input type="submit" class="button button_secondary button_block" value="Войти на сайт">
    </div>
    <div class="form__consent-default primary text-sm text-center">Нажимая кнопку «Войти на сайт», я даю свое согласие на обработку моих персональных днных, в соответвии с Федеральным законом от 27.07.2006 года №152-ФЗ</div>
    <div class="form__links text-sm">
      <a href="#modal-login-with-password" class="form__links-item link-secondary" data-element="modal-trigger">Вход на сайт по паролю</a>
      <a href="#" class="form__links-item link-secondary">Не приходит СМС?</a>
    </div>
  </div>
</form>