<nav class="nav" data-component="nav">
    <div class="container">
        <div class="nav__trigger" data-element="nav-trigger">
            Каталог товаров
            <i class="nav__trigger-icon icon-chevron-down"></i>
        </div>
        <ul class="nav__list" data-element="nav-list">
            {% for section in nav %}
                <li class="nav__item" {% if (section.level2) or (section.name == 'Бренды') %}data-component="catalog-nav"{% endif %}>
                    <a href="{% if section.link %}{{ section.link }}{% else %}catalog.html{% endif %}" class="nav__link" data-element="nav-toggle">
                        <i class="nav__link-icon icon-{{section.icon}} {% if section.iconColor %}{{section.iconColor}}{% endif %}"></i>
                        {{ section.name }}&nbsp;<i class="nav__link-toggle icon-chevron-right" {% if (section.level2) or (section.name == 'Бренды') %}data-element="catalog-nav-toggle"{% endif %}></i>
                    </a>
                    {% if section.name == 'Бренды' %}
                      <div class="nav__subnav subnav" data-element="catalog-nav-content" data-perfect-scrollbar>
                          <div class="container">
                            <div class="brands">
                              <div class="brands__section section">
                                <div class="brands__header section-header">
                                  <h2 class="section-header__title h3">Бренды по алфавиту</h2>
                                </div>
                                {% include '_alpha-slider.twig' %}
                                {% include '_alpha-list.twig' with { 'class': 'hidden-sm-down'} %}
                              </div>

                              <div class="brands__section">
                                {% include '_alpha-index-slider.twig' %}
                              </div>

                              <div class="brands__section section">
                                <div class="brands__header section-header">
                                  <h2 class="section-header__title h3">Популярные бренды</h2>
                                </div>

                                {% include '_brands-swiper.twig' with {'swiper': 'brands-nav-swiper'} %}
                              </div>
                            </div>
                          </div>
                      </div>
                    {% endif %}
                    {% if section.level2 %}
                        <div class="nav__subnav subnav" data-element="catalog-nav-content" data-perfect-scrollbar>
                            <div class="container">
                                <ul class="subnav__list">
                                    {% for item in section.level2 %}
                                        <li class="subnav__item">
                                            <a href="catalog-section.html" class="subnav__link">{{ item.name }}&nbsp;<i class="subnav__link-toggle icon-chevron-right"></i></a>
                                            {% if item.level3 %}
                                                {% if item.type == 'hover' %}
                                                    <div class="secnav-wrapper" data-perfect-scrollbar>
                                                        <ul class="subnav__secnav secnav secnav_hover">
                                                            {% for link in item.level3  %}
                                                                <li class="secnav__item"><a href="#" class="secnav__link">{{ link }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>

                                                    {% else %}

                                                    <ul class="subnav__secnav secnav">
                                                        {% for link in item.level3  %}
                                                            <li class="secnav__item"><a href="#" class="secnav__link">{{ link }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>