<div class="news__list row row_md">
  {% for item in news %}
    <div class="news__item col-xs-12 col-sm-6">
      <a href="" class="news-card">
        <div class="news-card__img-placeholder">
          <img src="temp/{{ item.image }}" alt="" class="news-card__img">
        </div>
        <div class="news-card__content">
          <h5 class="news-card__title">{{ item.title }}</h5>
          <div class="news-card__footer">
            <div class="news-card__date">{{ item.date }}</div>
            {% if type == 'sale' %}
              <span class="news-card__more">Подробнее<i class="news-card__more-icon icon-chevron-right"></i></span>
            {% endif %}
          </div>
        </div>
      </a>
    </div>
  {% endfor %}
</div>