<div class="offers__slider row row_md" {% if type %} data-component="offers-slider-lg" {% else %} data-component="offers-slider" {% endif %}>
  {% for i in 1..4 %}
    {% for offer in offers.items|slice(sliceFrom,sliceTo) %}
      <div class="offers__item col slick-slide">
        <div class="offer">
          <a href="#" class="offer__img-placeholder">
            <img src="temp/offers/{{ offer.image }}" alt="{{ offer.title }}" class="offer__img">
            <span class="offer__sale">
              <i class="offer__sale-icon icon-badge"></i>
              <span class="offer__sale-text">20%</span>
            </span>
          </a>
          <div class="offer__content">
            {% if offer.period %}
              <div class="offer__period">{{ offer.period }}</div>
            {% endif %}
            {% if offer.deadline %}
              <div class="offer__period">
                До конца акции:
                <span class="timer" data-deadline="{{ offer.deadline }}" data-component="countdown">
                  <span class="timer__hours"></span>:<span class="timer__minutes"></span>:<span class="timer__seconds"></span>
                </span>
              </div>
            {% endif %}
            <div class="offer__rating-stars rating-stars" data-rate="{{ offer.rating }}">
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
            </div>
            <h6 class="offer__title">{{ offer.title }}</h6>
          </div>
          <div class="offer__order">
            <div class="offer__price">
              <div class="offer__price-value">{{ offer.price }}</div>
              <div class="offer__price-old">{{ offer.priceOld }}</div>
            </div>
            <button class="offer__button button button_secondary" data-font-size="md" data-size="lg">Купить</button>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>