<div class="orders__list">
  {% if type == "history" %}
    {% set statusLabel = "Выполнен" %}
    {% set statusClass = "done" %}
    {% else %}
    {% set statusLabel = "Принят" %}
    {% set statusClass = "current" %}
  {% endif %}
  {% for order in account.orders.list %}
    <div class="orders__item order">
      <div class="order__header">
        <h6 class="order__title">{{ order.title }}</h6>
        <a href="#" class="secondary">Подробнее о заказе</a>
      </div>
      <div class="order__content">
        <div class="order__info">
          {% for detail in order.details %}
            <dl class="order__detail {% if detail.list %}order__detail_block{% endif %}">
              <dt class="order__detail-name">{{ detail.name }}</dt>
              <dd class="order__detail-text">
                {% if detail.text %}
                  {{ detail.text }}
                {% endif %}
              </dd>
            </dl>
          {% endfor %}
        </div>

        {% for detail in order.details %}
          {% if detail.list %}
            <div class="order__list order-list">
              <div class="order-list__header hidden-sm-down">
                <div class="order-list__item">
                  <div class="order-list__content">
                    <div class="order-list__title">Наименование</div>
                    <div class="order-list__amount">Количество</div>
                    <div class="order-list__price">Цена</div>
                  </div>
                </div>
              </div>
              <div class="order-list__items">
                {% for item in detail.list %}
                  <div class="order-list__item">
                    <a href="catalog-item.html" class="order-list__img-placeholder">
                      <img src="temp/orders/{{ item.image }}" alt="" class="order-list__img">
                    </a>
                    <div class="order-list__content">
                      <div class="order-list__title">
                        <a href="catalog-item.html" class="secondary">{{ item.name }}</a>
                      </div>
                      <div class="order-list__amount">
                        {{ item.amount }}
                      </div>
                      <div class="order-list__price">
                        {{ item.price }}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
        {% endfor %}

        <div class="order__status">
          <div class="order__status-bar order__status-bar_{{ statusClass }}">
            <span class="order__status-label text-md">{{ statusLabel }}</span>
            <span class="order__status-date">{{ order.date }}</span>
          </div>
          <div class="order__action">
            {% if type == "current" %}
              <button type="button" class="order__action-cancel button button_outline_secondary button_block" data-size="lg">Отменить заказ</button>
            {% endif %}
            <button type="button" class="order__action-repeat button button_secondary button_block" data-size="lg">Повторить заказ</button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>