<ul class="pagination__list">
  {% for i in 1..4 %}
    <li class="pagination__item">
      <a href="#" class="pagination__link {% if loop.first %} active {% endif %}">{{ i }}</a>
    </li>
  {% endfor %}
  <li class="pagination__item">
    ...
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link">12</a>
  </li>
  <li class="pagination__item">
    <a href="#" class="pagination__link"><i class="pagination__icon icon-chevron-right"></i></a>
  </li>
</ul>
