<div class="pagination">
  {% include '_pagination-list.twig' %}
</div>

{% if sorting != false %}
  <div class="sorting hidden-md-down">
    <div class="sorting__label">Показать по:</div>
    <div class="pagination">
      <ul class="pagination__list">
        {% for number in [10, 20, 50] %}
          <li class="pagination__item">
            <a href="#" class="pagination__link {% if loop.index == 2 %} active {% endif %}">{{ number }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}