<div class="pickup tabs" data-component="tabs">
  <h3 class="pickup__title">Выберите пункт самовывоза</h3>

  <div class="pickup__tabs-list tabs__list button-group" role="tablist">
      <a href="#pickup-map" class="tabs__link button button_outline_primary active" data-size="lg" role="tab">На карте</a>
      <a href="#pickup-list" class="tabs__link button button_outline_primary" data-size="lg" role="tab">Из списка</a>
    </div>

  <div class="pickup__select-wrapper">
    <select class="pickup__select" data-element="pickup-select">
      <option data-image="/temp/pickup/2.png">Магизу - от 342 руб.</option>
      <option data-image="/temp/pickup/2.png">Магизу - от 342 руб.</option>
      <option data-image="/temp/pickup/2.png">Магизу - от 342 руб.</option>
    </select>
  </div>

  <div class="tabs__content">
    <div class="tabs__tab active" role="tabpanel" data-id="pickup-map">
      <div class="pickup__search-form form__group">
        <div class="input-group" data-icon-pos="right">
          <input type="text" class="form__control form__control_lg form__control_default" placeholder="Поиск адреса">
          <i class="input-group__icon icon-search"></i>
        </div>
      </div>
      <div class="pickup__map" id="map"></div>
    </div>

    <div class="tabs__tab" role="tabpanel" data-id="pickup-list">
      <div class="pickup__list-wrapper" data-perfect-scrollbar>
        <ul class="pickup__list">
          {% for location in pickup.list %}
            <li class="pickup__location">
              <label class="pickup__control custom-control custom-radio">
                <input type="radio" class="custom-control__input" name="delivery-type" value="loaction-type" {% if loop.index == 3 %} checked {% endif %} tabindex="10{{ loop.index }}">
                <span class="pickup__checkbox custom-control__indicator"></span>
                <div class="pickup__company">
                  <img src="temp/pickup/{{ location.logo }}" alt="" class="pickup__company-logo">
                  <span class="pickup__company-name">{{ location.name }}</span>
                </div>
                <div class="pickup__address">{{ location.address }} <a href="#pickup-point-modal" class="link-secondary link-underline" data-element="modal-trigger">Подробнее</a></div>
                <div class="pickup__period">{{ location.period }}</div>
                <div class="pickup__price">{{ location.price }}</div>
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
