<div class="product__comments comments">
  <div class="empty-block text-center form_bg-green" data-component="empty-reviews">
    <p class="empty-block__description">К сожалению, у данного товара пока еще нет отзывов.</p>
    <h3 class="empty-block__title">Ваш отзыв может стать первым!</h3>
    <button class="empty-block__button button button_secondary" data-element="revew-form-toggle">Оставить первый отзыв</button>
  </div>

  <form action="#" class="comments__form form form_bg-green hidden" data-form="review-form" id="review-form" data-validate="parsley">
    <h3 class="comments__title">Оставьте свой отзыв о товаре</h3>

    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="form__group">
          <input type="text" class="form__control" placeholder="Ваше имя *" required>
        </div>

        <div class="form__rating rating rating_reversed">
          <span class="rating__label-md">Оцените товар:</span>

          <div class="rating__stars rating-stars rating-stars_form" data-size="24">
            <input type="radio" class="rating-stars__input" id="rating-input-1-5" name="rating-input-1">
            <label for="rating-input-1-5" class="rating-stars__star icon-star" title="5"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-4" name="rating-input-1" checked>
            <label for="rating-input-1-4" class="rating-stars__star icon-star" title="4"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-3" name="rating-input-1">
            <label for="rating-input-1-3" class="rating-stars__star icon-star" title="3"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-2" name="rating-input-1">
            <label for="rating-input-1-2" class="rating-stars__star icon-star" title="2"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-1" name="rating-input-1">
            <label for="rating-input-1-1" class="rating-stars__star icon-star" title="1"></label>
          </div>
        </div>

        <div class="form__group">
          <label class="form__label form__label_lg"><i class="icon icon-plus"></i>Достоинства</label>
          <textarea rows="4" class="form__control" placeholder="Что вам понравилось"></textarea>
        </div>

        <div class="form__group">
          <label class="form__label form__label_lg"><i class="icon icon-minus"></i>Недостатки</label>
          <textarea rows="6" class="form__control" placeholder="Ваш отзыв о товаре *" required></textarea>
        </div>

        <div class="form__submit text-left">
          <input type="submit" class="button button_secondary" value="Оставить отзыв">
        </div>
      </div>
    </div>
  </form>
</div>