<div class="product__comments comments">
  <a href="#review-form" class="comments__button button button_outline_secondary" data-scroll>Оставить свой отзыв о товаре</a>

  <div class="comments__list">
    <div class="comments__item">
      <div class="comment">
        <header class="comment__header">
          <div class="comment__author h5">Ольга</div>
          <div class="comment__date">23.03.2020 13:10:27</div>
        </header>
        <div class="comment__content">
          <p>
            <strong>Достоинства:</strong><br>
            Корм очень нравится нашей собаке
          </p>

          <p>
            <strong>Недостатки:</strong><br>
            Кажется у нее развилась зависимость от этого корма
          </p>
        </div>
      </div>
    </div>
    <div class="comments__item">
      <div class="comment">
        <header class="comment__header">
          <div class="comment__author h5">Алекс</div>
          <div class="comment__date">23.03.2020 13:10:27</div>
        </header>
        <div class="comment__content">
          <p>На запах мне этоткорм нравится, как уплетает его Боня (Ирландский терьер ) тоже, стул в норме.</p>
        </div>
      </div>
    </div>
  </div>

  <form action="#" class="comments__form form form_bg-green" data-form="review-form" id="review-form" data-validate="parsley">
    <h3 class="comments__title">Оставьте свой отзыв о товаре</h3>

    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div class="form__group">
          <input type="text" class="form__control" placeholder="Ваше имя *" required>
        </div>

        <div class="form__rating rating rating_reversed">
          <span class="rating__label-md">Оцените товар:</span>

          <div class="rating__stars rating-stars rating-stars_form" data-size="24">
            <input type="radio" class="rating-stars__input" id="rating-input-1-5" name="rating-input-1">
            <label for="rating-input-1-5" class="rating-stars__star icon-star" title="5"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-4" name="rating-input-1" checked>
            <label for="rating-input-1-4" class="rating-stars__star icon-star" title="4"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-3" name="rating-input-1">
            <label for="rating-input-1-3" class="rating-stars__star icon-star" title="3"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-2" name="rating-input-1">
            <label for="rating-input-1-2" class="rating-stars__star icon-star" title="2"></label>
            <input type="radio" class="rating-stars__input" id="rating-input-1-1" name="rating-input-1">
            <label for="rating-input-1-1" class="rating-stars__star icon-star" title="1"></label>
          </div>
        </div>

        <div class="form__group">
          <label class="form__label form__label_lg"><i class="icon icon-plus"></i>Достоинства</label>
          <textarea rows="4" class="form__control" placeholder="Что вам понравилось"></textarea>
        </div>

        <div class="form__group">
          <label class="form__label form__label_lg"><i class="icon icon-minus"></i>Недостатки</label>
          <textarea rows="6" class="form__control" placeholder="Ваш отзыв о товаре *" required></textarea>
        </div>

        <div class="form__submit text-left">
          <input type="submit" class="button button_secondary" value="Оставить отзыв">
        </div>
      </div>
    </div>
  </form>
</div>