<div class="product__description collapsed column-text" data-component="description">
  <div>
    <!--bb-text-->
    ПОЛНОРАЦИОННЫЙ БИОЛОГИЧЕСКИ СООТВЕТСТВУЮЩИЙ КОРМ ДЛЯ КОШЕК ВСЕХ ПОРОД И ВОЗРАСТОВ.<br>
    <br>
    Корма Biologically Appropriate («биологически соответствующий») — это отражение рациона из свежего и разнообразного мяса, которым должны питаться кошки.<br>
    <br>
    85 % МЯСНЫХ ИНГРЕДИЕНТОВ<br>
    15 % ОВОЩЕЙ, ФРУКТОВ, ФИТОКОМПОНЕНТОВ<br>
    0 % ЗЕРНОВЫХ, КАРТОФЕЛЯ, ТАПИОКИ, РАСТИТЕЛЬНОГО БЕЛКА.<br>
    <br>
    Мы кормим животное вовсе не для того, чтобы на время утолить его голод и побаловать питомца вкусненьким. Настоящая, правильная пища поддерживает здоровье, обеспечивает кошку всеми необходимыми нутриентами, витаминами, минералами, как это происходит в естественных условиях обитания вида. Даже небольшой дисбаланс может привести к катастрофическим последствиям!<br>
    Кошки — хищники, а это значит, что основными компонентами их естественного рациона являются различные виды мяса и рыбы с высоким содержанием животного протеина и малым количеством углеводов. Сложно представить себе, чтобы в дикой природе представители семейства кошачьих питались кашами или употребляли значительное количество овощей, фруктов и трав.<br>
    <br>
    В большинстве коммерческих кормов основная доля приходится на зерновые культуры (белый рис, кукуруза, пшеница, ячмень и др.), которые увеличивают содержание углеводов в корме до 40 – 60 %. В организме животного углеводы превращаются в глюкозу, что увеличивает уровень сахара в крови. Сахар, в свою очередь, легко превращается в жир, поэтому углеводы зачастую провоцируют ожирение, а также другие серьёзные заболевания (инсулиновая резистенция, диабет 2 типа, пищевые аллергии и др.). Именно поэтому в корме ORIJEN CAT &amp; KITTEN содержится 85 % мяса, 15 % овощей, фруктов и фитокомпонентов и НЕ СОДЕРЖАТСЯ зерновые культуры.<br>
    <br>
    В отличие от любых других сухих рационов, 2/3 мяса в кормах ORIJEN — свежее или сырое, что обеспечивает поступление полезных веществ в их наиболее питательной форме и придаёт вкус, который инстинктивно нравится кошкам.<br>
    <br>
    Все кошки имеют биологическую потребность в рационе, богатом разными видами мяса с высоким содержанием белка.<br>
    Поэтому в корме ORIJEN CAT &amp; KITTEN — непревзойденное сочетание мяса выращенных на свободном выгуле цыплят и индейки, выловленной на воле рыбы, а также свежих яиц несущихся в гнёздах кур. Все ингредиенты доставляются свежими или сырыми в соотношении WholePrey и не содержат ГМО, растительного белка и высокогликемических углеводов, которые не входят в природный рацион кошек.<br>
    Технология WholePray - это значит, что, помимо мяса, формулы содержат внутренности и хрящи в естественном соотношении, что обогащает их питательными веществами и исключает необходимость добавления синтетических витаминов и аминокислот.<br>
    <br>
    Включенная в состав сублимированная печень привлечет даже самых привередливых питомцев.<br>
    <br>
    Дегидрирование входящих в состав корма птицы и рыбы происходит при сниженной температуре 90 С, что позволяет во время процесса сохранить больше витаминов и минералов.<br>
    <br>
    Корма ORIJEN приготовлены исключительно на отмеченной наградами фабрике NorthStar® из свежих, проверенных и качественных ингредиентов.<br>
    Все эти ингредиенты доставляются СВЕЖИМИ КАЖДЫЙ ДЕНЬ, так что они никогда не подвергаются заморозке и не содержат консервантов.<br>
    <br>
    Состав:<br>
    Свежее мясо цыплёнка – 18 %, свежее мясо индейки – 7 %, свежие цельные яйца – 5 %, свежая печень цыплёнка – 5 %, свежая цельная камбала – 4 %, свежая цельная сельдь – 4 %, свежая печень индейки – 4 %, свежее сердце цыплёнка – 4 %, свежее сердце индейки – 4 %, свежие шеи цыплёнка – 4 %, цыплёнок дегидратированный – 4 %, индейка дегидратированная – 4 %, цельная скумбрия дегидратированная – 4 %, цельная сардина дегидратированная – 4 %, цельная сельдь дегидратированная – 4 %, куриный жир – 3 %, красная чечевица, зелёный горошек, зелёная чечевица, нут, жёлтый горошек, клетчатка из чечевицы, фасоль, цельные флотские бобы, куриные хрящи дегидратированные – 1 %, жир сельди – 1 %, печень цыплёнка сублимированная, печень индейки сублимированная, свежая столовая тыква, свежая мускатная тыква, свежий цукини, свежий пастернак, свежая морковь, свежие яблоки, свежие груши, свежая листовая капуста, свежий шпинат, свежие листья свёклы, свежая зелень репы, бурая водоросль, цельная клюква, цельная черника, цельные ягоды ирги ольхолистной, корень цикория, куркума, расторопша, корень лопуха большого, цветы лаванды, корень алтея, плоды шиповника.<br>
    <br>
    Добавки: хелат цинка - 100 мг, хелат меди - 11 мг, холина хлорид - 1200 мг, сухой продукт ферментации Enterococcus faecium.<br>
    <br>
    Гарантированный анализ: <br>
    Сырой протеин (мин.) – 40 %<br>
    Сырой жир (мин.) – 20 %<br>
    Сырая Зола (макс.) – 8 %<br>
    Сырая клетчатка (макс.) – 3 %<br>
    Кальций (мин.) – 1,4 %<br>
    Фосфор (мин.) – 1,1 %<br>
    Омега-6 жирные кислоты (мин.) – 3,1 %<br>
    Омега-3 жирные кислоты (мин.) – 1 %<br>
    ДКГ (мин.) – 0,3 %<br>
    ЭПК (мин.) – 0,2 %<br>
    Таурин – 0,2 %<br>
    Магний – 0,1 %<br>
    <br>
    Метаболическая энергия: 4 160 кКал/кг (540 кКал на стакан объёмом 250 мл/120 гр), при этом 39 % калорий организм получает из белка, 18 % — из фруктов и овощей и 43 % — из жира.<br>
    <br>
    Норма кормления: <br>
    Ваша кошка уникальна, поэтому нормы кормления могут варьироваться. Используйте таблицу на упаковке как ориентир. Следите за упитанностью Вашего питомца и регулируйте норму соответственно. Кормите Вашего питомца два раза в день и обеспечьте ему постоянный доступ к чистой, свежей воде.<br>
    <br>
    Суточные нормы кормления для котят:<br>
    С 5 до 20 недель – суточная норма 60 грамм корма на 1 кг веса котенка<br>
    С 20 до 52 недель – суточная норма 30 грамм корма на 1 кг веса котенка<br>
    С 52-ой недели – кормите согласно дозировке для взрослых кошек.<br>
    Беременным кошкам необходимо увеличить суточную норму корма на 25 %. Кормящим кошкам необходимо предоставить питание в свободном доступе.<br>
    <br>
    Страна-производитель: Канада.<br>
    <br>
    Информация о составе и ингредиентах, цветовом решении, технических и иных характеристиках, стране-изготовителе, внешнем виде и комплекте поставки товара носит справочный характер и основана на последних доступных к моменту публикации сведениях.<br>
    <br>
    Доставка данного товара осуществляется во все регионы РФ.
    <!--/bb-text-->
  </div>
</div>
<div class="product__description-more hidden-lg-up"><a href="#" class="link-secondary link-pseudo" data-element="description-toggle">Показать еще</a></div>
