<div class="product__comments comments">
  <a href="#question-form" class="comments__button button button_outline_secondary" data-scroll>Задать свой вопрос</a>

  <div class="comments__list">
    <div class="comments__item">
      <div class="comment">
        <header class="comment__header">
          <div class="comment__author h5">Александр</div>
          <div class="comment__date">23.03.2020 13:10:27</div>
        </header>
        <div class="comment__content">
          <p>Добрый день! Как понять 0,5 + 0,3???</p>
        </div>
      </div>
      <div class="comment comment_answer">
        <header class="comment__header">
          <div class="comment__author h5">MAGIZOO</div>
          <div class="comment__date">23.03.2020 13:10:27</div>
        </header>
        <div class="comment__content">
          <p>Это означает, что вы покупаете комплект состоящий из упаковки 0,5 + 0,3кг. Что дает вам скидку на два этих продукта</p>
        </div>
      </div>
    </div>
  </div>

  <form action="#" class="comments__form form form_bg-green" data-form="question-form" id="question-form" data-validate="parsley">
    <h3 class="comments__title">Задать вопрос</h3>

    <div class="row">
      <div class="col-xs-12 col-lg-8">
        <div class="row row_md">
          <div class="col-xs-12 col-md-6">
            <div class="form__group">
              <input type="text" class="form__control" placeholder="Ваше имя *" required>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form__group">
              <input type="email" class="form__control" placeholder="Эл. почта *" required>
            </div>
          </div>
        </div>

        <div class="form__group">
          <textarea rows="6" class="form__control" placeholder="Вопрос *" required></textarea>
        </div>

        <div class="form__consent">
          <label class="custom-control custom-checkbox" data-size="sm">
            <input type="checkbox" class="custom-control__input" name="agreement" value="1" required>
            <span class="custom-control__indicator"></span>
            <span>Я согласен на обработку персональных данных</span>
          </label>
        </div>

        <div class="form__submit row row-xs-center row_md row_nowrap">
          <div class="col">
            <input type="submit" class="button button_secondary" value="Отправить">
          </div>
          <div class="col form__email-subscribe">
            <label class="custom-control custom-checkbox" data-size="sm">
              <input type="checkbox" class="custom-control__input" name="subscribe" value="1" checked>
              <span class="custom-control__indicator"></span>
              <span>Получать ответы на почту</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>