<div class="comments">
  <div class="reviews__list comments__list">
    {% for i in 0..1 %}
      {% for review in about.reviews %}
        <div class="reviews__item comments__item {% if i > 0 %}hidden{% endif %}" {% if i > 0 %} data-element="show-more-item" {% endif %}>
          <div class="comment row">
            <div class="comment__avatar col-xs-12 col-md-3 col-lg-2">
              <img src="/temp/avatars/{{ loop.index }}.jpg" alt="" class="comment__avatar-img">
            </div>
            <div class="comment__body col-xs-12 col-md-8 col-lg-9">
              <header class="comment__header">
                <div class="comment__author h5">{{ review.name }}</div>
                <div class="comment__date">{{ review.meta }}</div>
              </header>
              <div class="comment__content text-md">{{ review.text }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>