<div class="catalog__list row row_md" data-component="catalog-list" data-slice-md="3" data-slice-lg="3" data-slice-xl="4">
  {% for i in 1..2 %}
    {% for product in catalog.items %}
      <div class="catalog__item col-xs-12 col-sm-6 col-md-4 col-xl-4">
        <div class="item" data-element="item">
          <div class="item__header">
            <button class="item__fav icon-favourite" title="В избранное" data-element="item-fav" {% if loop.index is odd %}data-state="fav"{% endif %}></button>
            <div class="item__img-placeholder">
              <a href="catalog-item.html"><img src="temp/catalog/items/1.png" alt="{{ product.name}}" class="item__img"></a>
              <a href="#quick-view-modal" class="item__quick-view button button_secondary" data-size="xs" data-element="product-modal-trigger">Быстрый просмотр</a>
              <span class="item__badge button button_secondary button_rounded" data-size="sm" data-font-size="lg">5,4 <small>кг</small></span>
            </div>
            <div class="item__rating-stars rating-stars" data-rate="{{ product.rating }}">
              {% for s in 1..5 %}
                <i class="rating-stars__star icon-star"></i>
              {% endfor %}
            </div>
            <h6 class="item__title" data-element="item-title"><a href="catalog-item.html" class="link-base" title="{{ product.title }}">{{ product.title }}</a></h6>
          </div>

          <div class="item__offers item-offers">
            <div class="item-offers__list" data-items="{{ maxItems }}">
              {% for offer in product.offers %}
                <div class="item-offers__item item-offer {% if offer.note %}muted{% endif %}">
                  <div class="item-offer__title">{{ offer.title }}</div>
                  {% if offer.note %}
                    <a href="#subscribe-form" class="item-offer__note link-inherit link-underline" data-element="modal-trigger">{{ offer.note }}</a>
                  {% endif %}
                  <div class="item-offer__price">
                    {% if offer.priceOld %}
                      <div class="item-offer__price-old price-old">{{ offer.priceOld }}</div>
                    {% endif %}
                    <div class="item-offer__price-value {% if offer.priceOld %}secondary{% endif %}">{{ offer.price }}</div>
                  </div>
                  {% if offer.note %}
                    <button class="item-offer__order-icon icon-delivery" title="Заказать"></button>
                    {% else %}
                    <button class="item-offer__order-icon icon-shopping-cart-2" title="Заказать"></button>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% if product.offers|length > maxItems %}
            <div class="item-offers__more">
              <a href="#" class="item-offers__more-link link-secondary"><i class="item-offers__more-icon icon-reorder"></i>Показать все предложения</a>
            </div>
          {% endif %}

          {% if footer == 'true' %}
            <div class="item__footer">
              <div class="item__amount-form amount-form" data-component="amount-form">
                <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                <input type="text" class="amount-form__input form__control" value="1" data-element="amount-input" data-min="0">
                <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
              </div>

              <button class="item__footer-button button button_secondary" data-size="xs">Купить</a>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
</div>