<ul class="tabs__list row row_md row-h-center" role="tablist">
  {% for section in about.staff %}
    <li class="tabs__item col" role="tab">
      <a href="#{{ section.id }}" class="tabs__link {% if loop.first %}active{% endif %}" role="tab">{{ section.title }}</a>
    </li>
  {% endfor %}
</ul>

<div class="tabs__content">
  {% for section in about.staff %}
    <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="{{ section.id }}">
      <div class="staff__list row row-h-center">
      {% for item in section.list %}
        <div class="staff__item col">
          <div class="employee">
            <img src="/temp/staff/{{ item.image }}.jpg" alt="{{ item.name }}" class="employee__img">
            <div class="employee__name h5">{{ item.name }}</div>
            <p class="employee__info">{{ item.job }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    </div>
  {% endfor %}
</div>