<section class="subscription section">
  <div class="container">
    <div class="row row_md row-md-center">
      <div class="col-xs-12 col-md-6">
        <h2 class="subscription__title">Получите скидку до&nbsp;5% на&nbsp;первую покупку</h2>
      </div>
      <div class="col-xs-12 col-md-6">
        <form action="#" class="subscription__form form">
          <div class="row row_sm">
            <div class="col-xs-12 col-xl-6">
              <div class="form__group">
                <input type="text" class="form__control form__control_white" placeholder="Введите ваш Email">
              </div>
            </div>
            <div class="col-xs-12 col-xl-6">
              <div class="form__group">
                <input type="submit" class="button button_secondary button_block" value="Подписаться">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>