<div class="tags {% if class %} {{class}} {% endif %}">
  {% for tag in tags %}
    <a href="{{ tag.link }}" class="tags__item {% if loop.index == 3 %} active {% endif %}">{{ tag.name }}</a>
  {% endfor %}
</div>