<div class="useful__list" data-component="useful-slider">
  {% for i in 0..1 %}
    {% for link in useful %}
      <a href="#" class="useful__link slick-slide">
        <i class="useful__link-icon icon-{{ link.icon }}"></i>
        <div class="useful__link-text">{{ link.name }}</div>
      </a>
    {% endfor %}
  {% endfor %}
</div>