{% if class == 'sm' %}
  <div class="yandex-market yandex-market_sm {% if responsiveClass %} {{ responsiveClass }} {% endif %}">
    <img src="assets/i/logo-yandex-market.png" alt="Яндекс Маркет" class="yandex-market__img">
    <div class="yandex-market__rating-stars rating-stars" data-rate="5" data-size="22" data-type="market">
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
    </div>
    <a href="https://market.yandex.ru/shop--magizoo-ru/245072/reviews" target="_blank" class="yandex-market__button button button_outline_default button_block">Читать отзывы</a>
  </div>
  {% elseif class == 'inline' %}
    <a href="https://market.yandex.ru/shop--magizoo-ru/245072/reviews" target="_blank" class="yandex-market yandex-market_inline {% if responsiveClass %} {{ responsiveClass }} {% endif %}">
      <img src="assets/i/logo-yandex-market.png" alt="Яндекс Маркет" class="yandex-market__img">
      <div class="yandex-market__rating-stars rating-stars" data-rate="5" data-size="18" data-type="market">
        <i class="rating-stars__star icon-market-star"></i>
        <i class="rating-stars__star icon-market-star"></i>
        <i class="rating-stars__star icon-market-star"></i>
        <i class="rating-stars__star icon-market-star"></i>
        <i class="rating-stars__star icon-market-star"></i>
      </div>
    </a>
  {% else %}
  <div class="yandex-market {% if responsiveClass %} {{ responsiveClass }} {% endif %}">
    <img src="assets/i/logo-yandex-market.png" alt="Яндекс Маркет" class="yandex-market__img">
    <div class="yandex-market__rating-stars rating-stars" data-rate="5" data-size="24" data-type="market">
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
      <i class="rating-stars__star icon-market-star"></i>
    </div>
    <a href="https://market.yandex.ru/shop--magizoo-ru/245072/reviews" target="_blank" class="yandex-market__button button button_outline_default button_block" data-size="lg">Читать отзывы</a>
  </div>
{% endif %}