// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background) {
    $active-background: lighten($background, 5%);
    $active-border: lighten($background, 5%);
    $active-color: $color;

    color: $color;
    background-color: $background;
    border-color: $background;

    @include hover {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &:focus {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &:active {
        color: $active-color;
        background-color: $active-background;
        border-color: $active-border;
        // Remove the gradient for the pressed/active state
        background-image: none;
    }

    &.disabled,
    &:disabled {
        &:focus {
            background-color: $background;
            border-color: $background;
        }
        @include hover {
            background-color: $background;
            border-color: $background;
        }
    }
}

@mixin button-outline-variant($font-color, $font-active-color, $color) {
    color: $font-color;
    border-color: $color;
    $active-background: $color;
    $active-border: $color;

    &:focus,
    &:active {
        color: $font-active-color;
        background-color: $active-background;
        border-color: $active-border;
    }
    @include hover {
        color: $font-active-color;
        background-color: $active-background;
        border-color: $active-border;
    }

    &.disabled,
    &:disabled {
        &:focus{
            border-color: lighten($color, 20%);
        }
        @include hover {
            border-color: lighten($color, 20%);
        }
    }
}

@mixin button-grd-variant($color, $background-light, $background, $background-hover) {
    color: $color;
    background-color: $background;
    background-image:    -moz-linear-gradient(top, $background-light, $background); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, $background-light, $background); /* Chrome10-25,Safari5.1-6 */
    background-image:         linear-gradient(to bottom, $background-light, $background); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$background-light', endColorstr='$background',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @include hover-focus-active {
        background: $background;
    }
}

// Button sizes
@mixin button-size($padding-x: null, $font-size: null, $line-height: null) {
    padding: 0 $padding-x;
    @if ($font-size) {
        font-size: $font-size;
    }
    @if ($line-height) {
        line-height: $line-height;
    }
}