@mixin card() {
  background-color: $white;
  @include shadow();
  transition: .25s ease;

  @include hover-focus {
    @include shadow-hover();
  }
}

@mixin card-radius($border-radius: $border-radius) {
  background-color: $white;
  border-radius: $border-radius;
  @include shadow();
  transition: .25s ease;

  @include hover-focus {
    @include shadow-hover();
  }
}

@mixin card-border($border-radius: $border-radius) {
  background-color: $white;
  border: 1px solid $gray;
  border-radius: $border-radius;
  transition: .25s ease;

  @include hover-focus {
    @include shadow();
  }
}
