.catalog-sections {
    &__item {
        margin-bottom: $gutter;
    }

    &__content {
        margin-top: 39px;
    }

    @include media-breakpoint-up(lg) {
        &:not(:first-child) {
            padding-top: 33px;
        }

        &__item {
            margin-bottom: 20px;
        }

        &_popular & {
            &__item {
                max-width: 20%;
                flex: 0 0 20%;
            }
        }
    }
}