#ancor_product {
    position: relative;
    top: -78px;
}

.catalog-card {
    position: relative;
    border: 1px solid $gray-3;
    border-radius: 4px;
    background-color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .25s ease-in-out;
    color: $base-color;
    padding: 11px 10px 13px;
    text-align: center;
    width: 100%;
    height: 100%;

    &__img {
        display: block;
        @include size(80px);
        margin: 0 auto 12px;
    }

    &__title {
        @include em-line-height($font-size-h6, 18px);
        margin-bottom: 5px;
    }

    &__text {
        @include font(12px, 15px);
        color: $gray-6;
    }

    @include hover-focus {
        border-color: $white;
        @include shadow();

        .catalog-card__title {
            color: $secondary;
        }
    }

    @include media-breakpoint-up(md) {
        padding: 24px $gutter 17px;

        &__img {
            @include size(115px);
            margin-bottom: $gutter;
        }

        &__title {
            margin-bottom: 2px;
        }

        &__text {
            @include font(14px, 18px);
        }
    }
}