.catalog {
    &__slider {
        &.section__slider {
            &:before {
                left: -42px;
            }

            &:after {
                right: -42px;
            }

            .slick-list {
                margin-bottom: -260px;
                margin-left: -40px;
                margin-right: -40px;
                padding-left: 40px;
                padding-right: 40px;
                padding-bottom: 260px;
                z-index: 5;
                pointer-events: none;

                @include hover-focus {
                    z-index: 7;
                }
            }

            .slick-track {
                pointer-events: all;
            }
        }

        .slick-dots {
            margin-top: 28px;
            z-index: 6;
        }
    }

    &__item {
        display: flex;
        position: relative;
    }

    &__list {
        .catalog__item {
            margin-bottom: $gutter;
            position: relative;
        }
    }

    &__list {
        &[data-type="compact"] {
            padding-bottom: 1px;

            .catalog__item {
                margin-bottom: -1px;

                &:nth-child(1) {
                    order: -5;
                }

                &:nth-child(2) {
                    order: -3;
                }

                &:nth-child(3) {
                    order: -2;
                }

                &:nth-child(4) {
                    order: -1;
                }
            }
        }
    }

    &__banner {
        border: 1px solid $gray-3;
        width: 100%;
        flex: 0 0 100%;
        margin-top: 32px;
        margin-bottom: 32px;
        order: -4;

        img {
            display: block;
            margin: 0 auto;
        }
    }

    &__brands {
        margin-bottom: 30px;
    }

    &__page-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        border-top: 1px solid $gray-3;
        padding-top: 24px;
        margin-bottom: 32px;
        text-align: left;

        &_bottom {
            border-top: 0;
            margin-bottom: 0;
        }
    }

    &__sorting {
        flex: 1;
        max-width: 60%;
        padding-right: $grid-gutter-width;
    }

    &__paginator {
        padding-top: 24px;
    }

    &__filters-toggle {
        margin-left: auto;
        padding-left: 11px;
        padding-right: 13px;
    }

    &__sections {
        margin-bottom: 26px;
    }

    @include media-breakpoint-up(sm) {
        &__list {
            &[data-type="compact"] {
                .catalog__item {
                    &:nth-child(1) {
                        order: -5;
                    }

                    &:nth-child(2) {
                        order: -4;
                    }

                    &:nth-child(3) {
                        order: -2;
                    }

                    &:nth-child(4) {
                        order: -1;
                    }
                }
            }
        }

        &__banner {
            order: -3;
        }

        &__sorting {
            max-width: 70%;
        }
    }

    @include media-breakpoint-up(md) {
        &__slider {
            .slick-dots {
                margin-top: 41px;
            }
        }

        &__list[data-type="compact"] {
            .catalog__item {
                &:nth-child(1) {
                    order: -5;
                }

                &:nth-child(2) {
                    order: -4;
                }

                &:nth-child(3) {
                    order: -3;
                }

                &:nth-child(4) {
                    order: -1;
                }
            }
        }

        &__banner {
            order: -2;
        }
    }

    @include media-breakpoint-up(lg) {
        & + & {
            padding-top: 18px;
        }

        &__list {
            .catalog__item {
                margin-bottom: 24px;
            }

            &[data-type="compact"][data-view="list"] {
                padding-bottom: 0;
                margin-bottom: 2px;

                .catalog__item {
                    margin-bottom: $gutter;
                    height: auto !important;

                    &:nth-child(1),
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        order: initial;
                    }
                }
            }
        }

        &__brands {
            margin-bottom: 22px;
        }

        &__filters-toggle {
            display: none;
        }

        &__page-nav {
            flex-wrap: nowrap;
        }

        &__sorting {
            max-width: none; 

            .catalog__page-nav_bottom & {
                opacity: 0;
            }
        }

        &__pagination {
            margin-left: auto;
            margin-right: auto;
        }

        &__view-type {
            margin-left: auto;
            align-self: center;
        }

        &__sections {
            margin-bottom: 52px;
        }
    }

    @include media-breakpoint-up(xl) {
        &__slider {
            &.section__slider {
                &:before {
                    left: -42px;
                }

                &:after {
                    right: -42px;
                }
            }
        }

        &__list {
            &[data-type="compact"]:not([data-view="list"]) {
                margin-bottom: 25px;

                .catalog__item {
                    &:nth-child(1) {
                        order: -5;
                    }

                    &:nth-child(2) {
                        order: -4;
                    }

                    &:nth-child(3) {
                        order: -3;
                    }

                    &:nth-child(4) {
                        order: -2;
                    }
                }
            }
        }

        &__banner {
            order: -1;
        }
    }
}