.categories {
    &__section {
        @include margin-bottom(11px);
    }

    &__list {
        border-bottom: 1px solid $gray-3;
        padding-bottom: 10px;
    }

    @include media-breakpoint-up(lg) {
        &__section {
            margin-bottom: 56px;
        }

        &__list {
            padding-bottom: 77px;
        }
    }
}
