.category {
    &__header {
        display: flex;
        align-items: center;
        border: 1px solid $gray-3;
        border-radius: $border-radius;
        padding: 15px $gutter;
        margin-bottom: 21px;

        &-icon {
            max-width: 56px;
            flex: 0 0 56px;
            font-size: 56px;
            margin-right: $gutter * 2;
            transition: .25s ease-in-out;
            color: $info;
        }

        &-title {
            margin-bottom: 0;
        }

        @include hover-focus {
            text-decoration: none;
            color: $secondary;

            .category__header-icon {
                color: $secondary;
            }
        }
    }

    &__section {
        margin-bottom: 37px;

        &-title {
            margin-bottom: 12px;
            color: $secondary-text;

            a {
                color: inherit;

                @include hover-focus {
                    color: $secondary;
                }
            }
        }
    }

    &__list {
        @include list-unstyled;

        &-item {
            @include margin-bottom(7px);
        }
    }

    @include media-breakpoint-up(lg) {
        &__header {
            flex-direction: column;
            justify-content: center;
            @include size(228px, 180px);
            padding: 15px $gutter;
            margin-bottom: 0;

            &-icon {
                @include size(72px);
                font-size: 72px;
                flex: 0;
                margin-right: 0;
                margin-bottom: 23px;
            }
        }

        &__section {
            margin-bottom: 0;
        }
    }
}
