.item-offers {
    flex: 1;
    display: flex;
    flex-direction: column;

    &__list {
        border-bottom: 1px solid $gray;
        overflow: hidden;
        margin-bottom: -1px;

        .catalog__slider & {
            &[data-items="3"] {
                max-height: 121px;
            }

            &[data-items="4"] {
                max-height: 161px;
            }

            &[data-items="5"] {
                max-height: 201px;
            }
        }
    }

    &__more {
        @include font(13px, 15px);
        padding: 11px $gutter;
        margin-top: auto;

        &-link {
            text-align: left;
            white-space: nowrap;
            padding: 0;
            outline: 0;
            border: 0;
            background: none;
            user-select: none;
            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;
        }

        &-icon {
            font-size: 16px;
            margin-right: 12px;
            top: -1px;
        }
    }

    @include media-breakpoint-up(sm) {
        &__list {
            .catalog__list & {
                &[data-items="3"] {
                    max-height: 121px;
                }

                &[data-items="4"] {
                    max-height: 161px;
                }

                &[data-items="5"] {
                    max-height: 201px;
                }
            }
        }
    }
}