.item-mini {
    border: 1px solid $gray;
    border-radius: $border-radius;
    min-width: 100%;
    position: relative;
    transition: box-shadow .25s ease-in-out;
    padding: $gutter;
    position: relative;

    &__fav {
        position: absolute;
        top: $gutter;
        right: $gutter;
        @include size(24px);
        color: $gray-3;
        font-size: 24px;
        transition: color .25s ease-in-out;
        cursor: pointer;
        z-index: 10;

        &[data-state="fav"] {
            color: $secondary;
        }
    }

    &__img-placeholder {
        height: 262px;
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 8px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
    }

    &__rating-stars {
        margin-bottom: $gutter / 2;
        width: 100%;
    }

    &__title {
        width: 100%;
        margin-bottom: 18px;
        @include em-line-height($font-size-base, 18px);
    }

    &__info {
        @include font(13px, 17px);
        color: $gray-7;
        padding-right: $gutter / 2;
        max-width: 45%;
    }

    &__price {
        font-weight: 700;
        width: 123px;
        padding-left: $gutter / 2;
        margin-left: auto;
    }

    &__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 22px;
        margin-top: auto;

        &-button {
            width: 115px;
        }
    }

    @include hover-focus {
        @include shadow();

        .item-mini__title {
            color: $primary;
        }
    }

    @include media-breakpoint-up(xl) {
        display: flex;
        padding-top: 23px;
        padding-right: 24px;
        padding-bottom: 22px;

        &__fav {
            font-size: 15px;
            line-height: 24px;
        }

        &__img-placeholder {
            height: auto;
            max-width: 125px;
            flex: 0 0 42%;
            margin-top: 0;
            margin-right: 40px;
            margin-bottom: 0;
            align-self: center;
        }

        &__content {
            display: block;
            flex: 1;
        }

        &__rating-stars {
            margin-bottom: 13px;
        }

        &__title {
            margin-bottom: 12px;
        }

        &__info,
        &__price {
            width: auto;
            padding: 0;
        }

        &__price {
            margin-top: 3px;
        }

        &__footer {
            padding-top: 10px;
        }
    }
}