.item-popup {
    background-color: $green;
    border-color: $gray-2;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition: top .25s ease-in-out;
    z-index: 20;
    overflow: auto;

    &.active {
        top: 0;
    }

    &__header {
        position: relative;
        padding: 12px ($gutter * 3) 10px $gutter;
        border-bottom: 1px solid $green-2;
    }

    &__title {
        margin-bottom: 0;
    }

    &__close {
        position: absolute;
        top: 13px;
        right: $gutter;
        @include size(16px);
        font-size: 16px;
        color: $primary;
    }

    .item__header {
        padding-top: 20px;
        padding-right: 60px;
        padding-bottom: 27px;
    }

    .item__fav:not([data-state="fav"] &) {
        color: $gray-5;
    }

    .rating-stars__star {
        color: $gray-5;
    }

    .item__quick-view {
        display: block;
        position: static;
        width: auto;
        opacity: 1;
        visibility: visible;
        margin-top: 26px;
        margin-right: -60px;
        transform: none;
    }

    .item-offers__list {
        border-bottom-color: $green-2;
    }

    .item-offer {
        border-top-color: $green-2;
    }
}