.item-pack {
    display: inline-block;
    position: relative;
    height: 24px;
    align-items: center;
    @include font(13px, 24px);
    font-weight: 700;
    transition: background-color .25s ease-in-out;
    color: $yellow-5;
    margin-right: 8px;

    &.active {
        padding-left: 8px;
        padding-right: 8px;
        color: $white;
        background-color: rgba($red, 1);
        border-radius: 12px;
    }
}