.item {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: none;
    transition: box-shadow .25s ease-in-out;

    &__header {
        padding: $gutter;
        position: relative;
        z-index: 4;
    }

    &__offers {
        z-index: 3;
    }

    &__img-placeholder {
        position: relative;
        height: 262px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $gutter / 2;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__quick-view {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        width: 100%;
        font-weight: 700;
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s ease-in-out;
    }

    &__badge {
        position: absolute;
        left: 0;
        bottom: 12px;
    }

    &__actions_list {
        position: absolute;
        left: 15px;
        top: 15px;
        z-index: 10;

        &-action {
            display: inline-block;
            padding: 4px 8px;
            background-color: $red;
            border-radius: 4px;
            color: $white;
            margin-bottom: 6px;

            &[data-action="new"] {
                background-color: $green-6;
            }
            &[data-action="new"]:before {
                content: "Новинка";
            }
            &[data-action="hit"] {
                background-color: $blue;
            }
            &[data-action="hit"]:before {
                content: "Хит";
            }
            &[data-action="recommend"] {
                background-color: $blue-2;
            }
            &[data-action="recommend"]:before {
                content: "Рекомендуем";
            }
            &[data-action="present"] {
                background-color: $brown;
            }
            &[data-action="present"]:before {
                content: "Подарок";
            }
            &[data-action="choice"] {
                background-color: $purple;
            }
            &[data-action="choice"]:before {
                content: "Выбор покупателей";
            }
            &[data-action="action"] {
                background-color: $red-3;
            }
            &[data-action="action"]:before {
                content: "Акция";
            }
            &[data-action="super"] {
                background-color: $pink;
            }
            &[data-action="super"]:before {
                content: "Суперцена";
            }
            &[data-action="percent"] {
                background-color: $red;
            }
        }
    }

    &__rating-stars {
        margin-bottom: $gutter / 2;
    }

    &__title {
        margin-bottom: 0;
    }

    &__fav {
        position: absolute;
        top: $gutter;
        right: $gutter;
        @include size(24px);
        color: $gray-3;
        font-size: 24px;
        transition: color .25s ease-in-out;
        cursor: pointer;
        z-index: 10;

        &[data-state="fav"] {
            color: $secondary;
        }
    }

    &__packs {
        margin-top: $gutter-2 / 2;
        margin-bottom: -$gutter / 2;
        font-size: 0;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: ($gutter / 2) $gutter $gutter;
        margin-top: auto;

        &-button {
            min-width: 115px;
        }
    }

    @include hover-focus {
        @include shadow();
        position: absolute;
        top: 0;
        left: 8px;
        right: 8px;
        z-index: 30;
        background-color: $white;
        min-width: auto;

        .catalog__list:not([data-view="list"]) & {
            .item-offers__list {
                max-height: none !important;
            }
        }

        .catalog__list[data-type="compact"] & {
            left: 0;
            right: 0;
        }

        .item__quick-view {
            opacity: 1;
            visibility: visible;
        }

        .item__title a {
            color: $primary;
        }
    }

    @include media-breakpoint-between(sm, sm) {
        .catalog__list[data-type="compact"] .catalog__item:nth-child(even) & {
            border-left-width: 0;
        }
    }

    @include media-breakpoint-between(md, lg) {
        .catalog__list[data-type="compact"] .catalog__item:nth-child(3n+2) &,
        .catalog__list[data-type="compact"] .catalog__item:nth-child(3n+3) & {
            border-left-width: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        &__title {
            a {
                margin-left: -$gutter;
                margin-right: -$gutter;
                padding-left: $gutter;
                padding-right: $gutter;
                background-color: $white;
                position: relative;
                z-index: 10;
                display: block;
                @include text-clamp(4);

                &:hover {
                    display: block;
                    overflow: visible;
                    text-overflow: unset;
                    padding-bottom: 6px;

                    .item__list-view & {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        @include hover-focus {
            left: 12px;
            right: 12px;
        }

        &__list-view {
            display: flex;
        }

        [data-view="list"] & {
            border-radius: $border-radius;
            border-color: $gray-2;
            border-left-width: 1px !important;
            overflow: visible;

            @include hover-focus {
                position: relative;
                left: 0;
                right: 0;
                min-width: 100%;

                .item__title {
                    a {
                        color: $base-color;

                        @include hover-focus {
                            color: $secondary;
                            text-decoration: none;
                        }
                    }
                }
            }

            &__fav {
                top: 13px;
                right: 13px;
            }

            &__img-placeholder {
                max-width: 176px;
                flex: 0 0 176px;
                padding-top: $gutter;
                padding-bottom: $gutter;
                margin-left: 14px;
                margin-right: 28px;
                margin-bottom: 0;
                height: auto;
            }

            &__rating-stars {
                margin-bottom: 14px;
            }

            &__title {
                max-height: none;
                @include font($font-size-lg, 24px);
                margin-bottom: 10px;

                a {
                    color: $base-color;
                }
            }

            &__button {
                margin-top: auto;
            }
        }

        &__labels {
            position: absolute;
            top: 13px;
            left: 13px;
            z-index: 1;
        }

        &__body {
            max-width: 497px;
            flex: 1;
            padding: 18px $grid-gutter-width 19px 0;
        }

        &__description {
            margin-bottom: 12px;
            @include em-line-height($font-size-base, 24px);
        }

        &__detail {
            display: flex;
            margin-bottom: 4px;

            &-name {
                margin-right: .3em;
            }

            &-data {
                margin: 0;
            }

            *[x-placement='bottom-start'] {
                left: -$gutter !important;

                .tippy-arrow {
                    left: 10px !important;
                }
            }
        }

        &__order {
            max-width: 298px;
            flex: 0 0 298px;
            border-left: 1px solid $gray;
            padding-left: $gutter;
            padding-right: $gutter;
            margin-left: auto;
            display: flex;
            flex-direction: column;

            .item__packs {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 13px;
                padding-right: 30px;
                padding-bottom: 15px;
            }

            .item__offers {
                margin-left: -$gutter;
                margin-right: -$gutter;
            }

            .item-offers__more {
                padding: 15px 0 10px;
            }

            &-body {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: center;

                .item__packs {
                    padding-top: 0;
                    padding-bottom: 0;
                    margin-top: auto;
                }
            }
        }

        &__prices {
            display: flex;
            align-items: baseline;

            .item__packs + & {
                margin-top: 16px;
            }
        }

        &__price {
            font-weight: 700;
            margin-right: 14px;
            margin-bottom: 0;
        }

        &__club {
            margin-top: 14px;
            margin-bottom: 14px;

            &-icon {
                color: $gray-7;
                font-size: 12px;
                top: -1px;
                left: 2px;
            }

            &-price {
                display: block;
                font-weight: 700;
                margin-top: 4px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .catalog__list[data-type="compact"] .catalog__item:nth-child(4n+2) &,
        .catalog__list[data-type="compact"] .catalog__item:nth-child(4n+3) &,
        .catalog__list[data-type="compact"] .catalog__item:nth-child(4n+4) & {
            border-left-width: 0;
        }
    }
}