.item-offer {
    border-top: 1px solid $gray;
    display: flex;
    align-items: center;
    padding: 4px 16px;
    height: 40px;
    @include font(13px, 15px);
    transition: background-color .25s ease-in-out;

    &__state {
        position: relative;
        @include size(16px);
        @include rounded;
        border: 1px solid $gray-3;
        background-color: $white;
        margin-right: 12px;
        top: 1px;
        transition: all .25s ease-in-out;

        &:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $secondary;
            @include size(8px);
            @include rounded;
        }
    }

    &__title {
        color: $gray-9;
        margin-right: auto;
    }

    &__note {
        margin-left: auto;
        margin-right: auto;
    }

    &__price {
        margin-left: auto;
        text-align: right;
        white-space: nowrap;

        &-value {
            font-weight: 700;
        }

        &-old {
            color: $gray-7;
            font-weight: 500;
            @include font(11px, 13px);
            margin-bottom: 2px;
        }
    }

    &__order-icon {
        @include size(24px);
        font-size: 19px;
        color: $secondary;
        margin-left: 20px;
        margin-right: -2px;
        top: -1px;
        cursor: pointer;

        &.icon-delivery {
            font-size: 21px;
            margin-right: -1px;
        }
    }

    &.muted  {
        color: $gray-5;
    }

    &.muted & {
        &__title {
            color: inherit;
        }
    }

    &.active & {
        &__state {
            border-color: $secondary;
        }
    }

    @include hover-focus {
        background-color: rgba($gray-2, .3);

        .item-offer__state {
            border-color: $secondary;

            &:after {
                content: '';
            }
        }
    }
}