.popular-brands {
    &__title {
        margin-bottom: 11px;
    }

    &__list {
        @include list-unstyled;
        font-size: 0;
    }

    &__item {
        display: inline;
        @include font($font-size-html, 29px);
        color: $gray-5;
        white-space: nowrap;

        &:after {
            content: "|";
            margin-left: 10px;
            margin-right: 13px;
        }

        &:last-child {
            &:after {
                content: '';
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}