.product-checkout {
    &__subscription {
        display: flex;
        margin-top: 20px;

        &-icon {
            color: $info;
            margin-top: 2px;
            margin-right: 14px;
            font-size: 19px;
        }
    }

    &__promo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $gray-3;
        margin-top: 16px;
        padding-top: 14px;
        color: $secondary;

        &-price {
            @include font($font-size-html, 19px, 700);
            margin-left: 4px;
            margin-right: 7px;
        }

        &-icon {
            color: $gray-7;
            font-size: 12px;
            top: -2px;
        }
    }

    &__weight {
        width: 100%;
        margin-bottom: $gutter;
    }

    &__label {
        @include font(12px, 15px);
        color: $gray-7;
    }

    &__value {
        font-weight: 700;
        margin: 0;
    }

    @include media-breakpoint-up(sm) {
        &__header {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin-bottom: $gutter;
            background-color: $green;
            border-radius: $border-radius;
            padding: 13px $grid-gutter-width-2 14px;
            @include em-line-height($font-size-base, 18px);
        }

        &__total {
            display: flex;
            flex-direction: column;
            padding-right: $gutter;
        }

        &__price {
            font-weight: 700;
        }

        &__price-old {
            @include font($font-size-sm, $line-height-sm, 500);
        }

        &__subscription {
            margin-top: 17px;
        }

        &__weight {
            width: auto;
            margin-bottom: 0;
        }

        &_inline {
            .product-checkout__main {
                padding-bottom: $gutter;
            }

            .product-checkout__action {
                display: flex;
                flex-direction: row-reverse;

                .button {
                    width: 50%;
                    padding-left: 0;
                    padding-right: 0;
                }

                .button + .button {
                    margin-right: $gutter;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__header {
            align-items: center;
            margin-bottom: 17px;
        }

        &__total {
            flex-direction: row;
            align-items: baseline;
        }

        &__price {
            margin-right: 12px;
        }

        &_inline {
            .product-checkout__header {
                align-items: center;
            }

            .product-checkout__total {
                flex-direction: column;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__weight {
            width: 29%;
        }

        &_inline {
            .product-checkout__main {
                display: flex;
                align-items: center;
                padding-left: $gutter;
                padding-right: $gutter;
            }

            .product-checkout__header {
                margin-bottom: 0;
                flex: 1;
            }

            .product-checkout__action {
                max-width: 328px;
                flex: 0 0 328px;
                margin-left: 30px;
            }
        }
    }
}
