.product-menu {
    @include list-unstyled;
    display: flex;
    margin-left: -12px;
    margin-right: -12px;

    &__item {
        @include em-line-height($font-size-base, 18px);
        white-space: nowrap;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__icon {
        font-size: $font-size-html;
        top: -1px;
    }

    &__link {
        &.active {
            color: $secondary;
        }
    }

    @include media-breakpoint-up(md) {
        &__icon {
            margin-right: 10px;
        }
    }
}