.product {
    margin-bottom: 22px;

    [class^="col-"], [class*=" col-"] {
        position: static;
    }

    &__title {
        margin-bottom: -$gutter;
        padding-right: 24px;
    }

    &__main {
        position: relative;
        padding-top: 38px;
        margin-bottom: 34px;
    }

    &__header {
        margin-bottom: 21px;

        &-top {
            display: flex;
            border-bottom: 1px solid $gray-3;
            padding-bottom: 17px;
            margin-bottom: 13px;
        }

        &-bottom {
            display: flex;
            @include em-line-height($font-size-base, 18px);
        }
    }

    &__rating {
        margin-right: auto;
        position: relative;
        top: -1px;
    }

    &__menu {
        margin-bottom: 0;
    }

    &__nav {
        position: absolute;
        top: 0;
        left: $gutter / 2;
        right: $gutter / 2;
        margin-bottom: 0;
    }

    &__brand {
        margin-right: auto;

        &-link {
            color: inherit;
            text-decoration: underline;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    &__code {
        color: $gray-5;
    }

    &__media {
        order: -1;
        margin-bottom: 25px;
    }

    &__zoom-pane {
        display: none;
    }

    &__offers {
        margin-bottom: 30px;

        &-button {
            height: 46px;
            line-height: (46px - $btn-border-width * 4);
            margin-top: 8px;
            margin-bottom: 22px;
        }

        &-title {
            @include em-line-height($font-size-h6, 21px);
            font-weight: 700;
            margin-bottom: 1em;
        }

        &-header {
            display: none;
        }

        &-list {
            background-color: $white;
            border-radius: $border-radius;
            @include shadow();
        }

        &-item {
            border-top: 1px solid $gray-3;

            &:first-child {
                border-top: 0;
            }
        }
    }

    &__sizes {
        margin-top: 1px;
        padding-bottom: 10px;
    }

    &__set {
        padding-top: 17px;
    }

    &__order {
        background-color: $white;
        border-radius: $border-radius;
        @include shadow();
        padding: $gutter;
        margin-top: 34px;

        &-instock {
            @include font(12px, 15px);
            color: $primary;
            margin-bottom: 10px;
        }

        &-prices {
            flex: 1;
            padding-top: 2px;
        }

        &-price {
            @include font($font-size-h3, 31px, 700);
        }

        &-price-old {
            @include font($font-size-sm, $line-height-sm);
            margin-top: 9px;
        }

        &-amount {
            max-width: 124px + $grid-gutter-width;
            margin-left: auto;
            text-align: center;
        }

        &-points {
            display: block;
            margin-top: 7px;
        }

        &-button {
            margin-top: 28px;
        }
    }

    &__delivery {
        margin-bottom: 33px;

        &-item {
            display: flex;
            align-items: center;
            @include em-line-height($font-size-base, 18px);
            @include margin-bottom(23px);
        }

        &-icon {
            font-size: 30px;
            margin-right: 19px;

            &_sm {
                font-size: 20px;
                margin-left: 7px;
                margin-right: 23px;
            }
        }

        &-name {
            &:not(.link-secondary) {
                color: $base-color;
            }
        }

        &-info {
            color: $secondary;
            margin-top: 2px;
        }
    }

    &__notes {
        @include em-line-height($font-size-base, 18px);
        margin-top: 32px;

        &-item {
            @include margin-bottom($gutter);
        }

        &-link {
            padding-left: 30px;
            position: relative;
            display: inline-block;
        }

        &-icon {
            position: absolute;
            top: -1px;
            left: 0;
            font-size: 18px;
        }
    }

    &__review {
        background-color: rgba($gray-2, .5);
        border-radius: $border-radius;
        padding: 14px 16px 18px;
        margin-bottom: 24px;

        &-more {
            margin-top: 17px;
        }
    }

    &__description {
        max-height: none;
        overflow: visible;
        transition: max-height .25s ease-in-out;

        &.collapsed {
            max-height: 1834px;
            overflow: hidden;
        }
    }

    &__more {
        font-weight: 700;
        text-align: right;
        margin-top: 15px;
    }

    @include media-breakpoint-up(sm) {
        &__footer {
            display: grid;
            grid-template-columns: auto 16px fit-content(392px);
        }

        &__delivery,
        &__notes {
            grid-column: 1/2;
        }

        &__delivery {
            grid-row: 1;
        }

        &__notes {
            grid-row: 2;
            margin-top: auto;
        }

        &__checkout {
            max-width: 392px;
            grid-column: 3;
            grid-row: 1/3;
            justify-content: flex-end;
        }
    }

    @include media-breakpoint-up(md) {
        &__offers {
            &-menu {
                display: flex;
                align-items: flex-start;
            }

            &-tabs-list {
                flex: 1;
            }

            &-button {
                height: 54px;
                line-height: (54px - $btn-border-width * 4);
                font-size: rem($font-size-lg);
                width: auto;
                margin-top: 0;
                margin-left: auto;
                min-width: 188px;
            }
        }

        &__set {
            display: flex;
            padding-top: 37px;
            padding-bottom: 6px;
        }

        &__details {
            flex: 1;
        }

        &__order {
            max-width: 392px;
            flex: 0 0 392px;
            margin-left: auto;
            padding: 28px 44px;
            margin-top: 0;
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__offers {
            &-menu {
                display: block;
            }

            &-button {
                width: 100%;
                margin-top: 8px;
                margin-bottom: 22px;
            }
        }

        &__set {
            display: block;
        }

        &__order {
            max-width: none;
            padding: 28px 44px;
            margin-top: 34px;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 62px;

        &__title {
            margin-bottom: $gutter;
        }

        &__main {
            padding-top: 0;
            margin-bottom: 40px;
        }

        &__header {
            &-top {
                padding-bottom: 19px;
            }
        }

        &__rating {
            margin-right: 34px;
        }

        &__nav {
            position: static;
            margin-left: auto;
        }

        &__media {
            order: initial;
            max-width: 416px;
            flex: 0 0 416px;
            position: relative;

            &-slider-nav {
                margin-top: $gutter;
            }
        }

        &__content {
            max-width: calc(100% - 416px);
            flex: 0 0 calc(100% - 416px);
            position: relative !important;
        }

        &__zoom-pane {
            display: block;
            position: absolute;
            top: 0;
            left: $gutter-2;
            right: $gutter-2;
        }

        &__offers {
            margin-bottom: 26px;

            &-title {
                margin-bottom: 17px;
            }

            &-header {
                display: flex;
                color: $gray-7;
                @include font($font-size-sm, $line-height-sm);
                padding-top: 0;
                padding-bottom: 9px;

                .product-offer__col_name {
                    text-indent: -16px;
                }
            }
        }

        &__details {
            padding-left: $gutter;
            padding-right: 42px;
        }

        &__delivery {
            margin-top: 17px;
        }

        &__notes {
            margin-top: 29px;
        }

        &__review {
            padding: 22px 33px 24px 24px;
            margin-bottom: 35px;

            &-more {
                margin-top: 13px;
            }
        }
    }

    &__description {
        padding-top: 7px;

        &.collapsed {
            max-height: none;
            overflow: visible;
        }
    }

    @include media-breakpoint-up(xl) {
        &__delivery {
            margin-left: 25px;
        }
    }
}
