.product-offer {
    padding: 16px $gutter;
    @include em-line-height($font-size-base, 18px);

    &__col {
        display: flex;
        &_name {
            display: block;
            flex: 1;
        }

        &_price {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            white-space: nowrap;
        }
    }

    &__title {
        @include font($font-size-html, 21px, 700);
        margin-bottom: 0;
    }

    &__instock {
        display: inline-block;
        @include font(12px, 15px);
        color: $primary;
        margin-top: 3px;
    }

    &__price {
        @include font($font-size-html, 21px, 700);

        &_highlight {
            background-color: $yellow-10;
            border-radius: $border-radius;
            padding: 5px 8px;
            margin-top: -5px;
            color: $secondary;
        }
    }

    &__price-old {
        @include font($font-size-sm, $line-height-sm);
        margin-top: 1px;
    }

    &__button {
        @include size(22px);
        @include font(22px, 22px);
        color: $secondary;
        margin-top: 2px;
        margin-left: 10px;
    }

    &_muted {
        color: $gray-4;
    }

    &_muted & {
        &__price {
            color: inherit;
        }
    }

    @include media-breakpoint-down(sm) {
        &__col {
            &_price {
                max-width: 96px;
                flex: 0 0 96px;
                padding-right: 8px !important;
            }

            &_preorder {
                margin-top: 1em;
                margin-bottom: -3px;
            }

            &_order {
                max-width: 150px;
                flex: 0 0 150px;
                margin-left: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__col {
            &_name {
                display: flex;
                align-items: baseline;
            }

            &_price {
                flex: 0 0 184px;
                max-width: 184px;
                flex-direction: row;
                align-items: baseline;
            }

            &_preorder {
                flex: 0 0 184px;
                max-width: 184px;
                display: flex;
                justify-content: flex-end;

                a {
                    display: block;
                    text-align: center;
                    max-width: 104px;
                }
            }

            &_order {
                flex: 0 0 184px;
                max-width: 184px;
                display: flex;
            }
        }

        &__title {
            margin-right: 18px;
        }

        &__instock {
            margin-top: 0;
        }

        &__price {
            margin-right: 13px;

            &_highlight {
                margin-top: 0;
                margin-left: -8px;
            }
        }

        &__price-old {
            margin-top: 0px;
        }

        &__amount {
            text-align: center;
            position: relative;
            padding-bottom: 11px;
        }

        &__points {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin-top: -6px;
        }

        &__button {
            margin-top: 6px;
            margin-left: 30px;
        }
    }

    @include media-breakpoint-between(lg, lg) {
        &__col {
            &_name {
                display: block;
            }

            &_price {
                flex: 0 0 124px;
                max-width: 124px;
                flex-direction: column;
            }
        }

        &__instock {
            margin-top: 3px;
        }

        &__price-old {
            margin-top: 1px;
        }
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: 18px;

        &__title {
            @include font(18px, 23px);
        }

        &__price {
            @include font(18px, 23px);

            &_highlight {
                padding-left: 10px;
                padding-right: 10px;
                margin-left: -10px;
            }
        }
    }
}
