.product-nav {
    @include list-unstyled;
    display: flex;
    justify-content: space-between;
    margin-left: -12px;
    margin-right: -12px;

    &__item {
        @include em-line-height($font-size-base, 18px);
        white-space: nowrap;
        margin-left: 12px;
        margin-right: 12px;
    }

    &__icon {
        font-size: $font-size-html;
    }

    &__text {
        margin-left: 11px;
        margin-right: 11px;
    }

    @include media-breakpoint-up(lg) {
        margin-right: -20px;

        &__item {
            border-left: 1px solid $gray-2;
            margin-left: 0;
            margin-right: 0;
            padding-left: 10px;
            padding-right: 10px;

            &:first-child {
                border-left: 0;
            }
        }
    }
}