.product-slider {
    .slick-list {
        border: 1px solid $gray-2;
        border-radius: $border-radius;
        overflow: hidden;
    }

    .slick-dots {
        margin-top: 14px;

        li {
            button {
                &:before {
                    background-color: rgba($primary, .2);
                }

                @include hover-focus {
                    &:before {
                        background-color: $primary;
                    }
                }
            }
            &.slick-active {
                button {
                    &:before {
                        background-color: $primary;
                    }
                }
            }
        }
    }

    a {
        display: block;
        width: 100%;
        height: 363px;
        display: flex;
        align-items: center;
        padding: $gutter;
        position: relative;
    }

    img {
        max-height: 100%;
        width: auto;
        margin: 0 auto;
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @include media-breakpoint-up(lg) {
        a {
            height: 494px;
        }

        img {
            max-height: 100%;
        }
    }
}
