.product-slider-nav {
    display: none;

    @include media-breakpoint-up(lg) {
        display: block;
        margin-left: -8px;
        margin-right: -8px;

        &__item {
            padding-left: 8px;
            padding-right: 8px;
        }

        &__card {
            border: 1px solid $gray-2;
            border-radius: $border-radius;
            overflow: hidden;
            display: flex;
            align-items: center;
            padding: 12px;
            position: relative;
            width: 100%;
            height: 100%;
        }

        img {
            max-height: 50px;
            width: auto;
            margin: 0 auto;
            opacity: 1;
            transition: opacity .25s ease-in-out;
        }

        &__play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include size(41px, 29px);
        }

        .slick-current {
            img {
                opacity: .4;
            }
        }

        .slick-arrow {
            @include size(24px);
            border: 0;
            background-color: $primary;
            color: $white;
            margin-top: -12px;

            &:before {
                font-size: 16px;
                line-height: 24px;
            }

            &.slick-disabled {
                background-color: $primary;
                color: $white;
            }
        }

        .slick-prev {
            left: -4px;
        }

        .slick-next {
            right: -4px;
        }
    }
}
