.sorting {
    display: inline-flex;
    align-items: flex-start;
    flex-wrap: wrap;

    &__number {
        @include font($font-size-lg, $line-height-xl, 700);
        white-space: nowrap;
        order: -2;
        margin-bottom: $gutter-2;

        &::after {
            content: "|";
            color: $gray-14;
            @include font($font-size-html, $line-height-xl, 400);
            margin-left: $gutter-2;
            margin-right: $gutter-2;
        }
    }

    &__item {
        display: inline-flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    &__label {
        margin-bottom: 9px;
        white-space: nowrap;
    }

    &__select {
        width: 100%;
        max-width: 220px;
        margin-right: $grid-gutter-width-2;
    }

    &__control {
        white-space: nowrap;
        order: -1;
        margin-bottom: $gutter-2;
    }

    @include media-breakpoint-up(sm) {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
 
        &__item {
            flex-direction: row;
            align-items: center;
            width: 100%;
        }

        &__label {
            margin-right: 8px;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__select {
            min-width: 220px;
        }
    }

    @include media-breakpoint-between(lg, lg) {
    }

    @include media-breakpoint-up(xl) {
        &__number {
            margin-bottom: 0;
        }

        &__item {
            width: auto;
        }

        &__control {
            order: initial;
            margin-bottom: 0;
        }
    }
}
