.view-type {
    @include media-breakpoint-up(md) {
        display: inline-flex;
        align-items: center;

        &__label {
            white-space: nowrap;
            margin-right: 8px;
        }

        &__list {
            @include list-unstyled;
            display: flex;
            margin-right: -$gutter / 2;
        }

        &__item {
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
        }

        &__link {
            display: block;
            font-size: 22px;
            color: $gray-3;

            @include hover-focus {
                color: $primary;
                text-decoration: none;
            }

            &.active {
                color: $primary;
            }
        }
    }
}
