<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block pageDescription %}{% endblock %}">
    <meta name="keywords" content="{% block pageKeywords %}{% endblock %}">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i,900&display=swap&subset=cyrillic" rel="stylesheet">

    {% block styles %}{% endblock %}
    <link href="assets/js/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="assets/js/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="assets/js/vendor/swiper/swiper.min.css" rel="stylesheet">
    <link href="assets/js/vendor/select2/select2.min.css" rel="stylesheet">
    <link href="assets/js/vendor/tippy/backdrop.css" rel="stylesheet">
    <link href="assets/js/vendor/tippy/tippy.css" rel="stylesheet">
    <link href="assets/js/vendor/tippy/light.css" rel="stylesheet">
    <link href="assets/js/vendor/drift/drift-basic.min.css" rel="stylesheet">
    <link href="assets/css/app.min.css?123466" rel="stylesheet">

    <title>{{ pageTitle }}</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->

    {% block headerScripts %}{% endblock %}
</head>

<body class="body {% block theme %}{% endblock %}" id="top">
  {% block body %}
  <div class="page">

    {% include 'partials/_header.twig' %}

    <main class="content content_with-banners">
      {% block aboveContent %}{% endblock %}

      <div class="content__body">
        <a href="#" class="content__banner">
          <img src="/temp/banner-aside.png" alt="" class="content__banner-img">
        </a>

        <div class="content__container">
          <div class="content__inner">
            {% block content %}{% endblock %}
          </div>
        </div>

        <a href="#" class="content__banner">
          <img src="/temp/banner-aside.png" alt="" class="content__banner-img">
        </a>
      </div>
    </main><!-- /.main -->
  </div>

  {% include 'partials/_footer.twig' %}

  <a href="#top" class="button-to-top button button_primary icon-arrow-up" title="Наверх" data-component="top-button" data-scroll></a>

  {% if newUser %}
    {% include 'partials/_modal-login-new.twig' %}

    {% else %}

    {% include 'partials/_modal-login.twig' %}

    {% include 'partials/_modal-login-code.twig' %}

    {% include 'partials/_modal-login-with-password.twig' %}
  {% endif %}

  {% include 'partials/_modal-location.twig' %}

  {% include 'partials/_modal-call-back.twig' %}

  {% include 'partials/_modal-repeat-order.twig' %}

  {% include 'partials/_modal-quick-view.twig' %}

  {% include 'partials/_modal-subscribe.twig' %}

  {% include 'partials/_modal-subscribe-success.twig' %}

  {% include 'partials/_modal-cart.twig' %}

  {% include 'partials/_cookies-popup.twig' %}

  {% block modals %}{% endblock %}

  <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
  <script src="assets/js/vendor/select2/select2.full.min.js"></script>
  <script src="assets/js/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/js/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/vendor/jquery.maskedinput.js"></script>
  <script src="assets/js/vendor/slick.min.js"></script>
  <script src="assets/js/vendor/swiper/swiper.min.js"></script>
  <script src="assets/js/vendor/parsley.min.js"></script>
  <script src="assets/js/vendor/i18n/ru.js"></script>
  <script src="assets/js/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
  <script src="assets/js/vendor/popper.min.js"></script>
  <script src="assets/js/vendor/tippy/tippy-bundle.iife.min.js"></script>
  <script src="assets/js/vendor/debounce.js"></script>
  <script src="assets/js/vendor/drift/drift.min.js"></script>
  <script src="assets/js/main.js?123466"></script>
  <script src="assets/js/login-form.js?123466"></script>

  {% block scripts %}{% endblock %}
  {% endblock %}
</body>
</html>