{% set pageTitle = "О компании" %}

{% extends '_layout.twig' %}

{% block content %}

  <div class="container">
    <div class="breadcrumb">
      <ul class="breadcrumb__list">
        <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
        <li class="breadcrumb__item">{{ pageTitle }}</li>
      </ul>
    </div>
    <h1>{{ pageTitle }}</h1>
  </div>

  <div class="about-page">
    <section class="about-intro section">
      <div class="container">
        <div class="row row_xl row-h-justify">
          <div class="about-intro__content col-xs-12 col-md-7">
            <h2 class="about-intro__title">Мы в ответе за тех, кого Вы приручили!</h2>
            <div class="about-intro__text text-lg">
              <p>Все питомцы — от маленькой рыбки до гигантской собаки — нуждаются в ласке, заботе и внимании. Кто бы ни был на Вашем попечении — крохотное существо или большой, серьезный зверь, — магазин зоотоваров <strong>MAGIZOO.RU</strong> поможет Вам позаботиться о нем.</p>
              <p>С помощью наших товаров сделайте жизнь любимого животного долгой, счастливой и яркой.</p>
            </div>
          </div>
          <div class="about-intro__img-placeholder col-xs-12 col-md-5">
            <img src="temp/about/1.jpg" alt="">
          </div>
        </div>
      </div>
    </section>

    <section class="benefits section bg-green">
      <div class="container">
        {% include 'partials/_benefits-list.twig' %}
      </div>
    </section>

    <section class="reviews section" data-component="show-more-component">
      <div class="container">
        <div class="reviews__body">
          <h3 class="reviews__title">Отзывы наших клиентов</h3>

          {% include 'partials/_reviews-list.twig' %}

          <div class="reviews__more text-lg">
            <a href="#" class="reviews__more-link link-pseudo" data-element="show-more-toggle" data-text-on="Показать еще отзывы" data-text-off="Скрыть отзывы">Показать еще отзывы</a>
          </div>
        </div>
      </div>
    </section>

    <section class="staff section tabs tabs_basic" data-component="tabs">
      <div class="container">
        <h3 class="staff__title">Наши сотрудники</h3>

        {% include 'partials/_staff-tabs.twig' %}
      </div>
    </section>

    <section class="company-details section">
      <div class="container">
        <div class="company-details__body">
          <div class="row">
            <div class="company-details__header col-xs-12 col-md-5 col-lg-4">
              <h3 class="company-details__title">Реквизиты компании</h3>
              <p><a href="#" class="company-details__file"><i class="company-details__file-icon icon-file"></i>Скачать реквизиты PDF</a></p>
            </div>
            <div class="company-details__content col-xs-12 col-md-7">
              {% for item in about.companyDetails %}
                <dl class="company-details__info row row_sm">
                  <dt class="company-details__info-name col-xs-12 col-md-3 col-lg-3 col-xl-2">{{ item.name }}</dt>
                  <dd class="company-details__info-data col-xs-12 col-md-9 col-lg-9 col-xl-10">{{ item.data }}</dd>
                </dl>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
{% endblock %}