{% set pageTitle = "Личный кабинет" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="account">
  <div class="container">
    <div class="account__switch" data-element="account-form-switch">
      <label class="account__switch-label custom-control custom-radio" data-size="md">
        <input type="radio" class="custom-control__input" name="account-form-switch" value="account-login-form" tabindex="5" checked>
        <span class="custom-control__indicator"></span>
        Зарегистрированный
      </label>
      <label class="account__switch-label custom-control custom-radio" data-size="md">
        <input type="radio" class="custom-control__input" name="account-form-switch" value="account-registration-form" tabindex="5">
        <span class="custom-control__indicator"></span>
        Новый пользователь
      </label>
    </div>
    <div class="row row_md">
      <div class="col-xs-12 col-lg-6">
        <form action="#" class="account__form form account-form active" data-form="login" data-validate="parsley">
          <div class="account-form__wrapper">
            <div class="account-form__header">
              <h2 class="account-form__title">Зарегистрированным пользователям</h2>
              <p>Если вы являетесь зарегистрированным пользователем, введите свой адрес электронной почты или номер телефона и пароль</p>
            </div>
            <div class="form__group">
              <label class="form__label" for="email">Email</label>
              <input type="email" class="form__control form__control_lg" placeholder="Введите ваш Email" id="email" tabindex="10" data-parsley-type-message="Ваш Email не найден">
            </div>
            <div class="form__group">
              <label class="form__label" for="phone">или Телефон</label>
              <input type="text" class="form__control form__control_lg" placeholder="+ 7 (ххх) ххх-хх-хх" tabindex="20" id="phone" data-element="phone-mask">
            </div>
            <div class="form__group">
              <label class="form__label" for="password">Пароль</label>
              <input type="password" class="form__control form__control_lg" placeholder="Введите пароль" id="password" tabindex="30" required minlength="6"  data-parsley-minlength-message="Пароль должен быть не менее 6 символов">
            </div>
            <div class="form__submit">
              <input type="submit" class="button button_secondary" data-font-size="md" data-size="lg" tabindex="40" value="Войти">
              <a href="#" class="form__submit-link">Забыли проль?</a>
            </div>
            <div class="form__login-services">
              <script src="//ulogin.ru/js/ulogin.js"></script>
              <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,facebook,twitter,odnoklassniki;hidden=other;redirect_uri=http%3A%2F%2F;mobilebuttons=0;"></div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xs-12 col-lg-6">
        <form action="#" class="account__form form account-form" data-form="registration" data-validate="parsley">
          <div class="account-form__wrapper">
            <div class="account-form__header">
              <h2 class="account-form__title">Новым пользователям</h2>
              <p>Создание учетной записи это легко и приносит много преимуществ:</p>
              <ul class="account-form__list">
                <li>Новости и эксклюзивные предложения</li>
                <li>Просмотр истории заказов</li>
                <li>Быстрая проверка статуса заказа и другое</li>
              </ul>
            </div>
            <div class="form__group">
              <label class="form__label" for="lastname">Фамилия *</label>
              <input type="text" class="form__control form__control_lg" placeholder="Введите вашу фамилию" id="lastname" tabindex="10" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="name">Имя *</label>
              <input type="text" class="form__control form__control_lg" placeholder="Введите ваше имя" tabindex="20" id="name" required>
            </div>
            <div class="form__group">
              <label class="form__label" for="user_email">Email *</label>
              <input type="email" class="form__control form__control_lg" placeholder="Введите ваш Email" tabindex="30" id="user_email" required>
              <div class="form__note">Этот адрес будет использован для входа в Ваш профиль</div>
            </div>
            <div class="form__group">
              <label class="form__label" for="user_password">Пароль *</label>
              <div class="input-group" data-icon-pos="right">
                <i class="input-group__icon icon-eye"></i>
                <input type="password" class="form__control form__control_lg" placeholder="Не меньше 6 символов" id="user_password" tabindex="40" required minlength="6" data-parsley-minlength-message="Пароль должен быть не менее 6 символов">
              </div><!-- / Input group -->
            </div>
            <div class="form__group">
              <label class="form__label" for="user_phone">Мобильный телефон *</label>
              <input type="text" class="form__control form__control_lg" placeholder="+ 7 (ххх) ххх-хх-хх" tabindex="50" id="user_phone" data-element="phone-mask" required>
            </div>
            <div class="form__consent primary">
              <label class="custom-control custom-checkbox" data-size="sm">
                <input type="checkbox" class="custom-control__input" name="agreement" value="1" tabindex="60" required checked>
                <span class="custom-control__indicator"></span>
                Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
              </label>
            </div>
            <div class="form__submit">
              <input type="submit" class="button button_secondary" data-font-size="md" data-size="lg" tabindex="70" value="Зарегистрироваться">
            </div>
            <div class="form__login-services">
              <script src="//ulogin.ru/js/ulogin.js"></script>
              <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,facebook,twitter,odnoklassniki;hidden=other;redirect_uri=http%3A%2F%2F;mobilebuttons=0;"></div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="account__help help">
      <h3 class="help__title">Нужна помощь?</h3>
      <ul class="help__list">
        <li class="help__item">
          <i class="help__item-icon icon-phone"></i>
          <dl class="help__item-content">
            <dt class="help__item-title">Позвоните нам:</dt>
            <dd class="help__item-text"><a href="tel:84955009100" class="help__item-phone link-hidden">8 (495) 500-9-100</a></dd>
          </dl>
        </li>
        <li class="help__item">
          <i class="help__item-icon icon-mail"></i>
          <dl class="help__item-content">
            <dt class="help__item-title">Напишите нам:</dt>
            <dd class="help__item-text"><a href="#" class="link-secondary">Контактная форма</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}