{% set pageTitle = "Текущие заказы" %}

{% set logged = true %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Персональный раздел</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="account container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-account.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <div class="orders">
        {% include 'partials/_tags-list.twig' with {"tags": account.orders.currentTags, "class": 'tags_block account__tags'} %}
        <h3 class="orders__title">Заказы в статусе «Принят»</h3>
        {% include 'partials/_orders-list.twig' with {'type': 'current'} %}
      </div>
    </div>
  </div>
</div>

{% endblock %}