{% set pageTitle = "Контактные данные" %}

{% set logged = true %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Персональный раздел</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="account container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-account.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <div class="row">
        <div class="col-xs-12">
          <form action="#" class="account__contacts form" data-form="account-contacts" data-validate="parsley">
            <fieldset class="form__section">
              <div class="form__group">
                <label class="form__label" for="name">Имя</label>
                <input type="text" class="form__control form__control_lg" placeholder="Введите ваше имя" tabindex="10" id="name" value="Юлия" required>
              </div>
              <div class="form__group">
                <label class="form__label" for="lastname">Фамилия</label>
                <input type="text" class="form__control form__control_lg" placeholder="Введите вашу фамилию" id="lastname" tabindex="20" value="Воробъева" required>
              </div>
              <div class="form__group">
                <label class="form__label" for="user_email">Email</label>
                <input type="email" class="form__control form__control_lg" placeholder="Введите ваш Email" tabindex="30" id="user_email" value="mail@mail.ru" required>
              </div>
              <div class="form__group">
                <label class="form__label" for="user_phone">Телефон</label>
                <input type="text" class="form__control form__control_lg" placeholder="+ 7 (ххх) ххх-хх-хх" tabindex="40" id="user_phone" data-element="phone-mask" value="+7 (905) 234-34-21" required>
              </div>
            </fieldset>
            <fieldset class="form__section">
              <div class="form__group">
                <label class="form__label" for="user_password">Пароль</label>
                <input type="password" class="form__control form__control_lg" placeholder="Не меньше 6 символов" id="user_password" tabindex="50" required minlength="6"  data-parsley-minlength-message="Пароль должен быть не менее 6 символов" value="123456">
              </div>
              <div class="form__group">
                <label class="form__label" for="user_password">Повторите пароль</label>
                <input type="password" class="form__control form__control_lg" placeholder="Не меньше 6 символов" id="user_password_repeat" tabindex="60" required minlength="6"  data-parsley-minlength-message="Пароль должен быть не менее 6 символов" data-parsley-equalto="#user_password" value="123456">
              </div>
              <div class="form__submit">
                <input type="submit" class="button button_secondary button_block" data-font-size="md" data-size="lg" tabindex="70" value="Сохранить изменения">
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}