{% set pageTitle = "Подписки на товары" %}

{% set logged = true %}


{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="account.html" class="breadcrumb__link">Персональный раздел</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="account container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-account.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <div class="account__header">
        {% include 'partials/_tags-list.twig' with {"tags": account.subscribeTags, "class": 'tags_block account__tags'} %}
        <div class="account__header-select">
          <select class="account__header-select" data-element="select">
            <option>По Названию</option>
            <option>По дате добавления</option>
            <option>По цене</option>
          </select>
        </div>
      </div>
      <div class="account__subscription">
        <h4 class="account__subscription-title text-lg">Будем доставлять</h4>
        <ul class="controls-list controls-list_inline">
          {% for item in account.subscription %}
            <li class="controls-list__item">
              <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control__input" name="subscription-choice-{{ loop.index }}" value="{{ loop.index }}" tabindex="{{ loop.index }}" checked>
                <span class="custom-control__indicator"></span>
                <span>{{ item }}</span>
              </label>
            </li>
          {% endfor %}
        </ul>
      </div>

      {% include 'partials/_catalog-fav-list.twig' with {'maxItems': 3, 'fav': 'random'} %}

    </div>
  </div>
</div>

{% endblock %}