{% set pageTitle = "Кошачий шампунь от блох" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="articles.html" class="breadcrumb__link">Статьи</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">

      <article class="article">
        <div class="article__header row">
          <div class="article__meta col-xs-12 col-md-6">
            <dl class="article__meta-item">
              <dt class="article__meta-label">Рубрика:</dt>
              <dd class="article__meta-data"><a href="#">Грызуны</a></dd>
            </dl>
            <dl class="article__meta-item">
              <dt class="article__meta-label">Рейтинг статьи:</dt>
              <dd class="article__meta-data">
                <div class="rating__stars rating-stars" data-rate="4" data-size="15">
                  {% for i in 1..5 %}
                    <i class="rating-stars__star icon-star"></i>
                  {% endfor %}
                </div>
              </dd>
            </dl>
          </div>

          <div class="article__author col-xs-12 col-md-6">
            <div class="article__author-avatar">
              <img src="/temp/avatars/author-avatar.jpg" alt="" class="article__author-img">
            </div>
            <div class="article__author-info">
              <div class="article__author-name">Константин Константинов</div>
              <div class="article__author-date">12 января 2021 (обновлено 6 февраля 2021)</div>
            </div>
          </div>
        </div>

        <div class="article__index text-block">
          <h5 class="article__index-title">Содержание статьи</h5>
          <ul>
            <li><a href="#section-1" data-scroll>Состав моющего противоблошиного средства</a></li>
            <li><a href="#section-2" data-scroll>Как действует шампунь от блох для кошек?</a></li>
            <li><a href="#section-3" data-scroll>Как выбрать эффективный шампунь от блох для кошек?</a></li>
            <li><a href="#section-4" data-scroll>Шампунь против блох для котят</a></li>
            <li><a href="#section-5" data-scroll>Как правильно купать кота?</a></li>
          </ul>
        </div>

        <div class="text-block">
          <a name="anchor" id="section-1"></a>
          <p>Блохи – насекомые-паразиты, которые живут в шерсти животных. Они вызывают зуд, покраснение кожи, переносят опасные заболевания. Если кот гуляет на улице, приусадебном участке, питомца нужно регулярно обрабатывать инсектицидами (капли на холку, противоблошиный ошейник). Если препарат оказался недостаточно эффективным, и заражение произошло, капли нельзя использовать повторно раньше, чем через 20-30 дней. Вывести насекомых поможет шампунь от блох для котов.</p>
          <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия.</p>

          <a name="anchor" id="section-2"></a>
          <section>
            <img src="temp/article/6.jpg" alt="" class="fl">

            <p>Блохи – насекомые-паразиты, которые живут в шерсти животных. Они вызывают зуд, покраснение кожи, переносят опасные заболевания. Если кот гуляет на улице, приусадебном участке, питомца нужно регулярно обрабатывать инсектицидами (капли на холку, противоблошиный ошейник). Если препарат оказался недостаточно эффективным, и заражение произошло, капли нельзя использовать повторно раньше, чем через 20-30 дней. Вывести насекомых поможет шампунь от блох для котов.</p>
            <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия.</p>
          </section>

          <a name="anchor" id="section-3"></a>
          <p>Блохи – насекомые-паразиты, которые живут в шерсти животных. Они вызывают зуд, покраснение кожи, переносят опасные заболевания. Если кот гуляет на улице, приусадебном участке, питомца нужно регулярно обрабатывать инсектицидами (капли на холку, противоблошиный ошейник). Если препарат оказался недостаточно эффективным, и заражение произошло, капли нельзя использовать повторно раньше, чем через 20-30 дней. Вывести насекомых поможет шампунь от блох для котов.</p>
          <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия.</p>

          <section>
            <div class="catalog__list row row_compact fr" data-component="catalog-list" data-type="compact" data-slice-md="1" data-slice-lg="1" data-slice-xl="1">
              {% for product in catalog.items|slice(6,1) %}
                <div class="catalog__item col-xs-12">
                  <div class="item" data-element="item">
                    <div class="item__header" data-element="item-header">
                      <button class="item__fav icon-favourite" title="В избранное" data-element="item-fav" {% if loop.index is odd %}data-state="fav"{% endif %}></button>
                      <div class="item__img-placeholder">
                        <a href="catalog-item.html"><img src="temp/catalog/items/1.png" alt="{{ product.name}}" class="item__img"></a>
                        <a href="#quick-view-modal" class="item__quick-view button button_secondary" data-size="xs" data-element="product-modal-trigger">Быстрый просмотр</a>
                        <span class="item__badge button button_secondary button_rounded" data-size="sm" data-font-size="lg">5,4 <small>кг</small></span>
                      </div>
                      <div class="item__rating-stars rating-stars" data-rate="{{ product.rating }}">
                        {% for i in 1..5 %}
                          <i class="rating-stars__star icon-star"></i>
                        {% endfor %}
                      </div>
                      <h6 class="item__title" data-element="item-title"><a href="catalog-item.html" class="link-base" title="{{ product.title }}">{{ product.title }}</a></h6>

                      {% if product.pack %}
                        <div class="item__packs item-packs">
                          <div class="item-packs__list">
                            {% for pack in product.pack %}
                              <a href="#" class="item-packs__item item-pack {% if pack.active %}active{% endif %}">
                                {{ pack.title }}
                              </a>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    </div>

                    <div class="item__offers item-offers">
                      <div class="item-offers__list" data-items="{{ maxItems }}">
                        {% for offer in product.offers %}
                          <div class="item-offers__item item-offer {% if offer.note %}muted{% endif %}">
                            <div class="item-offer__title">{{ offer.title }}</div>
                            {% if offer.note %}
                              <a href="#subscribe-form" class="item-offer__note link-inherit link-underline" data-element="modal-trigger">{{ offer.note }}</a>
                            {% endif %}
                            <div class="item-offer__price">
                              {% if offer.priceOld %}
                                <div class="item-offer__price-old price-old">{{ offer.priceOld }}</div>
                              {% endif %}
                              <div class="item-offer__price-value {% if offer.priceOld %}secondary{% endif %}">{{ offer.price }}</div>
                            </div>
                            {% if offer.note %}
                              <button class="item-offer__order-icon icon-delivery" title="Заказать"></button>
                              {% else %}
                              <button class="item-offer__order-icon icon-shopping-cart-2" title="Заказать"></button>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>

                      <div class="item-offers__more">
                        <a href="#" class="item-offers__more-link link-secondary"><i class="item-offers__more-icon icon-reorder"></i>Показать все предложения</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия. Рациональней будет использовать противоблошиный шампунь и провести санобработку квартиры, кошачьей постели. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается.</p>
            <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия. Рациональней будет использовать противоблошиный шампунь и провести санобработку квартиры, кошачьей постели. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается.</p>
            <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия. Рациональней будет использовать противоблошиный шампунь и провести санобработку квартиры, кошачьей постели. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается.</p>
          </section>

          <a name="anchor" id="section-4"></a>
          <p>Блохи – насекомые-паразиты, которые живут в шерсти животных. Они вызывают зуд, покраснение кожи, переносят опасные заболевания. Если кот гуляет на улице, приусадебном участке, питомца нужно регулярно обрабатывать инсектицидами (капли на холку, противоблошиный ошейник). Если препарат оказался недостаточно эффективным, и заражение произошло, капли нельзя использовать повторно раньше, чем через 20-30 дней. Вывести насекомых поможет шампунь от блох для котов.</p>
          <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия.</p>

          <div class="section">
            <div class="section__header section-header">
              <h3 class="section-header__title">Обратите внимание</h3>
            </div>
            {% include 'partials/_catalog-silder.twig' with { sliderComponent: 'catalog-slider-md' } %}
          </div>

          <a name="anchor" id="section-5"></a>
          <p>Блохи – насекомые-паразиты, которые живут в шерсти животных. Они вызывают зуд, покраснение кожи, переносят опасные заболевания. Если кот гуляет на улице, приусадебном участке, питомца нужно регулярно обрабатывать инсектицидами (капли на холку, противоблошиный ошейник). Если препарат оказался недостаточно эффективным, и заражение произошло, капли нельзя использовать повторно раньше, чем через 20-30 дней. Вывести насекомых поможет шампунь от блох для котов.</p>
          <p>Живущая в квартире кошка, которая не выходит на улицу и не обрабатывается противоблошиными препаратами, тоже может заразиться паразитами. Хозяева и гости приносят их с улицы на подошвах обуви. Если кто-то из гостей держит дома животных или недавно общался на улице с котиком, на котором живут паразиты, риск заражения увеличивается. Но не настолько высок, чтобы покупать капли, противоблошиный ошейник или другие средства с длительным сроком действия.</p>
        </div>

        <p class="back-to-section"><b><a href="news.html" class="link-secondary">К списку новостей</a></b></p>

        <div class="page-share">
          <div class="share">
            <div class="share__title">Поделиться</div>
            <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
            <script src="https://yastatic.net/share2/share.js"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

{% endblock %}