{% set pageTitle = "Доска объявлений" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

      <div class="content__main col-xs-12 col-lg-9">
        <div class="board__header">
          <div class="board__header-result">Найдено 4 объявления</div>
          <a href="#" class="board__header-button button button_secondary" data-font-size="md">Подать объявление</a>
        </div>
        <p class="attention">
          Администрация сайта не является стороной при сделке и не несет ответственности за достоверность размещенных администрацией сайта объявлений
        </p>
        {% include 'partials/_board-list.twig' %}
      </div>
    </div>
  </div>
</div>

{% endblock %}