{% set pageTitle = "Подать объявление" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item"><a href="board.html" class="breadcrumb__link">Доска объявлений</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="board">
  <div class="container">
    <form action="#" method="post" class="board__form form form_inline " data-form="board" data-validate="parsley-inline">
      {% for section in board.form %}
        <div class="form__section">
          <h2 class="board__form-title text-xl">{{ section.title }}</h2>
          {% set parentLoop = loop.index %}
          {% for group in section.list %}
            <div class="form__group row {% if group.type == 'file' %} row-md-center {% else %} row-md-baseline {% endif %}">
              <div class="form__col-label col-xs-12">
                <label class="form__label" for="">{{ group.label }}</label>
                {% if group.note %}
                  <div class="form__note">{{ group.note }}</div>
                {% endif %}
              </div>
              <div class="form__col col-xs-12">
                {% if group.type == 'text'or group.type == 'email' %}
                  <input type="{{ group.type }}" class="form__control form__control_lg form__control_default" placeholder="{{ group.placeholder }}" tabindex="{{parentLoop}}{{loop.index}}" {% if group.required %}required{% endif %} {% if group.data %}data-element="{{group.data}}"{% endif %}>
                  {% elseif group.type == 'textarea' %}
                  <textarea rows="8" class="form__control form__control_lg form__control_default" placeholder="{{ group.placeholder }}" tabindex="{{parentLoop}}{{loop.index}}" {% if group.required %}required{% endif %}></textarea>
                  {% elseif group.type == 'file' %}
                  <div class="board__dropzone dropzone" id="board-dropzone">
                    <div class="dz-message icon-photo-camera secondary"></div>
                  </div>
                  {% elseif group.type == 'select' %}
                  <select data-placeholder="{{ group.placeholder }}" data-element="select" tabindex="{{parentLoop}}{{loop.index}}" {% if group.required %}required{% endif %}>
                    <option></option> <!-- For placeholder -->
                    <option>Собака</option>
                    <option>Кошка</option>
                    <option>Птица</option>
                  </select>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          {% if loop.index == 2 %}
            <div class="row">
              <div class="form__col col-xs-12">
                <div class="form__consent primary">
                  <label class="custom-control custom-checkbox" data-size="sm">
                    <input type="checkbox" class="custom-control__input" name="agreement" value="1" tabindex="190" required checked>
                    <span class="custom-control__indicator"></span>
                    Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
                  </label>
                </div>
                <div class="form__submit">
                  <input type="submit" class="button button_secondary button_block" data-font-size="md" data-size="lg" tabindex="200" value="Отправить">
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </form>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/dropzone/dropzone.js"></script>
  <script src="assets/js/board-form.js"></script>
{% endblock %}