{% set pageTitle = "Royal Canin" %}

{% extends '_layout.twig' %}

{% block styles %}
  <link href="assets/js/vendor/ion.rangeSlider/ion.rangeSlider.css" rel="stylesheet">
  <link href="assets/js/vendor/ion.rangeSlider/ion.rangeSlider.skinBrunnen.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Бренды</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="catalog">
  <div class="container">
    <div class="content__row-filter row row_md">
      <div class="content__aside col-xs-12 col-lg-2">
        <div class="filters">
          {% include 'partials/_filters.twig' with {'filters': catalog.filters} %}
        </div>
        {% include 'partials/_yandex-market.twig' with {'class': 'sm', 'responsiveClass': 'hidden-md-down'} %}
      </div>

      <div class="content__main col-xs-12 col-lg-10">
        
        <div class="brand">
          <div class="brand__intro">
            <div class="brand__intro-logo">
              <img src="temp/brand/logo.png" alt="{{ pageTitle }}" class="brand__intro-img">
            </div>

            <div class="brand__intro-content">
              <div class="brand-desc collapsed" data-component="brand-desc">
                <p>Royal Canin (по-русски произносится Роял Канин) — Французский производитель кормов для кошек и собак, с 2002 года принадлежащий подразделению компании Mars, Incorporated «Masterfood».  Фирма «Royal Canin» была основана в 1967 году в местечке Гард (Франция). Нынче, главный офис размещается в городе Эмарг (Франция).</p>

                <p>Компания «Royal Canin» имеет представительства в разных странах: США, Аргентине, Бразилии, Германии, России и Канаде. Компания «Royal Canin» также известна своими разработками в области сбалансированного питания кошек и собак, основанными на производстве кормов для животных с различными особенностями: пожилой возраст, длинная шерсть, уход за кожей, образ жизни (подвижность).</p>
              </div>
              <div class="desc-more"><a href="#" class="link-pseudo" data-element="brand-desc-toggle" data-text-collapsed="Узнать больше" data-text-open="Свернуть">Узнать больше</a></div>
            </div>
          </div>

        </div>

        <div class="catalog__page-nav">
          {% set viewType = "cells" %}

          {% include 'partials/_catalog-top-nav.twig' %}
        </div>

        {% include 'partials/_catalog-list.twig' with {'maxItems': 5} %}

        <div class="catalog__paginator paginator">
          {% include 'partials/_paginator.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/ion.rangeSlider/ion.rangeSlider.min.js"></script>
  <script src="assets/js/range-slider.js"></script>
{% endblock %}