{% set pageTitle = "Royal Canin" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="brands.html" class="breadcrumb__link">Бренды</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="brand">
  <div class="container">
    <div class="brand__all-brands"><a href="brands.html" class="link-secondary hidden-md-up">Смотреть все бренды</a></div>

    <div class="brand__intro">
      <div class="brand__intro-logo">
        <img src="temp/brand/logo.png" alt="{{ pageTitle }}" class="brand__intro-img">
      </div>

      <div class="brand__intro-content">
        <p>Royal Canin (по-русски произносится Роял Канин) — Французский производитель кормов для кошек и собак, с 2002 года принадлежащий подразделению компании Mars, Incorporated «Masterfood».  Фирма «Royal Canin» была основана в 1967 году в местечке Гард (Франция). Нынче, главный офис размещается в городе Эмарг (Франция).</p>

        <p>Компания «Royal Canin» имеет представительства в разных странах: США, Аргентине, Бразилии, Германии, России и Канаде. Компания «Royal Canin» также известна своими разработками в области сбалансированного питания кошек и собак, основанными на производстве кормов для животных с различными особенностями: пожилой возраст, длинная шерсть, уход за кожей, образ жизни (подвижность).</p>
      </div>
    </div>

    <div class="brand__history {% if brand.history.length > 4 %}collapsed{% endif %}" data-component="brand-history">
      <h2 class="brand__history-title h3">История бренда</h2>
      <div class="brand__history-content">
        {% for item in brand.history %}
          <dl class="brand__history-item">
            <dt class="brand__history-year text-lg">{{ item.year }}</dt>
            <dd class="brand__history-text">{{ item.text }}</dd>
          </dl>
        {% endfor %}
      </div>
      {% if brand.history.length > 4 %}
        <div class="brand__history-more"><a href="#" class="link-pseudo" data-element="brand-history-toggle" data-text-collapsed="Узнать больше" data-text-open="Свернуть">Узнать больше</a></div>
      {% endif %}
    </div>
  </div>

  <div class="brand__entries section_light-green">
    <section class="brand__entries-section section">
      <div class="container">
        <div class="section__header section-header">
          <h2 class="section-header__title h3">Статьи</h2>
        </div>
        {% include 'partials/_entries-slider.twig' with {'videoReviews.list': info.articles } %}
      </div>
    </section>

    <section class="brand__entries-section section">
      <div class="container">
        <div class="section__header section-header">
          <h2 class="section-header__title h3">Видео</h2>
        </div>
        {% include 'partials/_entries-slider.twig' with {'video': true } %}
      </div>
    </section>
  </div>

  <section class="brand__categories section categories">
    <div class="container">
      <div class="section__header section-header">
        <h2 class="section-header__title h3">Товары по категориям</h2>
      </div>
      {% include 'partials/_catalog-categories.twig' %}
    </div>
  </section>

  <section class="brand__catalog catalog section">
    <div class="container">
      <div class="section__header section-header">
        <h2 class="section-header__title h3">Все товары бренда</h2>
      </div>
      {% include 'partials/_catalog-list.twig' with {'type': 'default', 'maxItems': 3, 'slice': 2} %}

      <div class="catalog__paginator paginator">
        {% include 'partials/_paginator.twig' %}
      </div>
    </div>
  </section>

</div>

{% include 'partials/_subscription.twig' %}

{% endblock %}