{% set pageTitle = "Бренды" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="brands">
  <div class="container">
    <div class="brands__section section">
      <div class="brands__header section-header">
        <h2 class="section-header__title h3">Популярные бренды</h2>
        <div class="section-header__info hidden-md-down">Брендов на сайте: 15 236</div>
      </div>

      {% include 'partials/_brands-swiper.twig' %}
    </div>

    <div class="brands__section section">
      <div class="brands__header section-header">
        <h2 class="section-header__title h3">По алфавиту</h2>
      </div>
      <div class="brands__control hidden-md-up">
        <input type="text" class="form__control form__control_lg form__control_default" placeholder="Введите букву">
      </div>
      {% include 'partials/_alpha-list.twig' with {'class': 'brand__alpha-list hidden-sm-down'} %}
    </div>

    <div class="brands__section section has-images" data-component="brands-index">
      <div class="brands__header section-header">
        <h2 class="section-header__title h3">По стране</h2>
      </div>
      <div class="brands__filter row">
        <div class="brands__select brands__filter-col col-xs-12">
          <select data-element="select" data-placeholder="Все страны">
            <option></option><!-- for select2 placholder -->
            <option>Россия</option>
            <option>Нидерланды</option>
            <option>Италия</option>
          </select>
        </div>
        <div class="brands__filter-col col-xs-12">
          <button class="brands__button button button_outline_primary button_block" data-size="lg" data-element="brands-index-control" data-text-on="Показать логотипы" data-text-off="Скрыть логотипы">Скрыть логотипы</button>
        </div>
      </div>
      <p class="brands__section-description">На этих страницах вы найдете не только каталог, но и массу интересной информации</p>

      <div class="brands__result">
        {% include 'partials/_alpha-index.twig' with {'class': 'brands__alpha-index', 'images': true} %}
      </div>
    </div>
  </div>
</div>

{% endblock %}