{% set pageTitle = "Корзина" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<form action="#" class="cart">
  <div class="container">
    {% include 'partials/_cart-list.twig' %}

    <div class="cart__checkout">
      <div class="cart__checkout-forms">
        <div class="cart__checkout-promocode">
          <input type="text" class="form__control form__control_default" placeholder="Введите промокод">
          <button type="button" class="button button_outline_secondary button_block">Применить</button>
        </div>
        <div class="cart__checkout-points-form">
          <input type="text" class="form__control form__control_default" placeholder="1200">
          <button type="button" class="button button_outline_secondary button_block">Применить баллы</button>
        </div>
      </div>
      <dl class="cart__checkout-item cart__checkout-weight">
        <dt class="cart__checkout-title">Общий вес</dt>
        <dd class="cart__checkout-value text-lg">9 кг</dd>
      </dl>
      <dl class="cart__checkout-item cart__checkout-sum">
        <dt class="cart__checkout-title">Итого</dt>
        <dd class="cart__checkout-value text-lg">4 950<span class="pennies">,00 ₽</span></dd>
      </dl>
      <div class="cart__checkout-points points">
        + 49 баллов<button class="points__icon icon-help-sm link-hidden button-default" data-template="points-template" data-element="popover-trigger" data-tippy-trigger="click" data-tippy-placement="top-center"></button>

        <div style="display: none;">
          <div id="points-template">
            <div class="popup">
              <h6 class="popup__title">Использовать бонусные рубли</h6>
              <p><a href="account-login.html" class="link-secondary">Зарегистрируйтесь</a> или <a href="account-login.html" class="link-secondary">авторизуйтесь</a> и вы сможете накапливать бонусные рубли за покупки и оплачивать ими до 50% от стоимости заказа.</p>
            </div>
          </div>
        </div>
      </div>
    </div><!-- / Cart checkout -->

    <div class="cart__footer">
      {#<a href="#" class="link-secondary">Очистить корзину</a>#}

      <div class="cart__action">
        <button type="button" class="button button_outline_secondary button_block" data-size="lg">Купить в 1 клик</button>
        <input type="submit" class="button button_secondary button_block" data-size="lg" value="Оформить заказ">
      </div>
    </div><!-- / Cart footer -->

  </div><!-- / Container -->
</form><!-- / Cart -->

<section class="catalog section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Дополните ваш заказ</h2>
    </div>

    {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
  </div>
</section>

{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/parsley.min.js"></script>
  <script src="assets/js/vendor/i18n/ru.js"></script>
{% endblock %}