{% set pageTitle = "Товары для собак" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Каталог</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="catalog">
  <div class="container">
    <div class="content__row-menu row row_sm">
      <div class="content__aside col-xs-12 col-lg-2">
        {% include 'partials/_catalog-aside-menu.twig' %}
      </div>

      <div class="content__main col-xs-12 col-lg-10">
        <div class="catalog__sections catalog-sections">
          {% include 'partials/_catalog-sections.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>

<section class="offers section section_light-green">
  <div class="container">
    <div class="row row_md">
      <div class="offers__section col-xs-12 col-md-6">
        <h3 class="offers__title h2">Товары недели</h3>
        {% include 'partials/_offers-silder.twig' with {'sliceFrom': 0, 'sliceTo': 1} %}
      </div>
      <div class="offers__section col-xs-12 col-md-6">
        <h3 class="offers__title h2">Товары дня</h3>
        {% include 'partials/_offers-silder.twig' with {'sliceFrom': 1, 'sliceTo': 2} %}
      </div>
    </div>
  </div>
</section>

{% include 'partials/_subscription.twig' %}

<section class="brands section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title h1">Популярные бренды</h2>
      <a href="" class="section__more-link link-secondary">Смотреть все бренды</a>
    </div>

    {% include 'partials/_brands-swiper.twig' %}
  </div>
</section>

<section class="about section section_compact">
  <div class="container">
    <div class="text-block">
      <div class="column-text">
        <p>Любите свою собаку? Мечтаете, чтобы ваш четвероногий друг всегда был здоров и жизнерадостен? В интернет-магазине MAGIZOO.RU можно купить различные товары для собак, которые обеспечат полноценное развитие животного и удовлетворит все его потребности!</p>
        <h4>Большой выбор товаров</h4>
        <p>Заботитесь о своем питомце? Тогда вы знаете, что помимо сбалансированного питания, ему необходимо множество других товаров. В MAGIZOO вы найдете вкусный безопасный и питательный корм для любых пород и возраста (каши, консервы, напитки, лакомства и т.д.) Также в нашем интернет-магазине вы сможете недорого купить следующие товары для собак:</p>
        <ul>
          <li>лежаки, домики, матрасы;</li>
          <li>одежда и обувь;</li>
          <li>контейнеры для корма;</li>
          <li>сумки-переноски;</li>
          <li>игрушки;</li>
          <li>клетки;</li>
          <li>туалеты и пеленки;</li>
          <li>жетоны, брелки и другие аксессуары.</li>
        </ul>
        <p>Мы предлагаем владельцам собак не только универсальные, но и специализированные средства для ухода и заботы о вашем любимце. У нас есть все для дрессировки и груминга, лечебные корма, витамины, лекарства и другие эксклюзивные и редкие товары для собак.</p>
        <h4>Качество и безопасность</h4>
        <p>Подбирая ассортимент для нашего интернет-магазина, мы сделали упор на качество, безопасность и долговечность. Все товары для собак отобраны с особой тщательностью. Вся реализуемая продукция:</p>
        <ul>
          <li>отвечает мировым стандартам качества;</li>
          <li>хранится в соответствующих условиях;</li>
          <li>имеет нормальный срок годности.</li>
        </ul>
        <p>Оформите заказ в любое время суток. Если вам нужно проконсультироваться, наши специалисты, обладающие богатым опытом в сфере продажи зоотоваров, помогут вам с выбором. С нами вы без труда обеспечите своей собаке долгую, активную и здоровую жизнь!</p>
      </div>
      <div class="page-share">
        <div class="share">
          <div class="share__title">Поделиться</div>
          <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
          <script src="https://yastatic.net/share2/share.js"></script>
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}