{% set pageTitle = "Сухой корм ORIJEN CAT & KITTEN 85/15 для кошек и котят всех пород" %}

{% extends '_layout.twig' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог</a></li>
      <li class="breadcrumb__item"><a href="catalog-section.html" class="breadcrumb__link">Товары для кошек</a></li>
      <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Сухие корма</a></li>
      <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Orijen</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="product" data-component="product">
  <div class="container">
    <div class="product__main row row_md">
      <div class="product__header col-xs-12">
        <div class="product__header-top">
          <div class="product__rating rating">
            <div class="rating__stars rating-stars" data-rate="4" data-size="15">
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
            </div>
            <span class="rating__label">6</span>
          </div>

          <ul class="product__menu product-menu">
            {% for item in product.menu %}
              <li class="product-menu__item {% if item.icon == 'print' %} hidden-md-down {% endif %}">
                <a href="{{ item.link }}" {% if item.type %} data-element="modal-trigger" {% endif %}>
                  <i class="product-menu__icon icon-{{ item.icon }}"></i><span class="hidden-sm-down">{{ item.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>

          <ul class="product__nav product-nav">
            <li class="product-nav__item">
              <a href="catalog-item-3.html"><i class="product-nav__icon icon-chevron-left"></i><span class="product-nav__text">предыдущий <span class="hidden-xs-down">товар</span></span></a>
            </li>
            <li class="product-nav__item">
              <a href="catalog-item-2.html"><span class="product-nav__text">следующий <span class="hidden-xs-down">товар</span></span><i class="product-nav__icon icon-chevron-right"></i></a>
            </li>
          </ul>
        </div>

        <div class="product__header-bottom">
          <div class="product__brand"><span class="hidden-sm-down">Все товары бренда</span> <a href="brand.html" class="product__brand-link">ORIJEN</a></div>
          <div class="product__code">ID: 1827423</div>
        </div>
      </div>

      <div class="product__media col-xs-12" data-element="product-media">
        <div class="product__media-slider product-slider" data-component="product-slider" data-gallery="true" data-zoom-parent>
          {% for item in product.offers.food.media %}
            <div class="product-slider__item slick-slide">
              {% if item.type == 'video' %}
                <a href="{{ item.link }}" data-type="iframe">
                  <img src="temp/catalog/product/slider/lg/{{item.imageLg}}" alt="">
                  <i class="product-slider__play icon-youtube-button" title="Посмотреть видео"></i>
                </a>
                {% else %}
                <a href="temp/catalog/product/slider/lg/{{item.imageLg}}">
                  <img src="temp/catalog/product/slider/lg/{{item.imageLg}}" data-zoom="temp/catalog/product/slider/lg/{{item.imageLg}}" alt="" data-zoom-img>
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="product__media-slider-nav product-slider-nav" data-component="product-slider-nav">
          {% for item in product.offers.food.media %}
            <div class="product-slider-nav__item slick-slide">
              <div class="product-slider-nav__card">
                <img src="temp/catalog/product/slider/sm/{{item.image}}" alt="">
                {% if item.type == 'video' %}
                  <i class="product-slider-nav__play icon-youtube-button"></i>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="product__content col-xs-12">
        <div class="product__zoom-pane" data-zoom-pane></div>
        <div class="product__offers">
          <div id="ancor_product" class="ancor"></div>
          <h6 class="product__offers-title">Варианты фасовки (выберите удобный для вас вес)</h6>

          <div class="product__offers-tabs tabs tabs_pills">
            <div class="product__offers-menu">
              <ul class="product__offers-tabs-list tabs__list row row_sm" role="tablist">
                {% for item in product.offers.food.nav %}
                  <li class="tabs__item {% if item.class %} col-xs-12 {% else %} col-xs-6 col-sm-3 {% endif %}" role="tab">
                    <a href="#ancor_product" class="tabs__link {% if item.id == 2 %}active{% endif %}" role="tab">
                      {% if item.class %}
                        {{ item.name }}
                        {% else %}
                        <span class="tabs__link-text">{{ item.name }}</span>
                        {% if item.info %} <span class="tabs__link-info">{{ item.info }}</span>{% endif %}
                      {% endif %}
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <button class="product__offers-button button button_info button_block" data-element="product-toggle" data-info-text="Описание товара" data-sets-text="Комплекты">Описание товара</button>
            </div>

            <div class="tabs__content">
              {% for item in product.offers.food.nav %}
                <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="offers-{{ item.id }}">
                  <div data-element="product-sets">
                    <h6 class="product__offers-title">Предложения для выбраного веса</h6>

                    <div class="product__offers-header product-offer row row_sm">
                      <div class="product-offer__col product-offer__col_name col">Наименования</div>
                      <div class="product-offer__col product-offer__col_price col">Цена за 1 шт.</div>
                      <div class="product-offer__col product-offer__col_order col"></div>
                    </div>

                    <div class="product__offers-list">
                      {% for offer in product.offers.food.list %}
                        <div class="product__offers-item">
                          <div class="product-offer {% if offer.outofstock %} product-offer_muted {% endif %} row row_sm row-xs-top row-md-center">
                            <div class="product-offer__col product-offer__col_name col">
                              <h5 class="product-offer__title">{{ offer.title }}</h5>
                              {% if offer.instock %}
                                <span class="product-offer__instock">в наличии</span>
                              {% endif %}
                            </div>
                            <div class="product-offer__col product-offer__col_price col">
                              <div class="product-offer__price {% if offer.priceClass %} product-offer__price_{{ offer.priceClass }} {% endif %} {% if offer.oldPrice %} secondary {% endif %}">
                                {{ offer.price }}
                              </div>
                              {% if offer.oldPrice %}
                                <div class="product-offer__price-old price-old">
                                  {{ offer.oldPrice }}
                                </div>
                              {% endif %}
                            </div>
                            {% if offer.outofstock %}
                              <div class="product-offer__col product-offer__col_preorder col-xs-12">
                                <a href="#subscribe-form" class="link-secondary" data-element="modal-trigger">{{ offer.preorder }}</a>
                              </div>
                              {% else %}
                              <div class="product-offer__col product-offer__col_order col">
                                <div class="product-offer__amount">
                                  <div class="product-offer__amount-form amount-form" data-component="amount-form">
                                    <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                                    <input type="text" class="amount-form__input form__control" value="{{ offer.amount }}" data-element="amount-input" data-min="0">
                                    <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
                                  </div>
                                  <span class="product-offer__points points">{{ offer.points }}</span>
                                </div>
                                <button class="product-offer__button icon icon-shopping-cart" title="В корзину"></button>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="hidden" data-element="product-details">
                    <div class="product__set">
                      <div class="product__details details">
                        {% for detail in product.offers.food.details %}
                          <dl class="details__item row">
                            <dt class="details__name col-xs-7 col-md-6">{{ detail.name }}</dt>
                            <dd class="details__data col-xs-5 col-md-6">{{ detail.data }}</dd>
                          </dl>
                        {% endfor %}
                      </div>

                      <div class="product__order">
                        <div class="product__order-instock">в наличии</div>

                        <div class="row">
                          <div class="product__order-prices col">
                            <div class="product__order-price secondary">1 870<span class="pennies">,00 ₽</span></div>
                            <div class="product__order-price-old price-old">2 000,00 ₽</div>
                          </div>
                          <div class="product__order-amount col">
                            <div class="product__order-amount-form amount-form" data-component="amount-form">
                              <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                              <input type="text" class="amount-form__input form__control" value="5" data-element="amount-input" data-min="0">
                              <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
                            </div>
                            <span class="product__order-points points">+ 18 баллов</span>
                          </div>
                        </div>

                        <button class="product__order-button button button_secondary button_block">В корзину</button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="product__footer" data-element="product-footer">
          <div class="product__delivery">
            {% for item in product.delivery %}
              <a href="{{ item.link }}" class="product__delivery-item" {% if item.modal == true %} data-element="modal-trigger" {% endif %}>
                <i class="product__delivery-icon icon-{{ item.icon }} {% if item.iconClass %}{{item.iconClass}}{% endif %}"></i>
                <div class="product__delivery-content">
                  <div class="product__delivery-name {% if item.linkClass %}{{item.linkClass}}{% endif %}">{{ item.name }}</div>
                  <div class="product__delivery-info">{{ item.info }}</div>
                </div>
              </a>
            {% endfor %}
          </div>

          <div class="product__checkout product-checkout">
            <div class="product-checkout__header hidden-xs-down">
              <dl class="product-checkout__weight">
                <dt class="product-checkout__label">Общий вес</dt>
                <dd class="product-checkout__value text-lg">9 кг</dd>
              </dl>
              <div class="product-checkout__total">
                <span class="product-checkout__price text-lg">9 350<span class="pennies">,00 ₽</span></span>
                <span class="product-checkout__price-old price-old">12 350,00 ₽</span>
              </div>
              {#<div class="product-checkout__points points">+ 90 баллов</div>#}
            </div>
            <div class="product-checkout__action">
              <a href="#cart-success-modal" class="button button_secondary button_block" data-size="lg" data-element="modal-trigger">Добавить в корзину</a>
              <a href="#" class="button button_link button_link_secondary button_block " data-size="lg">Купить в 1 клик</a>
            </div>
            <div class="product-checkout__subscription">
              <i class="product-checkout__subscription-icon icon-event-available"></i>
              <span class="product-checkout__subscription-text"><a href="#subscribe-modal" class="link-secondary" data-element="modal-trigger">Подпишитесь на товар</a> и он будет автоматически перемещаться в вашу корзину в указанное время</span>
            </div>
            {#<div class="product-checkout__promo">
              <div class="product-checkout__promo-offer">Клубная цена <span class="product-checkout__promo-price">8950<span class="pennies">,00 ₽</span></span> <i class="product-checkout__promo-icon icon-help-sm" data-element="tooltip-trigger" data-tippy-placement="top-center" data-tippy-content="Какой-то текст"></i></div>
              <div class="product-checkout__promo-action"><a href="#" class="link-secondary link-pseudo">Хочу!</a></div>
            </div>#}
          </div>

          <div class="product__notes" data-element="product-notes">
            <div class="product__notes-item">
              <a href="#" class="product__notes-link link-secondary">
                <i class="product__notes-icon icon-account-balance-wallet"></i>
                <span class="link-pseudo">Это дорого?</span>
              </a>
            </div>
            <div class="product__notes-item">
              <a href="#" class="product__notes-link link-muted">
                <i class="product__notes-icon icon-help-sm"></i>
                <span class="link-pseudo">Товар не подлежит возврату после покупки</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product__review">
      <div class="product__review-text">
        <p>У меня британский кот, 3 года. Мы его забрали себе у знакомых. Они его кормили кормами не лучшего качества. Когда мы его привезли, он был худоват, линял жутко, газа текли. Мы его сразу перевели на Роял, буквально за 2 недели кот стал здоровее, шерсть блестит, не лезит вообще (вычесываем 2 раза в неделю) глаза не текут, стул нормальный ...</p>
      </div>
      <div class="product__review-more"><a href="#product-reviews" class="link-secondary" data-element="tab-toggle" data-component-id="product-tabs">Подробнее</a></div>
    </div>

    {% set activeTabId = 8 %}
    <div class="product__info">
      <div class="product__info-tabs tabs tabs_primary" data-component="collapsible-tabs" data-component-id="product-tabs">
        <ul class="tabs__list" role="tablist">
          {% for item in product.info %}
            <li class="tabs__item" role="tab">
              <a href="#product-{{ item.id }}" class="tabs__link {% if loop.index == activeTabId %}active{% endif %}" role="tab">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="tabs__content">
          {% for item in product.info %}
            <div class="tabs__tab {% if loop.index == activeTabId %}active{% endif %}" role="tabpanel" data-id="product-{{ item.id }}">
              {% if loop.index == 8 %}
                {% include 'partials/_product-questions.twig' %}
                {% elseif loop.index == 7 %}
                {% include 'partials/_product-reviews.twig' %}
                {% else %}
                {% include 'partials/_product-description.twig' %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section_light-green catalog-sections catalog-sections_popular">
  <div class="container">
    <h2 class="catalog-sections__title">Популярные разделы товаров для собак</h2>
    {% include 'partials/_catalog-sections.twig' with {'popular': 'true'} %}
  </div>
</div>

<section class="catalog section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Похожие товары</h2>
    </div>

    {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
  </div>
</section>

<section class="catalog section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title h1">Вы смотрели</h2>
    </div>

    {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
  </div>
</section>

{% include 'partials/_subscription.twig' %}
{% endblock %}

{% block modals %}
  {% include 'partials/_product-modals.twig' %}
{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/moment.ru.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="assets/js/datepicker.js?123465"></script>
{% endblock %}
