{% set pageTitle = "Ботинки FOR MY DOGS сапоги для собак зимние розовые FMD650-2019 P" %}

{% extends '_layout.twig' %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Каталог</a></li>
      <li class="breadcrumb__item"><a href="catalog-section.html" class="breadcrumb__link">Товары для кошек</a></li>
      <li class="breadcrumb__item"><a href="catalog.html" class="breadcrumb__link">Сухие корма</a></li>
      <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Orijen</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="product" data-component="product">
  <div class="container">
    <div class="product__main row row_md">
      <div class="product__header col-xs-12">
        <div class="product__header-top">
          <div class="product__rating rating">
            <div class="rating__stars rating-stars" data-rate="4" data-size="15">
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
              <i class="rating-stars__star icon-star"></i>
            </div>
            <span class="rating__label">6</span>
          </div>

          <ul class="product__menu product-menu">
            {% for item in product.menu %}
              <li class="product-menu__item {% if item.icon == 'print' %} hidden-md-down {% endif %}">
                <a href="{{ item.link }}" {% if item.type %} data-element="modal-trigger" {% endif %}>
                  <i class="product-menu__icon icon-{{ item.icon }}"></i><span class="hidden-sm-down">{{ item.name }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>

          <ul class="product__nav product-nav">
            <li class="product-nav__item">
              <a href="catalog-item-3.html"><i class="product-nav__icon icon-chevron-left"></i><span class="product-nav__text">предыдущий <span class="hidden-xs-down">товар</span></span></a>
            </li>
            <li class="product-nav__item">
              <a href="catalog-item-2.html"><span class="product-nav__text">следующий <span class="hidden-xs-down">товар</span></span><i class="product-nav__icon icon-chevron-right"></i></a>
            </li>
          </ul>
        </div>

        <div class="product__header-bottom">
          <div class="product__brand"><span class="hidden-sm-down">Все товары бренда</span> <a href="brand.html" class="product__brand-link">ORIJEN</a></div>
          <div class="product__code">ID: 1827423</div>
        </div>
      </div>

      <div class="product__media col-xs-12" data-element="product-media">
        <div class="product__media-slider product-slider" data-component="product-slider" data-gallery="true" data-zoom-parent>
          {% for item in product.offers.clothes.media %}
            <div class="product-slider__item slick-slide">
              {% if item.type == 'video' %}
                <a href="{{ item.link }}" data-type="iframe">
                  <img src="temp/catalog/product/slider/lg/{{item.imageLg}}" alt="">
                  <i class="product-slider__play icon-youtube-button" title="Посмотреть видео"></i>
                </a>
                {% else %}
                <a href="temp/catalog/product/slider/lg/{{item.imageLg}}">
                  <img src="temp/catalog/product/slider/lg/{{item.imageLg}}" data-zoom="temp/catalog/product/slider/lg/{{item.imageLg}}" alt="" data-zoom-img>
                </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="product__media-slider-nav product-slider-nav" data-component="product-slider-nav">
          {% for item in product.offers.clothes.media %}
            <div class="product-slider-nav__item slick-slide">
              <div class="product-slider-nav__card">
                <img src="temp/catalog/product/slider/sm/{{item.image}}" alt="">
                {% if item.type == 'video' %}
                  <i class="product-slider-nav__play icon-youtube-button"></i>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="product__content col-xs-12">
        <div class="product__zoom-pane" data-zoom-pane></div>
        <div class="product__offers">
          <h6 class="product__offers-title">Варианты</h6>

          <div class="product__offers-tabs tabs tabs_pills" data-component="tabs">
            <div class="product__offers-menu">
              <ul class="product__offers-tabs-list tabs__list row row_sm" role="tablist">
                {% for item in product.offers.clothes.nav %}
                  <li class="tabs__item col-xs-6 col-sm-3" role="tab">
                    <a href="#offers-{{ item.id }}" class="tabs__link {% if item.id == 2 %}active{% endif %}" role="tab">
                      <span class="tabs__link-text">{{ item.name }}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

            <div class="tabs__content">
              {% for item in product.offers.clothes.nav %}
                <div class="tabs__tab {% if loop.index == 2 %}active{% endif %}" role="tabpanel" data-id="offers-{{ item.id }}">
                  <ul class="product__sizes sizes">
                  {% for size in product.offers.clothes.sizes %}
                    <li class="sizes__item">
                      <label class="custom-control custom-radio" data-type="size">
                        <input type="radio" class="custom-control__input" name="{{ item.id }}-size" value="{{ size.name }}" {% if size.selected %}checked{% endif %} {% if size.outofstock %}disabled{% endif %}>
                        <span class="custom-control__indicator">{{ size.name }}</span>
                      </label>
                    </li>
                  {% endfor %}
                  </ul>
                </div>
              {% endfor %}
            </div>

            <div class="product__set">
              <div class="product__details details">
                {% for detail in product.offers.clothes.details %}
                  <dl class="details__item row">
                    <dt class="details__name col-xs-7 col-md-6">{{ detail.name }}</dt>
                    <dd class="details__data col-xs-5 col-md-6">{{ detail.data }}</dd>
                  </dl>
                {% endfor %}
              </div>

              <div class="product__order">
                <div class="product__order-instock">в наличии</div>

                <div class="row">
                  <div class="product__order-prices col">
                    <div class="product__order-price secondary">1 870<span class="pennies">,00 ₽</span></div>
                    <div class="product__order-price-old price-old">2 000,00 ₽</div>
                  </div>
                  <div class="product__order-amount col">
                    <div class="product__order-amount-form amount-form" data-component="amount-form">
                      <button class="amount-form__control icon-remove" data-element="dec-control" type="button"></button>
                      <input type="text" class="amount-form__input form__control" value="5" data-element="amount-input" data-min="0">
                      <button class="amount-form__control icon-add" data-element="inc-control" type="button"></button>
                    </div>
                    <span class="product__order-points points">+ 18 баллов</span>
                  </div>
                </div>

                <button class="product__order-button button button_secondary button_block">В корзину</button>
              </div>
            </div>
          </div>
        </div>

        <div class="product__footer" data-element="product-footer">
          <div class="product__delivery">
            {% for item in product.delivery %}
              <a href="{{ item.link }}" class="product__delivery-item" {% if item.modal == true %} data-element="modal-trigger" {% endif %}>
                <i class="product__delivery-icon icon-{{ item.icon }} {% if item.iconClass %}{{item.iconClass}}{% endif %}"></i>
                <div class="product__delivery-content">
                  <div class="product__delivery-name {% if item.linkClass %}{{item.linkClass}}{% endif %}">{{ item.name }}</div>
                  <div class="product__delivery-info">{{ item.info }}</div>
                </div>
              </a>
            {% endfor %}
          </div>

          <div class="product__checkout product-checkout">
            <div class="product-checkout__header hidden-xs-down">
              <div class="product-checkout__total">
                <span class="product-checkout__price text-lg">9 350<span class="pennies">,00 ₽</span></span>
                <span class="product-checkout__price-old price-old">12 350,00 ₽</span>
              </div>
              <div class="product-checkout__points points">+ 90 баллов</div>
            </div>
            <div class="product-checkout__subscription">
              <i class="product-checkout__subscription-icon icon-event-available"></i>
              <span class="product-checkout__subscription-text"><a href="#subscribe-modal" class="link-secondary" data-element="modal-trigger">Подпишитесь на товар</a> и он будет автоматически перемещаться в вашу корзину в указанное время</span>
            </div>
            <div class="product-checkout__promo">
              <div class="product-checkout__promo-offer">Клубная цена <span class="product-checkout__promo-price">8950<span class="pennies">,00 ₽</span></span> <i class="product-checkout__promo-icon icon-help-sm" data-element="tooltip-trigger" data-tippy-placement="top-center" data-tippy-content="Какой-то текст"></i></div>
              <div class="product-checkout__promo-action"><a href="#" class="link-secondary link-pseudo">Хочу!</a></div>
            </div>
          </div>

          <div class="product__notes" data-element="product-notes">
            <div class="product__notes-item">
              <a href="#" class="product__notes-link link-secondary">
                <i class="product__notes-icon icon-account-balance-wallet"></i>
                <span class="link-pseudo">Это дорого?</span>
              </a>
            </div>
            <div class="product__notes-item">
              <a href="#" class="product__notes-link link-muted">
                <i class="product__notes-icon icon-help-sm"></i>
                <span class="link-pseudo">Товар не подлежит возврату после покупки</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product__review">
      <div class="product__review-text">
        <p>У меня британский кот, 3 года. Мы его забрали себе у знакомых. Они его кормили кормами не лучшего качества. Когда мы его привезли, он был худоват, линял жутко, газа текли. Мы его сразу перевели на Роял, буквально за 2 недели кот стал здоровее, шерсть блестит, не лезит вообще (вычесываем 2 раза в неделю) глаза не текут, стул нормальный ...</p>
      </div>
      <div class="product__review-more"><a href="#product-reviews" class="link-secondary" data-element="tab-toggle" data-component-id="product-tabs">Подробнее</a></div>
    </div>

    {% set activeTabId = 8 %}
    <div class="product__info">
      <div class="product__info-tabs tabs tabs_primary" data-component="collapsible-tabs" data-component-id="product-tabs">
        <ul class="tabs__list" role="tablist">
          {% for item in product.info %}
            <li class="tabs__item" role="tab">
              <a href="#product-{{ item.id }}" class="tabs__link {% if loop.index == activeTabId %}active{% endif %}" role="tab">{{ item.name }}</a>
            </li>
          {% endfor %}
        </ul>

        <div class="tabs__content">
          {% for item in product.info %}
            <div class="tabs__tab {% if loop.index == activeTabId %}active{% endif %}" role="tabpanel" data-id="product-{{ item.id }}">
              {% if loop.index == 8 %}
                {% include 'partials/_product-questions.twig' %}
                {% elseif loop.index == 7 %}
                {% include 'partials/_product-reviews.twig' %}
                {% else %}
                {% include 'partials/_product-description.twig' %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section section_light-green catalog-sections catalog-sections_popular">
  <div class="container">
    <h2 class="catalog-sections__title">Популярные разделы товаров для собак</h2>
    {% include 'partials/_catalog-sections.twig' with {'popular': 'true'} %}
  </div>
</div>

<section class="catalog section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title">Похожие товары</h2>
    </div>

    {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
  </div>
</section>

<section class="catalog section">
  <div class="container">
    <div class="section__header">
      <h2 class="section__title h1">Вы смотрели</h2>
    </div>

    {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
  </div>
</section>

{% include 'partials/_subscription.twig' %}
{% endblock %}

{% block modals %}
  {% include 'partials/_product-modals.twig' %}
  {% include 'partials/_modal-in-cart.twig' %}
{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/moment.ru.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="assets/js/datepicker.js?123465"></script>

  <script>
  /* Modal open on load for demonstartion purpose only */
  $(document).ready(function(){
    $(window).on('load', function () {
      $.magnificPopup.open({
        items: {
          src: '#in-cart-modal'
        },
        type: 'inline',
        fixedContentPos: true,
        fixedBgPos: true,

        overflowY: 'auto',

        closeBtnInside: true,
        preloader: false,

        midClick: true,
        removalDelay: 300,
        mainClass: 'mfp-zoom-in',
      }, 0);
    });
  });
  </script>
{% endblock %}
