{% set pageTitle = "Лечебные корма для собак" %}

{% extends '_layout.twig' %}

{% block styles %}
  <link href="assets/js/vendor/ion.rangeSlider/ion.rangeSlider.css" rel="stylesheet">
  <link href="assets/js/vendor/ion.rangeSlider/ion.rangeSlider.skinBrunnen.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Каталог</a></li>
      <li class="breadcrumb__item"><a href="#" class="breadcrumb__link">Товары для собак</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="catalog">
  <div class="container">
    <div class="content__row-filter row row_md">
      <div class="content__aside col-xs-12 col-lg-2">
        <div class="filters">
          {% include 'partials/_filters.twig' with {'filters': catalog.filters} %}
        </div>
        {% include 'partials/_yandex-market.twig' with {'class': 'sm', 'responsiveClass': 'hidden-md-down'} %}
      </div>

      <div class="content__main col-xs-12 col-lg-10">
        <div class="catalog__brands popular-brands">
          <h6 class="popular-brands__title">Популярные бренды</h6>
          <ul class="popular-brands__list">
            {% for brand in catalog.popularBrands %}
              <li class="popular-brands__item">
                <a href="" class="popular-brands__link">{{ brand }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="catalog__page-nav">
          {% set viewType = "cells" %}

          {% include 'partials/_catalog-top-nav.twig' %}
        </div>

        {% include 'partials/_catalog-list.twig' with {'maxItems': 5} %}

        <div class="catalog__paginator paginator">
          {% include 'partials/_paginator.twig' %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section catalog-sections catalog-sections_popular">
  <div class="container">
    <hr>
    <h2 class="catalog-sections__title">Популярные разделы товаров для собак</h2>
    {% include 'partials/_catalog-sections.twig' with {'popular': 'true'} %}

    <div class="catalog-sections__content about text-block">
      <div class="column-text">
        <p>Лечебный корм для собак, имеющий в своей основе целый комплекс витаминов и биологических добавок, позволяет эффективно решать проблемы, связанные с ослаблением иммунитета после продолжительной болезни, заболеваниями суставов, нарушением обмена веществ и другими заболеваниями домашних питомцев. Как правило, для создания продуктов из этой категории приглашаются известные ветеринары, которые дают рекомендации по выбору компонентов, необходимых для восстановления нормальной работы внутренних органов и появления у животного новых сил для успешной борьбы с разнообразными болезнями.</p>
        <p>Наш интернет-магазин предлагает купить лечебные корма по выгодной стоимости, доступной многим отечественным потребителям. От других отечественных компаний нас выгодно отличается большой ассортимент и высокий уровень обслуживания. Благодаря этому каждый покупатель, которого интересует лечебный сухой корм для собак с оптимальным соотношением цены и качества, может рассчитывать на индивидуальный подход и внимательное отношение. Консультанты нашего магазина помогут выбрать программу питания, которая принесет максимальную пользу собаке с учетом определенных симптомов протекания болезни.</p>
      </div>
      <div class="page-share">
        <div class="share">
          <div class="share__title">Поделиться</div>
          <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
          <script src="https://yastatic.net/share2/share.js"></script>
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'partials/_subscription.twig' %}
{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/ion.rangeSlider/ion.rangeSlider.min.js"></script>
  <script src="assets/js/range-slider.js"></script>
{% endblock %}