{% set pageTitle = "Напишите нам" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <div class="row">
        <div class="col-xs-12">
          <form action="#" class="info__contact-us form" data-form="contact-us" data-validate="parsley">
            <div class="row">
              <div class="form__header col-xs-12 col-md-11">
                <p>Мы открыты для обратной связи с покупателями, партнерами и теми, кто хотел бы работать у нас. <br>Оставьте свой отзыв, вопрос или комментарий о работе компании через форму ниже. Мы ответим Вам так быстро как только сможем.</p>
              </div>
              <div class="col-xs-12 form__col">
                <div class="form__group">
                  <label class="form__label" for="name">Имя *</label>
                  <input type="text" class="form__control form__control_lg" placeholder="Введите ваше имя" tabindex="10" id="name" required>
                </div>
                <div class="form__group">
                  <label class="form__label" for="user_email">Email *</label>
                  <input type="email" class="form__control form__control_lg" placeholder="Введите ваш Email" tabindex="20" id="email" required>
                </div>
                <div class="form__group">
                  <label class="form__label" for="user_phone">Телефон *</label>
                  <input type="text" class="form__control form__control_lg" placeholder="+ 7 (ххх) ххх-хх-хх" tabindex="30" id="phone" data-element="phone-mask" required>
                </div>
                <div class="form__group">
                  <label class="form__label" for="user_phone">Сообщение *</label>
                  <textarea rows="4" class="form__control form__control_lg" placeholder="Напишите ваше сообщение" tabindex="40" id="message" required></textarea>
                </div>
                <div class="form__group">
                  <div class="custom-file">
                    <input type="file" name="file" id="file" tabindex="50" data-element="input-file">
                    <label class="custom-file__label" for="file">
                      <span class="custom-file__button button button_outline_secondary" data-font-size="md" data-size="lg">Добавить файл</span><span class="custom-file__text">Объем файла не более 2 мб. Допустимые форматы файла: jpg, png, doc, docx</span>
                    </label>
                  </div>
                </div>
                <div class="form__consent primary">
                  <label class="custom-control custom-checkbox" data-size="sm">
                    <input type="checkbox" class="custom-control__input" name="agreement" value="1" tabindex="60" required checked>
                    <span class="custom-control__indicator"></span>
                    Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
                  </label>
                </div>
                <div class="form__submit">
                  <input type="submit" class="button button_secondary button_block" data-font-size="md" data-size="lg" tabindex="70" value="Зарегистрироваться">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="assets/js/contact-us-form.js"></script>
{% endblock %}