{% set pageTitle = "Контактная информация" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="contacts">
  <div class="container">
    <ul class="contacts__anchors anchors">
      {% for item in [
          {name: 'Интернет-магазин', id: 'online-shop'},
          {name: 'Пункты самовывоза', id: 'pickups'},
          {name: 'Офисы', id: 'offices'}
        ]
      %}
      <li class="anchors__item">
        <a href="#{{ item.id }}" class="anchors__link button button_outline_primary" data-size="lg" data-scroll>{{ item.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <section class="contacts__section" id="online-shop">
    <div class="container">
      <h3 class="contacts__title">Интернет-магазин</h3>

      <div class="contacts__info row">
        {% for info in contactsPage.contacts %}
          <dl class="col-xs-12 col-md-6 {{ info.col }}">
            <dt class="contacts__info-title h5">{{ info.name }}</dt>
            {% for item in info.list %}
              <dd class="contacts__info-text">{{ item }}</dd>
            {% endfor %}
          </dl>
        {% endfor %}
      </div>

      <div class="contacts__message text-lg bg-green text-center">Заказы через сайт принимаются круглосуточно!</div>
    </div>
  </section>

  <div class="contacts__map" id="main-map"></div>

  <section class="contacts__section" id="pickups">
    <div class="container">
      <div class="pickup tabs" data-component="tabs">
        <div class="pickup__header">
          <h3 class="pickup__title">Пункт самовывоза</h3>

          <div class="pickup__tabs-list tabs__list button-group" role="tablist">
            <a href="#pickup-list" class="tabs__link button button_outline_primary active" data-size="lg" role="tab">Список</a>
            <a href="#pickup-map" class="tabs__link button button_outline_primary" data-size="lg" role="tab">Карта</a>
          </div>
        </div>

        <div class="tabs__content">
          <div class="tabs__tab" role="tabpanel" data-id="pickup-map">
            <div class="pickup__map pickup__map_md" id="shops-map"></div>
          </div>

          <div class="tabs__tab active" role="tabpanel" data-id="pickup-list">
            <div class="shops">
              <ul class="shops__list">
                {% for shop in contactsPage.shops %}
                  <li class="shops__item shop" data-component="panel">
                    <header class="shop__header bg-green">
                      <div class="shop__header-row row row_md">
                        <h5 class="shop__header-item shop__title col-xs-12">{{ shop.title }}</h5>
                        <div class="shop__header-item col-xs-12"><a href="#" class="link-underline" data-element="panel-map">Смотреть на карте</a></div>
                      </div>
                      <div class="shop__header-row row">
                        <div class="shop__header-item col-xs-12">{{ shop.address }}</div>
                        <div class="shop__header-item col-xs-12">{{ shop.phone }}</div>
                        <div class="shop__header-item col-xs-12">{{ shop.email }}</div>
                      </div>
                      <a href="#" class="shop__header-icon icon icon-chevron-up" data-element="panel-toggle"></a>
                    </header>
                    <div class="shop__body" data-element="panel-content">
                      <div class="row row-h-justify">
                        <div class="shop__img-placeholder col-xs-12 col-md-4 col-lg-5">
                          <div class="shop__map" style="display: none;" id="shop-map-{{ loop.index }}"></div>
                          <img src="/temp/shop.jpg" alt="" class="shop__img">
                        </div>
                        <div class="shop__content col-xs-12 col-md-8 col-lg-7">
                          <p>
                            <strong>Время работы:</strong><br>
                            Пн-Пт: 10:00-21:00, Сб: 10:00-18:00
                          </p>
                          <p>
                            <strong>Как доехать:</strong><br>
                            По Московскому шоссе, до пересечения с советской улицей. Далее налево 400 метров. <br>
                            На входе торгового центра большая вывеска «НОРМА КОРМА». <br>
                            Магазин находится на 2м этаже.
                          </p>
                          <div class="shop__action">
                            <button data-element="map-switch" class="shop__button button button_outline_primary" data-size="lg">Показать на карте</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="contacts__section" id="offices">
    <div class="container">
      <h3 class="contacts__title">Региональные офисы</h3>

      <div class="contacts__offices row row_md">
        {% for office in contactsPage.offices %}
          <div class="contacts__offices-item office col-xs-12 col-md-6 col-lg-4">
            <h5 class="office__title h5">{{ office.title }}</h5>
            <div class="office__details">
              {% for item in office.contacts %}
                <dl class="office__info">
                  <dt class="office__info-name">{{ item.name }}</dt>
                  <dd class="office__info-text">{{ item.text }}</dd>
                </dl>
              {% endfor %}
            </div>
            <div class="office__map" id="office-map-{{ loop.index }}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

</div>

{% endblock %}

{% block headerScripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function () {
    ymaps.ready(init);

    function init() {
      var officeMap1 = new ymaps.Map("office-map-1", {
        center: [54.1893, 37.5824],
        zoom: 17,
        controls: []
      });
      var officePlacemark1 = new ymaps.Placemark([54.1893, 37.5824], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'улица Первомайская, д.35, Тула, MAGIZOO.RU'
      });
      officeMap1.geoObjects.add(officePlacemark1);

      var officeMap2 = new ymaps.Map("office-map-2", {
        center: [54.5134432, 36.246584400000074],
        zoom: 17,
        controls: []
      });
      var officePlacemark2 = new ymaps.Placemark([54.5134432, 36.246584400000074], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'ул. Плеханова, д.48/8, стр.1, оф.517, Калуга, MAGIZOO.RU'
      });
      officeMap2.geoObjects.add(officePlacemark2);

      var officeMap3 = new ymaps.Map("office-map-3", {
        center: [54.919921, 37.434523],
        zoom: 17,
        controls: []
      });
      var officePlacemark3 = new ymaps.Placemark([54.919921, 37.434523], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'г. Серпухов, ул. Ворошилова, д.128'
      });
      officeMap3.geoObjects.add(officePlacemark3);

      /*shop map*/

      var shopMap1 = new ymaps.Map("shop-map-1", {
        center: [55.59947356914077,37.59705499999993],
        zoom: 17,
        controls: []
      });
      var shopPlacemark1 = new ymaps.Placemark([55.59947356914077,37.59705499999993], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'г. Москва, ул. Кировоградская, д 42, зоомагазин Норма Корма'
      });
      shopMap1.geoObjects.add(shopPlacemark1);

      var shopMap2 = new ymaps.Map("shop-map-2", {
        center: [54.83177300392776,37.63138641534422],
        zoom: 17,
        controls: []
      });
      var shopPlacemark2 = new ymaps.Placemark([54.83177300392776,37.63138641534422], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'г. Пущино, ул. Строителей, д 1А/9'
      });
      shopMap2.geoObjects.add(shopPlacemark2);

      var shopMap3 = new ymaps.Map("shop-map-3", {
        center: [54.91992156976481,37.43452249999989],
        zoom: 17,
        controls: []
      });
      var shopPlacemark3 = new ymaps.Placemark([54.91992156976481,37.43452249999989], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'г. Серпухов, ул. Ворошилова, д 128'
      });
      shopMap3.geoObjects.add(shopPlacemark3);

      var mainMap = new ymaps.Map("main-map", {
        center: [55.71775689895019, 37.6074960609438],
        zoom: 16
      });
      var mainMapPlacemark1 = new ymaps.Placemark([55.718018505047, 37.607529711639], {
        hintContent: 'MAGIZOO.RU',
        balloonContent: 'улица Шаболовка, 34с3'
      });
      mainMap.geoObjects.add(mainMapPlacemark1);


      var shopsMap = new ymaps.Map('shops-map', {
        center: [55.751574, 37.573856],
        zoom: 10,
        controls: []
      });

      jQuery.getJSON('/assets/js/map-shops-data.json', function (json) {
        var geoObjects = ymaps.geoQuery(json);
        geoObjects.searchInside(shopsMap)
        .addToMap(shopsMap);
        shopsMap.events.add('boundschange', function () {
            // После каждого сдвига карты будем смотреть, какие объекты попадают в видимую область.
            var visibleObjects = geoObjects.searchInside(shopsMap).addToMap(shopsMap);
            // Оставшиеся объекты будем удалять с карты.
            geoObjects.remove(visibleObjects).removeFromMap(shopsMap);
        });
      });
    }
  });

    </script>
{% endblock %}