{% set pageTitle = "Magizoo.ru" %}

{% extends '_layout.twig' %}

{% block aboveContent %}
  {% include 'partials/_discount-offer.twig' %}
{% endblock %}

{% block content %}
      <div class="banner">
        <div class="container">
          <div class="banner__slider" data-component="banner-slider">
            {% for i in 1..4 %}
              <div class="slick-slide">
                <a href="#"><img src="temp/banner.jpg" alt="" class="banner__img"></a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <section class="catalog-menu section">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section-header__title h1">Популярные товары для питомцев</h2>
          </div>
          <div class="row row_sm">
            <div class="catalog-menu__form-col col-xs-12 col-md-6 col-lg-4 col-lg-3">
              <form action="#" class="form food-form">
                <i class="food-form__icon icon-bowl"></i>
                <h5 class="food-form__title">Подберите корм для своего питомца</h5>
                <div class="form__group">
                  <select data-element="select" data-placeholder="Ваш питомец">
                    <option></option> <!-- For placeholder -->
                    <option>Собака</option>
                    <option>Кошка</option>
                    <option>Птица</option>
                  </select>
                </div>
                <div class="form__group">
                  <select data-element="select" data-placeholder="Бренд корма">
                    <option></option> <!-- For placeholder -->
                    <option>Eukanuba</option>
                    <option>Gina</option>
                    <option>Farmina</option>
                    <option>Hills</option>
                  </select>
                </div>
                <div class="form__submit">
                  <input type="submit" value="Подобрать" class="button button_secondary">
                </div>
              </form>
            </div>
            <div class="catalog-menu__list-col col-xs-12 col-lg-8 col-xl-9">
              {% include 'partials/_catalog-menu-list.twig' %}
            </div>
          </div>
        </div>
      </section>

      <section class="catalog section tabs tabs_default" data-component="tabs">
        <div class="container">
          <div class="section__header section-header">
            <ul class="section__tabs-list tabs__list row" role="tablist">
              {% for item in catalog.section1 %}
                <li class="tabs__item col" role="tab">
                  <a href="#{{ item.id }}" class="tabs__link h1 {% if loop.first %}active{% endif %}" role="tab">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="tabs__content">
            {% for item in catalog.section1 %}
              <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="{{ item.id }}">
                {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="offers section section_light-green tabs tabs_icon" data-component="tabs">
        <div class="container">
          <div class="offers__nav">
            <ul class="tabs__list row" role="tablist">
              {% for item in offers.nav %}
                <li class="tabs__item col" role="tab">
                  <a href="#{{ item.id }}" class="tabs__link {% if loop.first %}active{% endif %}" role="tab">
                    <i class="tabs__link-icon icon-{{ item.icon }}"></i>
                    <span class="tabs__link-text">{{ item.name }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="tabs__content">
            {% for item in offers.nav %}
              <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="{{ item.id }}">
                <div class="row row_md">
                  <div class="offers__section col-xs-12 col-md-6">
                    <h3 class="offers__title h2">Товары недели</h3>
                    {% include 'partials/_offers-silder.twig' with {'sliceFrom': 0, 'sliceTo': 1} %}
                  </div>
                  <div class="offers__section col-xs-12 col-md-6">
                    <h3 class="offers__title h2">Товары дня</h3>
                    {% include 'partials/_offers-silder.twig' with {'sliceFrom': 1, 'sliceTo': 2} %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      {% include 'partials/_subscription.twig' %}

      <section class="catalog section tabs tabs_default" data-component="tabs">
        <div class="container">
          <div class="section__header section-header">
            <ul class="section__tabs-list tabs__list row" role="tablist">
              {% for item in catalog.section2 %}
                <li class="tabs__item col" role="tab">
                  <a href="#{{ item.id }}" class="tabs__link h1 {% if loop.first %}active{% endif %}" role="tab">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="tabs__content">
            {% for item in catalog.section2 %}
              <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="{{ item.id }}">
                {% include 'partials/_catalog-silder.twig' with {'maxItems': 3} %}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="offers section section_light-green tabs tabs_icon" data-component="tabs">
        <div class="container">
          <div class="offers__nav">
            <ul class="tabs__list row" role="tablist">
              {% for item in offers.nav %}
                <li class="tabs__item col" role="tab">
                  <a href="#{{ item.id }}" class="tabs__link {% if loop.first %}active{% endif %}" role="tab">
                    <i class="tabs__link-icon icon-{{ item.icon }}"></i>
                    <span class="tabs__link-text">{{ item.name }}</span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="tabs__content">
            {% for item in offers.nav %}
              <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="{{ item.id }}">
                <h3 class="offers__title h2">Товары по акции</h3>
                {% include 'partials/_offers-silder.twig' with {'sliceFrom': 0, 'sliceTo': 2, 'type': 'lg'} %}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="entries section tabs tabs_default" data-component="tabs">
        <div class="container">
          <div class="section__header section-header">
            <ul class="section__tabs-list tabs__list row" role="tablist">
              {% for item in videoReviews.nav %}
                <li class="tabs__item col" role="tab">
                  <a href="#{{ item.id }}" class="tabs__link h1 {% if loop.first %}active{% endif %}" role="tab">{{ item.name }}</a>
                </li>
              {% endfor %}
            </ul>
            <div class="section-header__info">
              <a href="#" class="link-secondary">Смотреть все обзоры</a>
            </div>
          </div>

          <div class="tabs__content">
            {% for item in videoReviews.nav %}
              <div class="tabs__tab {% if loop.first %}active{% endif %}" role="tabpanel" data-id="{{ item.id }}">
                {% if item.id == 'video-reviews' %}
                  {% include 'partials/_entries-slider.twig' with {'video': 'true' } %}
                  {% else %}
                  {% include 'partials/_entries-slider.twig' %}
                {% endfor %}
              </div>
            {% endfor %}
          </div>
        </div>
      </section>

      <section class="useful section">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section-header__title h1">Полезная информация</h2>
          </div>

          {% include 'partials/_useful-slider.twig' %}
        </div>
      </section>

      <section class="board section section_light-green">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section-header__title h1">Доска объявлений</h2>
            <div class="section-header__info">
              <a href="" class="link-secondary">Смотреть все объявления</a>
            </div>
          </div>

          {% include 'partials/_board-slider.twig' %}
        </div>
      </section>

      <section class="brands section">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section-header__title h1">Популярные бренды</h2>
            <div class="section-header__info">
              <a href="" class="link-secondary">Смотреть все бренды</a>
            </div>
          </div>

          {% include 'partials/_brands-swiper.twig' %}
        </div>
      </section>

      <section class="benefits section section_light-green">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section__title h1">Преимущества</h2>
          </div>

          {% include 'partials/_benefits-lists.twig' %}
        </div>
      </section>

      <section class="about section">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section-header__title h1">О компании</h2>
          </div>

          <div class="text-block">
            <div class="column-text">
              <h5>Лучшее для любимых животных в интернет-магазине MAGIZOO.RU</h5>
              <p>Мы так же, как и вы, считаем, что домашние животные заслуживают лучшего! Именно поэтому магазин MAGIZOO.RU предлагает широкий ассортимент зоотоваров и аксессуаров для ваших любимцев. На нашем сайте вы всегда найдете свежие корма, витаминные добавки, домики, игрушки, шампуни и многое другое. Все это в одном месте. Никаких изматывающих поездок по городу в поисках нужного товара. Мы собрали для вас все самые популярные позиции в одном каталоге. Это продукция по уходу за кошками, собаками, птицами, рыбками, грызунами и другими домашними животными.</p>
              <p>Более 16 лет наш магазин поставляет зоотовары любых категорий. Мы регулярно расширяем ассортимент, пополняя его интересными новинками. Предлагаем доставку по Москве и в другие города страны.</p>
              <h5>Преимущества MAGIZOO.RU</h5>
              <ul>
                <li>Широчайший выбор товаров для домашних животных.</li>
                <li>Гарантированно высокое качество.</li>
                <li>Регулярное пополнение ассортимента новинками.</li>
                <li>Двойная проверка комплектации и веса заказа перед его отправлением.</li>
                <li>Консультации сотрудников.</li>
                <li>Отсутствие лишних наценок благодаря прямому сотрудничеству с дистрибьюторами и формату интернет-магазина (нет необходимости в дорогостоящей аренде торгового зала).</li>
              </ul>
              <p><b>MAGIZOO.RU</b> — это команда специалистов, которые любят животных и свою работу. Мы постоянно развиваемся и внимательно следим за новинками отрасли, чтобы предлагать лучшее для ваших питомцев. Продукция в каталоге представлена в нескольких ценовых категориях. Каждый может найти необходимый товар для своего любимца! Если вы затрудняетесь с выбором, звоните специалистам. Они расскажут об особенностях продукции и помогут подобрать оптимальный вариант с учетом потребностей домашнего животного. Обращайтесь!</p>
            </div>
            <div class="page-share">
              {% include 'partials/_yandex-market.twig' with {'class': 'inline'} %}

              <div class="share">
                {#<div class="share__title">Поделиться</div>#}
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="certificates section section_compact">
        <div class="container">
          <div class="section__header section-header">
            <h2 class="section-header__title h1">Сертификаты и дипломы </h2>
          </div>

          {% include 'partials/_certificates-slider.twig' %}
        </div>
      </section>

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-news-subscribe.twig' %}
{% endblock %}
