{% set pageTitle = "Вопросы и ответы" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <form action="#" class="info-block__search-form form form_bg-green info-search-form hidden-lg-up">
        <div class="info-search-form__wrapper">
          <h5 class="info-search-form__title">Выберите нужный раздел слева для получения справки или воспользуйтесь поиском</h5>
          <div class="form__group">
            <input type="text" class="info-search-form__control form__control form__control_lg" placeholder="Ваш вопрос">
            <button type="submit" class="info-search-form__submit icon-search" title="Найти"></button>
          </div>
          <div class="form__group">
            <select data-element="select">
              {% for item in info.faq %}
                <option {% if loop.first %} selected {% endif %}>{{ item.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </form>

      <div class="info-block__faq faq">
        {% include 'partials/_faq-sections.twig' with {'items': 1} %}
      </div>
    </div>
  </div>
</div>

{% endblock %}