{% set pageTitle = "Как сделать заказ" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <article class="text-block" data-size="md">
        <h4>1. Войти или зарегистрироваться</h4>
        <p>Мы рекомендуем один раз пройти регистрацию и в дальнейшем авторизовываться делая заказ.</p>
        <p>В этом случае мы сразу заполним поля формы заказа известной нам уже информацией начислим бонусные баллы. Подскажем, какие товары вы покупали в прошлый раз и многое другое!</p>

        <p><img src="temp/manual/1.png" alt=""></p>

        <h4>2. Добавить товар в «Корзину»</h4>
        <p>Вы можете добавить в корзину как только приняли решение о покупке. <br>Почти сразу, в списке товаров: выбирайте нужный вариант фасовки, размера или цвета и нажимайте на иконку «в корзину»</p>

        <p><img src="temp/manual/2.png" alt=""></p>

        <p>Получив немного больше информации: при быстром просмотре товара</p>

        <p><img src="temp/manual/3.png" alt=""></p>

        <p>Узнав о товаре все, что можно в карточке товара</p>

        <p><img src="temp/manual/4.png" alt=""></p>

        <h4>3. Перейти в «Корзину»</h4>
        <p>Вы можете в любой момент перейти к оформлению заказа. Используйте иконку в шапке сайта или кнопку в карточке товара</p>

        <p><img src="temp/manual/5.png" alt=""></p>

        <p><img src="temp/manual/6.png" alt=""></p>
      </article>
    </div>
  </div>
</div>

{% endblock %}