{% set pageTitle = "Условия доставки" %}

{% extends '_layout.twig' %}

{% block headerScripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>Доставка по Москве и Московской области</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <article class="info-text">
        <h2 class="info-text__title h3"><span class="info-text__icon-placeholder"><img src="/assets/i/icons/delivery-man.svg" class="info-text__icon" alt="Курьерская доставка"></span>Курьерская доставка</h2>
        <p>Заказы, согласованные с менеджером магазина по телефону до 16-00, могут быть доставлены на следующий или в любой другой день. Остальные заказы могут быть доставлены через день или в любой удобный Вам день.</p>
        <p>Время доставки: понедельник - четверг: с 9.00 до 23.00, пятница - воскресенье: с 9.00 до 18.00</p>
        <p>Доставка бесплатна, внутри зоны 1 при заказе от 1 000 руб. , внутри зоны 2 при заказе от 2 000 руб. , внутри зоны 3 при заказе от 8 000 руб. Более подробную информацию можно получить кликнув на свой населенный пункт на карте.</p>

        <div id="delivery-map" class="info-text__map"></div>

        <footer class="info-text__footer">
          <a href="#" class="button button_primary" data-size="xl" data-font-size="md">Подробные условия доставки</a>
        </footer>
      </article>

      <article class="info-text">
        <h2 class="info-text__title h3"><span class="info-text__icon-placeholder"><img src="/assets/i/icons/customer-service.svg" class="info-text__icon" alt="Самовывоз из пунктов выдачи"></span>Самовывоз из пунктов выдачи</h2>
        <p>Служба доставки «Boxberry» доставляет заказы в «пункты выдачи” во все регионы России, ее подразделения есть более чем в 470 городах. Также если в вашем городе есть пункт выдачи «Магизу» мы доставим в них товар бесплатно.</p>
        <p>Получить Вашу посылку можно в любом отделении пункта выдачи, которы имеется в Вашем населенном пункте.</p>

        <div class="pickup-wrapper">
          {% include 'partials/_pickup.twig' %}
        </div>

        <footer class="info-text__footer">
          <a href="#" class="button button_primary" data-size="xl" data-font-size="md">Подробные условия доставки</a>
        </footer>
      </article>

      <article class="info-text">
        <h2 class="info-text__title h3"><span class="info-text__icon-placeholder"><img src="/assets/i/icons/truck.svg" class="info-text__icon" alt="Доставка транспортной компанией"></span>Доставка транспортной компанией</h2>

        <p><img src="/temp/delivery/delovye-linii.png" alt="«Деловые Линии»" width="208" height="34"></p>
        <p>Транспортная компания «Деловые Линии» осуществляет перевозки грузов уже более 18 лет. Компания может доставить груз почти в любой город России, и география грузоперевозок постоянно расширяется.</p>
        <p>Данный способ доставки подразумевает, что заказ будет доставлен транспортной компанией до вашего адреса или до терминала ТК «Деловые линии» в вашем городе. Проверяйте наличие терминала на сайте dellin.ru. При этом заказ должен быть оплачен до получения товара любым способом: (банковским переводом или банковской картой на нашем сайте), кроме способа "наличными".</p>

        <p><img src="/temp/delivery/cdek.png" alt="«СДЭК»" width="117" height="29"></p>
        <p>Транспортная компания «СДЭК» осуществляет экспресс-доставку грузов по всей территории России, доставляет любые грузы, кроме запрещенных к отправке. Более 300 подразделений и представительств компании в городах России позволяют контролировать прохождение грузов на всех этапах, существенно сокращать сроки, выбирать надежные, неоднократно проверенные маршруты доставки во все населенные пункты страны. Каждый заказ Клиента можно отследить по номеру накладной на текущий момент.</p>
        <p>Для отправки в Ваш населенный пункт заказ должен быть заранее оплачены любым способом: (банковским переводом или банковской картой на нашем сайте), кроме способа "наличными".</p>
        <footer class="info-text__footer">
          <a href="#" class="button button_primary" data-size="xl" data-font-size="md">Подробные условия доставки</a>
        </footer>
      </article>

      <article class="info-text">
        <h2 class="info-text__title h3"><span class="info-text__icon-placeholder"><img src="/assets/i/icons/package.svg" class="info-text__icon" alt="Доставка Почтой России"></span>Доставка Почтой России</h2>

        <p><img src="/temp/delivery/russianpost.png" alt="Почта России" width="207" height="34"></p>
        <p>Данный способ доставки позволит вам получить ваш заказ на Почте России. Для этого заказ должен быть 100% оплачен до получения товара любым возможным способом (банковским переводом или банковской картой на нашем сайте).</p>
        <footer class="info-text__footer">
          <a href="#" class="button button_primary" data-size="xl" data-font-size="md">Подробные условия доставки</a>
        </footer>
      </article>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="assets/js/map-delivery-zones.js"></script>
  <script src="assets/js/map-scripts.js"></script>
{% endblock %}