{% set pageTitle = "Стать представителем" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <div class="info-block__banner banner">
        <div class="banner__slider" data-component="banner-slider">
          {% for i in 1..4 %}
            <div class="slick-slide">
              <a href="#"><img src="temp/info/banner.jpg" alt="" class="banner__img"></a>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="info-block__features features">
        <div class="features__list row row_md">
          <div class="features__item col-xs-12 col-sm-6 col-md-4">
            <div class="feature">
              <i class="feature__icon icon-sale"></i>
              <p class="feature__text">Ваши рекламные материалы будут размещены в магазинах «Magizoo» на стойках «Наши Партнеры»</p>
            </div>
          </div>
          <div class="features__item col-xs-12 col-sm-6 col-md-4">
            <div class="feature">
              <i class="feature__icon icon-sale"></i>
              <p class="feature__text">Информация о вашей организации смогут увидеть множество посетителей сайта magizoo.ru</p>
            </div>
          </div>
          <div class="features__item col-xs-12 col-sm-6 col-md-4">
            <div class="feature">
              <i class="feature__icon icon-sale"></i>
              <p class="feature__text">Ваши рекламные материалы будут размещены в магазинах «Magizoo» на стойках «Наши Партнеры»</p>
            </div>
          </div>
        </div>
      </div>

      <form action="#" class="form form_bg-green account-form" data-form="registration" data-validate="parsley">
        <div class="account-form__wrapper">
          <div class="account-form__header">
            <h2 class="account-form__title">Зарегистрируйтесь, чтобы стать нашим представителем</h2>
          </div>
          <div class="form__group">
            <label class="form__label" for="lastname">Фамилия *</label>
            <input type="text" class="form__control form__control_lg" placeholder="Введите вашу фамилию" id="lastname" tabindex="10" required>
          </div>
          <div class="form__group">
            <label class="form__label" for="name">Имя *</label>
            <input type="text" class="form__control form__control_lg" placeholder="Введите ваше имя" tabindex="20" id="name" required>
          </div>
          <div class="form__group">
            <label class="form__label" for="user_email">Email *</label>
            <input type="email" class="form__control form__control_lg" placeholder="Введите ваш Email" tabindex="30" id="user_email" required>
            <div class="form__note">Этот адрес будет использован для входа в Ваш профиль</div>
          </div>
          <div class="form__group">
            <label class="form__label" for="user_password">Пароль *</label>
            <input type="password" class="form__control form__control_lg" placeholder="Не меньше 6 символов" id="user_password" tabindex="40" required minlength="6" data-parsley-minlength-message="Пароль должен быть не менее 6 символов">
          </div>
          <div class="form__group">
            <label class="form__label" for="user_phone">Мобильный телефон *</label>
            <input type="text" class="form__control form__control_lg" placeholder="+ 7 (ххх) ххх-хх-хх" tabindex="50" id="user_phone" data-element="phone-mask" required>
          </div>
          <div class="form__consent primary">
            <label class="custom-control custom-checkbox" data-size="sm">
              <input type="checkbox" class="custom-control__input" name="agreement" value="1" tabindex="60" required checked>
              <span class="custom-control__indicator"></span>
              Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в Согласии на обработку персональных данных
            </label>
          </div>
          <div class="form__submit">
            <input type="submit" class="button button_secondary" data-font-size="md" data-size="lg" tabindex="70" value="Зарегистрироваться">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}