{% set pageTitle = "Новинка! Палочки HAPPY JUNGLE!" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item"><a href="news.html" class="breadcrumb__link">Новости</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">

      <article class="text-block">
        <img src="temp/news/image.png">
        <h4>На сайте Magizoo.ru представлена новая линейка лакомств HAPPY JUNGLE для грызунов и птиц.</h4>
        <p>Палочки <b>HAPPY JUNGLE</b> – это специальная сбалансированная смесь из зерна, фруктов и ракушечника, которая способствуют укреплению костей и улучшению качества оперения, а также обеспечит птицу всеми необходимыми питательными веществами в период смены оперения.</p>

        <h6>Ключевые особенности:</h6>
        <ul class="list-dash">
          <li>Семена - составляют основу рациона, содержат все необходимые элементы, которые насыщают организм питательными веществами и поддерживают здоровье птицы.</li>
          <li>Фрукты - прекрасное дополнение к рациону, насыщают организм витаминами и повышают иммунитет.</li>
          <li>Минералы - способствуют укреплению костей и улучшению качества оперения. Их источником является ракушечник.</li>
        </ul>

        <p>Минеральные камни <b>HAPPY JUNGLE</b> – это полезное дополнение к ежедневному корму. Минералы насыщают организм кальцием, укрепляют кости, зубы и клюв.</p>

        <h6>Ключевые особенности:</h6>
        <ul class="list-dash">
          <li>Соль. Поддерживает водный баланс в организме, стимулирует работу нервной системы.</li>
          <li>Бета – каротин. Повышает иммунитет и поддерживает яркость  окраса.</li>
          <li>Морские водоросли. Природный источник витаминов минеральных веществ, включая йод в органически связанной форме.</li>
        </ul>

        <p><b>HAPPY JUNGLE</b> – это линейка сухих кормов и лакомств для грызунов, кроликов и декоративных птиц.</p>
        <p>Рационы <b>HAPPY JUNGLE</b> это:</p>
        <ul class="list-dash">
          <li>Вкусно. Обилие фруктов и овощей вносят разнообразие в ежедневный рацион и повышают поедаемость корма.</li>
          <li>Полезно. Богатый состав зерен и трав подобран согласно физиологии питания каждого вида животного.</li>
        </ul>

        <p><b>HAPPY JUNGLE – забота день за днем!</b></p>
      </article>
      <p class="back-to-section"><b><a href="news.html" class="link-secondary">К списку новостей</a></b></p>
      <div class="page-share">
        <div class="share">
          <div class="share__title">Поделиться</div>
          <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
          <script src="https://yastatic.net/share2/share.js"></script>
          <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,telegram"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}