{% set pageTitle = "Клички для маленьких собак" %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item"><a href="info.html" class="breadcrumb__link">Полезная информация</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<div class="info-block container">
  <div class="content__row row row_lg">
    <aside class="content__aside aside col-xs-12 col-lg-3 hidden-md-down">
      {% include 'partials/_aside-nav-info.twig' %}

      <a href="contact-us.html" class="aside__mail-button button button_secondary button_block" data-size="lg"><i class="button__icon icon-mail-outline"></i>Напишите нам</a>

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      {% include 'partials/_tags-section-list.twig'  with {"tags": info.sectiontags, "class": 'info-block__tags'} %}

      <p>Имя для маленькой собачки может быть прикольным, но оно не должно быть обидным или неблагозвучным. Если малышу оно нравится, он будет охотней откликаться и взаимодействовать с хозяином, учиться, а не только бежать к миске. Чувство собственного достоинства у йоркширского терьера или шпица не меньше, чем у немецкой овчарки ли лабрадора. Но не стоит называть пуделя Мустангом, Джульбарсом или Рексом. Откажитесь и от кошачьих прозвищ.</p>
      <p>Чтобы удачно дать кличку щенку, учитывайте:</p>
      <ul>
        <li>породу;</li>
        <li>цвет;</li>
        <li>требования кинологического клуба — определенные буквы, тематика, связанная с космосом, техникой и т.д.;</li>
        <li>темперамент животного.</li>
      </ul>
      <p>Если вы выбираете иностранное слово, обязательно уточните его значение на нескольких языках, чтобы не оказаться в неловкой ситуации. Нежелательно называть питомцев русскими именами, но можно выбрать иностранный аналог: Мэри, Ирэн, Алекс, Жан, Эльза. Имена породистых животных, указываемые в родословных, нередко труднопроизносимые, состоят из 2-3 слов. Но для обучения и повседневной жизни нужна короткая кличка, состоящая из 2-3 слогов. Она должна нравиться всем членам семьи и произноситься всеми одинаково.</p>

      <div class="section">
        <div class="section__header section-header">
          <h3 class="section-header__title">Подходящие товары для вашего нового члена семьи</h3>
        </div>
        {% include 'partials/_catalog-silder.twig' with { sliderComponent: 'catalog-slider-md' } %}
      </div>
      {% include 'partials/_alpha-list.twig' with {"alphaname": nicnames.alpha, 'class': 'brand__alpha-list hidden-sm-down'} %}
      <br><br>
      <div class="brands__result">
        {% include 'partials/_alpha-index.twig' with {"alphaname": nicnames.alpha, 'class': 'brands__alpha-index', 'images': false} %}
      </div>
      {#% include 'partials/_entries-list.twig' with {"class": 'info-block__entries'} %#}

      <div class="info-block__pagination paginator">
        {% include 'partials/_paginator.twig' with {"sorting": false} %}
      </div>
    </div>
  </div>
</div>

{% endblock %}