{% set pageTitle = "Оформление заказа" %}

{% extends '_layout.twig' %}

{% block headerScripts %}
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock %}

{% block content %}

<div class="container">
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
      <li class="breadcrumb__item">{{ pageTitle }}</li>
    </ul>
  </div>
  <h1>{{ pageTitle }}</h1>
</div>

<form action="#" class="order-form" data-form="order" data-validate="parsley">
  <div class="container">
    <!-- Customer -->
    <div class="order-form__section form-panel" data-component="form-panel" id="customer">
      <div class="form-panel__header">
        <h5 class="form-panel__title h5">Шаг 1. Ваши данные</h5>
      </div><!-- / Panel header -->

      <div class="form-panel__content" data-element="form-panel-content">
        <div class="form-panel__body">
          <div class="order-form__frame">
            <div class="row row_md">
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <input type="text" class="form__control form__control_lg" placeholder="Имя" tabindex="10" id="name" data-parsley-group="customer">
                </div><!-- / Form group -->
              </div>
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <input type="text" class="form__control form__control_lg" placeholder="Фамилия" tabindex="11" id="lastname" data-parsley-group="customer">
                </div><!-- / Form group -->
              </div>
            </div>

            <div class="row row_md">
              <div class="col-xs-12 col-md-6">
                <div class="row row_md">
                  <div class="col-xs-8">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Ваш телефон *" tabindex="12" id="phone" required data-element="phone-mask" data-parsley-group="customer">
                      <div class="form__message"></div>
                    </div><!-- / Form group -->
                  </div>
                  <div class="col-xs-4">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Доп." tabindex="13" id="phoneextra" data-parsley-group="customer">
                    </div><!-- / Form group -->
                  </div>
                </div>
              </div>
            </div>

            <div class="row row_md">
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <input type="email" class="form__control form__control_lg" placeholder="Email *" tabindex="14" id="email" required data-parsley-group="customer">
                </div><!-- / Form group -->
              </div>
            </div>
          </div><!-- / Order Form Frame -->

          <div class="order-form__section" data-component="order-form-section">
            <label class="order-form__section-control custom-control custom-checkbox" data-size="sm">
              <input type="checkbox" class="custom-control__input" name="other_person" value="1" tabindex="20" data-element="form-section-trigger" data-id="other-person">
              <span class="custom-control__indicator"></span>
              Получателем товара будет другой человек
            </label>
            <div class="order-form__section-content hidden" data-element="form-section-content" id="other-person">
              <div class="order-form__frame">
                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Имя" tabindex="21" id="other_name" data-parsley-group="customer" disabled>
                    </div><!-- / Form group -->
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Фамилия" tabindex="22" id="other_lastname" data-parsley-group="customer" disabled>
                    </div><!-- / Form group -->
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="row row_md">
                      <div class="col-xs-8">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Ваш телефон *" tabindex="23" id="other_phone" required data-element="phone-mask" data-parsley-group="customer" disabled>
                          <div class="form__message"></div>
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Доп." tabindex="24" id="other_phoneextra" data-parsley-group="customer" disabled>
                        </div><!-- / Form group -->
                      </div>
                    </div>
                  </div>
                </div>
              </div><!-- / Order Form Frame -->
            </div>
          </div>

          <div class="order-form__section" data-component="order-form-section">
            <label class="order-form__section-control custom-control custom-checkbox" data-size="sm">
              <input type="checkbox" class="custom-control__input" name="company" value="1" tabindex="30" data-element="form-section-trigger" data-id="company">
              <span class="custom-control__indicator"></span>
              Оформить заказ на компанию или ИП
            </label>
            <div class="order-form__section-content hidden" data-element="form-section-content" id="company">
              <div class="order-form__frame">
                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Название компании *" tabindex="31" id="company_name" required data-parsley-group="customer" disabled>
                    </div><!-- / Form group -->
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Телефон компании" tabindex="32" id="company_phone" data-element="phone-mask" data-parsley-group="customer" disabled>
                      <div class="form__message"></div>
                    </div><!-- / Form group -->
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="row row_md">
                      <div class="col-xs-12 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="ИНН *" tabindex="33" id="company_inn" required data-parsley-group="customer" data-parsley-type="digits" data-parsley-type-message="Поле не может содержать буквы">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="КПП" tabindex="34" id="company_kpp" data-parsley-group="customer" data-parsley-type="digits" data-parsley-type-message="Поле не может содержать буквы">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-12 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="ОКПО" tabindex="35" id="company_okpo" data-parsley-group="customer" data-parsley-type="digits" data-parsley-type-message="Поле не может содержать буквы">
                        </div><!-- / Form group -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-12">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Юр адрес" tabindex="36" id="company_address" data-parsley-group="customer" disabled>
                    </div><!-- / Form group -->
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Расчетный счет" tabindex="37" id="company_payment_account" data-parsley-group="customer" data-parsley-type="digits" data-parsley-type-message="Поле не может содержать буквы" disabled>
                    </div><!-- / Form group -->
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Корреспондентский счет" tabindex="38" id="company_correspondent_account" data-parsley-group="customer" data-parsley-type="digits" data-parsley-type-message="Поле не может содержать буквы" disabled>
                    </div><!-- / Form group -->
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Наименование банка" tabindex="39" id="company_bank" data-parsley-group="customer" disabled>
                    </div><!-- / Form group -->
                  </div>
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="БИК" tabindex="40" id="company_bik" data-parsley-group="customer" data-parsley-type="digits" data-parsley-type-message="Поле не может содержать буквы" disabled>
                    </div><!-- / Form group -->
                  </div>
                </div>
              </div><!-- / Order Form Frame -->
            </div>
          </div>

          <footer class="form-panel__footer">
            <button class="form-panel__next button button_secondary" data-element="form-panel-next" data-group="customer">Далее<i class="button__arrow-right icon-arrow-right"></i></button>
          </footer>
        </div><!-- / Panel body -->
      </div><!-- / Panel content -->
    </div><!-- / Order section -->

    <!-- Delivery -->
    <div class="order-form__section form-panel collapsed" data-component="form-panel" id="delivery">
      <div class="form-panel__header">
        <h5 class="form-panel__title h5">Шаг 2. Доставка </h5>
      </div><!-- / Panel header -->

      <div class="form-panel__content" data-element="form-panel-content">
        <div class="form-panel__body">
          <div class="order-form__frame">
            <div class="row row_md">
              <div class="col-xs-12 col-md-6">
                <div class="form__group">
                  <label class="form__label" for="location">Город или населенный пункт</label>
                  <input type="text" class="form__control form__control_lg" placeholder="Введите название" tabindex="50" id="location" data-parsley-group="delivery">
                </div><!-- / Form group -->
              </div>
            </div>
          </div><!-- / Order Form Frame -->

          <div data-component="form-section">
            <ul class="controls-list controls-list_inline">
              <li class="controls-list__item">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control__input" name="delivery-type-tab" value="courier" checked="checked" tabindex="51" data-element="form-section-trigger" data-id="courier-section">
                  <span class="custom-control__indicator"></span>
                  <span>Курьерская доставка</span>
                </label>
              </li>
              <li class="controls-list__item">
                <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control__input" name="delivery-type-tab" value="pickup" tabindex="52" data-element="form-section-trigger" data-id="pickup-section">
                  <span class="custom-control__indicator"></span>
                  <span>Самовывоз</span>
                </label>
              </li>
            </ul>

            <div data-element="form-section-content" id="courier-section">
              <div class="order-form__frame">
                <ul class="courier-list">
                  {% for item in courier %}
                    <li class="courier-list__item courier">
                      <label class="courier__control custom-control custom-radio">
                        <input type="radio" class="custom-control__input" name="delivery-courier" value="courier-{{ loop.index }}" tabindex="5{{ loop.index + 2 }}" {% if loop.first %} checked {% endif %}>
                        <span class="custom-control__indicator"></span>
                        <span class="courier__logo">
                          <img src="/temp/delivery/{{ item.logo }}.png" alt="Логотип {{ item.name }}" class="courier__logo-img">
                        </span>
                        <span class="courier__name">{{ item.name }}</span>
                        <span class="courier__price">{{ item.price }}</span>
                        <span class="courier__period">{{ item.period }}</span>
                      </label>
                    </li>
                  {% endfor %}
                </ul>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <input type="text" class="form__control form__control_lg" placeholder="Улица" tabindex="51" id="street" data-parsley-group="delivery">
                    </div><!-- / Form group -->
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="row row_md">
                      <div class="col-xs-6 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Дом *" tabindex="52" id="house-number" required data-parsley-group="delivery">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Кор./ Стр." tabindex="53" id="customer-housing" data-parsley-group="delivery">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Кв./оф." tabindex="54" id="ap-number" data-parsley-group="delivery">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Подъезд" tabindex="55" id="entrance-number" data-parsley-group="delivery">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Этаж" tabindex="56" id="floor" data-parsley-group="delivery">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-6 col-md-4">
                        <div class="form__group">
                          <input type="text" class="form__control form__control_lg" placeholder="Домофон" tabindex="57" id="code" data-parsley-group="delivery">
                        </div><!-- / Form group -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="row row_md">
                      <div class="col-xs-12 col-md-6">
                        <div class="form__group">
                          <label class="form__label" for="delivery-date">Дата доставки</label>
                          <input type="text" class="form__control form__control_lg" placeholder="" tabindex="58" id="delivery-date" value="30.05.19" data-element="single-datepicker-input" data-parsley-group="delivery-date">
                        </div><!-- / Form group -->
                      </div>
                      <div class="col-xs-12 col-md-6">
                        <div class="form__group">
                          <label class="form__label" for="delivery-time">Время доставки</label>
                          <select data-element="select-default" tabindex="59" id="delivery-time">
                            <option selected>09:00 - 15:00</option>
                            <option>12:00 - 18:00</option>
                            <option>15:00 - 21:00</option>
                            <option>18:00 - 24:00</option>
                          </select>
                        </div><!-- / Form group -->
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row row_md">
                  <div class="col-xs-12 col-md-6">
                    <div class="form__group">
                      <textarea rows="3" class="form__control form__control_lg" placeholder="Коментарий по доставке" tabindex="60" id="comment" data-parsley-group="delivery"></textarea>
                    </div><!-- / Form group -->
                  </div>
                </div>
              </div><!-- / Order Form Frame -->
            </div>

            <div class="hidden" data-element="form-section-content" id="pickup-section">
              {% include 'partials/_pickup-order.twig' %}
            </div>
          </div>

          <footer class="form-panel__footer">
            <button class="form-panel__prev button button_outline_secondary" data-element="form-panel-prev" data-group="delivery"><i class="button__arrow-left icon-arrow-left"></i>Назад</button>
            <button class="form-panel__next button button_secondary" data-element="form-panel-next" data-group="delivery">Далее<i class="button__arrow-right icon-arrow-right"></i></button>
          </footer><!-- / Panel footer -->
        </div><!-- / Panel body -->
      </div><!-- / Panel content -->
    </div><!-- / Order section -->

    <!-- Payment -->
    <div class="order-form__section form-panel collapsed" data-component="form-panel" id="payment">
      <div class="form-panel__header">
        <h5 class="form-panel__title h5">Шаг 3. Варианты оплаты</h5>
      </div><!-- / Panel header -->

      <div class="form-panel__content" data-element="form-panel-content">
        <div class="form-panel__body">
          <ul class="order-form__payment controls-list">
            <li class="controls-list__item">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control__input" name="payment" value="1" tabindex="70" checked data-parsley-group="payment">
                <span class="custom-control__indicator"></span>
                <i class="custom-control__icon icon-wallet-sm"></i>
                <span>Оплата наличными курьеру</span>
              </label>
            </li>
            <li class="controls-list__item">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control__input" name="payment" value="2" tabindex="71" data-parsley-group="payment">
                <span class="custom-control__indicator"></span>
                <i class="custom-control__icon icon-credit-card-sm"></i>
                <span>Оплата картой курьеру</span>
              </label>
            </li>
            <li class="controls-list__item">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control__input" name="payment" value="3" tabindex="72" data-parsley-group="payment">
                <span class="custom-control__indicator"></span>
                <i class="custom-control__icon icon-monitor"></i>
                <span>Оплата банковской картой на сайте</span>
              </label>
            </li>
            <li class="controls-list__item">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control__input" name="payment" value="4" tabindex="73" data-parsley-group="payment">
                <span class="custom-control__indicator "></span>
                <i class="custom-control__icon icon-museum"></i>
                <span>Через банк</span>
              </label>
            </li>
          </ul><!-- / Controls list -->
        </div><!-- / Panel body -->
        <footer class="form-panel__footer">
          <button class="form-panel__prev button button_outline_secondary" data-element="form-panel-prev" data-group="payment"><i class="button__arrow-left icon-arrow-left"></i>Назад</button>
          <button class="form-panel__next button button_secondary" data-element="form-panel-next" data-group="payment">Далее<i class="button__arrow-right icon-arrow-right"></i></button>
        </footer><!-- / Panel footer -->
      </div><!-- / Panel content -->
    </div><!-- / Order section -->

    <!-- Cart -->
    <div class="order-form__section form-panel" data-component="form-panel" id="cart">
      <div class="form-panel__header">
        <h5 class="form-panel__title h5">Шаг 4. Заказ</h5>
      </div><!-- / Panel header -->

      <div class="form-panel__content" data-element="form-panel-content">
        <div class="form-panel__body">
          <div class="order-form__promocode">
            <input type="text" class="form__control form__control_default" placeholder="Промокод">
            <button type="button" class="button button_primary button_block">Активировать</button>
          </div>

          <div class="cart-preview">
            {% include 'partials/_cart-preview-list.twig' %}
          </div>
        </div><!-- / Panel body -->
      </div><!-- / Panel content -->
    </div><!-- / Order section -->

    <footer class="order-form__footer">
      <div class="order-form__delivery-info" data-element="order-form-delivery-info" hidden>
        <p>Доставка: пункт самовывоза Boxberry ул. Островского, 38</p>
        <p>Дата доставки: 12.02.2020</p>
        <p>Время доставки: 09:00 - 15:00</p>

        <button class="order-form__edit-button button button_outline_secondary" hidden data-element="order-form-edit" data-size="lg">Изменить данные</button>
      </div>

      <div class="order-form__checkout">
        <div class="checkout-list">
          <dl class="checkout-list__item row row_sm">
            <dt class="checkout-list__name col-xs-6">Товаров на</dt>
            <dd class="checkout-list__text col-xs-6"><span class="price-old">5 400 ₽</span> 4950 руб.</dd>
          </dl>
          <dl class="checkout-list__item row row_sm">
            <dt class="checkout-list__name col-xs-6">Доставка</dt>
            <dd class="checkout-list__text col-xs-6">Бесплатно</dd>
          </dl>
          <dl class="checkout-list__item row row_sm">
            <dt class="checkout-list__name col-xs-6">Бонус</dt>
            <dd class="checkout-list__text col-xs-6 points">+234 балла</dd>
          </dl>
          <dl class="checkout-list__item checkout-list__total row row_sm">
            <dt class="checkout-list__name col-xs-6">Итого</dt>
            <dd class="checkout-list__text text-md col-xs-6">4950 руб.</dd>
          </dl>
        </div>

        <div class="order-form__submit" data-element="order-form-submit" hidden>
          <input type="submit" class="button button_secondary button_block" data-size="xl" data-font-size="lg" tabindex="200" value="Оформить заказ">
          <p class="order-form__consent primary text-sm">Оформляя заказ, вы подтверждаете свою дееспособность, даете свое согласие на получение информации о статусе заказов и даете свое согласие на <a href="#" class="link-secondary">обработку персональных данных</a>.</p>
        </div>
      </div>
    </footer>
  </div><!-- / Container -->
</form><!-- / Order form -->

{% endblock %}

{% block modals %}
  {% include 'partials/_modal-pickup-point.twig' %}
  {% include 'partials/_modal-notification.twig' %}
{% endblock %}

{% block scripts %}
  <script src="assets/js/vendor/moment.ru.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="assets/js/order-form.js"></script>
  <script src="assets/js/map-scripts.js"></script>
{% endblock %}