{% set pageTitle = "Типовой раздел о покупках" %}

{% set newUser = true %}

{% extends '_layout.twig' %}

{% block content %}

<div class="container">
  <div class="content__row row row_lg">
    <aside class="content__aside col-xs-12 col-lg-3">
      {% include 'partials/_aside-nav.twig' %}

      {% include 'partials/_yandex-market.twig' %}
    </aside>

    <div class="content__main col-xs-12 col-lg-9">
      <div class="breadcrumb">
        <ul class="breadcrumb__list">
          <li class="breadcrumb__item"><a href="index.html" class="breadcrumb__link">Главная</a></li>
          <li class="breadcrumb__item">Типовой раздел</li>
        </ul>
      </div>
      <h1>Типовой раздел о покупках</h1>
      <article class="text-block">
        <div class="row row_xl">
          <div class="col-xs-12 text-col">
            <p>Собаководы и заводчики кошек в первую очередь стараются добиться превосходного внешнего вида питомца. Блестящая шерсть является показателем хорошего здоровья. В конце концов ухоженный вид животного вызывает положительные эмоции.</p>
            <p>Поддерживать собак и кошек в чистоте и порядке призваны специальные средства. Уход за шерстью предполагает проведение гигиенических процедур.</p>
            <p>Важно знать, что средства, выпускаемые промышленностью для человека, животным не подходят. У кошек и собак кислотная среда кожи абсолютно другая. У них практически нет сальных и потовых желез, поэтому вещества, способствующие загрязнению, вырабатываются в небольших количествах. Обычные шампуни и гели для душа могут навредить собаке или кошке, приведя к ухудшению цвета шерсти и даже выпадению волос.</p>
          </div>
          <div class="col-xs-12 img-right">
            <img src="temp/article/1.jpg">
          </div>
        </div>
        <h2>Заголовок второго уровня</h2>
        <img src="temp/article/2.jpg">
        <p>Важно знать, что средства, выпускаемые промышленностью для человека, животным не подходят. У кошек и собак кислотная среда кожи абсолютно другая. У них практически нет сальных и потовых желез, поэтому вещества, способствующие загрязнению, вырабатываются в небольших количествах. Обычные шампуни и гели для душа могут навредить собаке или кошке, приведя к ухудшению цвета шерсти и даже выпадению волос.</p>
        <blockquote>
          <p>Важно знать, что средства, выпускаемые промышленностью для человека, животным не подходят. У кошек и собак кислотная среда кожи абсолютно другая. У них практически нет сальных и потовых желез, поэтому вещества, способствующие загрязнению, вырабатываются в небольших количествах. Обычные шампуни и гели для душа могут навредить собаке или кошке, приведя к ухудшению цвета шерсти и даже выпадению волос.</p>
        </blockquote>
        <p>Обычные шампуни и гели для душа могут навредить собаке или кошке, приведя к ухудшению цвета шерсти и даже выпадению волос.</p>

        <a href="#" class="pub-preview">
          <div class="pub-preview__img-placeholder">
            <img src="temp/article/3.jpg" class="pub-preview__img" alt="">
          </div>
          <div class="pub-preview__content">
            <h3 class="pub-preview__title">Заголовок статьи</h3>
            <p class="pub-preview__text">Важно знать, что средства, выпускаемые промышленностью для человека, животным не подходят. У кошек и собак кислотная среда кожи абсолютно другая. У них практически нет сальных и потовых желез, поэтому вещества, способствующие загрязнению, вырабатываются в небольших количествах.</p>
            <div class="pub-preview__action">
              <span class="pub-preview__button button button_primary" data-font-size="md" data-size="lg">Узнать больше</span>
            </div>
          </div>
        </a>

        <h2>Видео с подписью</h2>
        <div class="row row_lg">
          <div class="col-xs-12 col-md-5">
            <a href="https://www.youtube.com/watch?v=7kupsW0QvsE" class="video" data-element="video-trigger">
              <img src="temp/article/4.jpg" alt="" class="video__img">
              <i class="video__play-button icon-youtube-button-lg"></i>
            </a>
          </div>
          <div class="col-xs-12 col-md-7">
            <h3>Заголовок видео</h3>
            <p>Важно знать, что средства, выпускаемые промышленностью для человека, животным не подходят. У кошек и собак кислотная среда кожи абсолютно другая. У них практически нет сальных и потовых желез, поэтому вещества, способствующие загрязнению, вырабатываются в небольших количествах.</p>
          </div>
        </div>

        <h2>Видео большое</h2>
        <a href="https://www.youtube.com/watch?v=7kupsW0QvsE" class="video" data-element="video-trigger">
          <img src="temp/article/5.jpg" alt="" class="video__img">
          <i class="video__play-button icon-youtube-button-lg"></i>
        </a>

        <h2>Галерея</h2>
        {% include 'partials/_gallery.twig' %}

        <ul class="files">
          {% for file in files %}
          <li class="files__item"><a href="#" class="files__link"><i class="files__icon icon-{{ file.icon}}"></i>{{ file.name }}</a></li>
          {% endfor %}
        </ul>

        <h3>Заголовок третьего уровня</h3>
        <h5>Помощь приюту «Хвостатый рай»</h5>
        <ul>
          <li>Еда для животных (сухие корма для собак; каши; консервы для собак;),</li>
          <li>Всегда необходимы средства для дегельминтизации, таблетки: Цестал, Дронтал, Мильбемакс и др.!!!</li>
          <li>Всегда нужны средства для обработки от клещей, капли и ошейники: Барс, Адвантикс, Фронтлайн, Килтикс, Скалибор, Stronghold, Rolf Club, и т.д.</li>
          <li>Подстилки, миски,</li>
          <li>Клетка для щенков,</li>
          <li>Средства для дезинфекции</li>
        </ul>
      </article>
    </div>
  </div>
</div>

{% endblock %}