.content {
    padding-top: 21px;
    padding-bottom: 28px;

    &__row {
        flex-direction: column-reverse;
    }

    &__aside {
        margin-top: 44px;
    }

    &__row-filter {
        .content__aside {
            margin-top: 0;
        }
    }

    &__row-menu {
        .content__aside {
            margin-top: 0;
        }
    }

    &__banner {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        padding-top: 31px;

        &__row {
            flex-direction: row;
            margin-bottom: 65px;
        }

        &__aside {
            margin-top: 0;
            position: relative;
            z-index: 20;
        }

        &__row-filter {
            .content__aside {
                max-width: 228px;
                flex: 0 0 228px;
            }

            .content__main {
                max-width: calc(100% - 228px);
                flex: 0 0 calc(100% - 228px);
            }
        }

        &__row-menu {
            .content__aside {
                max-width: 248px;
                flex: 0 0 248px;
            }

            .content__main {
                max-width: calc(100% - 248px);
                flex: 0 0 calc(100% - 248px);
            }
        }
    }

    @include media-breakpoint-up(xl) {
      padding-top: 0;
    }

    @media(min-width: 1540px) {
        &__body {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            position: relative;
        }

        &__banner {
            margin-left: 5px;
            margin-right: 5px;
            display: block;
            position: sticky;
            top: 0;
            z-index: 81;

            .header-fixed & {
                top: 84px;
            }

            &-img {
                display: block;
            }
        }

        &__container {
            flex: 0 0 1226px;
        }

        &__inner {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
    }

    @media(min-width: 1920px) {
        &__banner {
            margin-left: 11px;
            margin-right: 11px;
        }

        &__container {
            flex: 0 0 1232px;
        }
    }
}