.footer {
    &__bar {
        background-color: $primary;
        color: $yellow-2;
        padding-top: 18px;
        padding-bottom: 24px;

        a {
            color: inherit;
        }

        &-apps {
            margin-top: 18px;
        }

        &-social {
            margin-top: 18px;
        }
    }

    &__phones {
        display: flex;
        flex-direction: column;
    }

    &__phone {
        display: flex;
        flex-direction: column;
        margin-bottom: 18px;

        &-number {
            @include font(18px, 30px, 500);
            white-space: nowrap;
        }

        &-note {
            color: $green;
            margin-top: -5px;
        }
    }

    &__contacts {
        @include make-row(20px);
        flex-direction: column;

        &-item {
            margin-top: 6px;
            margin-bottom: 6px;
            white-space: nowrap;
            @include make-col(20px);
        }

        &-icon {
            @include size(24px);
            font-size: 24px;
            top: -1px;
            margin-right: 12px;
        }
    }

    &__apps {
        @include make-row(22px);

        &-item {
            @include make-col(22px);
        }

        &-img {
            display: block;
        }
    }

    &__body {
        background-color: $green;
        @include font(13px, 20px);
        color: $gray-8;
        padding-bottom: 7px;
    }

    &__nav {
        &-section {
            border-bottom: 1px solid rgba($yellow-7, .1);
        }

        &-title {
            margin-bottom: 0;
            padding-top: 19px;
            padding-right: 32px;
            padding-bottom: 5px;
            position: relative;
            color: $base-color;

            &:after {
                position: absolute;
                top: 15px;
                right: 7px;
                @include size(18px);
                font-size: 18px;
                color: #dadac4;
                transform: rotate(0);
                transition: transform .25s ease-in-out;

                .footer__nav-section.active & {
                    transform: rotate(-180deg);
                }
            }
        }

        &-list {
            @include list-unstyled;
            padding-top: 3px;
            padding-left: 8px;
        }

        &-item {
            margin-bottom: 4px;
        }

        &-link {
            color: inherit;

            @include hover-focus {
                color: $primary;
                text-decoration: underline;
            }
        }
    }

    &__addresses {
        margin-top: 28px;
        margin-bottom: 25px;

        p {
            margin-bottom: 8px;
        }
    }

    &__pay-form {
        max-width: 288px;
    }

    &__bottom {
        background-color: $green;
        @include font(13px, 21px);
        border-top: 1px solid rgba($yellow-7, .1);
        padding-top: 19px;
        padding-bottom: 11px;

        a {
            color: $gray-8;
        }

        &-col {
            margin-bottom: 1em;
        }
    }

    @include media-breakpoint-up(sm) {
        &__contacts {
            margin-top: 0;
        }
    }

    @include media-breakpoint-between(sm, md) {
        &__bar {
            .row {
                display: grid;
                grid-template-columns: .8fr 1.2fr;
                grid-template-rows: 1fr 1fr;
                gap: 0px 0px;
                grid-template-areas:
                  "contacts apps"
                  "contacts social";
            }

            &-contacts,
            &-apps,
            &-social {
                max-width: none;
            }

            &-contacts {
                grid-area: contacts;
            }

            &-apps {
                grid-area: apps;
                margin-top: 0;
            }

            &-social {
                grid-area: social;
                align-self: end;
                padding-bottom: 9px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__bar {
            padding-top: 10px;
            padding-bottom: 9px;

            .row {
                justify-content: space-between;
            }

            &-contacts,
            &-apps,
            &-social {
                max-width: none;
                flex: initial;
            }

            &-apps,
            &-social {
                margin-top: 0;
            }

            &-apps,
            &-social {
                margin-top: 0;
            }
        }

        &__phones {
            flex-direction: row;
            flex-wrap: wrap;
            margin-left: -14px;
            margin-right: -14px;
        }

        &__phone {
            padding-left: 14px;
            padding-right: 14px;
        }

        &__social {
            justify-content: flex-end;
        }

        &__body {
            padding-top: 29px;
            padding-bottom: 26px;
        }

        &__nav {
            &-section {
                border-bottom: 0;
            }

            &-title {
                margin-bottom: 1em;
                padding: 0;

                &:after {
                    display: none;
                }
            }

            &-list {
                padding: 0;
                display: block !important;
            }

            &-item {
                margin-bottom: 4px;
            }
        }

        &__addresses {
            margin-top: 24px;
            margin-bottom: 27px;
        }

        &__bottom {
            padding-top: 18px;
            padding-bottom: 17px;

            &-col {
                margin-bottom: 0;
            }
        }

        &__payment-methods {
            text-align: right;
            margin-top: -7px;
            margin-left: -10px;

            .payment-methods__list {
                justify-content: flex-end;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__bar {
            &-contacts {
                display: flex;
                align-items: center;
            }
        }

        &__phone {
            margin-bottom: 0;
        }

        &__contacts {
            margin-left: 46px;
        }

        &__bottom {
            &-col {
                &:first-child {
                    padding-right: 96px;
                }
            }
        }
    }
}