.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;

    &__bar {
        background-color: $primary;
        color: $green;
        padding-top: 17px;
        padding-bottom: 13px;
        position: relative;

        &-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    }

    &__triggers {
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: -8px;
        position: relative;
        top: -2px;
    }

    &__trigger {
        @include size(24px);
        font-size: 21px;
        line-height: 24px;
        color: inherit;
        margin-left: 6px;
        margin-right: 6px;

        &.icon-search,
        &.icon-phone {
            color: $yellow-2;

            @include hover-focus {
                color: $green;
            }
        }
    }

    &__logo {
        width: 145px;
        transition: .25s ease-in-out;

        &-img {
            display: block;
            width: 100%;
        }

        &-text {
            display: none;
        }
    }

    &__search {
        display: none;
        padding-top: $gutter;
        padding-bottom: 10px;
        width: 100%;
    }

    &__content {
        display: none;
        background-color: $primary;
        color: $green;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 320px;
        height: 100vh;
        overflow: auto;
        z-index: 100;
        padding-bottom: 40px;
    }

    &__top {
        @include font($font-size-sm, $line-height-sm);
        position: relative;
        padding-top: 20px;

        &:before {
            background-color: $green-4;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
        }

        .overlay {
            z-index: 30;
        }
    }

    &__location {
        position: relative;
        margin-bottom: 10px;

        &-icon {
            @include size(16px);
            font-size: 16px;
            margin-right: 8px;
            top: -1px;
            transition: color .25s ease-in-out;
        }

        &-toggle {
            color: inherit;

            @include hover-focus {
                color: inherit;

                .header__location-icon {
                    color: $secondary;
                }
            }
        }

        &-text {
            border-bottom: 1px dotted;
        }
    }

    &__menu {
        background-color: $primary;
        padding-top: 19px;
        padding-bottom: 14px;

        order: 10;

        &-list {
            @include list-unstyled;
            margin-bottom: 0;
        }

        &-item {
            margin-bottom: 11px;
        }

        &-link {
            color: inherit;

            @include hover-focus {
                color: inherit;
                text-decoration: underline;
            }
        }
    }

    &__nav {
        padding-bottom: 14px;

        &-list {
            @include list-unstyled;
            margin-left: -9px;
            margin-right: -9px;
            display: flex;
            flex-wrap: wrap;
       }

        &-item {
            margin: 9px;
            width: 100%;
            position: relative;

            &_sm {
                width: auto;
            }

            &_order {
                order: 10;
            }
        }

        &-icon {
            font-size: 22px;
            margin-right: 8px;
            top: -2px;
            transition: color .25s ease-in-out;
        }

        &-link {
            color: inherit;

            @include hover-focus {
                color: inherit;

                .header__nav-icon {
                    color: $secondary;
                }
            }
        
            &.active {
                .header__nav-icon {
                    color: $secondary;
                }
     }
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column-reverse;

        &-section {
            display: flex;
            flex-direction: column;
        }

        &-control {
            font-weight: 500;
            color: $yellow-2 !important;
            margin-top: 6px;
            margin-bottom: 6px;
        }

        &-icon {
            @include size(24px);
            font-size: 24px;
            margin-right: 12px;
            top: -1px;
        }
    }

    &__phone {
        @include font(18px, 30px, 500);
        color: $white !important;
    }

    &__working-hours {
        color: $white;
        margin-top: 6px;
        margin-bottom: 13px;
    }

    &__social {
        margin-top: 22px;

        & a {
            color: $yellow-2;
        }
    }

    &_fixed {
        display: none;
    }

    @include media-breakpoint-up(xl) {
        position:relative;
        margin-bottom: 32px;
        height: 215px;

        .header-fixed & {
            z-index: 82;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-134%);
            @include size(241px, 176px);
            z-index: 1;
            pointer-events: none;
            content: '';
            background: url(../i/bg-header.png) 0 0 no-repeat;
        }

        &__content {
            display: block !important;
            position: static;
            max-width: none;
            width: auto;
            height: auto;
            padding-bottom: 0;
            overflow: visible;
        }

        &__top {
            padding-top: 7px;
            padding-bottom: 6px;

            &-row {
                align-items: baseline;
            }
        }

        &__location {
            max-width: none;
            flex: 0 0 auto;
            margin-top: 2px;
            margin-right: 8px;
            margin-bottom: 0;
        }

        &__menu {
            max-width: none;
            flex: 0 0 auto;
            order: initial;
            background: none;
            padding-top: 0;
            padding-bottom: 0;
            z-index: 2;

            &-list {
                display: flex;
                margin-left: -12px;
                margin-right: -12px;
            }

            &-item {
                margin-left: 12px;
                margin-right: 12px;
                margin-bottom: 0;
            }
        }

        &__nav {
            max-width: none;
            flex: 0 0 auto;
            margin-left: auto;
            padding-bottom: 0;

            &-list {
                display: flex;
                margin-left: -9px;
                margin-right: -9px;
            }

            &-item {
                width: auto;
                margin-top: 0;
                margin-bottom: 0;

                &_order {
                    order: initial;
                }
            }

            &-link {
                position: relative;
                display: block;
                max-width: 155px;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 60px;
                    margin-top: -20px;
                    content: '';
                }
            }
        }

        &__body {
            padding-top: 18px;
            padding-bottom: 21px;
            position: relative;
            z-index: 2;
        }

        &__logo {
            width: 291px;

            &-text {
                display: block;
                text-transform: uppercase;
                @include font(11px, 14.01px);
                color: $green;
                margin-top: 10px;
            }
        }

        &__search {
            display: block !important;
            position: relative;
            padding-top: 0;
            padding-bottom: 0;
            margin-left: auto;
            margin-right: 19px;
            max-width: 344px;
            flex: 0 0 344px;
        }

        &__contacts {
            flex-direction: row;
            max-width: 345px;
            flex: 0 0 345px;

            &-section + &-section {
                margin-left: auto;
            }

            &-control {
                color: $yellow-2 !important;
                margin-top: 0;
                margin-bottom: 0;
            }

            &-icon {
                display: none;
            }
        }

        &__phone {
            @include font(16px, 21px);
            text-align: right;
        }

        &__phone + &__phone {
            margin-top: 6px;
        }

        &__working-hours {
            margin-top: 0;
            margin-bottom: 7px;
        }

        &__fixed {
            box-shadow: 0 4px 12px rgba($black, 0.25);
            background-color: $green-4;
            color: $white;
            position: fixed;
            z-index: 1001;
            top: 0;
            left: 0;
            right: 0;
            height: auto;
            display: block;
            transform: translateY(-80px);
            margin-right: calc(-1 * (100vw - 100%));
            transition: transform .1s ease-in-out;

            .row {
                height: 60px;
            }

            &.fixed {
                transform: translateY(0);
                transition: transform .25s ease-in-out;
            }
        }

        &__fixed & {
            &__logo {
                width: 195px;
                padding-left: 0;
                margin-right: auto;

                &-text {
                    display: none;
                }
            }

            &__contacts {
                max-width: none;
                flex: 0 0 auto;
            }

            &__search {
                max-width: 289px;
                flex: 0 0 289px;
                margin: 0;
            }

            &__nav {
                margin-left: 0;
            }
        }

        &__nav-col {
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 0;
            margin-left: $gutter;
        }
    }
}