.nav {
    box-shadow: 0 4px 12px rgba($black, 0.15);
    background-color: $white;
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    max-height: calc(100vh - 54px);
    overflow-x: hidden;
    overflow: auto;
    padding-top: 46px;
    margin-right: calc(-1 * (100vw - 100%));

    &__trigger {
        position: fixed;
        top: 54px;
        left: 0;
        right: 0;
        height: 46px;
        overflow: hidden;
        padding: 12px $gutter 16px;
        cursor: pointer;
        font-weight: 700;
        background-color: $yellow-2;
        z-index: 10;

        &-icon {
            position: absolute;
            top: 50%;
            right: $gutter;
            margin-top: -12px;
            @include size(20px, 24px);
            @include font(22px, 24px);
            text-align: center;
            transform: rotate(0deg);
            transition: transform .25s ease-in-out;

            .nav.active & {
                transform: rotate(-180deg);
            }
        }
    }

    &__list {
        display: none;
        @include list-unstyled;
        margin: 0;
        padding-top: 5px;
        padding-bottom: 12px;
    }

    &__item {
        position: relative;

        &.active {
            background-color: $yellow-2;
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: 10px 20px 11px 57px;
        @include font($font-size-html, 21px, 700);
        color: $base-color;
        text-decoration: none;
        border-bottom: 1px solid $gray;
        transition: none;

        &-icon,
        &-toggle {
            position: absolute;
            top: 50%;
            margin-top: -12px;
            text-align: center;
        }

        &-icon {
            left: 8px;
            font-size: 24px;
            line-height: 24px;

            .nav__item.active & {
                left: 36px;
            }
        }

        &-toggle {
            right: 0;
            @include size(20px, 24px);
            @include font(22px, 24px);
            transform: rotate(0deg);
            transition: transform .25s ease-in-out;

            .nav__item.active & {
                right: auto;
                left: 0;
                transform: rotate(-180deg);
            }
        }

        .nav__item.active & {
            padding: 10px $gutter 14px 69px;
            @include font($font-size-base, 28px);
            color: $secondary-text;
            border-bottom-color: $yellow-2;
            height: 46px;
            overflow: hidden;
            position: fixed;
            top: 54px;
            left: $gutter;
            right: $gutter;
            background-color: $yellow-2;
            z-index: 11;
        }
    }

    &__subnav {
        display: none;
    }

    @include media-breakpoint-up(lg) {
        background-color: $yellow-2;
        padding-top: 0;
        position: static;
        overflow: visible;

        &__trigger {
            display: none;
        }

        &__list {
            display: flex !important;
            padding-top: 0;
            padding-bottom: 0;
            background-color: $yellow-2;
        }

        &__item {
            position: static;
            top: 0;
            flex: 1;

            &:first-child {
                border-left: 1px solid #eac878;
            }
        }

        &__link {
            padding: 11px;
            @include font($font-size-base, 18px);
            color: $base-color;
            border-bottom: 0;
            text-align: center;
            transition: .25s ease-in-out;
            background-color: $yellow-2;
            z-index: 2;
            border-right: 1px solid #eac878;

            &-icon {
                display: block;
                position: static;
                margin: 0 auto 9px;
            }

            &-toggle {
                display: none;
            }

            @include hover-focus {
                background-color: $yellow-3;
            }

            &.active {
                background-color: $yellow-3;
            }

            .nav__item.active & {
                position: relative;
                background: none;
                z-index: initial;
                top: 0;
                left: 0;
                right: auto;
                height: auto;
            }
        }

        &__subnav {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 80;
            opacity: 0;
            visibility: hidden;
            transition: all .1s ease .25s;

            .nav__item:hover &,
            .nav__item:focus & {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        $nav-width: 192px !default;
        z-index: 20;
        top: 0;

        .header__fixed & {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: calc(100vh - 60px);
            background: transparent;
            pointer-events: none;
            width: 1256px;
            box-shadow: 0 4px 12px -4px rgba($black, 0.25);

            .container {
                height: 100%;
                position: relative;
                background: $white;
                padding-left: 0;
                padding-right: 0;
            }

            &__list {
                flex-direction: column;
                background-color: $white;
                height: 100%;
                position: relative;
                pointer-events: all;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    background-color: rgba($yellow-2, .7);
                    content: '';
                    width: $nav-width;
                }
            }

            .nav__item {
                flex: initial;
                position: static;
                width: $nav-width;

                &:first-child {
                    border-left: 0;
                }

                @include hover-focus {
                    .nav__link {
                        background-color: $yellow-3;
                        color: $base-color;
                    }

                    .nav__subnav {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.active {
                    .nav__link {
                        background-color: $yellow-3;
                        color: $base-color;
                        line-height: inherit;
                    }

                    .nav__subnav {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            .nav__link {
                border-right-width: 0;
                border-bottom: 1px solid rgba($gray-5, .2);
                display: flex;
                align-items: center;
                padding: 9px 12px 13px;
                background: none;

                &-icon {
                    max-width: 24px;
                    flex: 0 0 24px;
                    margin: 0 20px 0 0;
                }

                &.active {
                    background-color: $yellow-3;
                }
            }

            .nav__subnav {
                top: 0;
                left: $nav-width;
                padding-left: $gutter;
            }
        }

        .nav-fixed & {
            display: block;
        }
    }
}
