.secnav {
    @include list-unstyled;
    margin-top: 14px;
    padding-bottom: 13px;

    &__item {
        margin-bottom: 3px;
    }

    &__link {
        display: inline-block;
        line-height: 1.6428;
        padding: 1px .5em 2px;
        margin-left: -.5em;
        text-decoration: none;
        border-radius: 2px;

        @include hover-focus {
            background-color: $primary;
            color: $white;
            text-decoration: underline;
        }
    }

    @include media-breakpoint-up(lg) {
        &-wrapper {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: $grid-gutter-width-2 / 2;
            left: 200px;
            right: 0;
            bottom: 0;
            background-color: $white;
            box-shadow: 0 6px 36px rgba($black, 0.1);
            border-radius: $border-radius;
            padding: $grid-gutter-width-2;
            z-index: 2;
            transition: .25s ease-in-out;
            overflow: auto;
        }

        &_hover {
            columns: 6;
            column-gap: $grid-gutter-width-2;
            padding: 0;
            margin: 0;
        }

        &_hover & {
            &__item {
                break-inside: avoid;
                margin-bottom: $gutter-2 / 2;
            }

            &__link {
                @include font($font-size-sm, $line-height-sm, 500);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &_hover {
            columns: 6;
        }
    }
}
