.subnav {
    background-color: $white;
    padding-top: 3px;
    padding-bottom: 12px;
    color: $base-color;

    &__list {
        @include list-unstyled;
        margin: 0;
    }

    &__link {
        display: block;
        position: relative;
        padding: 10px 20px 12px 0;
        font-weight: bold;
        color: $base-color;
        text-decoration: none;
        border-bottom: 1px solid $gray;

        &-toggle {
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -12px;
            text-align: center;
            @include size(20px, 24px);
            @include font(22px, 24px);
            transform: rotate(0deg);
            transition: transform .25s ease-in-out;
        }
    }

    &__secnav {
        display: none;
    }

    .brands {
        padding-top: 11px;
    }

    @include media-breakpoint-down(md) {
        .container {
            padding: 0;
        }

        .brand-card {
            height: 99px;
            padding: 22px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 0;
        max-height: calc(100vh - 127px);
        overflow: auto;
        //pointer-events: none;

        &__list {
            columns: 4;
            column-gap: 24px;
            padding-top: 23px;
            pointer-events: all;
            position: relative;
        }

        &__item {
            margin-bottom: 11px;
            break-inside: avoid;

            @include hover-focus {
                .secnav-wrapper {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__link {
            display: inline;
            position: relative;
            padding: 0;
            @include font($font-size-html, 24px, 500);
            color: $secondary;
            border-bottom: 0;

            &-toggle {
                position: static;
                margin-top: 0;
                transition: none;
                @include size(auto);
                font-size: 16px;
                line-height: 16px;
                vertical-align: middle;
            }
        }

        &__secnav {
            display: block;
        }

        .brands {
            padding-top: 32px;
            pointer-events: all;

            &__section {
                &:first-child {
                    padding-bottom: 9px;
                }
            }
        }

        .section__swiper {
            padding-left: 80px;
            padding-right: 80px;

            .swiper-next,
            .swiper-prev {
                top: 50% !important;
                margin-top: -20px;
            }

            .swiper-prev {
                right: auto;
                left: 0;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        max-height: calc(100vh - 215px);

        .header-fixed & {
            max-height: calc(100vh - 60px);
            height: 100%;
            pointer-events: all;
        }
    }

    @media (min-width: 1384px) {
        .section__swiper {
            margin-left: -80px;
            margin-right: -80px;
        }
    }
}
