.text-block {
    section:not([class]) {
        clear: both;

        &:not(:first-child) {
            margin-top: 48px;
        }

        &:after {
          content: "";
          display: table;
          clear: both;
        }
    }

    h2:not(:first-child) {
        margin-top: 34px;
    }

    h3:not(:first-child) {
        margin-top: 22px;
    }

    h4 {
        @include font(18px, 21px);
    }

    ul{
        &:not([class]) {
            padding-left: 1.4em;
        }
    }

    ol{
        counter-reset: olCounter;

        &:not([class]) {
            padding-left: 2em;
        }

        li{
            position: relative;
            list-style: none;
            margin: 1em 0;

            &:before {
                position: absolute;
                top: -.3em;
                left: -2em;
                counter-increment: olCounter;
                content:counter(olCounter);
                color: white;
                background-color: $green-3;
                display: inline-block;
                text-align: center;
                margin: 5px 10px 5px 0;
                line-height: 20px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }
    }

    b, strong {
        font-weight: 500;
    }

    img {
        display: block;
        border-radius: $border-radius;
        margin-bottom: 13px;
    }

    .img-right {
        margin-top: 26px;
    }

    .pub-preview {
        margin-top: 32px;
        margin-bottom: 31px;
    }

    .video {
        margin-top: -7px;
        margin-bottom: 20px;

        img {
            margin-bottom: 0;
        }
    }

    .gallery {
        margin-bottom: 15px;

        img {
            margin-bottom: 0;
        }
    }

    .files {
        margin-bottom: 28px;
    }

    & + .back-to-section {
        margin-top: 31px;
    }

    &[data-size="md"] {
        @include font($font-size-html, 24px);

        p, ol, ul {
            margin-bottom: 1.5em;
        }

        h4:not(:first-child) {
            margin-top: 26px;
        }
    }

    .catalog__list {
        margin-top: 32px;
        margin-bottom: 31px;
    }

    .section__slider {
        .item {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        .catalog__list {
            &.fl,
            &.fr {
                width: 288px;
                min-width: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        h2:not(:first-child) {
            margin-top: 39px;
        }

        .text-col {
            flex: 1;
            max-width: none;
        }

        img {
            margin-bottom: 22px;
        }

        .img-left,
        .img-right {
            max-width: 319px;
            flex: 0 0 319px;
        }

        .fl,
        .fr {
            max-width: 46%;
            margin-bottom: 15px;
        }

        .fl {
            float: left;
            margin-right: 55px;
        }

        .fr {
            float: right;
            margin-left: 55px;
        }

        .img-left img {
            float: left;
            margin-right: auto;
            margin-bottom: 0;
        }

        .img-right {
            margin-top: 0;
            float: right;

            img {
                margin-left: auto;
                margin-bottom: 0;
            }
        }

        .pub-preview {
            margin-top: 44px;
            margin-bottom: 31px;

            img {
                margin-bottom: 0;
            }
        }

        .video {
            margin-top: 0;
            margin-bottom: 10px;
        }

        .gallery {
            margin-bottom: 19px;
        }

        .files {
            margin-bottom: 42px;
        }

        &[data-size="md"] {
            h4 {
                @include font(20px, 26px);
            }

            img {
                margin-bottom: 46px;
            }
        }

        .catalog__list {
            margin-bottom: 18px;

            &.fl,
            &.fr {
                margin-top: -18px;
            }

            &.fl {
                margin-right: 22px;
            }

            &.fr {
                margin-left: 22px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .section {
            padding-top: 41px;
        }

        .img-left,
        .img-right {
            max-width: 347px;
            flex: 0 0 347px;
        }
    }
}