.advertisment {
    border-bottom: 1px solid $gray-3;
    padding-top: 32px;
    padding-bottom: 41px;

    &__img-placeholder {
        border-radius: $border-radius;
        overflow: hidden;
        margin-bottom: 13px;
        width: 288px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    &__content {
        margin-bottom: 24px;
    }

    &__title {
        @include font($font-size-h5, 24px);
        margin-bottom: 13px;
    }

    &__text {
        @include em-line-height($font-size-base, 21px);
    }

    &__details {
        @include em-line-height($font-size-base, 21px);

        &-item {
            display: flex;
            margin-bottom: 7px;
        }

        &-name {
            max-width: 88px;
            flex: 0 0 88px;
            margin-right: 10px;
            color: $gray-7;
            margin: 0;
        }

        &-value {
            flex: 1;
            padding: 0;
            margin: 0;

            a {
                color: $secondary;
            }
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 7px;
        left: 0;
        right: 0;

        li {
            button {
                @include size(12px);

                &:before {
                    background-color: $white;
                    @include size(6px);
                }

                @include hover-focus {
                    &:before {
                        background-color: $white;
                    }
                }
            }
            &.slick-active {
                button {
                    &:before {
                        background-color: $white;
                    }
                }
            }
        }
    }

    .slick-arrow {
        border: 0;
        background: none;
        color: $white;
        @include size(24px);

        &:before {
            font-size: 24px;
            line-height: 24px;
        }

        @include hover-focus {
            border: none;
            background: none;
        }
    }

    .slick-prev {
        left: 6px;
    }

    .slick-next {
        right: 6px;
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        padding-bottom: 31px;

        &__img-placeholder {
            margin-bottom: 0;
            max-width: 269px;
            flex: 0 0 269px;
        }

        &__content {
            flex: 1;
            margin-bottom: 0;
            padding-left: 24px;
            padding-right: 24px;
        }

        &__details {
            max-width: 287px;
            flex: 0 0 287px;
            padding-top: 4px;
            margin-bottom: -7px;
        }
    }
}