.alpha-index {
    &__section {
        border-top: 1px solid $gray-3;
        padding-top: 23px;
        padding-bottom: 29px;
    }

    &__title {
        @include font($font-size-h3, $line-height-h3);
        margin-bottom: 21px;
    }

    &__list {
        @include list-unstyled;
        @include em-line-height($font-size-base, 25px);
        columns: 2;
        column-gap: $gutter;
    }

    &__item {
        text-transform: uppercase;
        break-inside: avoid-column;
    }

    &__link {
        display: inline-block;

        @include hover-focus {
            color: $primary;
            text-decoration: underline;

            .alpha-index__img-placeholder {
                border-color: $primary;
                transition: border-color .25s ease-in-out;
            }
        }
    }

    &__img-placeholder {
        display: none;
        align-items: center;
        border: 1px solid $gray-2;
        border-radius: $border-radius;
        @include size(78px, 52px);
        margin-bottom: 5px;
        padding: 10px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }

    .has-images & {
        &__item {
            margin-bottom: 12px;
        }

        &__img-placeholder {
            display: flex;
        }
    }

    @include media-breakpoint-up(sm) {
        &__list {
            column-count: 3;
        }

        &__link {
            display: inline-flex;
            align-items: center;
        }

        &__img-placeholder {
            @include size(56px, 40px);
            margin-bottom: 0;
            margin-right: 12px;
            flex: 0 0 56px;
        }

        .has-images & {
            &__list {
                column-count: 2;
            }

            &__item {
                margin-bottom: 8px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__list {
            column-count: 4;
        }

        .has-images & {
            &__list {
                column-count: 3;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__section {
            display: flex;
            padding-top: 36px;
            padding-bottom: 37px;
        }

        &__title {
            @include font(36px, 42px);
            max-width: 104px;
            flex: 0 0 104px;
            margin-top: -8px;
        }

        &__list {
            flex: 1;
        }

        .has-images & {
            &__list {
                column-count: 4;
                margin-top: -10px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__list {
            column-count: 5;
        }

        .has-images & {
            &__list {
                column-count: 5;
            }
        }
    }
}