.alpha-index-slider {
    &__section {
        flex-direction: column;
    }

    &__title {
        @include font(32px, 38px);
        margin-bottom: 24px;
        text-align: center;
    }

    &__list {
        @include list-unstyled;
        @include em-line-height($font-size-base, 28px);
        columns: 2;
        column-gap: $grid-gutter-width;
    }

    &__item {
        text-transform: uppercase;
    }

    @include media-breakpoint-down(md) {
        .slick-arrow {
            top: 1px;
            margin-top: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        &__list {
            column-count: 3;
        }
    }

    @include media-breakpoint-up(md) {
        &__list {
            column-count: 2;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-left: 80px;
        padding-right: 80px;
    }

    @include media-breakpoint-up(xl) {
        &__title {
            margin-bottom: 13px;
            text-align: left;
        }

        &__list {
            column-count: 3;
        }
    }

    @media (min-width: 1384px) {
        margin-left: -80px;
        margin-right: -80px;
    }
}