.alpha-list {
    @include list-unstyled;
    @include make-row(14px);
    @include margin-bottom(-14px, -14px);

    &__item {
        @include make-col(14px);
        margin-bottom: 14px;
    }

    @include media-breakpoint-up(md) {
        margin-left: -$gutter / 2;
        margin-right: -$gutter / 2;
        @include margin-bottom(-$gutter, -$gutter);

        &__item {
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
            margin-bottom: $gutter;
        }
    }
}