.anchors {
    @include list-unstyled;

    &__item {
        margin-top: 11px;
        margin-bottom: 11px;
    }

    @include media-breakpoint-up(sm) {
        @include make-row($gutter);

        &__item {
            @include make-col($gutter);
        }
    }

    @include media-breakpoint-up(md) {
        &__item {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-down(sm) {
        &__link {
            border: 0;
            padding: 0;
            border-bottom: 1px dashed;
            border-radius: 0;
            font-weight: 700;

            &,
            &[data-size] {
                height: auto;
                @include em-line-height($font-size-base, 20px);
            }

            &:hover,
            &:focus,
            &:active {
                background: none;
                color: $primary;
            }
        }
    }
}