.aside-menu {
    &__list {
        @include list-unstyled;
        border-top: 1px solid $gray-3;
    }

    &__item {
        position: relative;
        border-bottom: 1px solid $gray-3;
        @include em-line-height($font-size-base, 22px);

        @include hover-focus {
            .aside-menu__submenu {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &__link {
        position: relative;
        display: block;
        padding: 12px 24px 13px 0;
        font-weight: 500;
    }

    &__icon {
        @include size($gutter);
        font-size: $gutter;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &__submenu {
        position: absolute;
        //top: 50%;
        top: 100px;
        left: 100%;
        transform: translate(-12px, -50%);
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s ease-in-out;
        z-index: 40;
        width: 428px;
    }
}