.aside-nav {
    &__section {
        border: 1px solid $gray-2;
        border-radius: $border-radius;
        overflow: hidden;
        margin-bottom: 24px;
    }

    &__header {
        border-bottom: 1px solid $gray-2;
        background-color: rgba($gray, .5);
        padding: 11px 20px 10px;
    }

    &__title {
        @include font(18px, 23px);
    }

    &__exit {
        font-size: 18px;
    }

    &__stats {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        font-weight: 500;
        max-width: 240px;

        &-item {
            margin-bottom: 0;
            position: relative;
        }

        &-name {
            @include font(32px, 32px);
            position: relative;
        }

        &-text {
            @include em-line-height($font-size-base, 18px);
            margin: 1px 0 0;
        }

        &-divider {
            color: $gray-5;
            @include font(32px, 32px, 400);
            align-self: flex-start;
        }
    }

    &__list {
        @include list-unstyled;
    }

    &__item {
        border-bottom: 1px solid $gray;

        &:last-child {
            border-bottom: 0;
        }
    }

    &__link {
        display: block;
        padding: 13px 20px 12px;
        color: inherit;

        @include hover-focus {
            color: $primary;
        }

        &.active {
            background-color: rgba($gray-2, .5);
            color: $gray-5;

            @include hover-focus {
                color: $gray-5;
            }
        }
    }

    &__badge {
        float: right;
        background-color: $secondary;
        border-radius: 100px;
        min-width: 24px;
        padding-left: 6px;
        padding-right: 6px;
        margin-left: 16px;
        @include font(12px, 16px);
        text-align: center;
        color: $white;
    }
}