.aside-submenu {
    @include list-unstyled;
    background-color: $white;
    border-radius: $border-radius;
    @include shadow();
    columns: 2;
    column-gap: 24px;
    padding: 23px 24px 14px;

    &__item {
        @include font($font-size-sm, $line-height-sm, 500);
        margin-bottom: $gutter;
    }
}