.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
    border-radius: $border-radius;
    color: $white;
    @include size(24px);
    padding: 5px;

    &__icon {
        font-size: 13px;
    }

    &__text {
        display: none;
    }

    &_muted {
        background-color: $gray-4;
    }

    @include media-breakpoint-up(md) {
        @include size(107px, 40px);
        padding: 7px $gutter / 2 9px;

        &__icon {
            font-size: 22px;
            margin-right: 10px;
        }

        &__text {
            display: block;
            @include font(13px, 15px, 700);
        }
    }
}