.benefit-xl {
    text-align: center;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    &__icon {
        display: block;
        color: $primary;
        @include rounded;
        @include size(136px);
        font-size: 64px;
        line-height: 136px;
        background-color: $white;
        margin: 0 auto 19px;
        transition: .25s ease-in-out;
    }

    &__title {
        margin-bottom: 0;
        @include em-line-height($font-size-h5, $line-height-md);
    }

    &__text {
        position: absolute;
        top: 64px;
        left: -$grid-gutter-width-2;
        right: -$grid-gutter-width-2;
        background-color: $white;
        padding: 91px $grid-gutter-width-2 21px;
        @include shadow();
        border-radius: $border-radius;
        z-index: 10;
        text-align: left;
        @include em-line-height($font-size-md, 24px);
        opacity: 0;
        visibility: hidden;
        transition: opacity .25s ease-in-out;

        &:before {
            display: block;
            text-align: center;
            margin-bottom: 14px;
            @include font($font-size-h5, $line-height-md, 500);
            content: attr(title);
        }

        a {
            text-decoration: underline;
        }
    }

    @include hover-focus {
        .benefit-xl__icon {
            background-color: $primary;
            color: $white;
            z-index: 11;
        }

        .benefit-xl__text {
            opacity: 1;
            visibility: visible;
        }
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}