.benefit-lg {
    display: flex;
    align-items: center;
    padding: $gutter $gutter $gutter 24px;
    background-color: $white;
    border-radius: $border-radius;

    &__icon {
        font-size: 56px;
        width: 56px;
        color: $secondary;
        margin-right: 47px;
    }

    &__text {
        @include font(18px, 21px);
    }

    @include media-breakpoint-up(lg) {
        &__icon {
            margin-right: 30px;
        }
    }

    @include media-breakpoint-up(xl) {
        &__icon {
            font-size: 64px;
            width: 64px;
            margin-right: 40px;
        }

        &__text {
            @include font(20px, 23px);
        }
    }
}