.benefit {
    text-align: center;
    max-width: 140px;
    margin: 0 auto;

    &__icon {
        display: block;
        font-size: 48px;
        color: $primary;
        margin: 0 auto $gutter;
    }

    &__text {
        line-height: 1.143;
    }

    @include media-breakpoint-up(md) {
        max-width: 160px;

        &__icon {
            margin-bottom: 21px;
        }

        &__text {
            @include font($font-size-html, 19px);
        }
    }
}