.board-card {
    display: block;
    background-color: $white;
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    color: $base-color;
    overflow: hidden;
    transition: .25s ease-in-out;

    &__img {
        display: block;
        width: 100%;
    }

    &__content {
        padding: 1em $gutter $gutter;
    }

    &__title {
        margin-bottom: 11px;
        line-height: 1.3125;
        transition: color .25s ease-in-out;
    }

    &__text {
        color: $gray-7;
        margin-bottom: 0;
    }

    &__location {
        margin-top: 15px;
    }

    @include hover-focus {
        @include shadow();

        .board-card__title {
            color: $primary;
        }
    }
}