.brand-card {
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $gray-3;
    display: flex;
    align-items: center;
    height: 134px;
    padding: $gutter;

    &__img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }

    @include hover-focus {
        border-color: $white;
        @include shadow();
    }
}