.breadcrumb {
    margin-bottom: 9px;

    &__list {
        @include list-unstyled;
        margin: 0;
        font-size: 0;
    }

    &__item {
        display: inline;
        @include font($font-size-base, 21px);
        color: $gray-5;

        &:after {
            margin-right: 4px;
            margin-left: 4px;
            content: "/";
        }

        &:last-child:after {
            content: "";
        }
    }

    &__link {
        color: inherit;
        text-decoration: none;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: 8px;
    }
}