//
// Base styles
//

.button {
  position:relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  background: none;
  border: $btn-border-width solid transparent;
  border-radius: $border-radius;
  outline: 0;
  height: $btn-height;
  @include button-size($btn-padding-x, $btn-font-size, $btn-line-height);
  font-weight: $btn-font-weight;
  font-family: $btn-font-family;

  @include transition(all 0.3s ease-in-out);
  @include hover-focus {
    text-decoration: none;
    outline: 0;
  }

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus();
      outline: 0;
    }
  }
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
  }

  &.disabled,
  &:disabled {
    cursor: $cursor-disabled;
  }

  &__icon {
      font-size: 16px;
      margin-right: 12px;
      top: -1px;

      &.icon-filter-list {
          font-size: 24px;
          margin-right: 9px;
      }
  }

  &__arrow-right {
      font-size: 20px;
      margin-left: 11px;
      margin-right: -4px;
      top: -1px;
  }

  &__arrow-left {
      font-size: 20px;
      margin-right: 11px;
      margin-left: -4px;
      top: -1px;
  }

  &[data-size="xs"] {
    height: $btn-height-xs;
    line-height: ($btn-height-xs - $btn-border-width * 2);

    &.button_accept {
        height: 35px;
        @include font($font-size-xs, 35px, 400);
    }
  }

  &[data-size="sm"] {
      height: $btn-height-sm;
      line-height: ($btn-height-sm - $btn-border-width * 2);
  }

  &[data-size="lg"] {
      height: $btn-height-lg;
      line-height: ($btn-height-lg - $btn-border-width * 4);
  }

  &[data-size="xl"] {
      height: $btn-height-xl;
      line-height: ($btn-height-xl - $btn-border-width * 4);
  }

  &[data-font-size="md"] {
      font-size: rem($font-size-html);
  }

  &[data-font-size="lg"] {
      font-size: rem($font-size-lg);

      small {
          font-size: .725em;
      }
  }

  &[data-font-size="xl"] {
      font-size: rem($font-size-xl);
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

//
// Alternate buttons
//
.button_primary {
  @include button-variant($btn-primary-color, $btn-primary-bg);
}

.button_secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg);
}

.button_info {
  @include button-variant($btn-info-color, $btn-info-bg);
}

.button_accept {
  @include button-variant($btn-accept-color, $btn-accept-bg);
}

.button_outline_default {
  @include button-outline-variant($btn-default-color, $btn-default-color, $btn-default-bg);
}

.button_outline_primary {
  @include button-outline-variant($btn-primary-bg, $btn-primary-color, $btn-primary-bg);
}

.button_outline_secondary {
  @include button-outline-variant($btn-secondary-bg, $btn-secondary-color, $btn-secondary-bg);
}

.button_outline_info {
  @include button-outline-variant($btn-info-bg, $btn-info-color, $btn-info-bg);
}

.button_outline_white {
  @include button-outline-variant($white, $secondary, $white);
}

.button_rounded {
  border-radius: $border-radius-xl;
}

.button_link {
    border: 0;
    background: none;
}

.button_link_secondary {
    color: $secondary;
}

.button-default {
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    background: none;
    border: 0;
    outline: 0;
    padding: 0;
    font-family: inherit;
    appearance: none;
}

//
// Block button
//

.button_block {
  display: block;
  width: 100%;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.button_block {
    width: 100%;
  }
}
