.button-to-top {
    @include size(48px);
    @include rounded;
    @include shadow();
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 82;
    padding: 0;
    font-size: 20px;
    line-height: 46px;

    @include hover-focus {
        text-decoration: none;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }

    @include media-breakpoint-up(xl) {
        @include size(62px);
        right: 1.5%;
        bottom: 2.5%;
        font-size: 24px;
        line-height: 60px;
    }

    @media (min-width: 1680px) {
        right: 5%;
        bottom: 5%;
    }
}
