.cart-item {
    padding-top: 23px;
    padding-bottom: 16px;
    border-top: 1px solid $gray-3;
    display: flex;

    &:first-child {
        border-top: 0;
    }

    &__img-placeholder {
        max-width: 61px;
        flex: 0 0 61px;
        margin-right: 25px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__col-title,
    &__col-price,
    &__col-amount {
        width: 100%;
    }

    &__col-sum,
    &__col-action {
        max-width: 50%;
        flex: 0 0 50%;
    }

    &__col-action {
        text-align: right;
    }

    &__col-title {
        margin-top: 3px;
        margin-bottom: 13px;
    }

    &__col-price {
        display: flex;
        align-items: center;
        margin-bottom: 19px;
    }

    &__col-amount {
        margin-bottom: 21px;
    }

    &__title {
        @include em-line-height($font-size-base, 18px);
        margin-bottom: 0;
        max-height: 54px;
        overflow: hidden;
    }

    &__price {
        margin-right: 14px;
        white-space: nowrap;

        &-value {
            font-weight: 700;
        }

        &-old {
            @include font(11px, 13px, 500);
            margin-top: 2px;
        }
    }

    &__discount {
        padding: 2px 10px 1px;
    }

    &__sum {
        font-weight: 500;
        white-space: nowrap;
    }

    &__control {
        font-size: 20px;
        line-height: 20px;
        @include size(20px);
        color: $gray-5;
        margin-right: -6px;
        margin-left: 22px;

        @include hover-focus {
            color: $secondary;
        }

        &.icon-delete {
            font-size: 15px;
        }
    }

    @include media-breakpoint-up(md) {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;

        &__img-placeholder {
            max-width: 44px;
            flex: 0 0 44px;
        }

        &__content {
            align-items: center;
            flex: 1;
        }

        &__col-price,
        &__col-amount,
        &__col-sum,
        &__col-action {
            padding-right: $gutter;
        }

        &__col-price,
        &__col-amount {
            width: auto;
            max-width: 30%;
            flex: 0 0 30%;
        }

        &__col-title {
            margin-top: 0;
        }

        &__col-price {
            margin-bottom: 0;
        }

        &__col-amount {
            margin-bottom: 0;
        }

        &__col-sum {
            max-width: 20%;
            flex: 0 0 20%;
        }

        &__col-action {
            max-width: 20%;
            flex: 0 0 20%;
            padding-right: 0;
        }

        &__control {
            margin-right: 0;
            margin-left: 22px;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 11px;
        padding-bottom: 14px;

        &__content {
            flex-wrap: nowrap;
        }

        &__col-title {
            margin-bottom: 0;
            padding-right: $gutter;
            flex: 1;
            max-width: 256px;
        }

        &__col-price {
            margin-left: auto;
            max-width: 240px;
            flex: 0 0 240px;
        }

        &__col-amount {
            max-width: 182px;
            flex: 0 0 182px;
        }

        &__col-sum {
            max-width: 118px;
            flex: 0 0 118px;
        }

        &__col-action {
            max-width: 118px;
            flex: 0 0 118px;
        }

        &__title {
            max-height: 72px;
        }
    }
}