.cart-preview {
    &__list {
        border: 1px solid $gray-3;
        border-width: 0 0 1px;
    }

    &__checkout {
        &-points {
            font-weight: 700;
            color: $secondary;
            margin-bottom: 13px;
        }

        &-total {
            @include make-row(16px);
            justify-content: space-between;
        }

        &-item {
            @include make-col(16px);
            width: 50%;

            b {
                font-weight: 500;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            padding-left: 20px;
            padding-right: 20px;
            border-width: 1px;
            border-radius: $border-radius;

            &-header {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 9px;

                .cart-preview-item {
                    padding-top: 0;
                    padding-bottom: 0;

                    &__col-title {
                        position: relative;
                        left: -20px;
                    }
                }
            }

            &-label {
                @include font(12px, 14px, 500);
                color: $gray-7;
            }
        }

        &__checkout {
            display: flex;
            align-items: center;

            &-points {
                margin-bottom: 0;
            }

            &-total {
                margin-left: auto;
                white-space: nowrap;
                flex: 0 0 33.8%;
                max-width: 33.8%;
                min-width: 292px;
                padding-right: 20px;
            }
        }
    }
}