.cart-popup {
    background-color: $white;
    border-radius: $border-radius;
    padding-bottom: 11px;
    margin-left: auto;
    width: 288px;
    max-height: calc(100vh - 54px - 16px);
    overflow: hidden;
    pointer-events: all;

    &__list {
        padding-left: $gutter;
        padding-right: $gutter;
        max-height: calc(100vh - 133px);
        overflow: hidden;
        position: relative;
    }

    &__item {
        display: flex;
        border-bottom: 1px solid $gray-3;
        padding-top: 15px;
        padding-bottom: 15px;

        &:last-of-type {
            border-bottom: 0;
        }

        @include hover-focus {
            .cart-popup__title {
                color: $secondary;
            }
        }
    }

    &__img-placeholder {
        flex: 0 0 52px;
        max-width: 52px;
        margin-right: $gutter;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__title {
        @include em-line-height($font-size-base, 18px);
        font-weight: 500;
        color: $base-color;
    }

    &__details {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 9px;
    }

    &__weight {
        color: $gray-5;
        width: 50%;
        margin-bottom: 14px;
    }

    &__price {
        font-weight: 500;
        width: 50%;
        text-align: right;
        color: $black;
        margin-bottom: 14px;
    }

    &__delete {
        color: $gray-4;
        margin-left: auto;
        font-size: 11px;
        @include size(24px);
    }

    &__action {
        display: flex;
        align-items: center;
        border-top: 1px solid $gray-3;
        margin-left: $gutter;
        margin-right: $gutter;
        padding-top: 11px;
    }

    &__total {
        font-weight: 500;
        padding-right: $gutter;
        margin-right: auto;
    }

    @media(min-height: 600px) and (min-width: 1024px) {
        max-height: calc(100vh - 59px);

        &__list {
            max-height: 392px;
        }
    }

    @include media-breakpoint-up(md) {
        width: 376px;
        max-height: calc(100vh - 59px);
        padding-bottom: $gutter;

        &__list {
            padding-left: 20px;
            padding-right: 20px;
        }

        &__details {
            margin-top: 6px;
        }

        &__weight {
            width: 100%;
            margin-bottom: 9px;
        }

        &__price {
            width: auto;
            text-align: left;
            padding-right: $gutter;
            margin-right: auto;
            margin-bottom: 0;
        }

        &__action {
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 17px;
        }
    }

    @include media-breakpoint-up(xl) {
        max-height: calc(100vh - 59px);
    }
}