.cart-preview-item {
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid $gray-3;
    display: flex;
    flex-wrap: wrap;
    align-self: center;

    &:first-child {
        border-top: 0;
        padding-top: 0;
    }

    &__img-placeholder {
        max-width: 70px;
        flex: 0 0 70px;
        margin-right: 25px;
        margin-bottom: 17px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__col-title {
        max-width: calc(100% - 95px);
        flex: 0 0 calc(100% - 95px);
        margin-bottom: 17px;
        align-self: center;
    }

    &__col-price,
    &__col-points,
    &__col-amount,
    &__col-sum {
        max-width: 25%;
        flex: 0 0 25%;
        padding-top: 35px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            @include font(12px, 14px);
            color: $gray-7;
            border-bottom: 1px solid $gray-3;
            content: attr(title);
            height: 24px;
            overflow: hidden;
            padding-bottom: 8px;
            margin-bottom: 11px;
        }
    }

    &__title {
        @include em-line-height($font-size-base, 18px);
        margin-bottom: 0;
    }

    &__price {
        @include em-line-height($font-size-html, 16px);
        white-space: nowrap;
        font-weight: 700;
    }

    &__price-old {
        @include font(11px, 13px, 500);
        margin-bottom: 3px;
    }

    &__col-points {
        white-space: nowrap;
        text-align: center;
    }

    &__col-amount {
        white-space: nowrap;
        text-align: center;
        padding-left: $gutter / 2;
        padding-right: $gutter / 2;
    }

    &__col-sum {
        white-space: nowrap;
        text-align: right;
    }

    @include media-breakpoint-up(lg) {
        flex-wrap: nowrap;
        padding-top: 9px;
        padding-bottom: 17px;

        &:first-child {
            padding-top: 9px;
        }

        &__img-placeholder {
            max-width: 44px;
            flex: 0 0 44px;
            margin-bottom: 0;
        }

        &__col-title {
            max-width: 240px;
            flex: 1;
            margin-bottom: 0;
            margin-right: auto;
        }

        &__title {
            @include em-line-height($font-size-base, 18px);
            margin-bottom: 0;
        }

        &__col-price,
        &__col-points,
        &__col-amount,
        &__col-sum {
            max-width: none;
            padding-top: 0;
            padding-left: $gutter;
            padding-right: 0;

            &:before {
                display: none;
            }
        }

        &__col-price,
        &__col-points,
        &__col-sum {
            max-width: 17%;
            flex: 0 0 17%;
        }

        &__col-points,
        &__col-amount {
            text-align: left;
            padding-left: $gutter;
            padding-right: $gutter;
        }

        &__col-amount {
            max-width: 13%;
            flex: 0 0 13%;
        }
    }
}