.catalog-menu-card {
    position: relative;
    border: 1px solid $gray-3;
    border-radius: 4px;
    background-color: $white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all .25s ease-in-out;

    &__close {
        display: none;
        position: absolute;
        top: 8px;
        right: 15px;
        @include size(16px);
        font-size: 10px;
        line-height: 16px;
        color: $white;
        text-decoration: none;
    }

    &__header {
        display: flex;
        align-items: center;
        height: 62px;
        padding: 9px 16px 13px;
    }

    &__icon {
        width: 40px;
        font-size: 40px;
        line-height: 40px;
        color: $info;
        text-decoration: none;
        text-align: center;
        margin-right: 24px;
        transition: none;
    }

    &__title {
        @include font($font-size-h5, 21px);
        margin-bottom: 0;

        a {
            color: $base-color;
            text-decoration: none;
            transition: none;
        }
    }

    &__text {
        font-weight: 500;
        @include em-line-height($font-size-base, 18px);
        color: $gray-6;
    }

    &__list-wrapper {
        display: none;
        @include em-line-height($font-size-base, 17px);
        color: $white;
        padding: 7px 16px 17px 32px;
    }

    &__list {
        padding: 0;
        margin-bottom: 0;

        &-item {
            @include margin-bottom(6px);
        }
    }

    &.active {
        border-color: $info;
        background-color: $info;
        color: $white;
        @include shadow();
    }

    &.active & {
        &__close {
            display: block;
        }

        &__icon,
        &__title a,
        &__text {
            color: $white;
        }

        &__list-wrapper {
            display: block;
        }

        &__list {
            &-link {
                transition: none;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        height: 180px;
        display: flex;
        flex-direction: column;

        &__header {
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            height: 178px;
            transform: translateY(0);
            transition: transform .25s ease-in-out;
            padding-bottom: 16px;
        }

        &__icon {
            width: auto;
            font-size: 72px;
            line-height: 72px;
            margin-right: 0;
            margin-bottom: 16px;
        }

        &__list-wrapper {
            display: block;
            height: 178px;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            transition: top .25s ease-in-out;
            padding: 12px 16px 12px 28px;

            .ps__thumb-y {
                background-color: rgba($white, .3);
            }
        }

        &.active & {
            &__close {
                display: none;
            }

            &__header {
                transform: translateY(-178px);
            }

            &__list-wrapper {
                top: 0;
            }
        }
    }
}