.catalog-toggle {
    border-color: rgba($white, .1);
    font-size: rem(13px);
    color: inherit;
    padding-left: 10px;
    padding-right: 10px;

    &__icon {
        margin-right: 7px;
        display: inline-block;
        @include size(15px, 10px);
        position: relative;
        top: 4px;

        > * {
            width: 100%;
        }
    }

    .nav-fixed & {
        color: inherit;
        background-color: rgba($white, .1);
    }

    @include hover-focus-active {
        color: inherit;
        background-color: rgba($white, .1);
    }
}