.certificate {
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $gray-3;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .25s ease-in-out;
    padding: 8px 8px 12px;
    text-align: center;

    &__img {
        display: block;
        margin: 0 auto 10px;
    }

    &__link {
        margin-top: auto;
        @include font(12px, 15px);

        &-icon {
            font-size: $gutter;
            margin-right: 10px;
        }
    }

    @include hover-focus {
        @include shadow();
    }

    @include media-breakpoint-up(sm) {
        padding: 17px 14px 14px;

        &__link {
            @include font(14px, 20px);

            &-icon {
                font-size: 20px;
            }
        }
    }
}