.checkout-list {
    @include list-unstyled;
    padding-top: 3px;
    padding-bottom: 3px;

    &__item {
        margin-bottom: 0;
        padding-top: 14px;
        padding-bottom: 12px;
        position: relative;

        &:after {
            border-bottom: 1px solid $gray-13;
            position: absolute;
            left: $gutter / 2;
            right: $gutter / 2;
            bottom: 0;
            content: '';
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__text {
        margin: 0;
        text-align: right;
    }

    &__total {
        font-weight: 500;
        align-items: baseline;
    }
}