.column-text {
    @include media-breakpoint-up(md) {
        columns: 2;
        column-gap: 65px;

        h1, h2, h3, h4, h5, h6,
        p, ul, ol, dl {
            break-inside: avoid;
        }
    }
}