.comment {
    &__avatar {
        margin-bottom: $grid-gutter-width-2;

        &-img {
            display: block;
            @include rounded;
            margin-left: $gutter;
            width: 116px;
        }
    }

    &__body {
        padding-left: $grid-gutter-width;
        padding-right: $grid-gutter-width;
    }

    &__header {
        margin-bottom: 11px;
    }

    &__author {
        margin-bottom: 6px;
        font-weight: 700;
    }

    &__date {
        color: $gray-5;
    }

    &__content {
        &.text-md {
            margin-top: 15px;
            @include em-line-height($font-size-html, 24px);
        }
    }

    &_answer {
        margin-top: 17px;
        padding: 14px $gutter 20px;
        background-color: $gray-11;
        border-radius: $border-radius;
    }

    b,
    strong {
        font-weight: 700;
    }

    @include media-breakpoint-up(md) {
        &__avatar {
            margin-top: 2px;
            margin-bottom: 0;

            &-img {
                margin-left: $grid-gutter-width-2;
            }
        }

        &__body {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        &_answer {
            padding: 22px $grid-gutter-width-2 28px;
        }
    }

    @include media-breakpoint-up(xl) {
        &__avatar {
            &-img {
                margin-left: $grid-gutter-width;
            }
        }
    }
}