.content {
	&__list {
		display: inline-block;
		background-color: $green-5;
		padding: 2em 2em;
		border-radius: $border-radius;
		&_title {
			list-style: none;
			font-size: $font-size-lg;			
			font-weight: 700;
			margin-bottom: 1em;
		}
	}
}