.cookies-popup {
    background-color: rgba($yellow-7, .9);
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: $white;
    position: fixed;
    bottom: 0;
    z-index: 100;
    padding: $grid-gutter-width-2;
    transition: transform .25s ease-in-out;
    transform: translateY(100%);
    width: 100%;
    align-items: center;

    &__container {
        // display: flex;
        // align-items: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__icon {
        font-size: 40px;
        min-width: 40px;
        margin-bottom: $gutter;
        fill: currentColor;
    }

    &__content {
        @include font($font-size-html, 24px);
    }

    &__close {
        position: absolute;
        top: $gutter;
        right: $gutter;
        font-size: $font-size-html;
        line-height: $font-size-html;
        color: $white;
        @include size($font-size-html);
        text-align: center;
        padding: 0;
        background: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        user-select: none;
        outline: 0;
        border: 0;
    }

    &.is-visible {
        transform: translateY(0);
    }

    @include media-breakpoint-up(md) {
        &__container {
            display: flex;
            align-items: center;
            padding: 20px 40px 16px;
            max-width: 1256px;
        }

        &__icon {
            font-size: 80px;
            margin-right: $grid-gutter-width;
            margin-bottom: 0;
        }

        &__content {
            flex: 1;
        }
    }
}