.courier-list {
    @include list-unstyled;
    border: 1px solid $gray-3;
    border-radius: $border-radius;

    &__item {
        border-top: 1px solid $gray-3;

        &:first-child {
            border-top-width: 0;
        }
    }

    @include media-breakpoint-up(md) {
    }
}