.courier {
    padding: 17px $gutter 13px;

    &__control {
        flex-wrap: wrap;
        @include em-line-height($font-size-base, 18px);
        color: $gray-8;
    }

    &__logo {
        padding-left: 4px;
    }

    &__img {
        display: block;
    }

    &__name {
        max-width: 100%;
        flex: 0 0 100%;
        padding-right: $gutter;
        margin-top: 11px;
        margin-bottom: 3px;
    }

    &__price {
        max-width: 45%;
        flex: 0 0 45%;
        padding-right: $gutter;
    }

    &__period {
        max-width: 45%;
        flex: 0 0 45%;
        margin-left: auto;
        text-align: right;
    }

    @include media-breakpoint-up(md) {
        padding: 14px 24px 18px;
        justify-content: space-between;

        &__control {
            flex-wrap: nowrap;
        }

        &__logo {
            padding-left: 12px;
            padding-right: $gutter;
            max-width: 30%;
            flex: 0 0 30%;
        }

        &__name {
            max-width: 25%;
            flex: 0 0 25%;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__price {
            max-width: 25%;
            flex: 0 0 25%;
            padding-right: $gutter;
        }

        &__period {
            max-width: 14%;
            flex: 0 0 14%;
        }
    }
}