.details {
    &__item {
        align-items: baseline;
        margin-bottom: $gutter-2;
    }

    &__name {
        font-weight: 700;
    }

    &__data {
        margin: 0;
        text-align: right;
    }

    @include media-breakpoint-up(sm) {
        &__data {
            text-align: left;
        }
    }
}