.employee {
    text-align: center;
    width: 184px;
    margin-left: auto;
    margin-right: auto;

    &__img {
        display: block;
        @include rounded;
        width: 100%;
        margin-bottom: 20px;
    }

    &__name {
        margin-bottom: 4px;
        @include em-line-height($font-size-h5, $line-height-md);
    }

    &__info {
        color: $gray-5;
        @include em-line-height($font-size-base, 18px);
    }

    @include media-breakpoint-up(lg) {
    }

    @include media-breakpoint-up(xl) {
    }
}