.empty-block {
    padding: $grid-gutter-width-2 $gutter $grid-gutter-width;

    &__description {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 27px;
        font-weight: bold;
    }

    &__button {
        min-width: 232px;
    }

    @include media-breakpoint-up(md) {
        padding: $grid-gutter-width $grid-gutter-width-2 40px;
    }
}