.entry {
    background-color: $white;
    border-radius: $border-radius;
    border: 1px solid $gray-3;
    width: 100%;
    height: 100%;
    display: block;
    color: $base-color;

    &__img-placeholder {
        position: relative;
        overflow: hidden;
        margin: -1px -1px 0;
        border-radius: $border-radius $border-radius 0 0;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__img {
       display: block;
       width: 100%;
    }

    &__content {
        padding: $gutter $gutter 21px;
    }

    &__title {
        margin-bottom: 5px;
        line-height: 1.3125;
        transition: color .25s ease-in-out;
    }

    &__text {
        margin-bottom: 0;
        line-height: 1.3125;
        transition: color .25s ease-in-out;
        @include text-clamp(4);
    }

    &__date {
        margin-bottom: 5px;
        line-height: 1.3125;
        transition: color .25s ease-in-out;
        color: $gray-6;
        @include font($font-size-sm, $line-height-sm, 400);
        &_icon {
            top: -2px;
        }
    }

    @include hover-focus {
        @include shadow();

        .entry__title {
            color: $primary;
        }
    }
}