.feature {
    &__icon {
        display: block;
        color: $secondary;
        font-size: 40px;
        margin-bottom: 21px;
        @include size(40px);
    }

    &__text {
        @include font($font-size-html, 21px);
    }
}
