.files {
    @include list-unstyled;

    &__item {
        margin-bottom: 13px;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__icon {
        margin-right: 10px;
        top: -1px;
    }
}