.filter {
    border-bottom: 1px solid $gray-3;
    padding-top: 9px;
    padding-bottom: 9px;

    &__title {
        position: relative;
        margin-bottom: 3px;
        padding-right: 20px;

        &:after {
            position: absolute;
            top: 1px;
            right: 0;
            @include size($gutter);
            color: $gray-5;
            font-size: $gutter;
        }
    }

    &__slider {
        margin-bottom: 10px;

        &-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $gray-5;
            margin-top: -5px;
            margin-bottom: 23px;

            .form__control {
                height: 36px;
                width: 81px;
                color: $gray-5;
                border-color: $gray-2;

                &:focus {
                    color: $base-color;
                }
            }
        }
    }

    &__content {
        padding-top: 12px;
        display: none;

        .filter.active & {
            display: block;
        }
    }

    &__list {
        @include list-unstyled;
        max-height: 290px;
        overflow: auto;
    }

    &__item {
        color: $gray-6;
        padding-bottom: 14px;
    }

    &__more {
        margin-top: -12px;
        margin-bottom: 3px;
    }
}
