.filters {
    &__trigger {
        margin-bottom: 29px;
    }

    &__content {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $white;
        padding: 20px $gutter 18px;
        max-height: 100vh;
        overflow: auto;
        z-index: 100;
    }

    &__header {
        position: relative;
        margin-bottom: 22px;
    }

    &__title {
        margin-bottom: 0;
        @include font(24px, 32px);
    }

    &__close {
        position: absolute;
        top: 3px;
        right: 0;
        @include size(24px);
        color: $gray-4;
        font-size: 12px;
        line-height: 24px;
    }

    &__action {
        .button {
            margin-bottom: 9px;
        }
    }

    &__list {
        border-top: 1px solid $gray-3;
        padding-top: 9px;
        margin-bottom: 24px;

        .filters__action + & {
            margin-top: 22px;
        }
    }

    @include media-breakpoint-up(lg) {
        &__trigger {
            display: none;
        }

        &__content {
            display: block !important;
            margin-bottom: $gutter;
            display: block;
            position: static;
            padding: 0;
            max-height: none;
        }

        &__header {
            display: none;
        }
    }
}
