@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?8b83xv') format('truetype'),
    url('../fonts/icons.woff?8b83xv') format('woff'),
    url('../fonts/icons.svg?8b83xv#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"],
.slick-arrow:before,
.swiper-prev:before,
.swiper-next:before,
.select2-selection__arrow:before,
.footer__nav-title:after,
.mfp-close:before,
.custom-checkbox .custom-control__indicator:before,
.filter__title:after,
.tabs_primary .tabs__link:after,
.daterangepicker .calendar-table .prev span:before,
.daterangepicker .calendar-table .next span:before,
.tabs_pills .tabs__link:after,
.tabs_primary .tabs__link:after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  padding: 0;
  border: 0;
  user-select: none;
  outline: 0;
  background: none;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-croquettes:before {
  content: "\e970";
}
.icon-discount-outline:before {
  content: "\e967";
}
.icon-moneybox-outline:before {
  content: "\e968";
}
.icon-paws-outline:before {
  content: "\e969";
}
.icon-quality-outline:before {
  content: "\e96a";
}
.icon-sell-outline:before {
  content: "\e96b";
}
.icon-shipment-outline:before {
  content: "\e96c";
}
.icon-speed-outline:before {
  content: "\e96d";
}
.icon-warehouse-outline:before {
  content: "\e96e";
}
.icon-minus:before {
  content: "\e965";
}
.icon-plus:before {
  content: "\e966";
}
.icon-bell:before {
  content: "\e964";
}
.icon-credit-card-sm:before {
  content: "\e960";
}
.icon-monitor:before {
  content: "\e961";
}
.icon-museum:before {
  content: "\e962";
}
.icon-wallet-sm:before {
  content: "\e963";
}
.icon-cells:before {
  content: "\e95e";
}
.icon-list:before {
  content: "\e95f";
}
.icon-account:before {
  content: "\e92d";
}
.icon-account-balance-wallet:before {
  content: "\e94d";
}
.icon-add:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before,
.slick-prev:before,
.swiper-prev:before,
.daterangepicker .calendar-table .prev span:before {
  content: "\e903";
}
.icon-arrow-right:before,
.slick-next:before,
.swiper-next:before,
.daterangepicker .calendar-table .next span:before {
  content: "\e904";
}
.icon-arrow-up:before {
  content: "\e902";
}
.icon-award:before {
  content: "\e905";
}
.icon-badge:before {
  content: "\e939";
}
.icon-bar-chart:before {
  content: "\e94e";
}
.icon-bird:before {
  content: "\e906";
}
.icon-bowl:before {
  content: "\e907";
}
.icon-briefcase:before {
  content: "\e93c";
}
.icon-cat:before {
  content: "\e908";
}
.icon-check:before,
.custom-checkbox .custom-control__indicator:before {
  content: "\e919";
}
.icon-chevron-down:before,
.select2-selection__arrow:before,
.footer__nav-title:after,
.filter__title:after,
.tabs_primary .tabs__link:after {
  content: "\e909";
}
.icon-chevron-left:before,
.advertisment .slick-prev:before {
  content: "\e90b";
}
.icon-chevron-right:before,
.advertisment .slick-next:before {
  content: "\e90c";
}
.icon-chevron-up:before,
.filter.active .filter__title:after {
  content: "\e90a";
}
.icon-close:before {
  content: "\e90d";
}
.icon-close-2:before,
.mfp-close:before {
  content: "\e937";
}
.icon-comment:before {
  content: "\e93d";
}
.icon-cow:before {
  content: "\e90e";
}
.icon-credit-card:before {
  content: "\e92e";
}
.icon-date:before {
  content: "\e91e";
}
.icon-delete:before {
  content: "\e921";
}
.icon-delivery:before {
  content: "\e90f";
}
.icon-delivery-track:before {
  content: "\e92f";
}
.icon-discount:before {
  content: "\e910";
}
.icon-discount-2:before {
  content: "\e932";
}
.icon-dog:before {
  content: "\e911";
}
.icon-dog-house:before {
  content: "\e93e";
}
.icon-event-available:before {
  content: "\e94f";
}
.icon-exit:before {
  content: "\e956";
}
.icon-eye:before {
  content: "\e94c";
}
.icon-fast-delivery:before {
  content: "\e93f";
}
.icon-favourite:before {
  content: "\e912";
}
.icon-fb:before {
  content: "\e913";
}
.icon-ferret:before {
  content: "\e914";
}
.icon-file:before {
  content: "\e940";
}
.icon-filter-list:before {
  content: "\e93b";
}
.icon-fish:before {
  content: "\e915";
}
.icon-front-store:before {
  content: "\e950";
}
.icon-geo:before {
  content: "\e916";
}
.icon-handshake:before {
  content: "\e941";
}
.icon-help:before {
  content: "\e942";
}
.icon-help-sm:before {
  content: "\e951";
}
.icon-home:before {
  content: "\e917";
}
.icon-instagram:before {
  content: "\e918";
}
.icon-insurance:before {
  content: "\e943";
}
.icon-lizard:before {
  content: "\e91a";
}
.icon-local-shipping:before {
  content: "\e952";
}
.icon-location:before {
  content: "\e957";
}
.icon-mail:before {
  content: "\e91c";
}
.icon-mail-outline:before {
  content: "\e91b";
}
.icon-marketing:before {
  content: "\e944";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-mouse:before {
  content: "\e925";
}
.icon-newspaper:before {
  content: "\e945";
}
.icon-ok:before {
  content: "\e91f";
}
.icon-online-shop:before {
  content: "\e931";
}
.icon-package:before {
  content: "\e958";
}
.icon-packing-list:before {
  content: "\e946";
}
.icon-pawprints:before {
  content: "\e947";
}
.icon-phone:before {
  content: "\e920";
}
.icon-phone-book:before {
  content: "\e959";
}
.icon-photo-camera:before {
  content: "\e95a";
}
.icon-price-tag:before {
  content: "\e930";
}
.icon-print:before {
  content: "\e953";
}
.icon-remove:before {
  content: "\e922";
}
.icon-reorder:before {
  content: "\e923";
}
.icon-repeat:before {
  content: "\e924";
}
.icon-return:before {
  content: "\e948";
}
.icon-sale:before {
  content: "\e926";
}
.icon-search:before {
  content: "\e927";
}
.icon-share:before {
  content: "\e954";
}
.icon-shield:before {
  content: "\e933";
}
.icon-shopping-cart:before {
  content: "\e928";
}
.icon-shopping-cart-2:before {
  content: "\e938";
}
.icon-shopping-cart-lg:before {
  content: "\e934";
}
.icon-star:before {
  content: "\e929";
}
.icon-market-star:before {
  content: "\e93a";
}
.icon-support:before {
  content: "\e935";
}
.icon-syringe:before {
  content: "\e949";
}
.icon-tag:before {
  content: "\e92a";
}
.icon-thumb-up:before {
  content: "\e955";
}
.icon-today:before {
  content: "\e95b";
}
.icon-trolley:before {
  content: "\e936";
}
.icon-trolley-lg:before {
  content: "\e95c";
}
.icon-user:before {
  content: "\e92b";
}
.icon-vk:before {
  content: "\e92c";
}
.icon-wallet:before {
  content: "\e94b";
}
.icon-wallet-return:before {
  content: "\e94a";
}
.icon-triangle-down:before,
.tabs_pills .tabs__link:after {
  content: "\e95d";
}
.icon-youtube:before {
  content: "\e96f";
}

@include media-breakpoint-up(lg) {
    .tabs_primary .tabs__link:after {
      content: "\e95d";
    }
}

.icon-youtube-button,
.icon-youtube-button-lg,
.icon-doc,
.icon-xls,
.icon-pdf {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.icon-youtube-button,
.icon-youtube-button-lg {
    @include size(50px, 35px);
    @include background-svg('<svg width="50" height="35" xmlns="http://www.w3.org/2000/svg"><g fill-rule="nonzero" fill="none"><path d="M24.985 0S9.357 0 5.435 1.02c-2.1.586-3.829 2.316-4.416 4.448C0 9.39 0 17.515 0 17.515s0 8.156 1.02 12.017a6.364 6.364 0 004.415 4.418C9.388 35 24.985 35 24.985 35s15.658 0 19.58-1.02c2.13-.586 3.829-2.254 4.385-4.417C50 25.671 50 17.546 50 17.546s.03-8.155-1.05-12.078a6.174 6.174 0 00-4.385-4.387C40.643 0 24.985 0 24.985 0z" fill="red"/><path fill="#FFF" d="M20.012 10.009l13.002 7.506-13.002 7.476V10.009z"/></g></svg>');
}
.icon-doc,
.icon-xls,
.icon-pdf {
    @include size(16px);
}
.icon-doc {
    @include background-svg('<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M19.995 9.141a.408.408 0 0 0-.022-.11c-.005-.014-.008-.027-.014-.04a.412.412 0 0 0-.08-.117l-.001-.002L17.5 6.494V4.167c0-.01-.005-.017-.005-.026a.411.411 0 0 0-.022-.108l-.013-.039a.413.413 0 0 0-.082-.122l-3.75-3.75a.413.413 0 0 0-.121-.081l-.042-.015a.412.412 0 0 0-.104-.02C13.351.005 13.343 0 13.333 0H2.917A.417.417 0 0 0 2.5.417v6.077L.122 8.872l-.001.002a.412.412 0 0 0-.08.118c-.006.012-.009.025-.014.039a.41.41 0 0 0-.022.11c0 .01-.005.017-.005.026v7.916c0 .23.186.417.417.417H2.5v2.083c0 .23.186.417.417.417h14.166c.23 0 .417-.187.417-.417V17.5h2.083c.23 0 .417-.187.417-.417V9.167c0-.01-.005-.017-.005-.026z" fill="#295699"/><path d="M18.578 8.75H17.5V7.673l1.078 1.077z" fill="#EAEAEA"/><path d="M16.078 3.75H13.75V1.423l2.328 2.327z" fill="#D8D8D8"/><path d="M3.334.833h9.583v3.333c0 .23.187.417.417.417h3.333V8.75H3.334V.833zM2.5 7.672v1.077H1.423L2.5 7.672zM16.667 17.5H3.334v1.667h13.333V17.5z" fill="#EAEAEA"/><path d="M19.166 16.666H.833V9.583h18.333v7.083z" fill="#295699"/><path d="M5.905 10.818h-1.26v5.015h1.253c.647 0 1.137-.218 1.47-.655.333-.437.5-1.052.5-1.845 0-.793-.167-1.41-.5-1.853-.333-.44-.82-.662-1.463-.662z" fill="#fff"/><path d="M6.936 14.102c-.054.22-.13.403-.23.549a.931.931 0 0 1-.8.44h-.404v-3.528h.404a.935.935 0 0 1 .8.439c.1.146.176.33.23.552.055.222.082.482.082.78 0 .292-.027.548-.082.768z" fill="#295699"/><path d="M13.776 12.022c.085-.165.191-.296.319-.393a.718.718 0 0 1 .446-.145c.307 0 .557.139.75.418l.49-.595a1.368 1.368 0 0 0-.532-.457 1.706 1.706 0 0 0-.758-.16 1.52 1.52 0 0 0-.761.195 1.76 1.76 0 0 0-.585.545c-.16.235-.284.513-.371.836a4.058 4.058 0 0 0-.131 1.06c0 .382.043.734.13 1.055.088.321.21.598.369.832.158.234.352.417.58.55.23.131.486.197.77.197.311 0 .57-.06.775-.184a1.57 1.57 0 0 0 .506-.481l-.488-.574c-.08.123-.181.226-.301.312a.724.724 0 0 1-.429.127.742.742 0 0 1-.457-.145 1.113 1.113 0 0 1-.322-.393 2.15 2.15 0 0 1-.191-.585 3.815 3.815 0 0 1-.064-.712c0-.255.021-.494.064-.719.042-.224.106-.418.19-.584zM11.587 11.413a1.665 1.665 0 0 0-.57-.535 1.522 1.522 0 0 0-.755-.188c-.283 0-.537.063-.761.188a1.666 1.666 0 0 0-.57.535 2.598 2.598 0 0 0-.355.829c-.08.32-.12.68-.12 1.076 0 .397.041.757.124 1.08.083.324.202.602.358.833.156.231.344.41.566.538.222.128.475.191.758.191a1.5 1.5 0 0 0 .755-.19c.224-.128.414-.308.57-.54.156-.23.275-.508.358-.832.082-.323.124-.683.124-1.08 0-.396-.042-.755-.124-1.076a2.653 2.653 0 0 0-.358-.83z" fill="#fff"/><path d="M11.133 14.037c-.038.225-.095.42-.173.585a1.093 1.093 0 0 1-.29.39.623.623 0 0 1-.408.141.623.623 0 0 1-.407-.141 1.093 1.093 0 0 1-.29-.39 2.245 2.245 0 0 1-.174-.585 4.327 4.327 0 0 1-.057-.718c0-.255.019-.495.057-.72.037-.224.095-.417.173-.58.078-.163.175-.292.29-.386a.624.624 0 0 1 .408-.142c.151 0 .284.047.4.142.116.095.213.223.29.386.079.163.137.356.178.58.04.225.06.465.06.72 0 .255-.02.494-.057.718z" fill="#295699"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
}
.icon-xls {
    @include background-svg('<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M19.995 9.141a.408.408 0 0 0-.022-.11c-.005-.014-.008-.027-.014-.04a.412.412 0 0 0-.08-.117l-.001-.002L17.5 6.494V4.167c0-.01-.005-.017-.005-.026a.411.411 0 0 0-.022-.108l-.013-.039a.413.413 0 0 0-.082-.122l-3.75-3.75a.413.413 0 0 0-.121-.081l-.042-.015a.412.412 0 0 0-.104-.02C13.351.005 13.343 0 13.333 0H2.917A.417.417 0 0 0 2.5.417v6.077L.122 8.872l-.001.002a.412.412 0 0 0-.08.118c-.006.012-.009.025-.014.039a.41.41 0 0 0-.022.11c0 .01-.005.017-.005.026v7.916c0 .23.186.417.417.417H2.5v2.083c0 .23.186.417.417.417h14.166c.23 0 .417-.187.417-.417V17.5h2.083c.23 0 .417-.187.417-.417V9.167c0-.01-.005-.017-.005-.026z" fill="#1E7243"/><path d="M18.578 8.75H17.5V7.673l1.078 1.077z" fill="#EAEAEA"/><path d="M16.078 3.75H13.75V1.423l2.328 2.327z" fill="#D8D8D8"/><path d="M3.334.833h9.583v3.333c0 .23.187.417.417.417h3.333V8.75H3.334V.833zM2.5 7.672v1.077H1.423L2.5 7.672zM16.667 17.5H3.334v1.667h13.333V17.5z" fill="#EAEAEA"/><path d="M19.166 16.666H.833V9.583h18.333v7.083z" fill="#1E7243"/><path d="M10.156 10.818h-.857v5.015h2.238v-.786h-1.381v-4.229zM12.925 11.618a.581.581 0 0 1 .205-.124.718.718 0 0 1 .234-.038c.279 0 .51.11.694.332l.468-.609a1.315 1.315 0 0 0-.507-.365 1.785 1.785 0 0 0-.683-.124c-.175 0-.347.03-.517.089a1.307 1.307 0 0 0-.783.736c-.083.187-.124.41-.124.67 0 .208.027.386.081.535.055.149.128.278.22.39.092.11.198.206.319.286.12.08.249.154.386.22.217.109.397.226.538.354.142.127.213.3.213.517 0 .222-.06.394-.177.517a.593.593 0 0 1-.447.184c-.16 0-.317-.038-.47-.113a1.176 1.176 0 0 1-.394-.312l-.46.624c.141.165.33.302.566.41.236.11.494.163.772.163.194 0 .378-.032.553-.099.175-.066.327-.164.457-.294.13-.13.234-.289.311-.478.078-.189.117-.406.117-.651a1.41 1.41 0 0 0-.099-.553 1.401 1.401 0 0 0-.255-.404 1.698 1.698 0 0 0-.347-.29 4.284 4.284 0 0 0-.375-.213 2.227 2.227 0 0 1-.503-.33c-.128-.115-.191-.279-.191-.491 0-.123.017-.23.053-.32a.589.589 0 0 1 .145-.219zM8.633 10.818h-.871l-.737 1.729-.744-1.729h-.885l1.133 2.373-1.254 2.642h.886l.843-1.92.836 1.92h.913l-1.26-2.642 1.14-2.373z" fill="#fff"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
}
.icon-pdf {
    @include background-svg('<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M19.995 9.14a.41.41 0 0 0-.023-.11l-.013-.038a.413.413 0 0 0-.08-.12h-.001L17.5 6.494V4.167c0-.01-.005-.018-.005-.027a.409.409 0 0 0-.021-.107l-.015-.039a.41.41 0 0 0-.081-.122l-3.75-3.75a.413.413 0 0 0-.123-.082l-.037-.013a.408.408 0 0 0-.11-.022c-.009 0-.016-.005-.025-.005H2.917A.417.417 0 0 0 2.5.417v6.077L.122 8.872a.411.411 0 0 0-.08.12c-.007.012-.01.025-.015.039a.41.41 0 0 0-.022.11c0 .009-.005.017-.005.026v7.916c0 .23.187.417.417.417H2.5v2.083c0 .23.187.417.417.417h14.166c.23 0 .417-.187.417-.417V17.5h2.083c.23 0 .417-.187.417-.417V9.167c0-.01-.005-.017-.005-.026z" fill="#CC3202"/><path d="M18.578 8.75H17.5V7.673l1.078 1.077z" fill="#EAEAEA"/><path d="M16.078 3.75H13.75V1.423l2.328 2.327z" fill="#D8D8D8"/><path d="M3.334.833h9.583v3.333c0 .23.187.417.417.417h3.333V8.75H3.334V.833zM2.5 7.672v1.077H1.423L2.5 7.672zM16.667 17.5H3.334v1.667h13.333V17.5z" fill="#EAEAEA"/><path d="M19.166 16.666H.833V9.583h18.333v7.083z" fill="#CC3202"/><path d="M7.606 11.133a1.176 1.176 0 0 0-.457-.244 1.854 1.854 0 0 0-.496-.07H5.265v5.014H6.1v-2.011h.595c.174 0 .344-.031.51-.092.165-.062.311-.156.439-.284.127-.127.23-.286.308-.478.078-.191.117-.414.117-.67 0-.283-.044-.519-.131-.708a1.328 1.328 0 0 0-.333-.457z" fill="#fff"/><path d="M7.071 12.92a.633.633 0 0 1-.489.208h-.481v-1.594h.481c.199 0 .361.061.489.184.127.123.191.32.191.588 0 .27-.064.474-.191.613z" fill="#CC3202"/><path d="M12.802 15.833h.857V13.68h1.282v-.73h-1.29v-1.367h1.396v-.765h-2.245v5.015zM10.032 10.818h-1.26v5.015h1.253c.647 0 1.137-.218 1.47-.655.333-.437.5-1.052.5-1.845 0-.793-.167-1.41-.5-1.853-.333-.44-.82-.662-1.463-.662z" fill="#fff"/><path d="M11.062 14.102c-.054.22-.13.403-.23.549a.93.93 0 0 1-.8.44h-.404v-3.528h.404a.931.931 0 0 1 .8.439c.1.146.176.33.23.552.055.222.082.482.082.78 0 .292-.027.548-.082.768z" fill="#CC3202"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h20v20H0z"/></clipPath></defs></svg>');
}
@include media-breakpoint-up(md) {
    .icon-youtube-button-lg {
        @include size(86px, 60px);
    }
    .icon-doc,
    .icon-xls,
    .icon-pdf {
        @include size(20px);
    }
}