.in-cart {
    &__product {
        display: flex;
        align-items: flex-start;
        padding: $grid-gutter-width-2 $gutter;
    }

    &__img-placeholder {
        max-width: 70px;
        flex: 0 0 70px;
        margin-right: $grid-gutter-width-2;
        height: 100px;
        display: flex;
        align-items: center;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__label {
        margin-bottom: 11px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__order {
        align-items: center;
        margin-top: $grid-gutter-width-2;
        margin-left: -94px;
    }

    &__prices {
        min-width: 82px;
    }

    &__price {
        @include font($font-size-h5, $line-height-h5, 700);
        white-space: nowrap;
    }

    &__total {
        width: 100%;
        margin-top: $gutter;
        display: flex;
        align-items: baseline;

        &-label {
            @include font($font-size-sm, $line-height-sm);
            color: $gray-15;
            margin-right: 8px;
        }

        &-sum {
            @include font($font-size-h3, $line-height-h3, 700);
            white-space: nowrap;
        }
    }

    &__action {
        margin-top: 20px;
        margin-left: -94px;

        &-col {
            margin-top: $gutter / 2;
        }
    }

    &__content {
        padding: $grid-gutter-width-2 $gutter;
        background-color: $green;
    }

    @media(min-width: 375px) {
        &__order {
            margin-left: - $gutter-2;
        }

        &__prices {
            min-width: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        &__total {
            width: auto;
            margin-top: 0;
            margin-left: auto;
        }

        &__action {
            margin-top: 28px;
            margin-left: - $gutter-2;

            &-col {
                margin-top: 0;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__product {
            padding: 40px $grid-gutter-width;

            &-info {
                max-width: 422px;
                padding-top: $gutter;
            }
        }

        &__img-placeholder {
            max-width: 292px;
            flex: 0 0 33%;
            margin-right: $grid-gutter-width;
            height: auto;
            align-self: center;
        }

        &__label {
            @include font($font-size-html, $line-height-md);
        }

        &__title {
            @include font($font-size-xl, $line-height-h3);
        }

        &__price {
            @include font($font-size-xl, $line-height-h4);
        }

        &__total {
            &-sum {
                @include font(32px, 41.01px);
            }
        }

        &__content {
            padding: $grid-gutter-width-2 $grid-gutter-width $grid-gutter-width;
        }
    }

    @include media-breakpoint-up(lg) {
        &__img-placeholder {
            margin-right: 40px;
        }
    }
}