.info-text {
    margin-bottom: 43px;

    &__title {
        margin-bottom: $gutter;
    }

    &__icon-placeholder {
        display: block;
        margin-bottom: 15px;
    }

    &__icon {
        display: block;
    }

    > p {
        @include font($font-size-html, 24px);
        margin-bottom: 1.5em;

        img {
            margin-top: 27px;
            margin-bottom: -8px;
        }
    }

    img {
        display: block;
    }

    &__footer {
        margin-top: $grid-gutter-width;

        .button {
            min-width: 288px;
        }
    }

    &__map {
        height: 320px;
        border-radius: $border-radius;
    }

    .pickup-wrapper {
        margin-top: 37px;
    }

    @include media-breakpoint-up(md) {
        &__title {
            display: flex;
            align-items: center;
            margin-bottom: 24px;
        }

        &__icon-placeholder {
            width: 61px;
            flex: 0 0 61px;
            margin-bottom: 0;
        }

        > p {
            margin-bottom: 1.25em;

            img {
                margin-bottom: -3px;
            }
        }

        .pickup-wrapper {
            margin-top: 31px;
        }
    }

    @include media-breakpoint-up(lg) {
        &:last-child {
            margin-bottom: 0;
        }
    }
}