.label {
    color: $white;
    text-transform: uppercase;
    @include font($font-size-xs, 24.01px, 700);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;

    &_secondary {
        background-color: $secondary;
    }
}