.letter {
    display: block;
    border: 1px solid $gray-3;
    border-radius: $border-radius;
    background-color: $white;
    color: $base-color;
    @include font($font-size-lg, 44px, 500);
    @include size(46px);
    text-align: center;
    text-transform: uppercase;

    @include hover-focus {
        border-color: $primary;
        background-color: $primary;
        color: $white;
    }

    &.active {
        border-color: $primary;
        background-color: $primary;
        color: $white;
    }

    &.disabled {
        background-color: $gray-2;
        color: $gray-3;

        @include hover-focus {
            border-color: $gray-3;
            background-color: $gray-2;
            color: $gray-3;
        }
    }

    &_lg {
        width: 106px;
    }

    @include media-breakpoint-up(md) {
        &_lg {
            width: 108px;
        }
    }
}