.location {
    @include font($font-size-xs, 16px, 400);
    padding-top: 4px;
    margin-bottom: -2px;

    &__title {
        color: $gray-7;
        font: inherit;
        margin-bottom: 8px;
    }

    &__name {
        color: $black;
        @include font($font-size-base, 18px, 500);
        margin-bottom: 13px;
    }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__button {
        margin-right: 25px;
    }
}