.locations {
    margin-top: -2px;
    padding-bottom: 17px;

    &__title {
        margin-bottom: $gutter;
        @include font(20px, 26px);
    }

    &__form {
        margin-bottom: 22px;
    }

    &__control {
        margin-bottom: 12px;
        text-align: center;
    }

    &__button {
        width: 100%;
    }

    &__content {
        max-height: 289px;
        overflow: hidden;
        position: relative;
    }

    &__list {
        @include list-unstyled;
        margin-bottom: 9px;

        strong {
            font-weight: 700;
        }
    }

    &__link {
        color: inherit;
        cursor: pointer;

        &.active {
            color: $secondary;
        }
    }

    @include media-breakpoint-up(sm) {
        &__content {
            columns: 2;
            column-gap: $grid-gutter-width;
            max-height: none;
        }

        &__list {
            margin-bottom: 19px;
        }
    }

    @include media-breakpoint-up(md) {
        margin-top: 0;
        padding: 4px $gutter 6px;

        &__title {
            margin-bottom: 28px;
        }

        &__form {
            margin-bottom: 28px;
        }

        .form__group {
            display: flex;
            align-items: center;
        }

        &__control {
            margin-right: 21px;
            margin-bottom: 0;
            text-align: left;
        }

        &__button {
            width: 169px;
            flex: 0 0 169px;
        }

        &__content {
            columns: 5;
        }
    }
}