.menu-card {
    border: 1px solid $gray-3;
    border-radius: $border-radius;
    background-color: $white;
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
    padding: 14px $gutter;
    width: 100%;
    height: 100%;

    &__icon {
        display: block;
        @include size(44px);
        margin-right: 32px;
        font-size: 44px;
    }

    &__title {
        @include font($font-size-html, 21px);
        margin-bottom: 0;
        color: $base-color;
    }

    @include hover-focus {
        border-color: $white;
        @include shadow();

        .menu-card__title {
            color: $secondary;
        }
    }

    @include media-breakpoint-up(md) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: $gutter;
        min-height: 169px;

        &__icon {
            @include size(48px);
            margin-right: 0;
            margin-bottom: 28px;
            font-size: 48px;
        }

        &__title {
            @include font($font-size-base, 18px);
            flex: 1;
            display: flex;
            align-items: center;
        }
    }
}