.menu-toggle {
  @include size(24px);
  border: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
  user-select: none;
  appearance: none;
  z-index: 101;
  font-size: 16px;

  @include hover-focus-active {
    outline: 0;
  }

  span {
    display: block;
  }

  &__bottom,
  &__middle,
  &__top {
    display: block;
    position: relative;
    background-color: $green;
    margin-right: auto;
    margin-left: auto;
    width: 16px;
    height: 1px;
    border: none;
    will-change: transform;
  }

  &__top {
    top: -3px;
  }

  &__middle {
    top: 0;
  }

  &__bottom {
    top: 3px;
    transition: transform .5s;
  }

  &__middle,
  &__top {
    transition: transform .5s, top .2s;
  }

  .menu-active &,
  .nav-fixed & {
    &__top {
      top: .08em;
      transform: rotate(-45deg);
    }

    &__middle {
      top: .02em;
      transform: rotate(45deg);
    }

    &__bottom {
      opacity: 0;
      top: 0;
      transform: rotate(180deg);
    }
  }
}