.modal {
    position: relative;
    margin: auto;
    overflow: hidden;
    background-color: $white;
    border-radius: $border-radius;
    @include shadow();

    &__content {
        width: 100%;
        padding: 20px $gutter $gutter;

        p {
            margin-bottom: $gutter / 2;

            strong {
                font-weight: 700;
                white-space: nowrap;
            }
        }
    }

    &__header {
        text-align: center;
        @include font($font-size-sm, $line-height-sm);
        margin-bottom: 17px;
    }

    &__title {
        @include font(18px, 23px);
        margin-bottom: 8px;
    }

    .form__group {
        margin-bottom: 10px;
    }

    .form__submit {
        margin-top: 20px;
    }

    .form__links {
        margin-bottom: -7px;
    }

    .share {
        margin-top: 40px;
        margin-bottom: 30px;
        text-align: center;
    }

    .success-message {
        padding: 33px 5px 22px;
    }

    .mfp-close {
        font-size: 0;
        text-indent: 0;
        @include size(40px);
        top: 0;
        right: 0;
        background: none !important;

        &:before {
            color: $gray-4;
            font-size: 12px;
        }

        @include hover-focus-active {
            opacity: 1;

            &:before {
                color: $primary;
            }
        }
    }

    &_xs {
        max-width: 345px;
    }

    &_xs & {
        &__content {
            padding-top: 34px;
            padding-bottom: 33px;
        }
    }

    &_sm {
        max-width: 380px;
    }

    &_md {
        max-width: 614px;
    }

    &_lg {
        max-width: 980px;
    }

    &_calendar {
        max-width: 288px;
    }

    &_product {
        max-width: 1224px;

        .product {
            margin-bottom: 0;

            &__main {
                margin-bottom: 0;
            }

            &__footer {
                display: block;
            }

            &__checkout {
                max-width: none;
            }
        }
    }

    &_cart {
        background: none;
        pointer-events: none;
        box-shadow: none;

        .mfp-close {
            display: none;
        }
    }

    &_notification {
        max-width: 366px;

        .form__group {
            @include margin-bottom($gutter);
        }
    }

    &_notification & {
        &__header {
            text-align: left;
        }
    }

    &_in-cart {
        max-width: 862px;
    }

    &_in-cart & {
        &__content {
            padding: 0;
        }
    }

    @include media-breakpoint-up(sm) {
        &__content {
            padding: 20px 24px 24px;
        }

        &_xs {
            .mfp-close {
                @include size(48px);
            }
        }

        &_xs & {
            &__content {
                padding-left: 43px;
                padding-right: 43px;
            }
        }

        &_notification & {
            &__content {
                padding: 30px 32px 32px;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__title {
            @include font(20px, 26px);
        }

        &_calendar {
            max-width: 620px;
        }
    }

    @include media-breakpoint-up(lg) {
        .product {
            &__media {
                margin-bottom: 0;
            }
        }

        &_lg & {
            &__content {
                padding: $grid-gutter-width;
            }
        }
    }
}

.mfp-container {
    padding: $gutter;

    @media (min-width: 900px) {
        padding-left: $gutter;
        padding-right: $gutter;
    }
}