.news-card {
    width: 100%;
    display: block;
    font-weight: 500;

    &__img-placeholder {
        margin-bottom: 14px;
    }

    &__img {
       display: block;
       width: 100%;
    }

    &__title {
        margin-bottom: 8px;
        @include em-line-height($font-size-h5, 21px);
        font-weight: 700;
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include em-line-height($font-size-base, 24px);
    }

    &__date {
        color: $base-color;
        margin-right: $gutter;
    }

    &__more {
        color: $secondary;
        white-space: nowrap;

        &-icon {
            margin-left: 5px;
            font-size: 16px;
        }
    }

    @include media-breakpoint-up(md) {
        &__img-placeholder {
            margin-bottom: 10px;
        }

        &__title {
            margin-bottom: 6px;
            @include font(20px, 26px);
        }

        &__more {
            &-icon {
                top: -1px;
            }
        }
    }
}