.offer {
    background-color: $white;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    min-height: 436px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__img-placeholder {
        height: 241px;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px $gutter 20px;
    }

    &__img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        width: auto;
    }

    &__sale {
        position: absolute;
        top: $gutter;
        right: $gutter;
        text-align: center;
        @include size(56px);

        &-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            font-size: 56px;
            color: $secondary;
            z-index: 1;
        }

        &-text {
            position: relative;
            color: $white;
            @include font(20px, 56px, 700);
            z-index: 2;
        }
    }

    &__content {
        padding: 0 $gutter 12px;
    }

    &__period {
        @include font($font-size-html, 19px, 500);
        margin-bottom: 10px;
        color: $secondary;
    }

    &__rating-stars {
        margin-bottom: 8px;
    }

    &__title {
        margin-bottom: 0;
        line-height: 1.2857;
    }

    &__order {
        margin-top: auto;
        background-color: $yellow;
        display: flex;
        align-items: center;
        padding: $gutter;
    }

    &__price {
        &-value {
            @include font($font-size-h3, $line-height-h3, 900);
            color: $secondary;
        }

        &-old {
            @include font($font-size-html, 19px);
            color: rgba($gray-8, .6);
            margin-top: 1px;
            text-decoration: line-through;
        }
    }

    &__button {
        margin-left: auto;
        width: 116px;
    }

    @include media-breakpoint-up(xl) {
        flex-direction: row;
        align-items: stretch;
        min-height: 185px;

        &__img-placeholder {
            height: auto;
            max-width: 168px;
            flex: 0 0 168px;
            padding-bottom: 8px;
        }

        &__content {
            flex: 1;
            padding: 20px 22px 20px 0;
            align-self: center;
        }

        &__period {
            max-width: 130px;
            margin-bottom: 13px;
        }

        &__order {
            max-width: 203px;
            flex: 0 0 203px;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding: 18px 22px;
            margin-top: 0;
            text-align: center;
        }

        &__price {
            margin-bottom: 28px;

            &-value {
                @include font(32px, 37px);
            }

            &-old {
                margin-top: 7px;
            }
        }

        &__button {
            margin-left: 0;
            width: 100%;
            font-size: rem(20px);
        }
    }
}