.office {
    &__title {
        @include font($font-size-lg, 23px);
    }

    &__info {
        margin-bottom: 4px;

        &-name,
        &-text {
            display: inline;
        }

        &-name {
            font-weight: 700;
        }
    }

    &__map,
    &__img {
        border-radius: $border-radius;
    }

    &__map {
        height: 214px;
        margin-top: 30px;
    }

    &__img {
        display: block;
        margin-top: 21px;
    }

    @include media-breakpoint-up(md) {
        display: flex;
        flex-direction: column;

        &__details {
            margin-bottom: auto;
        }
    }
}