.order-list {
    font-weight: 500;
    @include em-line-height($font-size-base, 23px);

    &__item {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $gray-3;
        padding-top: 25px;
        padding-bottom: $gutter;

        &:first-child {
            padding-top: 11px;
        }
    }

    &__img-placeholder {
        max-width: 48px;
        flex:  0 0 48px;
        margin-right: 20px;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__content {
        flex: 0 0 calc(100% - 68px);
        max-width: calc(100% - 68px);
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        margin-bottom: 8px;
        width: 100%;
        max-height: 92px;
        overflow: hidden;
    }

    &__amount {
        flex: 0 0 50%;
        max-width: 50%;
    }

    &__price {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: right;
    }

    @include media-breakpoint-up(md) {
        &__item,
        &__content {
            align-items: center;
        }

        &__item {
            padding-top: 10px;

            &:first-child {
                padding-top: 12px;
            }

            &:last-child {
                padding-bottom: 0;
            }
        }

        &__content {
            margin-left: auto;
        }

        &__amount,
        &__price {
            text-align: center;
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
        }

        &__title {
            flex: 0 0 55%;
            max-width: 55%;
            margin-right: auto;
            padding-right: $gutter / 2;
            margin-bottom: 0;
        }

        &__amount {
            flex: 0 0 23%;
            max-width: 23%;
        }

        &__price {
            flex: 0 0 20%;
            max-width: 20%;
        }

        &__header {
            @include font(12px, 20px, 400);
            color: $gray-7;

            .order-list__item {
                border: 0;
                padding-top: 0;
                padding-bottom: 8px;
            }

            .order-list__title {
                position: relative;
                left: -68px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__title {
            max-height: 46px;
        }
    }
}