.order {
    border: 1px solid $gray-3;
    border-radius: $border-radius;
    overflow: hidden;

    &__header {
        background-color: rgba($gray-11, .5);
        padding: 10px $gutter 8px;
    }

    &__header,
    &__title {
        @include em-line-height($font-size-base, 18px);
    }

    &__title {
        margin-bottom: 5px;
    }

    &__content {
        border-top: 1px solid $gray-3;
        padding: 12px $gutter 22px;
    }

    &__detail {
        @include em-line-height($font-size-base, 25px);
        margin: 0;

        &-name,
        &-text {
            display: inline;
        }

        &-name {
            font-weight: 500;
        }

        &-text {
            margin: 0;
        }

        &-product {
            margin-bottom: $gutter;
        }

        &_block & {
            &-name,
            &-text {
                display: block;
            }
        }
    }

    &__list {
        margin-top: 14px;
        margin-bottom: 10px;
    }

    &__status {
        &-bar {
            border-radius: $border-radius;
            display: flex;
            align-items: baseline;
            padding: 12px $gutter;

            &_current {
                background-color: rgba($primary, .1);
            }

            &_done {
                background-color: rgba($yellow-2, .4);
            }
        }

        &-label {
            margin-right: auto;
            font-weight: 500;
        }
    }

    &__action {
        margin-top: 24px;

        .button + .button {
            margin-top: 12px;
        }
    }

    @include media-breakpoint-up(sm) {
        &__header {
            display: flex;
            padding-top: 14px;
            padding-bottom: 13px;
        }

        &__title {
            margin-right: auto;
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(md) {
        &__content {
            display: flex;
            flex-wrap: wrap;
            padding-top: 19px;
            padding-bottom: 10px;
        }

        &__info {
            flex: 1;
            padding-right: 80px;
            margin-top: -9px;
        }

        &__detail {
            &-list {
                padding-bottom: 0;
            }
        }

        &__list {
            width: 100%;
            order: 10;
            margin-top: 12px;
            margin-bottom: 3px;
        }

        &__status {
            max-width: 314px;
            flex: 0 0 314px;
        }

        &__action {
            display: flex;
            justify-content: flex-end;
            margin-top: $gutter;

            .button + .button {
                margin-top: 0;
                margin-left: 16px;
            }

            &-repeat {
                max-width: 159px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__header,
        &__content {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}