.packing {
    @include list-unstyled;
    margin-left: -$tooltip-padding-x;
    margin-right: -$tooltip-padding-x;
    margin-bottom: 0;
    min-width: 150px;
    @include font($font-size-base, 24px);

    &__link {
        color: $base-color;
        display: block;
        padding: 2px $gutter;

        @include hover-focus {
            background-color: $gray;
        }

        &.active {
            color: $secondary;
        }
    }
}