.page-share {
    &:not(:first-child) {
        margin-top: 27px;
    }

    .yandex-market {
        margin-bottom: 19px;
    }

    @include media-breakpoint-up(sm) {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            //margin-top: 45px;
        }

        .yandex-market {
            margin-bottom: 0;
            margin-right: 32px;
        }
    }
}