.pagination {
    &__list {
        @include list-unstyled;
        margin-left: -6px;
        margin-right: -6px;
        text-align: center;
        font-size: 0;
    }

    &__item {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
        @include font($font-size-html, 38px);
    }

    &__link {
        display: block;
        @include size(40px);
        border-radius: $border-radius;
        border:  1px solid $gray-3;
        color: $base-color;

        @include hover-focus {
            border-color: $primary;
            color: $primary;

            .pagination__icon {
                color: $primary;
            }
        }

        &.active {
            border-color: $primary;
            background-color: $primary;
            color: $white;

            @include hover-focus {
                color: $white;
            }
        }
    }

    &__icon {
        color: $gray-4;
        font-size: 20px;
        top: -1px;
    }
}
