.paginator {
    .pagination {
        margin-left: auto;
        margin-right: auto;
    }

    @include media-breakpoint-up(lg) {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: $grid-gutter-width;
        grid-template-areas:
          ". pagination sorting";
        justify-items: center;
        align-items: flex-end;

        .pagination {
            grid-area: pagination;
            //grid-column-start: 2;
        }

        .sorting {
            margin-left: auto;
            grid-area: sorting;
        }
    }
}
