.panel {
    &__header {
        position: relative;
        cursor: pointer;
        margin-bottom: -1px;
        display: flex;
        align-items: center;

        &-icon {
            position: absolute;
            font-size: $gutter;
            position: absolute;
            top: 50%;
            right: $gutter;
            transform: translateY(-50%);
        }
    }

    &__title {
        margin-bottom: 0;
        margin-right: auto;
    }

    &__content {
        display: none;
    }

    &.active & {
        &__header {
            margin-bottom: 0;

            &-icon {
                transform: translateY(-50%) scaleY(-1);
            }
        }

        &__content {
            display: block;
        }
    }
}