.payment-methods {
    &__label {
        margin-bottom: 6px;
    }

    &__list {
        @include list-unstyled;
        @include make-row(10px);
        align-items: center;
        margin-top: -5px;

        &,
        &:last-child {
            margin-bottom: -5px;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        @include size(51px, 23px);
        background-color: $white;
        border-radius: $border-radius;
        margin: 5px;
    }

    &__img {
        display: block;
        width: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}