.pickup-point {
    @include em-line-height($font-size-base, 18px);
    padding-top: 5px;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 26px;

        p {
            margin-bottom: 0;
        }
    }

    &__logo {
        display: block;
        @include size(48px);
        @include rounded;
        flex: 0 0 48px;
        margin-right: $gutter;
    }

    &__content {
        flex: 1;
    }

    &__title {
        @include font($font-size-xl, 26px);
        margin-bottom: 4px;
    }

    &__info {
        margin-bottom: 26px;

        &-title {
            font-weight: 700;
            margin-top: 18px;
            margin-bottom: 9px;
        }

        &-text {
            margin-left: 0;
            margin-bottom: 0;

            p {
                @include margin-bottom($gutter);
            }
        }
    }

    &__button {
        min-width: 113px;
    }

    @include media-breakpoint-up(sm) {
        padding: 13px 8px 8px;

        &__logo {
            margin-right: 24px;
        }
    }
}