.pub-preview {
    display: block;
    border: 1px solid $gray;
    border-radius: $border-radius;
    background-color: $white;
    @include shadow();
    color: $base-color;
    padding: $gutter $gutter 28px;

    &__img-placeholder {
        max-width: 138px;
        margin-bottom: 18px;
    }

    &__img {
        display: block;
        border-radius: $border-radius;
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 11px;
        transition: color .25s ease-in-out;
    }

    &__action {
        margin-top: 24px;
    }

    @include hover-focus {
        .pub-preview__title {
            color: $primary;
        }
    }

    @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        padding: 24px;

        &__img-placeholder {
            max-width: 205px;
            flex: 0 0 205px;
            margin-right: 35px;
            margin-bottom: 0;
        }

        &__content {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        &__text {
            margin-bottom: 25px;
        }

        &__action {
            margin-top: auto;
        }
    }
}