.rating {
    &__stars {
        display: inline-flex;
        margin-right: 10px;
    }

    &__label {
        @include font($font-size-sm, $line-height-sm);
    }

    &__label-md {
        @include font($font-size-base, $line-height-base);
    }

    &_reversed {
        flex-direction: column;
    }

    &_reversed & {
        &__stars {
            margin-right: 0;
            margin-top: $gutter / 2;
        }
    }

    @media (min-width: 375px) {
        &_reversed {
            flex-direction: row;
            display: inline-flex;
            align-items: center;
        }

        &_reversed & {
            &__label-md {
                margin-right: $gutter;
            }

            &__stars {
                margin-top: 0;
            }
        }
    }
}