.rating-stars {
    position: relative;
    display: flex;

    &__star {
        display: block;
        margin-right: 4px;
        font-size: 13px;
        color: $gray-3;
        transition: color .25s ease-in-out;

        .rating-stars:not(.rating-stars_form) &:last-child {
            margin-right: 0;
        }

        .rating-stars_form[data-size] &:nth-child(2) {
            margin-right: 0;
        }
    }

    &[data-rate="5"] &__star,
    &[data-rate="1"] &__star:nth-child(-n+1),
    &[data-rate="2"] &__star:nth-child(-n+2),
    &[data-rate="3"] &__star:nth-child(-n+3),
    &[data-rate="4"] &__star:nth-child(-n+4) {
        color: $yellow-6;
    }

    &[data-size="15"] & {
        &__star {
            font-size: 15px;
        }

        &__input {
            @include size(15px);
            margin-left: -15px;
            left: -4px;
        }
    }

    &[data-size="18"] & {
        &__star {
            font-size: 18px;
        }

        &__input {
            @include size(18px);
            margin-left: -18px;
            left: -4px;
        }
    }

    &[data-size="22"] & {
        &__star {
            font-size: 22px;
            margin-right: 8px;
        }

        &__input {
            @include size(22px);
            margin-left: -22px;
            left: -8px;
        }
    }

    &[data-size="24"] & {
        &__star {
            font-size: 24px;
            margin-right: 8px;
        }

        &__input {
            @include size(24px);
            margin-left: -24px;
            left: -8px;
        }
    }

    &[data-rate="5"][data-type="market"] &__star,
    &[data-rate="1"][data-type="market"] &__star:nth-child(-n+1),
    &[data-rate="2"][data-type="market"] &__star:nth-child(-n+2),
    &[data-rate="3"][data-type="market"] &__star:nth-child(-n+3),
    &[data-rate="4"][data-type="market"] &__star:nth-child(-n+4) {
        color: $yellow-9;
    }

    &_form {
        flex-direction: row-reverse;
        justify-content: flex-end;

        &:hover .rating-stars__star:hover,
        &:hover .rating-stars__star:hover ~ .rating-stars__star,
        .rating-stars__input:checked ~ .rating-stars__star {
            color: $yellow-6;
        }
    }

    &_form & {
        &__star {
            cursor: pointer;
        }

        &__input {
            padding: 0;
            margin: 0;
            opacity: 0;
            position: relative;
        }
    }
}