.section-header {
    margin-bottom: 20px;
    position: relative;
    z-index: 10;

    &__title {
        margin-bottom: 0;
    }

    &__info {
        color: $gray-7;
        display: inline-block;
        line-height: 1.143;
        margin-top: 8px;
    }

    @include media-breakpoint-up(md) {
        &__title {
            margin-bottom: 0;
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
        align-items: baseline;
        margin-bottom: 24px;
        margin-right: 112px;

        &__title {
            margin-right: $gutter * 2;
        }

        &__info {
            @include font($font-size-html, 19px);
        }
    }
}