.share {
    &__title {
        @include font(13px, 15px);
        margin-bottom: 9px;
    }
	.ya-share2__container_size_m .ya-share2__icon {
	    height: 48xpx !important;
	    width:  48xpx !important;
	    background-size: 48xpx 48xpx !important;
	}

	.ya-share2__container_size_m .ya-share2__counter {
	    font-size: 14px !important;
	    padding: 8px 10px 0 10px !important;
	}

	.ya-share2__container_size_m .ya-share2__icon_more:before {
	    line-height: 22px !important;
	}
	.ya-share2__container_size_m .ya-share2__popup_direction_bottom {
	    top: 36px !important;
	}
}