.shop {
    @include em-line-height($font-size-base, 24px);

    &__header {
        position: relative;
        padding: 19px 60px 14px $gutter;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;

        &-icon {
            @include size(60px);
            text-align: center;
            font-size: 30px;
            line-height: 58px;
            color: $primary;
            position: absolute;
            top: 0;
            right: 0;
            transform: rotateX(180deg);
            transition: transform .25s ease-in-out;
        }

        &-item {
            margin-bottom: $gutter-2;
        }
    }

    &__title {
        @include font($font-size-lg, 24px);
    }

    &__body {
        display: none;
        border: 1px solid $gray-2;
        border-top-width: 0;
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        padding: $gutter;
    }

    &__img {
        display: block;
        border-radius: $border-radius;
        margin-bottom: 19px;
    }

    &__map {
        height: 245px;
        width: 100%;
    }

    &__action {
        margin-top: 21px;
    }

    &__button {
        width: 100%;
    }

    &.active & {
        &__header {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;

            &-icon {
                transform: rotateX(0);
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__header {
            padding-bottom: 9px;

            &-row {
                align-items: baseline;
            }

            &-item {
                max-width: none;
                flex: initial;
                margin-bottom: 9px;
            }

            &-icon {
                top: 50%;
                margin-top: -30px;
            }
        }

        &__action {
            margin-top: 28px;
        }

        &__button {
            width: auto;
        }

        &__body {
            padding-top: $grid-gutter-width-2;
            padding-bottom: $grid-gutter-width-2;
        }
    }

    @include media-breakpoint-up(lg) {
        &__header {
            padding-left: $grid-gutter-width-2;
            padding-right: 120px;

            &-icon {
                right: 18px;
            }
        }

        &__body {
            padding: $grid-gutter-width 120px $grid-gutter-width $grid-gutter-width;
        }

        &__img-placeholder {
            max-width: 458px;
        }

        &__content {
            max-width: 616px;
        }
    }
}