.shops {
    &__list {
        @include list-unstyled;
    }

    &__item {
        margin-bottom: $gutter;
    }

    @include media-breakpoint-up(md) {
        &__item {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}