.social {
    @include list-unstyled;
    @include make-row($gutter);
    align-items: center;

    &__item {
        @include make-col($gutter);
    }

    &__link {
        @include size(24px);
        font-size: 24px;
    }
}