.success-message {
    text-align: center;

    &__icon {
        display: block;
        @include size(48px);
        @include rounded;
        font-size: 30px;
        line-height: 48px;
        color: $white;
        background-color: $secondary;
        margin: 0 auto 34px;
        text-align: center;

        &[data-size="32"] {
            @include size(32px);
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 14px;
        }
    }

    &__title {
        @include font(18px, 23px, 500);
    }

    &__text {
        margin-top: 15px;
    }

  @include media-breakpoint-up(md) {
      &__title {
          @include font(20px, 26px);
      }
  }
}
