.tabs {
    &__list {
        @include list-unstyled;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__link {
        display: block;
        text-decoration: none;
        transition: box-shadow .25s ease-in-out;
    }

    &__tab {
        opacity:0;
        visibility:hidden;
        height:0;
        transition:all 0s ease-in-out;

        &.active {
            opacity:1;
            visibility:visible;
            height:auto;
        }
    }

    &_default & {
        &__list {
            align-items: flex-end;
        }

        &__item {
            margin-bottom: 16px;
        }

        &__link {
            color: $info;
            border-bottom: 2px dotted;
            margin-bottom: 0;

            &.active {
                border-bottom-color: rgba($base-color, .0);
                color: $base-color;
            }
        }
    }

    &_icon & {
        &__list {
            align-items: center;
            justify-content: center;
        }

        &__link {
            display: flex;
            align-items: center;
            color: $primary;
            line-height: 1.2857;

            &-icon {
                font-size: 24px;
            }

            &-text {
                display: none;
                border-bottom: 1px dotted;
            }

            &.active {
                color: $info;

                .tabs__link-text {
                    border-bottom-color: rgba($info, 0);
                }
            }
        }
    }

    &_pills & {
        &__list {
            margin-bottom: 3px;
        }

        &__item {
            margin-bottom: $gutter;
        }

        &__link {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: inherit;
            border: 1px solid $gray-3;
            border-radius: $border-radius;
            padding: 10px 8px;
            @include font($font-size-base, 19px);

            &:after {
                display: none;
            }

            &-text {
                @include font($font-size-html, 19px);
                margin-top: -3px;
            }

            &-info {
                color: $secondary;
                @include font(12px, 14px, 500);
                margin-top: 3px;
                margin-bottom: -1px;
            }

            &-icon {
                color: rgab($white, 0);
                font-size: 18px;
            }

            &.active {
                color: $white;
                border-color: $primary;
                background-color: $primary;

                .tabs__link-info {
                    color: #f7de5b;
                }

                .tabs__link-icon {
                    color: $white;
                }

                @include hover-focus {
                    box-shadow: none;
                }
            }

            @include hover-focus {
                @include shadow();
            }

            &_color {
                border: 0;
            }
        }
    }

    &_color & {
        &__item {
            &:not(:first-child) {
                flex: 1;
            }
        }

        &__link {
            padding: 10px 8px;
            height: 40px;

            &-icon {
                color: rgab($white, 0);
                font-size: 18px;
            }

            &.active {
                .tabs__link-icon {
                    color: $white;
                }
            }

            &_color {
                border: 0;

                @include hover-focus {
                    box-shadow: none;
                }

            }
        }
    }

    &_primary & {
        &__list {
            margin-bottom: $gutter;
        }

        &__item {
            width: 100%;
            margin-bottom: 12px;
        }

        &__link {
            position: relative;
            border: 1px solid $gray-3;
            border-radius: $border-radius;
            padding: 12px 40px 11px 15px;
            @include font($font-size-html, 21px, 700);

            &:after {
                position: absolute;
                top: 50%;
                right: 12px;
                margin-top: -8px;
                font-size: 16px;
            }

            &.active {
                color: $white;
                border-color: $primary;
                background-color: $primary;

                &:after {
                    transform: scaleY(-1);
                }

                @include hover-focus {
                    box-shadow: none;
                }
            }

            @include hover-focus {
                @include shadow();
            }
        }

        &__tab {
            &.active {
                margin-top: $gutter;
                margin-bottom: 9px;
            }
        }
    }

    &_basic & {
        &__list {
            margin-bottom: $grid-gutter-width-2;
        }

        &__item {
            margin-bottom: $gutter;
        }

        &__link {
            position: relative;
            border-radius: $border-radius;
            padding: 13px 22px;
            @include em-line-height($font-size-base, 16px);
            font-weight: 700;

            &.active {
                color: $white;
                background-color: $primary;

                @include hover-focus {
                    color: $white;
                }
            }

            @include hover-focus {
                color: $primary;
            }
        }

        &__tab {
            &.active {
            }
        }
    }

    @include media-breakpoint-up(md) {
        &_icon & {
            &__link {
                &-icon {
                    margin-right: 10px;
                }

                &-text {
                    display: block;
                }
            }
        }

        &_pills & {
            &__list {
                margin-left: -8px;
                margin-right: -8px;
                margin-bottom: 6px;
                align-items: stretch;
            }

            &__item {
                max-width: 116px;
                flex: 0 0 116px;
                padding-left: 8px;
                padding-right: 8px;
            }

            &__link {
                padding-left: 16px;
                padding-right: 16px;
                height: 100%;
                position: relative;
                z-index: 1;
                @include em-line-height($font-size-base, 16px);

                &:after {
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, -9px);
                    font-size: 15px;
                    color: $primary;
                    z-index: -1;
                }

                &.active {
                    &:after {
                        display: block;
                    }
                }

                &_color {
                    border: 0;

                    &:after {
                        color: inherit;
                    }
                }
            }
        }

        &_color & {
            &__item {
                max-width: 96px;
                flex: 0 0 96px;
            }

            &__link {
                padding-top: 3px;
                padding-bottom: 3px;
                height: 42px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &_primary & {
            &__list {
                flex-wrap: nowrap;
                justify-content: space-between;
                margin-bottom: $grid-gutter-width;
            }

            &__item {
                width: auto;
                margin-bottom: 0;
            }

            &__link {
                border: 0;
                border-radius: $border-radius;
                padding: 14px 16px;
                z-index: 1;
                background-color: $white;

                &:after {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    right: auto;
                    margin: 0;
                    transform: translate(-50%, -9px);
                    font-size: 15px;
                    color: $primary;
                    z-index: -1;
                }

                &.active {
                    &:after {
                        display: block;
                        transform: translate(-50%, -9px);
                    }
                }

                @include hover-focus {
                    box-shadow: none;
                }
            }

            &__tab {
                &.active {
                    margin-top: 0;
                }
            }
        }

        &_basic & {
            &__list {
                margin-bottom: 68px;
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &_primary & {
            &__link {
                padding: 17px 18px 16px;
                @include font(18px, 23px);
            }
        }
    }
}