.tags {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px 20px;

    &__item {
        white-space: nowrap;
        background-color: rgba($gray-2, .5);
        border: 1px solid $gray-3;
        border-radius: $border-radius;
        @include em-line-height($font-size-base, 18px);
        padding: 9px 11px;
        margin: 0 6px 12px;
        color: $secondary;

        &.active {
            border-color: $secondary;
            background-color: $secondary;
            color: $white;
        }

        @include hover-focus {
            border-color: $secondary;
            background-color: $secondary;
            color: $white;
        }
    }

    @include media-breakpoint-down(xs) {
        &_block {
            display: block;
        }

        &_block & {
            &__item {
                display: block;
                text-align: center;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 28px;

        &__item {
            @include font($font-size-html, 21px);
            padding: 9px 15px 11px;
        }
    }
}