.video {
    position: relative;
    display: block;

    &__img {
        display: block;
    }

    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}