.yandex-market {
    border: 1px solid $gray;
    border-radius: $border-radius;
    text-align: center;
    padding: 21px 32px 20px;
    max-width: 275px;

    &__img {
        display: block;
        margin: 0 auto 19px;
    }

    &__rating-stars {
        justify-content: center;
        margin-bottom: 25px;
    }

    &__button {
        color: $primary;
        max-width: 175px;
        margin:  0 auto;
    }

    &_sm {
        padding: 16px 14px 14px;
    }

    &_sm & {
        &__img {
            max-width: 139px;
            margin-bottom: 14px;
        }

        &__rating-stars {
            margin-bottom: 22px;
        }
    }

    &_inline {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 262px;
        padding: 8px $gutter 10px 13px;
    }

    &_inline & {
        &__img {
            max-width: 116px;
            margin: 0 8px 0 0;
        }

        &__rating-stars {
            margin-bottom: 0;
        }
    }
}