// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.container {
    width: 100%;
    @include make-container();
    @include make-container-max-widths();

    &:empty {
        display:none;
    }
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
    @include make-row();

    &-h-center {
        justify-content: center;
    }
    &-h-justify {
        justify-content: space-between;
    }
    &-h-end {
        justify-content: flex-end;
    }
    &_nowrap {
        flex-wrap: nowrap;
    }

    &_compact {
        margin-left: 0;
        margin-right: 0;

        > [class^="col-"], > [class*=" col-"], > .col,
        .slick-slide[class^="col-"], .slick-slide[class*=" col-"], .slick-slide.col {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &_xs {
        margin-left: -6px;
        margin-right: -6px;

        > [class^="col-"], > [class*=" col-"], > .col,
        .slick-slide[class^="col-"], .slick-slide[class*=" col-"], .slick-slide.col {
            padding-left: 6px;
            padding-right: 6px;
        }
    }

    &_sm,
    &_md {
        margin-left: -8px;
        margin-right: -8px;

        > [class^="col-"], > [class*=" col-"], > .col,
        .slick-slide[class^="col-"], .slick-slide[class*=" col-"], .slick-slide.col {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    @include media-breakpoint-up(lg) {
        &_xs,
        &_sm {
            margin-left: -10px;
            margin-right: -10px;

            > [class^="col-"], > [class*=" col-"], > .col,
            .slick-slide[class^="col-"], .slick-slide[class*=" col-"], .slick-slide.col {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        &_md {
            margin-left: -12px;
            margin-right: -12px;

            > [class^="col-"], > [class*=" col-"], > .col,
            .slick-slide[class^="col-"], .slick-slide[class*=" col-"], .slick-slide.col {
                padding-left: 12px;
                padding-right: 12px;
            }
        }

        &_lg {
            margin-left: -20px;
            margin-right: -20px;

            > [class^="col-"], > [class*=" col-"], > .col,
            > .slick-slide[class^="col-"], > .slick-slide[class*=" col-"], >.slick-slide.col {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &_xl {
            margin-left: -30px;
            margin-right: -30px;

            > [class^="col-"], > [class*=" col-"], > .col,
            .slick-slide[class^="col-"], .slick-slide[class*=" col-"], .slick-slide.col {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    }
}

// Columns
//
// Common styles for small and large grid columns
.col {
    position: relative;
    min-height: 1px;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
}

@include make-grid-columns();


// Flex variation
//
// Custom styles for additional flex alignment options.


// Flex column reordering

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-first { order: -1; }
        .col-#{$breakpoint}-last { order: 1; }
    }
}

// Alignment for every column in row

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .row-#{$breakpoint}-top { align-items: flex-start; }
        .row-#{$breakpoint}-center { align-items: center; }
        .row-#{$breakpoint}-bottom { align-items: flex-end; }
        .row-#{$breakpoint}-baseline { align-items: baseline; }
    }
}

// Alignment per column

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .col-#{$breakpoint}-top { align-self: flex-start; }
        .col-#{$breakpoint}-center { align-self: center; }
        .col-#{$breakpoint}-bottom { align-self: flex-end; }
    }
}
