.link-base {
    color: inherit;

    @include hover-focus {
        color: $link-color;
    }
}

.link-hidden {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: none !important;
    }
}

.link-inherit {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: inherit;
        text-decoration: underline;
    }
}

.link-pseudo {
    text-decoration: none;
    border-bottom: 1px dashed;

    @include hover-focus {
        text-decoration: none !important;
    }
}

.link-secondary {
    color: $secondary;

    @include hover-focus {
        color: $primary;
    }
}

.link-secondary-inherit {
    color: inherit;
    text-decoration: none;

    @include hover-focus {
        color: $secondary;
        text-decoration: underline;
    }
}

.link-muted {
    color: $gray-7;

    @include hover-focus {
        color: $gray-7;
    }
}

.link-underline {
    text-decoration: underline;
}