// Reboot
html,
*,
*::before,
*::after {
    box-sizing: border-box;
}


// Make viewport responsive
//
// @viewport is needed because IE 10+ doesn't honor <meta name="viewport"> in
// some cases. See https://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/.
// Eventually @viewport will replace <meta name="viewport">.
//
// However, `device-width` is broken on IE 10 on Windows (Phone) 8,
// and the fix for that involves a snippet of JavaScript to sniff the user agent
// and apply some conditional CSS.
//
// Wrap `@viewport` with `@at-root` for when folks do a nested import (e.g.,
// `.class-name { @import "styles"; }`).
@at-root {
  @-ms-viewport { width: device-width; }
}


//
// Reset HTML, body, and more
//

html,
body {
  height: 100%;
}

html {
  font-size: $font-size-html;
  // As a side-effect of setting the @viewport above,
  // IE11 & Edge make the scrollbar overlap the content and automatically hide itself when not in use.
  // Unfortunately, the auto-showing of the scrollbar is sometimes too sensitive,
  // thus making it hard to click on stuff near the right edge of the page.
  // So we add this style to force IE11 & Edge to use a "normal", non-overlapping, non-auto-hiding scrollbar.

  -ms-overflow-style: scrollbar;
  // Changes the default tap headline to be completely transparent in iOS.
  -webkit-tap-headline-color: rgba(0,0,0,0);

  margin-right: calc(-1 * (100vw - 100%)) !important;

  overflow-x: hidden;

  &.menu-active,
  &.cart-modal-active {
    overflow: hidden;
  }

  &.cart-modal-active {
      .mfp-wrap,
      .mfp-bg {
          top: 54px !important;
      }

      .mfp-wrap {
          height: calc(100vh - 54px) !important;
      }

      .mfp-container {
          padding: 0;

          &:before {
              vertical-align: top;
          }
      }
  }

  @include media-breakpoint-up(lg) {
    &:before {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, .6);
        z-index: 50;
        content: '';
        opacity: 0;
        visibility: hidden;
        transition: opacity .1s ease .25s;
    }

    &.menu-active {
      overflow: visible;
    }

    &.nav-active {
      overflow: hidden;

      &:before {
          opacity: 1;
          visibility: visible;
      }

      &.header-fixed {
          &:before {
              display: none;
          }
      }
    }
  }

  @include media-breakpoint-up(xl) {
      &.nav-fixed {
          overflow: hidden;
      }

      &.cart-modal-active {
          .mfp-wrap,
          .mfp-bg {
              top: 36px !important;
          }

          .mfp-wrap {
              height: calc(100vh - 36px) !important;
          }

          &.header-fixed {
              overflow: visible;

              .mfp-wrap,
              .mfp-bg {
                  position: fixed !important;
                  top: 60px !important;
              }
          }
      }
  }
}

body {
  color: $body-color;
  background: $body-bg;
  @include font($font-size-base, $line-height-base, 400, $font-family-base);
  padding-top: 100px;

  @include media-breakpoint-up(lg) {
    padding-top: 127px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0;
  }
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex="-1"]:focus {
  outline: none !important;
}

//
// Links
//

a {
  text-decoration: $link-decoration;
  color: $link-color;
  outline: 0;

  @include transition(all 0.25s ease-in-out);

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}


//
// Images
//

img {
  max-width: 100%;
  height:auto;
  // By default, `<img>`s are `inline-block`. This assumes that, and vertically
  // centers them. This won't apply should you reset them to `block` level.
  vertical-align: middle;
  // Note: `<img>`s are deliberately not made responsive by default.
  // For the rationale behind this, see the comments on the `.img-fluid` class.
}


// iOS "clickable elements" fix for role="button"
//
// Fixes "clickability" issue (and more generally, the firing of events such as focus as well)
// for traditionally non-focusable elements with role="button"
// see https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile

[role="button"] {
  cursor: pointer;
}


// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
//
// In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
// DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
// However, they DO support removing the click delay via `touch-action: manipulation`.
// See:
// * https://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
// * http://caniuse.com/#feat=css-touch-action
// * https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

//
// Forms
//

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button {
  cursor: pointer;
  @include hover-focus-active {
    outline: 0;
  }
}

input,
button,
select,
textarea {
  // Normalize includes `font: inherit;`, so `font-family`. `font-size`, etc are
  // properly inherited. However, `line-height` isn't inherited there.
  line-height: inherit;
}

input[type="radio"],
input[type="checkbox"] {
  // Apply a disabled cursor for radios and checkboxes.
  //
  // Note: Neither radios nor checkboxes can be readonly.
  &:disabled {
    cursor: default;
  }
}


input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  // Remove the default appearance of temporal inputs to avoid a Mobile Safari
  // bug where setting a custom line-height prevents text from being vertically
  // centered within the input.
  //
  -webkit-appearance: listbox;
}

textarea {
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

fieldset {
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  min-width: 0;
  margin: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  padding: 0;
  border: 0;
}

legend {
  // Reset the entire legend element to match the `fieldset`
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: inherit;
}

input[type="search"] {
  // This overrides the extra rounded corners on search inputs in iOS so that our
  // `.form-control` class can properly style them. Note that this cannot simply
  // be added to `.form-control` as it's not specific enough. For details, see
  -webkit-appearance: none;
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}

hr {
  margin: 37px 0;
  border: 1px solid $gray-3;
  border-width: 1px 0 0;
  height: 0;
}

.nowrap {
  white-space: nowrap;
}

.page {
    overflow: hidden;

  @media(min-width: 1540px) {
      overflow: visible;
  }
}

.ps__rail-x {
    display: none !important;
}