//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}
h1, .h1 {
  @include font($font-size-h3, $line-height-h3);
  margin-bottom: 24px;
}
h2, .h2 {
  @include font($font-size-h4, $line-height-h4);
  margin-bottom: 24px;
}
h3, .h3 {
  @include font(20px, 23px);
  margin-bottom: 12px;
}
h4, .h4 {
  @include font($font-size-h5, $line-height-h5);
  margin-bottom: 20px;
}
h5, .h5 {
  @include font($font-size-h5, $line-height-h5);
  margin-bottom: 17px;
}
h6, .h6 {
  @include font($font-size-base, $line-height-base);
  margin-bottom: 17px;
}
p,
ol,
ul,
dl {
  margin-top: 0;
  @include margin-bottom(1.357em);
  word-wrap: break-word;
}
.text-sm {
    @include font($font-size-sm, $line-height-sm);
}
.text-md {
    @include font($font-size-html, 19px);
}
.text-lg {
    @include font($font-size-lg, $line-height-lg);
}
.text-xl {
    @include font($font-size-xl, $line-height-xl);
}

@include media-breakpoint-up(md) {
  h1, .h1 {
    @include font($font-size-h1, $line-height-h1);
    margin-bottom: 40px;

    .content__main & {
        margin-bottom: 20px;
    }
  }
  h2, .h2 {
    @include font($font-size-h2, $line-height-h2);
    margin-bottom: 32px;
  }
  h3, .h3 {
    @include font($font-size-h3, $line-height-h3);
    margin-bottom: 14px;
  }
  h4, .h4 {
    @include font($font-size-h4, $line-height-h4);
    margin-bottom: 20px;
  }
  h5, .h5 {
    margin-bottom: 14px;
  }
  h6, .h6 {
    @include em-line-height($font-size-h6, $line-height-h6);
  }
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dd {
    margin: 0;
}

strong {
  font-weight: 500;
}

blockquote {
  border-left: 8px solid $yellow-4;
  padding-top: .3125em;
  padding-left: 1.4375em;
  padding-bottom: .6875em;
  margin: 1em 0 1.375em;
  @include font(16px, 23px);
  color: $yellow-4;
}

@include media-breakpoint-up(lg) {
    blockquote {
        margin-top: 2em;
        margin-bottom: 1.875em;
    }
}

.primary {
  color: $primary;
}
.secondary {
  color: $secondary;
}
.info {
  color: $info;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-truncated {
    @include text-truncate();
}
.attention {
  color: #CA3416;
  font-size: 12px;
  padding: 15px;
  border: 1px solid #CA3416;
  border-radius: $border-radius;
}