// variables

// table of contents
//
// colors
// grid
// body
// links
// fonts
// components


@mixin _assert-ascending($map, $map-name) {
  $prev-key: null;
  $prev-num: null;
  @each $key, $num in $map {
    @if $prev-num == null {
      // do nothing
    } @else if not comparable($prev-num, $num) {
      @warn "potentially invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    } @else if $prev-num >= $num {
      @warn "invalid value for #{$map-name}: this map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
    }
    $prev-key: $key;
    $prev-num: $num;
  }
}


// replace `$search` with `$replace` in `$string`
// @author hugo giraudel
// @param {string} $string - initial string
// @param {string} $search - substring to replace
// @param {string} $replace ('') - new value
// @return {string} - updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

@mixin _assert-starts-at-zero($map) {
  $values: map-values($map);
  $first-value: nth($values, 1);
  @if $first-value != 0 {
    @warn "first breakpoint in `$grid-breakpoints` must start at 0, but starts at #{$first-value}.";
  }
}


// colors
//
// grayscale and brand colors

$gray: #f2f2f2 !default;
$gray-2: #ebebeb !default;
$gray-3: #e0e0e0 !default;
$gray-4: #c4c4c4 !default;
$gray-5: #989898 !default;
$gray-6: #979797 !default;
$gray-7: #5d5d5d !default;
$gray-8: #4f4f4f !default;
$gray-9: #333333 !default;
$gray-10: #f3f3f3 !default;
$gray-11: #f5f5f5 !default;
$gray-12: #4c3f1b !default;
$gray-13: #e9ebd9 !default;
$gray-14: #bdbdbd !default;
$gray-15: #828282 !default;

$green: #eaebd7 !default;
$green-2: #dedfca !default;
$green-3: #0e5542 !default; //
$green-4: #0b4837 !default;
$green-5: #f4f5eb !default;
$green-6: #219653 !default;

$yellow: #f7de5b !default;
$yellow-2: #f2d58c !default;
$yellow-3: #eac878 !default;
$yellow-4: #d8ab4f !default;
$yellow-5: #cc952a !default; //
$yellow-6: #f2994a !default;
$yellow-7: #4d401b !default;
$yellow-8: #f7c45b !default;
$yellow-9: #ffa800 !default;
$yellow-10: #fff278 !default;
$yellow-11: #ebcf88 !default;

$red: #ff4a00 !default;
$red-2: #eb5757 !default;
$red-3: #fc2424 !default;

$blue: #2d9cdb !default;
$blue-2: #2f80ed !default;

$brown: #cc952a !default;

$purple: #a34bc5 !default;

$pink: #ff6bc4 !default;

$peach: #FFEDE5 !default;

$white: #ffffff !default;
$black: #000000 !default;

$base-color: $gray-9 !default;
$primary: $green-3 !default;
$secondary: $red !default;
$secondary-text: $yellow-7 !default;
$info: $yellow-5 !default;

$colors: () !default;
$theme-colors: () !default;

$theme-colors: map-merge(
  (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  ),
  $theme-colors
);

// grid breakpoints
//
// define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1256px,
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// grid containers
//
// define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xl: 1256px,
) !default;
@include _assert-ascending($container-max-widths, "$container-max-widths");

// grid columns
//
// set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width: 32px !default;
$gutter: $grid-gutter-width / 2 !default;
$grid-gutter-width-2: 24px !default;
$gutter-2: $grid-gutter-width-2 / 2 !default;

// body
//
// settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $base-color !default;


// links
//
// style anchor elements.

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: $secondary !default;
$link-hover-decoration: none !default;

// typography
//
// font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: 'Roboto', Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-html: 16px !default;
$font-size-base: 14px !default;

$font-size-xl: 20px !default;
$font-size-lg: 18px !default;
$font-size-md: 14px !default;
$font-size-sm: 13px !default;
$font-size-xs: 12px !default;

$line-height-base: 20px !default;
$line-height-xl: 23px !default;
$line-height-lg: 27px !default;
$line-height-md: 21px !default;
$line-height-sm: 17px !default;
$line-height-xs: 15px !default;

$font-size-h1: 30px !default;
$font-size-h2: 28px !default;
$font-size-h3: 24px !default;
$font-size-h4: 22px !default;
$font-size-h5: 16px !default;
$font-size-h6: 14px !default;

$line-height-h1: 35px !default;
$line-height-h2: 33px !default;
$line-height-h3: 28px !default;
$line-height-h4: 26px !default;
$line-height-h5: 23px !default;
$line-height-h6: 18px !default;

$small-font-size: 80% !default;

$text-muted: $black !default;


// buttons
//
//
$btn-height: 40px !default;
$btn-padding-x: 20px !default;
$btn-font-weight: 500 !default;
$btn-font-size: $font-size-base !default;
$btn-font-family: $font-family-base !default;
$btn-border-width: 1px !default;
$btn-line-height: ($btn-height - $btn-border-width * 2) !default;

$btn-default-color: $gray-8 !default;
$btn-default-bg: $gray-3 !default;

$btn-primary-color: $white !default;
$btn-primary-bg: $primary !default;

$btn-secondary-color: $white !default;
$btn-secondary-bg: $secondary !default;

$btn-info-color: $white !default;
$btn-info-bg: $info !default;

$btn-accept-color: $gray-12 !default;
$btn-accept-bg: $yellow-11 !default;

$btn-height-xs: 32px !default;
$btn-height-sm: 40px !default;
$btn-height-lg: 46px !default;
$btn-height-xl: 56px !default;

// allows for customizing button radius independently from global border radius
$border-radius: 4px !default;
$border-radius-lg: 10px !default;
$border-radius-sm: 4px !default;
$border-radius-xl: 100px !default;

// form
//
//
$input-color-placeholder: $gray-5 !default;

$input-height: 40px !default;
$input-font-size: $font-size-base !default;
$input-padding-y-top: 11px !default;
$input-padding-y-bottom: 11px !default;
$input-padding-x: 11px !default;
$input-line-height: 18px !default;

$input-bg: rgba($gray-10, .8) !default;
$input-bg-disabled: $white !default;

$input-color: $base-color !default;
$input-border-color: $gray-3 !default;
$input-border-width: 1px !default;
$input-border-radius: $border-radius !default;

$input-bg-focus: $white !default;
$input-border-focus: $input-border-color !default;
$input-color-focus: $base-color !default;

$input-height-lg: 46px !default;
$input-padding-y-top-lg: 13px !default;
$input-padding-y-bottom-lg: 13px !default;
$input-padding-x-lg: 14px !default;

$form-group-margin-bottom: $gutter !default;

$cursor-disabled: not-allowed !default;


// Tooltips

$zindex-tooltip:                    1070 !default;
$tooltip-font-size:                 $font-size-xs !default;
$tooltip-line-height:               $line-height-xs !default;
$tooltip-max-width:                 324px !default;
$tooltip-color:                     $gray-7 !default;
$tooltip-bg:                        $white !default;
$tooltip-border-radius:             $border-radius !default;
$tooltip-opacity:                   1 !default;
$tooltip-padding-y:                 12px !default;
$tooltip-padding-x:                 20px !default;
$tooltip-margin:                    -5px !default;

$tooltip-arrow-width:               15px !default;
$tooltip-arrow-height:              6px !default;
$tooltip-arrow-color:               $tooltip-bg !default;
