.account-form {
    &.form_bg-green {
        padding: 29px $gutter 46px;

        .account-form__header {
            text-align: center;
        }
    }

    &__wrapper {
        max-width: 496px;
    }

    &__header {
        margin-bottom: 19px;
    }

    &__title {
        @include font(20px, 28px);
        margin-bottom: 15px;
    }

    &__list {
        display: inline-block;
        text-align: left;
        padding-left: 1.4em;
    }

    .form__consent {
        color: $primary;
    }

    .button {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    @include media-breakpoint-up(md) {
        &.form_bg-green {
            padding-top: 29px;
            padding-bottom: 43px;

            .account-form__wrapper {
                max-width: 456px;
                margin-left: auto;
                margin-right: auto;
            }

            .account-form__title {
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__header {
            margin-bottom: 29px;
        }
    }
}