.amount-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $gray-2;
    border-radius: $border-radius;
    overflow: hidden;
    width: 104px;

    &__control {
        background: $gray-2;
        outline:0;
        border: 0;
        padding: 0;
        cursor: pointer;
        appearance: none;
        z-index: 1;
        text-align: center;
        @include size(30px);
        font-size: 16px;
        line-height: 28px;
        color: $gray-8;

        @include hover-focus-active {
            outline: 0;
        }

        &:disabled {
            cursor: default;
        }
    }

    &__input {
        @include size(40px, 30px);
        border: 0;
        padding: 0 5px;
        text-align: center;
        transition: none;
        background-color: $white;
        @include font($font-size-base, 30px);
    }
}