.button-group {
    .button {
        border-radius: 0;
        margin-right: -1px;

        &:first-child {
            border-top-left-radius: $border-radius;
            border-bottom-left-radius: $border-radius;
        }

        &:last-child {
            border-top-right-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            margin-right: 0;
        }

        &.active {
            color: $white;
            border-color: $primary;
            background-color: $primary;
        }
    }

    @include media-breakpoint-up(md) {
    }
}