.cart {
    &__list {
        border: 1px solid $gray-3;
        border-radius: $border-radius;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: $gutter;
    }

    &__checkout {
        background-color: $green;
        border-radius: $border-radius;
        padding: $gutter $gutter 18px;
        position: relative;
        margin-bottom: 14px;
        display: flex;
        flex-wrap: wrap;

        &-forms {
            max-width: 100%;
            flex: 0 0 100%;
        }

        &-promocode {
            .form__control {
                margin-bottom: 12px;
            }

            .button {
                padding-left: $gutter;
                padding-right: $gutter;
            }
        }

        &-points-form {
            display: flex;
            margin-top: 23px;
            margin-bottom: 26px;

            .form__control {
                margin-right: $gutter;
                flex: 1;
            }

            .button {
                padding-left: $gutter;
                padding-right: $gutter;
                flex: 1;
                white-space: nowrap;
            }
        }

        &-item {
            margin-bottom: 0;
        }

        &-weight {
            max-width: 60%;
            flex: 0 0 60%;
        }

        &-sum {
            max-width: 40%;
            flex: 0 0 40%;
            margin-left: auto;
        }

        &-title {
            color: $gray-7;
            @include font(12px, 15px);
            margin-bottom: 6px;
        }

        &-value {
            font-weight: 700;
            @include em-line-height($font-size-lg, $line-height-md);
            margin: 0;
        }

        &-points {
            max-width: 40%;
            flex: 0 0 40%;
            margin-left: auto;
            margin-top: $gutter / 2;
        }
    }

    &__footer {
        border-bottom: 1px solid $gray-3;
        padding-bottom: 31px;
    }

    &__action {
        margin-top: 22px;

        .button + .button {
            margin-top: 12px;
        }
    }

    @include media-breakpoint-up(sm) {
        &__checkout {
            align-items: center;

            &-promocode {
                display: flex;

                .form__control {
                    margin-right: $gutter;
                    margin-bottom: 0;
                    flex: 1;
                }

                .button {
                    flex: 1;
                }
            }

            &-item {
                padding-right: $gutter;
            }

            &-weight {
                max-width: 181px;
                flex: 0 0 181px;
            }

            &-sum {
                max-width: 123px;
                flex: 0 0 123px;
                margin-left: 0;
            }

            &-points {
                max-width: 118px;
                flex: 0 0 118px;
                margin-left: 0;
                margin-top: 6px;
                text-align: right;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &__checkout {
            margin-bottom: 32px;

            &-forms {
                display: flex;
                margin-bottom: 18px;
            }

            &-promocode {
                margin-right: $grid-gutter-width;

                .form__control {
                    width: 201px;
                }
            }

            &-points-form {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &__footer {
            padding-bottom: 55px;
            display: flex;
            align-items: center;
        }

        &__action {
            margin-top: 0;
            margin-left: auto;
            display: inline-flex;

            .button {
                min-width: 168px;
                width: 168px;
            }

            .button + .button {
                margin-top: 0;
                margin-left: $gutter;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        &__list {
            &-header {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 9px;

                .cart-item {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }

            &-label {
                @include font(12px, 14px, 500);
                color: $gray-7;
            }
        }

        &__checkout {
            padding-bottom: $gutter;

            &-points-form {
                .form__control {
                    width: 74px;
                }
            }
        }
    }

    @include media-breakpoint-up(xl) {
        &__checkout {
            &-forms {
                margin-right: $gutter;
                flex: 1;
                margin-bottom: 0;
            }

            &-promocode {
                margin-right: $gutter;
            }

            &-points-form {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}