.controls-list {
    @include list-unstyled;
    @include margin-bottom(26px, 26px);

    &__item {
        @include margin-bottom(8px);
    }

    .custom-control {
        @include em-line-height($font-size-base, $line-height-base);
    }

    &_inline {
        @include make-row(26px);
        @include margin-bottom(7px, 7px);

        &[data-size="lg"] {
            margin-left: -36px;
            margin-right: -36px;

            .controls-list__item {
                padding-left: 36px;
                padding-right: 36px;
            }
        }
    }

    &_inline & {
        &__item {
            margin-bottom: 14px;
            @include make-col(26px);
        }
    }

    @include media-breakpoint-up(md) {
        &_inline {
            @include margin-bottom(11px, 11px);
        }
    }
}