.custom-file {
    position: relative;
    margin-top: 20px;

    input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__label {
        display: flex;
        flex-direction: column;
    }

    &__button {
        width: 171px;
        @include text-truncate;
    }

    &__text {
        transition: color .25s ease-in-out;
        @include font(12px, 19px);
        max-width: 250px;
        margin-top: $gutter;
    }

    @include media-breakpoint-up(sm) {
        margin-bottom: 30px;

        &__label {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
        }

        &__button {
            margin-right: 22px;
        }

        &__text {
            margin-top: 0;
        }
    }
}
