.custom-control {
    position: relative;
    display: flex;
    align-items: center;
    text-align:left;
    transition: 0.25s ease-in-out;
    @include em-line-height($font-size-base, 24px);

    &:hover {
        color: $red;
    }

    &__input {
        position: absolute;
        z-index: 0; // Put the input behind the label so it doesn't overlay text
        opacity: 0;
        @include size(100%);
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
        }
    }

    &__indicator {
        position: relative;
        display: block;
        @include size(18px);
        flex: 0 0 18px;
        align-self: flex-start;
        margin-top: 2px;
        margin-right: 12px;
        user-select: none;
        pointer-events: none;
        background-color: $white;
        border: solid 1px $gray-3;
        transition: color 0.25s ease-in-out;

        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &__icon {
        font-size: $font-size-html;
        color: $yellow-5;
        margin-top: 2px;
        margin-right: 13px;
        align-self: flex-start;
    }

    &__input:checked ~ &__icon,
    &__input:active ~ &__icon {
        color: $red;
    }

    &[data-size="xs"] {
        @include em-line-height($font-size-base, 15px);
    }

    &[data-size="xs"] & {
        &__indicator {
            @include size(14px);
            flex: 0 0 14px;
            margin-top: 2px;
            margin-right: 14px;
            border-width: 2px;
            border-color: #999999;
            border-radius: 2px;
        }
    }

    &[data-size="sm"] {
        @include font($font-size-sm, $line-height-sm);

        .order-form__section & {
            @include em-line-height($font-size-sm, $line-height-base);
            width: 80%;
            position: relative;
            z-index: 1;
            cursor: pointer;
        }
    }

    &[data-size="sm"] & {
        &__indicator {
            @include size(18px);
            margin-top: 0;
            margin-right: 14px;
            flex: 0 0 18px;
        }
    }

    &[data-size="md"] {
        @include font(16px, 21px);
    }

    &[data-size="lg"] {
        @include font(18px, 23px);
    }

    &[data-size="lg"] & {
        &__indicator {
            @include size(18px);
            flex: 0 0 18px;
            margin-top: 8px;
            margin-right: 15px;
        }
    }

    &[data-type="size"] & {
        &__indicator {
            @include size(auto);
            min-width: 40px;
            flex: initial;
            margin-top: 0;
            margin-right: 0;
            border-radius: $border-radius;
            padding: 10px 10px 9px;
            @include font($font-size-html, 19px);
            transition: all 0.25s ease-in-out;
        }
    }
}

// Custom indicator
//
// Generates a shadow element to create our makeshift checkbox/radio background.

// Checkboxes
//
// Tweak just a few things for checkboxes.

.custom-checkbox {
    .custom-control__indicator {
        border-radius: 2px;

        &:before {
            display: none;
        }
    }

    .custom-control__input:checked ~ .custom-control__indicator,
    .custom-control__input:active ~ .custom-control__indicator {
        background-color: $secondary;
        border: solid 1px $secondary;

        &:before {
            display: block;
            color: $white;
            font-size: 14px;
        }
    }

    &[data-size="xs"] {
        .custom-control__input:checked ~ .custom-control__indicator,
        .custom-control__input:active ~ .custom-control__indicator {
            &:before {
                font-size: 10px;
            }
        }
    }

    &[data-size="sm"] {
        .custom-control__input:checked ~ .custom-control__indicator,
        .custom-control__input:active ~ .custom-control__indicator {
            &:before {
                font-size: 14px;
            }
        }
    }
}

// Radios
//
// Tweak just a few things for radios.

.custom-radio {
    .custom-control__input:checked,
    .custom-control__input:active {
        cursor: auto;
    }

    &:not([data-type]) {
        .custom-control__indicator {
            @include rounded;
            @include size(16px);
            flex: 0 0 16px;

            &:before {
                display: none;
                @include rounded;
                @include size($gutter / 2);
                background-color: $secondary;
                content: '';
            }
        }

        .custom-control__input:checked ~ .custom-control__indicator,
        .custom-control__input:active ~ .custom-control__indicator {
            border-color: $secondary;
            background-color: rgba($white, 0);

            &:before {
                display: block;
            }
        }
    }

    &[data-type] {
        .custom-control__input:hover ~ .custom-control__indicator {
            @include shadow();
        }

        .custom-control__input:checked ~ .custom-control__indicator,
        .custom-control__input:active ~ .custom-control__indicator {
            border-color: $primary;
            background-color: $primary;
            color: $white;
        }

        .custom-control__input:disabled ~ .custom-control__indicator,
        .custom-control__input:active:disabled ~ .custom-control__indicator {
            border-color: $gray-3;
            background-color: $white;
            color: $gray-3;
        }

        .custom-control__input:checked:hover ~ .custom-control__indicator,
        .custom-control__input:active:hover ~ .custom-control__indicator,
        .custom-control__input:disabled:hover ~ .custom-control__indicator,
        .custom-control__input:active:disabled:hover ~ .custom-control__indicator {
            box-shadow: none;
        }
    }
}