.food-form {
    background-color: $white;
    padding: 14px $gutter 20px;
    border-radius: 4px;
    @include shadow();

    &__icon {
        display: block;
        color: $info;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 5px;
    }

    &__title {
        @include font(18px, 25px);
        text-align: center;
        max-width: 10.5em;
        margin: 0 auto 16px;
    }

    .form__group {
        margin-bottom: 12px;
    }

    .form__submit {
        margin-top: 20px;
    }

    .button {
        width: 100%;
        display: block;
    }

    .select2 {
        &-container {
            .select2-selection--single {
                height: $input-height-lg;
            }
        }

        &-container--default {
            .select2-selection--single  {
                .select2-selection__rendered {
                    line-height: $input-height-lg - $input-border-width * 2 - 2;
                    padding-left: $input-padding-x-lg;
                    padding-right: $input-height-lg + $input-padding-x-lg;
                }

                .select2-selection__arrow {
                    height: $input-height-lg - $input-border-width * 2;
                    width: $input-height-lg;
                    line-height: $input-height-lg;
                }
            }
        }

        &-results__option {
            padding: 5px $input-padding-x-lg;
        }
    }

    @include media-breakpoint-down(md) {
        .button {
            height: $btn-height-lg;
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 31px;
        padding-bottom: 41px;

        &__icon {
            font-size: 56px;
            line-height: 56px;
            margin-bottom: 24px;
        }

        &__title {
            margin-bottom: 19px;
        }

        .form__group {
            margin-bottom: 16px;
        }

        .form__submit {
            margin-top: 24px;
        }

        .select2 {
            &-container {
                .select2-selection--single {
                    height: $input-height;
                }
            }

            &-container--default {
                .select2-selection--single  {
                    .select2-selection__rendered {
                        line-height: $input-height - $input-border-width * 2;
                        padding-left: $input-padding-x;
                        padding-right: $input-height + $input-padding-x;
                    }

                    .select2-selection__arrow {
                        height: $input-height - $input-border-width * 2;
                        width: $input-height;
                        line-height: $input-height - $input-border-width * 4;
                    }
                }
            }

            &-results__option {
                padding: 5px $input-padding-x;
            }
        }
    }
}