.form {
    &_bg-green {
        background-color: $green;
        border-radius: $border-radius;
        padding-left: $gutter;
        padding-right: $gutter;

        .form__control {
            background-color: $white;
        }
    }

    &__control {
        position: relative;
        display: block;
        width: 100%;
        height: $input-height;
        padding: $input-padding-y-top $input-padding-x $input-padding-y-bottom;
        color: $input-color;
        border: $input-border-width solid $input-border-color;
        border-radius: $input-border-radius;
        background: $input-bg;
        background-clip: padding-box;

        @include font($input-font-size, $input-line-height, 400, $font-family-base);
        @include transition(all ease-in-out 0.15s);
        // Customize the `:focus` state to imitate native WebKit styles.

        // Unstyle the caret on `<select>`s in IE10+.
        &::-ms-expand {
            border: 0;
            background-color: transparent;
        }

        // Placeholder
        &::placeholder {
            opacity: 1;
            color: $input-color-placeholder;
        }

        // Disabled and read-only inputs
        //
        // HTML5 says that controls under a fieldset > legend:first-child won't be
        // disabled if the fieldset is disabled. Due to implementation difficulty, we
        // don't honor that edge case; we style them as disabled anyway.
        &:disabled,
        &[readonly] {
            opacity: 1;
            background-color: $input-bg-disabled;
            color: $input-color-placeholder;
        }

        &:disabled {
            cursor: $cursor-disabled;
        }

        &:focus,
        &:active {
            outline: 0;
        }

        &_lg {
            height: $input-height-lg;
            padding: $input-padding-y-top-lg $input-padding-x-lg $input-padding-y-bottom-lg;
        }

        &[data-type="code"] {
            text-align: center;
            height: 64px;
            padding: 8px;
            @include font(36px, 46px);

            &:focus,
            &:active {
                border-color: $green-3;
            }
        }

        &_white {
            border-color: $white;
            background-color: $white;
        }

        &_default {
            background-color: $white;
        }

        .has-error & {
            color: $red-2;
            border-color: $red-2;
        }
    }

    &__control.select {
        &:not([size]):not([multiple]) {
            height: calc(#{$input-height} - #{$input-border-width});
        }

        &:focus::-ms-value {
            // Suppress the nested default white text on blue background headline given to
            // the selected option text when the (still closed) <select> receives focus
            // in IE and (under certain conditions) Edge, as it looks bad and cannot be made to
            // match the appearance of the native widget.
            color: $input-color;
        }
    }

    // Make file inputs better match text inputs by forcing them to new lines.
    &__control-file,
    &__control-range {
        display: block;
    }

    &__select {
        padding-right: 42px;

        select {
            width: 100%;
            height: 100%;
            margin: 0;
            outline: none;
            cursor: inherit;
            background: none;
            border: 0 none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 0 0 $input-padding-x;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        &:after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 47px;
            line-height: 44px;
            color: $primary;
            font-size: 8px;
            text-align: center;
        }
    }

    /* IE11 */
    select::-ms-expand {
        display: none;
    }

    // Form groups
    //
    // Designed to help with the organization and spacing of vertical forms. For
    // horizontal forms, use the predefined grid classes.

    &__section {
        margin-bottom: 40px;
    }

    &__col {
        max-width: 496px;
    }

    &__header {
        margin-bottom: 24px;
    }

    &__group {
        position: relative;
        margin-bottom: $form-group-margin-bottom;

        &[data-size="lg"] {
            margin-bottom: $form-group-margin-bottom + 8;
        }
    }

    &__submit {
        margin-top: 24px;
        text-align: center;

        &-link {
            margin-top: 20px;
            margin-bottom: 0;
            display: inline-block;
            @include font($font-size-sm, $line-height-sm);
        }

        .button_block + .button_block {
            margin-top: 12px;
        }
    }

    &__code {
        margin-top: 29px;
        margin-bottom: 0;

        .row {
            margin-left: -$gutter / 2;
            margin-right: -$gutter / 2;

            > [class^="col-"], > [class*=" col-"] {
                padding-left: $gutter / 2;
                padding-right: $gutter / 2;
            }
        }

        & + .form__links {
            margin-top: 11px;
        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
        }
    }

    &__consent {
        margin-top: 26px;
        margin-bottom: 25px;
    }

    &__consent-default {
        margin-top: 21px;
        margin-bottom: 26px;
    }

    &__label {
        display: block;
        margin-bottom: 12px;
        @include font($font-size-base, 18px);

        &_lg {
            margin-bottom: 14px;
            @include font($font-size-lg, $line-height-xl, 700);

            .icon {
                font-size: $font-size-base;
                margin-right: 13px;
            }
        }
    }

    &__login-services {
        text-align: center;
        margin-top: 22px;
    }

    &__note {
        @include font($font-size-sm, $line-height-sm);
        margin-top: 8px;
        color: $gray-8;
    }

    &__message {
        @include font($font-size-sm, $line-height-sm);
        margin-bottom: 8px;
        color: $secondary;

        .form__control + & {
            margin-top: 8px;
            margin-bottom: 0;
        }
    }

    &__error {
        color: $red-2;

        &:before {
            content: '* ';
        }
    }

    &__errors {
        @include font($font-size-sm, $line-height-sm);
        margin-top: 8px;
    }

    @include media-breakpoint-up(sm) {
        &__date-group {
            max-width: 195px;
            margin-right: $gutter;
        }
   }

   &__links {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 21px;

       & + .form__submit {
           margin-top: 25px;
       }

       &-item {
           margin-top: 4px;
           margin-bottom: 4px;
       }
   }

   &__email-subscribe {
       &:last-child {
           padding-right: 0;
       }
   }

   &__rating {
       display: flex;
       margin-bottom: 20px;

       .form__group + & {
           margin-top: $grid-gutter-width-2;
       }
   }

   &_inline & {
       &__section {
           margin-top: 58px;
           margin-bottom: -18px;
       }

       &__note {
           margin-top: -8px;
           color: $gray-7;
       }

       &__consent {
           margin-top: 3px;
           margin-bottom: 38px;
       }

       @include media-breakpoint-up(md) {
           &__section {
               max-width: 660px;
           }

           &__col-label {
               flex: 1;
           }

           &__col {
               max-width: 496px;
               flex: 0 0 496px;
               margin-left: auto;
           }

           &__consent {
               margin-top:20px;
               margin-bottom: 36px;
           }
       }
   }
}

textarea.form__control {
    height: auto;
    min-height: 89px;
}