.form-panel {
    border: 1px solid $gray-2;
    border-radius: $border-radius;
    overflow: hidden;
    margin-bottom: 20px;

    &__header {
        background-color: rgba($green, .5);
        padding: 13px $gutter 9px;
    }

    &__title {
        margin-bottom: 0;
    }

    &__content {
        padding: $gutter;
        border-top: 1px solid $gray-2;
    }

    &__footer {
        display: flex;
        align-items: center;
        padding-top: 8px;

        .button {
            width: 113px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__next {
        display: block;
        margin-left: auto;
    }

    &.collapsed & {
        &__content {
            display: none;
        }
    }

    @include media-breakpoint-up(sm) {
        &__footer {
            justify-content: flex-end;
        }

        &__next {
            margin-left: 24px;
        }
    }

    @include media-breakpoint-up(md) {
        &__header {
            padding-left: 24px;
            padding-right: 24px;
        }

        &__content {
            padding: $grid-gutter-width;
        }

        &__footer {
            padding-top: 0;
        }

        &__next,
        &__prev {
            height: $btn-height-lg;
            line-height: ($btn-height-lg - $btn-border-width * 4);
        }
    }

    @include media-breakpoint-up(lg) {
        &__footer {
            padding-top: 0;
            margin-top: -70px;
        }
    }
}