.form-text {
    color: $gray-7;

    &__title {
        font-weight: 500;
        margin-bottom: 11px;
    }

    &__content {
        @include font(12px, 18px);
        margin: 0;
    }

    @include media-breakpoint-up(md) {
    }
}