.info-search-form {
    padding-top: 21px;
    padding-bottom: 8px;

    &__wrapper {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        @include em-line-height($font-size-h5, 21px);
        text-align: center;
        margin-bottom: 19px;
    }

    .form__group {
        position: relative;
    }

    .form__control {
        padding-left: 18px;
        padding-right: $input-height-lg;
    }

    &__submit {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 46px;
        font-size: 20px;
        color: $yellow-4;
    }

    .select2 {
        &-container--default {
            .select2-selection--single {
                .select2-selection__rendered {
                  padding-right: $input-height-lg;
                }

                .select2-selection__arrow {
                    border-left-width: 0;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-top: 25px;
        padding-bottom: 36px;

        &__title {
            margin-bottom: 23px;
        }
    }
}