.input-group {
    position: relative;

    &__icon {
        @include size(24px);
        font-size: 19px;
        line-height: 24px;
        color: $gray-8;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;

        &.icon-eye,
        &.icon-search {
            color: $gray-5;
        }

        &.icon-search {
            font-size: 24px;
        }
    }

    &[data-icon-pos="left"] {
        .input-group__icon {
            left: 11px;
        }

        .form__control {
            padding-left: 47px;
        }
    }

    &[data-icon-pos="right"] {
        .input-group__icon {
            right: 11px;
        }

        .form__control {
            padding-right: 47px;
        }
    }

    &.has-required {
        .input-group__icon {
            font-size: 13px;
            color: $secondary;
            text-align: center;
            right: 7px;
        }

        .form__control {
            padding-right: 30px;
        }
    }

    @include media-breakpoint-up(md) {
    }
}