.order-form {
    margin-top: 33px;
    margin-bottom: 32px;

    .form-text {
        margin-bottom: 22px;
    }

    .form__consent {
        margin-bottom: 38px;
    }

    &__section {
        margin-top: 10px;

        &-control {
            margin-bottom: 20px;
        }

        &-content {
            margin-top: -2px;
        }
    }

    &__promocode {
        margin-bottom: $grid-gutter-width;

        .button {
            margin-top: $gutter;
        }
    }

    .courier-list {
        margin-bottom: 24px;
        max-width: 568px;
    }

    &__delivery-info {
        margin-bottom: 24px;
        max-width: 300px;

        p {
            margin-bottom: $gutter / 2;
        }
    }

    &__edit-button {
        margin-top: 17px;
        padding-left: $gutter;
        padding-right: $gutter;
        width: 100%;
    }

    &__checkout {
        background-color: $green-5;
        border-radius: $border-radius;
        max-width: 391px;
        padding-left: $gutter;
        padding-right: $gutter;
    }

    &__submit {
        margin-top: 10px;
        padding-bottom: 16px;
    }

    &__consent {
        color: $gray-8;
        margin-top: $gutter;
    }

    @include media-breakpoint-up(md) {
        &__frame {
            max-width: 760px;
        }

        .form__group {
            margin-bottom: 24px;
        }

        .form__submit {
            .button {
                max-width: 290px;
            }
        }

        &__payment {
            padding-bottom: 42px;
        }

        &__promocode {
            display: flex;
            margin-bottom: 20px;

            .form__control {
                width: 264px;
                margin-right: 24px;
            }

            .button {
                width: 127px;
                margin-top: 0;
                padding-left: $gutter;
                padding-right: $gutter;
            }
        }

        &__footer {
            margin-top: $grid-gutter-width;
            display: flex;
        }

        &__delivery-info {
            margin-bottom: 0;
            flex: 0 0 300px;
        }

        &__edit-button {
            width: auto;
        }

        &__checkout {
            flex: 0 0 391px;
            padding-left: 24px;
            padding-right: 24px;
            margin-left: auto;
        }
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: 64px;

        .form__consent {
            margin-top: 33px;
        }
    }
}