.pay-form {
    .form__group {
        display: flex;
        flex-wrap: wrap;
    }

    .form__label {
        width: 100%;
        margin-bottom: 7px;
    }

    .form__control {
        flex: 1;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .button {
        width: 99px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    @include media-breakpoint-up(lg) {
    }
}