.product-subscribe {
    &__selection {
        padding-top: 7px;
    }

    &__choice {
        vertical-align: top;
        display: inline-block;
        width: 100%;
        margin-bottom: 12px;

        &-name {
            @include font(16px, 19px);
            margin-right: 16px;
        }

        &-amount {
            margin-left: auto;
        }
    }

    &__footer {
        background-color: $green;
        margin: 27px -16px -16px;
        padding: 18px $gutter 24px;

        &-title {
            font-weight: 700;
            margin-bottom: 20px;

            span {
                white-space: nowrap;
            }
        }
    }

    &__calendar {
        .daterangepicker {
            position: relative !important;
            top: auto !important;
            left: auto !important;
            width: 100%;
            max-width: 283px;
            box-shadow: 0 2px 4px rgba($black, 0.15);
            background-color: $white;
            border: 0;
            border-radius: $border-radius;
            margin: 0;

            &:before,
            &:after {
                display: none;
            }
        }
    }

    &__datepicker {
        position: relative;
        margin-bottom: 21px;
    }

    &__options {
        margin-bottom: 27px;
    }

    &__option {
        @include margin-bottom(10px);
    }

    @include media-breakpoint-up(sm) {
        &__footer {
            margin-left: -24px;
            margin-right: -24px;
            margin-bottom: -24px;
        }
    }

    @include media-breakpoint-up(md) {
        &__selection {
            columns: 2;
            column-gap: 34px;
            padding-top: 11px;
        }

        &__choice {
            break-inside: avoid;
        }

        &__footer {
            margin-top: 20px;
            padding: 22px 24px 28px;
            display: flex;

            &-content {
                display: flex;
                flex-direction: column;
            }

            &-title {
                margin-bottom: 27px;
            }
        }

        &__datepicker {
            margin-right: 40px;
            margin-bottom: 0;
            max-width: 283px;
            flex: 0 0 283px;
        }

        &__submit {
            margin-top: auto;
        }

        .button {
            max-width: 168px;
        }
    }
}