.search-form {
    .form__group {
        position: relative;
        margin-bottom: 0;
    }

    .form__control {
        font-size: 13px;
        padding: 0 42px;
    }

    &__submit {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        font-size: 20px;
        color: $yellow-4;
    }

    &__close {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 40px;
        font-size: 12px;
        color: $gray-4;
    }

    @include media-breakpoint-up(xl) {
        .form__control {
            padding-left: 14px;
        }

        &__submit {
            left: auto;
            right: 0;
        }
    }
}