.switch {
    display: flex;
    align-items: flex-start;

  &,
  & * {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }

  &__label {
    cursor: pointer;
    vertical-align: middle;
    margin-top: 3px;
    margin-right: 27px;
    flex: 0 0 40px;
  }

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
  }

  &__toggle {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      @include size (40px, 24px);
      background-color: $gray-3;
      border-radius: 100px;
      transition: background 0.3s ease;

      &:before {
        content: "";
        position: absolute;
        @include size (20px);
        @include rounded;
        top: 2px;
        left: 2px;
        transition: left 0.3s ease;
        background-color: $white;
        box-shadow: 0 2px 4px rgba($black, 0.25);
      }
  }

  &__input:checked + &__toggle {
      background-color: $secondary;

      &:before {
          left: 18px;
      }
  }

  &__name {
      margin-bottom: 3px;
  }
}