.time-group {
    color: $gray-7;

    .form__control {
        display: inline-block;
        width: 55px;
        text-align: center;
        @include font($font-size-html, $line-height-md);
        &::-webkit-inner-spin-button {
            -webkit-appearance: none; 
            margin: 0;
        }
        &::-webkit-outer-spin-button {
            -webkit-appearance: none; 
            margin: 0;
        }
    }

    &__divider {
        margin-left: 5px;
        margin-right: 5px;
    }

    @include media-breakpoint-up(md) {
    }
}